Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

chore(ci): add PR test gate + eliminate all high-severity CVEs
  .github/workflows/ci.yml
  .github/workflows/nightly-drift.yml
  backend/package-lock.json
  package-lock.json
Due: prettier --write

docs(auth): spec for JWT -> httpOnly cookie migration (hard cutover)
  docs/superpowers/specs/2026-05-30-auth-httponly-cookies-design.md
Due: prettier --write

feat(auth): add non-secret presence-hint cookie to skip the logged-out probe
  backend/src/api/controllers/__tests__/auth.controller.test.ts
  backend/src/utils/__tests__/authCookies.test.ts
  backend/src/utils/authCookies.ts
  src/contexts/AuthContext.tsx
  src/contexts/__tests__/AuthContext.extra.test.tsx
  src/contexts/__tests__/AuthContext.gaps2.test.tsx
  src/contexts/__tests__/AuthContext.test.tsx
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs(segmentation): spec for SegmentationEditor logic extraction
  docs/superpowers/specs/2026-05-30-segmentation-editor-refactor-design.md
Due: prettier --write

refactor(segmentation): extract transformSegmentationPolygons util (stage 1/6)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/utils/__tests__/transformSegmentationPolygons.test.ts
  src/pages/segmentation/utils/transformSegmentationPolygons.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(segmentation): extract usePolygonRenderProps hook (stage 2/6)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonRenderProps.test.ts
  src/pages/segmentation/hooks/usePolygonRenderProps.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(segmentation): extract usePolygonHandlers hook (stage 3+4/6)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonHandlers.test.ts
  src/pages/segmentation/hooks/usePolygonHandlers.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(segmentation): extract useSegmentationLoader hook (stage 5/6)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/useSegmentationLoader.test.ts
  src/pages/segmentation/hooks/useSegmentationLoader.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(segmentation): extract useResegment hook (stage 6/6)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/useResegment.test.ts
  src/pages/segmentation/hooks/useResegment.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(auth): set the authenticated hint cookie in AuthProvider-rendering tests
  src/components/settings/__tests__/DeleteAccountDialog.test.tsx
  src/contexts/__tests__/LanguageContext.test.tsx
  src/contexts/__tests__/ThemeContext.test.tsx
  src/hooks/__tests__/useProjectForm.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(segmentation): address review — honest types + trim dead return
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/pages/segmentation/hooks/useResegment.ts
  src/pages/segmentation/hooks/useSegmentationLoader.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(segmentation): extract SegmentationEditor logic into 6 tested units (#231)
  docs/superpowers/specs/2026-05-30-segmentation-editor-refactor-design.md
  src/components/settings/__tests__/DeleteAccountDialog.test.tsx
  src/contexts/__tests__/LanguageContext.test.tsx
  src/contexts/__tests__/ThemeContext.test.tsx
  src/hooks/__tests__/useProjectForm.test.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonHandlers.test.ts
  src/pages/segmentation/hooks/__tests__/usePolygonRenderProps.test.ts
  src/pages/segmentation/hooks/__tests__/useResegment.test.ts
  src/pages/segmentation/hooks/__tests__/useSegmentationLoader.test.ts
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/pages/segmentation/hooks/usePolygonRenderProps.ts
  src/pages/segmentation/hooks/useResegment.ts
  src/pages/segmentation/hooks/useSegmentationLoader.ts
  src/pages/segmentation/utils/__tests__/transformSegmentationPolygons.test.ts
  src/pages/segmentation/utils/transformSegmentationPolygons.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(refactor): SP1 model-registry SSOT design spec
  docs/superpowers/specs/2026-05-30-model-registry-ssot-design.md
Due: prettier --write

docs(refactor): SP1 model-registry SSOT implementation plan
  docs/superpowers/plans/2026-05-30-model-registry-ssot.md
Due: prettier --write

feat(models): backend model registry SSOT (additive)
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(models): mirror backend model-registry SSOT on the frontend
  scripts/verify-shared-types.cjs
  src/lib/modelUtils.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(models): backend model-registry SSOT + dead-model removal + parity check
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/constants/segmentationModels.ts
  backend/src/db/seed.ts
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  scripts/check-model-parity.cjs
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(segmentation): centralize optional polygon fields into one SSOT
  backend/src/services/__tests__/segmentationService.ssot.test.ts
  backend/src/services/segmentationService.ts
  backend/src/utils/polygonValidation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(models): legacy removed-model rows still counted in project stats
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(models): single-source model registry (SP1 — backend + frontend) (#232)
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/constants/segmentationModels.ts
  backend/src/db/seed.ts
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  docs/superpowers/plans/2026-05-30-model-registry-ssot.md
  docs/superpowers/specs/2026-05-30-model-registry-ssot-design.md
  scripts/check-model-parity.cjs
  scripts/verify-shared-types.cjs
  src/lib/modelUtils.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

refactor(segmentation): centralize optional polygon fields into one SSOT (#233)
  backend/src/services/__tests__/segmentationService.ssot.test.ts
  backend/src/services/segmentationService.ts
  backend/src/utils/polygonValidation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(lib): break polygonGeometry <-> segmentation type-only cycle
  src/lib/__tests__/segmentation.test.ts
  src/lib/segmentation.ts
  src/pages/segmentation/utils/metricCalculations.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(deps): drop three verifiably-unused dependencies
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

refactor(cleanup): break polygonGeometry↔segmentation cycle + drop verified-dead deps (#234)
  package-lock.json
  package.json
  src/lib/__tests__/segmentation.test.ts
  src/lib/segmentation.ts
  src/pages/segmentation/utils/metricCalculations.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'npm audit --production --audit-level=high || true'

refactor(segmentation): extract editor JSX into presentational SegmentationEditorLayout
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(segmentation): extract editor JSX into presentational SegmentationEditorLayout (#235)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(video): support multi-position (well-plate/multipoint) ND2 uploads
  backend/src/api/__tests__/videoController.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/types.ts
  backend/src/services/video/videoExtractor.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): address PR #236 review — rollback, invariants, coverage
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/types.ts
  backend/src/services/video/videoExtractor.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): self-contained per-position originals so 488 metrics work
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_normalize.py
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(video): support multi-position (well-plate/multipoint) ND2 uploads (#236)
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_normalize.py
  backend/src/api/__tests__/videoController.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/types.ts
  backend/src/services/video/videoExtractor.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(video): guard storage path segments against traversal
  backend/src/services/videoUploadService.ts
  backend/src/utils/__tests__/storagePath.test.ts
  backend/src/utils/storagePath.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
