Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix: stop infinite auto-download loop on export-download 401
  src/lib/api.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: stop infinite auto-download loop on export-download 401 (#82)
  src/lib/api.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: canonicalise /auth/refresh URL, add backend alias
  backend/src/api/routes/authRoutes.ts
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: canonicalise /auth/refresh URL, add backend alias (#83)
  backend/src/api/routes/authRoutes.ts
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore(security): comprehensive dependency + code-scanning audit
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/quality-gates.yml
  backend/package-lock.json
  backend/package.json
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/requirements.txt
  backend/src/api/controllers/authController.ts
  backend/src/middleware/upload.ts
  backend/src/middleware/validation.ts
  package-lock.json
  package.json
  src/lib/logger.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: close small code-quality issues (#73, #75, #76)
  backend/src/config/uploadLimits.ts
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/middleware/accessLogger.ts
  src/lib/thumbnailCache.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore(security): comprehensive dependency + code-scanning audit (#84)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/quality-gates.yml
  backend/package-lock.json
  backend/package.json
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/requirements.txt
  backend/src/api/controllers/authController.ts
  backend/src/middleware/upload.ts
  backend/src/middleware/validation.ts
  package-lock.json
  package.json
  src/lib/logger.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: close small code-quality issues (#73, #75, #76) (#85)
  backend/src/config/uploadLimits.ts
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/middleware/accessLogger.ts
  src/lib/thumbnailCache.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: rollback vite 8 -> 6.4.2 and fix ml Dockerfile torch pin
  docker/ml.optimized.Dockerfile
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

fix: rollback vite 8 -> 6.4.2 and fix ml Dockerfile torch pin (#86)
  docker/ml.optimized.Dockerfile
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

feat: integrate UNet Attention-ASPP model, reorganize model UI, fix BMP thumbnails
  backend/segmentation/api/main.py
  backend/segmentation/api/models.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/unet_attention.py
  backend/segmentation/scripts/download_weights.py
  backend/src/api/routes/mlRoutes.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/storage/localStorage.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  src/components/settings/ModelSettingsSection.tsx
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: address PR review findings — BMP validation, threshold reset, comments
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/unet_attention.py
  backend/src/storage/localStorage.ts
  src/components/settings/ModelSettingsSection.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: harden BMP decoder against truncated files, DoS, and OS/2 headers
  backend/src/storage/localStorage.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat: integrate UNet Attention-ASPP model, reorganize model UI, fix BMP thumbnails (#87)
  backend/segmentation/api/main.py
  backend/segmentation/api/models.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/unet_attention.py
  backend/segmentation/scripts/download_weights.py
  backend/src/api/routes/mlRoutes.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/storage/localStorage.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  src/components/settings/ModelSettingsSection.tsx
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(segmentation): quick wins to unstick 300-polygon and 4000-point lag
  src/lib/polygonGeometry.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/EnhancedSegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(segmentation): wire viewport culling into editor render path
  src/lib/rendering/BoundingBoxCache.ts
  src/lib/rendering/PolygonVisibilityManager.ts
  src/lib/rendering/__tests__/BoundingBoxCache.test.ts
  src/lib/rendering/__tests__/PolygonVisibilityManager.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(segmentation): O(log n) vertex hit test via per-polygon quadtree
  src/lib/rendering/Quadtree.ts
  src/lib/rendering/VertexSpatialIndex.ts
  src/lib/rendering/__tests__/Quadtree.test.ts
  src/lib/rendering/__tests__/VertexSpatialIndex.test.ts
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(segmentation): defer vertex-drag-end re-render via startTransition
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(segmentation): remove dead rendering code, update docs to match reality
  docs/polygon-rendering-optimization.md
  src/hooks/useOptimizedPolygonRendering.tsx
  src/pages/segmentation/components/canvas/CanvasPolygonLayer.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygonLayer.test.tsx
  src/test/OptimizedRenderingDemo.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(segmentation): address review feedback on rendering refactor
  src/lib/__tests__/polygonGeometry.test.ts
  src/lib/rendering/BoundingBoxCache.ts
  src/lib/rendering/PolygonVisibilityManager.ts
  src/lib/rendering/Quadtree.ts
  src/lib/rendering/VertexSpatialIndex.ts
  src/lib/rendering/__tests__/BoundingBoxCache.test.ts
  src/lib/rendering/__tests__/PolygonVisibilityManager.test.ts
  src/lib/rendering/__tests__/Quadtree.test.ts
  src/lib/rendering/__tests__/VertexSpatialIndex.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(segmentation): unstick 300-polygon and 4000-point editor lag (#88)
  docs/polygon-rendering-optimization.md
  src/hooks/useOptimizedPolygonRendering.tsx
  src/lib/__tests__/polygonGeometry.test.ts
  src/lib/polygonGeometry.ts
  src/lib/rendering/BoundingBoxCache.ts
  src/lib/rendering/PolygonVisibilityManager.ts
  src/lib/rendering/Quadtree.ts
  src/lib/rendering/VertexSpatialIndex.ts
  src/lib/rendering/__tests__/BoundingBoxCache.test.ts
  src/lib/rendering/__tests__/PolygonVisibilityManager.test.ts
  src/lib/rendering/__tests__/Quadtree.test.ts
  src/lib/rendering/__tests__/VertexSpatialIndex.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/EnhancedSegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasPolygonLayer.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygonLayer.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/test/OptimizedRenderingDemo.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(segmentation): dev-only FPS + rendering-stats overlay
  src/lib/rendering/FpsMeter.tsx
  src/lib/rendering/__tests__/FpsMeter.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(segmentation): cache FpsMeter enabled gate per mount, not per render
  src/lib/rendering/FpsMeter.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(segmentation): dev-only FPS + rendering-stats overlay (#89)
  src/lib/rendering/FpsMeter.tsx
  src/lib/rendering/__tests__/FpsMeter.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: disable broken segmentation culling, extract nginx headers
  docker/nginx/nginx.production.conf
  docker/nginx/snippets/security-headers.conf
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(review): drop out-of-scope CSP, cleanup stale culling references
  docker/nginx/snippets/security-headers.conf
  docs/polygon-rendering-optimization.md
  src/lib/rendering/FpsMeter.tsx
  src/lib/rendering/__tests__/PolygonVisibilityManager.test.ts
  src/pages/segmentation/README.md
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: disable broken segmentation culling, extract nginx headers (#90)
  docker/nginx/nginx.production.conf
  docker/nginx/snippets/security-headers.conf
  docs/polygon-rendering-optimization.md
  src/lib/rendering/FpsMeter.tsx
  src/lib/rendering/__tests__/PolygonVisibilityManager.test.ts
  src/pages/segmentation/README.md
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore: ignore research data artifacts in prettier scope
  .prettierignore
Due: none

fix(export): preserve polyline geometry and sperm metadata in COCO/YOLO/JSON
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): address review feedback — sperm validation, gating, FE parity, YOLO warnings
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
  backend/src/utils/polygonValidation.ts
  src/lib/segmentation.ts
  src/pages/segmentation/utils/cocoConverter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

refactor(export): single-pass bucketing, aggregate logging, frontend reuse
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  src/lib/segmentation.ts
  src/pages/segmentation/utils/cocoConverter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'
