Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

chore(ci): exclude vendored sources from CodeQL, fix a double import
  .github/codeql/codeql-config.yml
  backend/essays/module/tests/test_shared_model_package.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt): remove the hard gates that fragmented tracks 3.14x
  .prettierignore
  backend/segmentation/api/mt_geometry_cost.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(mt): correct the served v7 runtime config and drop dead tracker code
  backend/segmentation/api/mt_geometry_cost.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/tests/unit/test_mt_geometry_cost.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(mt): make /track ~4x faster and stop it blocking the ML event loop
  backend/segmentation/api/mt_geometry_cost.py
  backend/segmentation/api/tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): validate params_json at the boundary, 400 instead of 500
  backend/segmentation/api/frap_targets.py
  backend/segmentation/tests/test_frap_targets_api.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): bound the upload and decode only the pages actually used
  backend/segmentation/api/frap_targets.py
  backend/segmentation/tests/test_frap_targets_api.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): 504 on a model timeout, 500 on an inference failure
  backend/segmentation/api/frap_targets.py
  backend/segmentation/tests/test_frap_targets_api.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): one half-axes calculation, carry instanceId, L_min = obs_len/(1-f_mid)
  backend/segmentation/api/frap_render.py
  backend/segmentation/api/frap_targets.py
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/test_frap_targets_api.py
  backend/segmentation/tests/unit/test_frap_render.py
  backend/segmentation/tests/unit/test_frap_select.py
  backend/segmentation/tests/unit/test_frap_select_rejected_filaments.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(frap): state the L_min invariant's real scope instead of overstating it
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/unit/test_frap_select.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): reject a params_json combination that would clip the observation window
  backend/segmentation/api/frap_targets.py
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/test_frap_targets_api.py
  backend/segmentation/tests/unit/test_frap_select.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): catch the failures that happen, bound the scale, decode LZW
  backend/segmentation/api/frap_targets.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/test_frap_targets_api.py
  backend/segmentation/tests/unit/test_frap_select.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: ignore local virtualenvs and the FRAP key snippet
  .gitignore
  .prettierignore
Due: none

fix(api): raise the threshold ceiling to 0.99 so v5H's fitted cut is accepted
  backend/src/api/controllers/__tests__/queueController.test.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(ui): stop a long name from breaking every dialog's layout
  src/components/project/DeleteFolderDialog.tsx
  src/components/project/MoveToFolderDialog.tsx
  src/components/project/SegmentChannelDialog.tsx
  src/components/project/ShareDialog.tsx
  src/components/settings/DeleteAccountDialog.tsx
  src/components/ui/__tests__/dialog-overflow-guard.test.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/components/ChannelColorDialog.tsx
  src/pages/segmentation/components/ChannelSwitcher.tsx
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmenter/SegmenterDashboard.tsx
  src/pages/segmenter/SegmenterDatasetDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(nginx): track the FRAP route instead of leaving it live only on the server
  docker/nginx/nginx.production.conf
  docker/nginx/snippets/frap-key.conf.example
Due: none

perf(editor): composite channels on the GPU so overlay playback stops stuttering
  src/lib/__tests__/webglCompositor.test.ts
  src/lib/webglCompositor.ts
  src/lib/webglCompositor.types.ts
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(editor): apply the /simplify findings on the WebGL compositor
  src/lib/__tests__/webglCompositor.test.ts
  src/lib/webglCompositor.ts
  src/lib/webglCompositor.types.ts
  src/lib/windowLevel.ts
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): stop retrying segmentation results for images that have none
  src/hooks/__tests__/useProjectData.race-condition.test.tsx
  src/hooks/useProjectData.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(editor): decode frames off the main thread, in parallel, and keep them
  src/lib/__tests__/decodedFrameCache.test.ts
  src/lib/__tests__/png16.test.ts
  src/lib/__tests__/png16Client.test.ts
  src/lib/decodedFrameCache.ts
  src/lib/png16.ts
  src/lib/png16.worker.ts
  src/lib/png16Client.ts
  src/lib/png16Protocol.ts
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(editor): decode a few frames ahead of the playhead
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/hooks/__tests__/useDecodeAhead.test.ts
  src/pages/segmentation/hooks/useDecodeAhead.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(editor): join an in-flight decode instead of starting a second one
  src/lib/__tests__/decodedFrameCache.test.ts
  src/lib/decodedFrameCache.ts
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/hooks/useDecodeAhead.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
