Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish",
    "prettier --write"
  ],
  "src/**/*.{ts,tsx}": ["bash -c 'npm run type-check'"],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"],
  "backend/package.json": ["prettier --write"]
}

feat: implement comprehensive TypeScript typing and ML timeout mechanism
  src/components/project/ShareDialog.tsx
  src/pages/ShareAccept.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useSegmentationReload.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: implement code review improvements for PR #10
  backend/backend/package-lock.json
  backend/segmentation/ml/model_loader.py
  backend/src/api/controllers/__tests__/queueController.test.ts
  backend/src/types/websocket.ts
  src/hooks/useUnifiedSegmentationUpdate.tsx
  src/pages/ProjectDetail.tsx
  src/services/webSocketManager.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: add missing Spanish translations for polygon status
  src/hooks/useUnifiedSegmentationUpdate.tsx
  src/translations/cs.ts
  src/translations/es.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: add missing translation keys for project.selected, project.deleteSelected, and export.formatsTab
  src/components/project/ShareDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: add missing translation keys for project.selected and project.deleteSelected
  src/hooks/useSegmentationQueue.tsx
  src/hooks/useStatusReconciliation.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/services/webSocketManager.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: oprava autosave v segmentačním editoru a přidání chybějících překladů
  CLAUDE.md
  backend/src/api/controllers/sharingController.ts
  backend/src/services/imageService.ts
  backend/src/services/projectService.ts
  backend/src/services/sharingService.ts
  backend/src/services/websocketService.ts
  src/components/ProjectCard.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectsList.tsx
  src/components/project/ProjectActions.tsx
  src/components/project/ProjectThumbnail.tsx
  src/components/project/ShareDialog.tsx
  src/hooks/useDashboardProjects.ts
  src/pages/Dashboard.tsx
  src/pages/ShareAccept.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: stabilize CI/CD pipeline for PR #10
  .eslintrc-i18n.js
  backend/segmentation/ml/inference_executor.py
  backend/src/api/controllers/__tests__/queueController.test.ts
  backend/src/api/controllers/queueController.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve multiple TypeScript and runtime safety issues
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/testEmailRoutes.ts
  backend/src/services/imageService.ts
  backend/src/services/projectService.ts
  backend/src/services/queueService.ts
  backend/src/services/websocketService.ts
  src/components/ProjectsList.tsx
  src/components/project/ShareDialog.tsx
  src/hooks/useDashboardProjects.ts
  src/hooks/useUnifiedSegmentationUpdate.tsx
  src/lib/__tests__/api.test.ts
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/pages/ShareAccept.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
  src/services/webSocketManager.ts
  src/test-utils/reactTestUtils.tsx
  src/translations/en.ts
  src/translations/es.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

test: add comprehensive tests for ML inference and shared project access
  backend/segmentation/tests/unit/ml/test_inference_executor.py
  src/pages/__tests__/ShareAccept.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

feat: add staging deployment configuration and fix code issues
  backend/segmentation/requirements.txt
  docker-compose.staging.yml
  docs/STAGING_GUIDE.md
  scripts/deploy-staging.sh
  src/pages/ShareAccept.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: comprehensive test improvements and Docker configuration
  docker-compose.production.yml
  docker-compose.test.yml
  monitoring/production-prometheus.yml
  src/lib/__tests__/api-segmentation.test.ts
  src/lib/polygonSlicing.ts
  src/services/__tests__/webSocketRealtimeWorkflows.test.ts
  src/test-utils/webSocketTestUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve TypeScript errors in backend integration tests
  backend/src/middleware/swagger.ts
  backend/src/services/export/__tests__/scaleConversionIntegration.test.ts
  backend/src/test/integration/database.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: comprehensive CI/CD test fixes
  backend/src/test/integration/api.integration.test.ts
  backend/src/test/integration/database.integration.test.ts
  src/contexts/__tests__/WebSocketContext.test.tsx
  src/lib/__tests__/performanceUtils.test.ts
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve DATABASE_URL issues in integration tests
  backend/src/test/integration/api.integration.test.ts
  backend/src/test/integration/database.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: resolve remaining test failures in CI/CD
  src/lib/__tests__/thumbnailCache.test.ts
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'
