Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish",
    "prettier --write"
  ],
  "src/**/*.{ts,tsx}": ["bash -c 'npm run type-check'"],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"],
  "backend/package.json": ["prettier --write"]
}

fix: add Python and build dependencies for canvas package in Docker
  docker/frontend.Dockerfile
  src/components/DashboardHeader.tsx
  src/components/LanguageSwitcher.tsx
  src/components/ProtectedRoute.tsx
  src/components/StatsOverview.tsx
  src/components/ThemeSwitcher.tsx
  src/components/settings/AccountSection.tsx
  src/components/ui/sonner.tsx
  src/contexts/__tests__/WebSocketContext.test.tsx
  src/lib/__tests__/api.integration.test.ts
  src/pages/Dashboard.tsx
  src/pages/Profile.tsx
  src/pages/ProjectDetail.tsx
  src/pages/Settings.tsx
  src/pages/SignIn.tsx
  src/pages/SignUp.tsx
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: add missing psutil dependency to ML service
  backend/segmentation/requirements.txt
Due: none

fix: change EMAIL_SERVICE from mock to smtp in test environment
  docker-compose.test.yml
Due: prettier --write

fix: update JWT secrets to valid 64-character hex strings in test environment
  docker-compose.test.yml
Due: prettier --write

fix: add LanguageContext mock to DashboardActions test
  src/components/__tests__/DashboardActions.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: fix import paths and async syntax in unit tests
  src/components/__tests__/DashboardHeader.test.tsx
  src/components/__tests__/ErrorBoundary.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: add LanguageProvider to LanguageContext mock
  src/components/__tests__/DashboardActions.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: add AuthProvider and proper mocks to DashboardHeader test
  src/components/__tests__/DashboardHeader.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve test failures in CI/CD pipeline
  src/contexts/WebSocketContext.tsx
  src/contexts/__tests__/WebSocketContext.test.tsx
  src/lib/__tests__/api-advanced.test.ts
  tests/e2e/page-objects/helpers.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

Delete .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve unit test failures
  .env.production.example
  .env.staging.example
  .eslintrc-i18n.js
  .gitignore
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/tests/unit/ml/test_inference_executor.py
  backend/src/test/integration/database.integration.test.ts.disabled
  backend/src/test/integration/database.simple.test.ts
  docker-compose.production.yml
  docker-compose.staging.yml
  scripts/deploy-staging.sh
  src/components/__tests__/StatsOverview.test.tsx
  src/components/ui/form-utils.ts
  src/components/ui/sidebar.tsx
  src/contexts/__tests__/AuthContext.test.tsx
  src/contexts/__tests__/ThemeContext.simple.test.tsx
  src/contexts/__tests__/ThemeContext.test.tsx
  src/contexts/__tests__/WebSocketContext.test.tsx
  src/hooks/__tests__/useWebSocketToasts.test.ts
  src/lib/__tests__/api-advanced.test.ts
  src/lib/__tests__/api-segmentation.test.ts
  src/lib/__tests__/api.integration.test.ts
  src/lib/__tests__/performanceUtils.test.ts
  src/pages/__tests__/ShareAccept.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/services/__tests__/webSocketManager.test.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve remaining CI/CD and test issues
  src/components/ui/form-utils.ts
  src/translations/de.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  tests/e2e/critical-flows-comprehensive.spec.ts
  tests/fixtures/test-document.pdf
  vitest.setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: comprehensive test suite fixes and project organization
  .serena/memories/architecture_and_technology_stack.md
  .serena/memories/cicd_deployment_production_fixes.md
  .serena/memories/development_patterns_and_best_practices.md
  .serena/memories/docker_development_workflow_complete.md
  .serena/memories/session_cleanup_comprehensive_2025-08-26.md
  .serena/memories/system_cleanup_comprehensive_2025-08-26.md
  .serena/memories/testing_strategy_comprehensive.md
  .serena/memories/typescript_patterns_and_fixes.md
  .serena/project.yml
  backend/src/test/integration/api.integration.test.ts
  backend/src/test/integration/database.integration.test.ts
  backend/src/test/integration/database.simple.test.ts
  scripts/debug/check-db.js
  scripts/debug/check-image-dims.js
  scripts/debug/check-segmentation.js
  scripts/debug/check-user-access.js
  scripts/debug/debug-db.js
  scripts/debug/test-direct-smtp.js
  scripts/debug/test-email-final.js
  scripts/debug/test-email-simple.js
  scripts/debug/test-email.js
  scripts/debug/test-nodemailer-simple.js
  scripts/debug/test-utia-smtp.js
  src/hooks/__tests__/useSegmentationQueue.simple.test.tsx
  src/hooks/__tests__/useSegmentationQueue.test.tsx
  src/hooks/useDashboardProjects.ts
  src/lib/__tests__/api-advanced.test.ts
  src/lib/__tests__/coordinateUtils.test.ts
  src/pages/ProjectDetail.tsx
  src/test/OptimizedRenderingDemo.tsx
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: implement Blue-Green deployment architecture
  BLUE_GREEN_GUIDE.md
  docker-compose.blue-hybrid.yml
  docker-compose.green.yml
  docker-compose.nginx.yml
  docker-compose.production.yml
  docker-compose.staging.yml
  docker-compose.test.yml
  scripts/archive/auto-deploy-production.sh
  scripts/archive/auto-deploy-staging-safe.sh
  scripts/archive/auto-deploy-staging.sh
  scripts/archive/complete-staging-setup.sh
  scripts/archive/deploy-from-staging.sh
  scripts/archive/deploy-production.sh
  scripts/archive/deploy-staging.sh
  scripts/archive/enable-staging-https.sh
  scripts/archive/expand-ssl-staging.sh
  scripts/archive/init-letsencrypt-staging.sh
  scripts/archive/install-auto-deploy.sh
  scripts/archive/install-production-auto-deploy.sh
  scripts/archive/rollback-production.sh
  scripts/archive/staging-auto-deploy.service
  scripts/archive/staging-manager.sh
  scripts/archive/switch-to-production.sh
  scripts/archive/switch-to-staging.sh
  scripts/archive/test-staging.sh
  scripts/migrate-database.sh
  scripts/switch-blue-green.sh
Due: prettier --write

fix: resolve TypeScript and ESLint errors in backend services
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/sharingService.ts
  backend/src/types/queue.ts
  backend/src/types/websocket.ts
  backend/src/utils/escapeHtml.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

docs: add production safety warning to CLAUDE.md
  CLAUDE.md
Due: prettier --write
