Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish",
    "prettier --write"
  ],
  "src/**/*.{ts,tsx}": ["bash -c 'npm run type-check'"],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"],
  "backend/package.json": ["prettier --write"]
}

fix: comprehensive CI/CD test fixes
  backend/src/services/segmentationService.ts
  backend/src/services/visualization/numberPaths.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: resolve TypeScript errors in backend integration tests
  backend/src/api/controllers/queueController.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: resolve frontend test async/await and mock issues
  src/components/__tests__/AuthToastProvider.test.tsx
  src/components/__tests__/DashboardHeader.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve all CI/CD test failures with comprehensive TypeScript and integration test fixes
  backend/jest.integration.config.js
  backend/package.json
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/sharingRoutes.ts
  backend/src/api/routes/testEmailRoutes.ts
  backend/src/services/export/__tests__/scaleConversionIntegration.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/test/integration/api.integration.test.ts.disabled
  backend/src/test/integration/database.integration.test.ts.disabled
  backend/src/test/integration/database.simple.test.ts
  backend/src/test/setup.integration.ts
  backend/src/types/queue.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: fix ThemeContext and test mocks for window.matchMedia
  src/components/__tests__/ThemeSwitcher.test.tsx
  src/contexts/ThemeContext.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainer.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainerSimple.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: remove selected and hovered CSS classes from polygon group
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve CI/CD test failures in polygon slicing and rendering components
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/scaleConfig.ts
  src/components/__tests__/NewProject.test.tsx
  src/lib/__tests__/polygonSlicing.test.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: change pixel scale logic from pixel/µm to µm/pixel for consistency
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: remove scale warning message from export dialog
  src/pages/export/AdvancedExportDialog.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: correct pixel scale label from confusing direction to clear "Pixel Size"
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve ThemeContext test failures due to document mock
  src/contexts/__tests__/ThemeContext.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve all CI/CD test failures and ESLint issues
  .eslintignore
  .eslintrc-i18n.js
  eslint.config.js
  package-lock.json
  package.json
  playwright.config.ts
  src/components/__tests__/ThemeSwitcher.test.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/__tests__/useDebounce.test.ts
  src/lib/__tests__/api-advanced.test.ts
  src/lib/__tests__/errorUtils.test.ts
  src/lib/__tests__/performanceMonitor.test.ts
  src/test/setup.ts
  tests/e2e/accessibility-comprehensive.spec.ts
  tests/e2e/cross-browser-mobile.spec.ts
  tests/e2e/environment-check.spec.ts
  tests/e2e/visual-regression-numbers.spec.ts
  tests/fixtures/test-image-2.jpg
  tests/fixtures/test-image-3.jpg
  tests/fixtures/test-image-4.jpg
  tests/fixtures/test-image-5.jpg
  tests/global.setup.ts
  vitest.setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve all CI/CD test failures and ESLint issues
  src/lib/__tests__/api-advanced.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: remove eslint-disable comments for react-refresh rule
  .eslintrc-i18n.js
  package-lock.json
  package.json
  src/components/__tests__/AuthToastProvider.test.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/form.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toggle.tsx
  src/contexts/AuthContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ThemeContext.tsx
  src/contexts/WebSocketContext.tsx
  src/hooks/__tests__/useDebounce.test.ts
  src/lib/__tests__/api.integration.test.ts
  src/pages/segmentation/contexts/SegmentationContext.tsx
  src/test-utils/reactTestUtils.tsx
  src/test/utils/test-utils.tsx
  tests/e2e/critical-flows-comprehensive.spec.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: add eslint-disable for react-refresh rule in appropriate files
  src/components/ThemeSwitcher.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/form.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toggle.tsx
  src/contexts/AuthContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ThemeContext.tsx
  src/contexts/WebSocketContext.tsx
  src/pages/segmentation/contexts/SegmentationContext.tsx
  src/services/__tests__/webSocketManager.test.ts
  src/test-utils/reactTestUtils.tsx
  src/test/utils/test-utils.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve remaining CI/CD test failures
  .eslintrc-i18n.js
  src/components/__tests__/AuthToastProvider.test.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/form.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toggle.tsx
  src/contexts/AuthContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ThemeContext.tsx
  src/services/__tests__/webSocketManager.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: remove all eslint-disable comments for react rules
  .eslintrc-i18n.js
  src/contexts/WebSocketContext.tsx
  src/hooks/useOptimizedPolygonRendering.tsx
  src/pages/segmentation/contexts/SegmentationContext.tsx
  src/test-utils/reactTestUtils.tsx
  src/test/utils/test-utils.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: add aria-labels to DashboardActions buttons
  src/components/DashboardActions.tsx
  src/components/__tests__/DashboardActions.test.tsx
  src/components/ui/badge-variants.ts
  src/components/ui/badge.tsx
  src/components/ui/button-variants.ts
  src/components/ui/button.tsx
  src/components/ui/form-utils.ts
  src/components/ui/form.tsx
  src/components/ui/navigation-menu-variants.ts
  src/components/ui/navigation-menu.tsx
  src/components/ui/sidebar-context.ts
  src/components/ui/sidebar.tsx
  src/components/ui/toggle-variants.ts
  src/components/ui/toggle.tsx
  src/contexts/AuthContext.tsx
  src/contexts/AuthContext.types.ts
  src/contexts/LanguageContext.tsx
  src/contexts/LanguageContext.types.ts
  src/contexts/ModelContext.tsx
  src/contexts/ModelContext.types.ts
  src/contexts/useAuth.ts
  src/contexts/useLanguage.ts
  src/contexts/useModel.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve all CI/CD test failures and ESLint issues
  .eslintrc-i18n.js
  eslint.config.js
  src/components/ui/alert-dialog.tsx
  src/components/ui/badge.tsx
  src/components/ui/button-exports.ts
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/components/ui/exports.ts
  src/components/ui/form.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/pagination.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toggle.tsx
  src/contexts/AuthContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ThemeContext.tsx
  src/contexts/ThemeContext.types.ts
  src/contexts/WebSocketContext.tsx
  src/contexts/WebSocketContext.types.ts
  src/contexts/exports.ts
  src/contexts/useTheme.ts
  src/contexts/useWebSocket.ts
  src/hooks/useOptimizedPolygonRendering.tsx
  src/pages/segmentation/contexts/SegmentationContext.tsx
  src/pages/segmentation/contexts/SegmentationContext.types.ts
  src/pages/segmentation/contexts/useSegmentationContext.ts
  src/test-utils/reactTestUtils.tsx
  src/test-utils/test-components.tsx
  src/test-utils/test-helpers.ts
  src/test/utils/test-utilities.ts
  src/test/utils/test-utils.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: prettier --write
