Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(feedback): large file attachments in bug/feature reports (#226)
  backend/src/api/controllers/feedbackController.ts
  backend/src/api/routes/__tests__/imageRoutes.test.ts
  backend/src/api/routes/feedbackRoutes.ts
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/middleware/upload.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/exportService.sperm.test.ts
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/__tests__/feedbackService.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/__tests__/segmentationService.crossFrame.test.ts
  backend/src/services/feedbackService.ts
  backend/src/templates/__tests__/feedbackReceivedEmail.test.ts
  backend/src/templates/feedbackReceivedEmail.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
  backend/src/workers/__tests__/queueWorker.parallel.test.ts
  backend/vitest.env.ts
  docker/nginx/nginx.production.conf
  src/components/feedback/FeedbackAttachmentDropzone.tsx
  src/components/feedback/FeedbackDialog.tsx
  src/lib/api.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(i18n): seed English chunk synchronously so component tests see real strings
  src/components/feedback/__tests__/FeedbackDialog.test.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/translationLoader.ts
  src/test/setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): fix final 7 straggler tests (stale assertions + load-tolerant perf thresholds)
  src/components/__tests__/Features.test.tsx
  src/components/__tests__/NewProjectCard.test.tsx
  src/components/__tests__/ProjectCard.test.tsx
  src/components/__tests__/ProjectsList.test.tsx
  src/components/ui/__tests__/universal-cancel-button.test.tsx
  src/pages/segmentation/__tests__/PolygonPerformanceRegression.test.tsx
  src/pages/segmentation/__tests__/ReactKeyGeneration.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): eliminate two sources of suite flakiness
  src/__tests__/performance/cancel-performance.test.ts
  src/pages/__tests__/ShareAccept.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(ml): bring the Python ML unit suite green (228 passed, 0 fail/error)
  backend/segmentation/conftest.py
  backend/segmentation/requirements-test.txt
  backend/segmentation/requirements.txt
  backend/segmentation/services/inference.py
  backend/segmentation/tests/unit/ml/test_inference_executor.py
  backend/segmentation/tests/unit/ml/test_parallel_inference.py
  backend/segmentation/tests/unit/test_api_segmentation.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/segmentation/tests/unit/test_inference_service.py
  backend/segmentation/tests/unit/test_preprocessing_pipeline.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(backend): add coverage for utils, storage, metrics, and services (batch 1)
  backend/src/services/__tests__/authService.gaps.test.ts
  backend/src/services/__tests__/cacheService.gaps.test.ts
  backend/src/services/__tests__/projectFolderService.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.basicMetrics.test.ts
  backend/src/storage/__tests__/localStorage.test.ts
  backend/src/utils/__tests__/passwordGenerator.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): cover controllers + core services (batch 2)
  backend/src/api/controllers/__tests__/authController.behavior.test.ts
  backend/src/api/controllers/__tests__/projectFolderController.test.ts
  backend/src/api/controllers/__tests__/queueController.behavior.test.ts
  backend/src/services/__tests__/exportService.gaps.test.ts
  backend/src/services/__tests__/imageService.gaps.test.ts
  backend/src/services/__tests__/queueService.gaps.test.ts
  backend/src/services/__tests__/segmentationService.gaps.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): cover visualization, config/db/redis infra, routes, monitoring (batch 4)
  backend/src/api/controllers/__tests__/exportController.gaps.test.ts
  backend/src/api/routes/__tests__/authRoutes.test.ts
  backend/src/api/routes/__tests__/index.test.ts
  backend/src/api/routes/__tests__/projectRoutes.test.ts
  backend/src/api/routes/__tests__/rateLimitAdmin.test.ts
  backend/src/config/__tests__/redis.test.ts
  backend/src/db/__tests__/prismaPool.test.ts
  backend/src/middleware/__tests__/monitoring.test.ts
  backend/src/monitoring/__tests__/businessMetrics.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.test.ts
  backend/src/services/__tests__/exportService.gaps2.test.ts
  backend/src/services/__tests__/segmentationThumbnailService.test.ts
  backend/src/services/visualization/__tests__/visualizationGenerator.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
  backend/src/utils/__tests__/config.test.ts
  backend/src/utils/__tests__/envValidator.test.ts
  backend/src/utils/__tests__/passwordGenerator.test.ts
  backend/src/workers/__tests__/queueWorker.parallel.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): cover service gaps + remaining 0% infra (batch 5) -> 78% lines
  backend/src/api/controllers/__tests__/imageController.gaps3.test.ts
  backend/src/api/routes/__tests__/databaseRoutes.test.ts
  backend/src/api/routes/__tests__/rateLimitAdmin.test.ts
  backend/src/api/routes/__tests__/testEmailRoutes.test.ts
  backend/src/auth/__tests__/jwt.behavior.test.ts
  backend/src/config/__tests__/database.test.ts
  backend/src/middleware/__tests__/swagger.test.ts
  backend/src/services/__tests__/emailRetryService.behavior.test.ts
  backend/src/services/__tests__/emailService.behavior.test.ts
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/__tests__/healthCheckService.gaps.test.ts
  backend/src/services/__tests__/imageService.gaps2.test.ts
  backend/src/services/__tests__/queueService.gaps2.test.ts
  backend/src/services/__tests__/segmentationService.gaps3.test.ts
  backend/src/services/__tests__/websocketService.behavior.test.ts
  backend/src/services/video/__tests__/ffmpegExtractor.test.ts
  backend/src/storage/__tests__/localStorage.behavior.test.ts
  backend/src/utils/__tests__/databaseOptimization.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): final gap coverage -> 81% lines (batch 6)
  backend/src/api/controllers/__tests__/projectController.gaps.test.ts
  backend/src/db/__tests__/dbIndex.test.ts
  backend/src/middleware/__tests__/cacheMiddleware.test.ts
  backend/src/services/__tests__/authService.branch.test.ts
  backend/src/services/__tests__/emailRetryService.dedup.test.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/__tests__/exportFileOperations.test.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/visualization/__tests__/visualizationGenerator.gaps.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(frontend): cover untested utils, hooks, contexts, components (FE batch 1)
  src/components/project/__tests__/ExportProgressPanel.test.tsx
  src/components/project/__tests__/ShareDialog.test.tsx
  src/hooks/shared/__tests__/useRetry.test.ts
  src/lib/__tests__/modelUtils.test.ts
  src/lib/__tests__/websocket.test.ts
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.test.ts
  src/pages/segmentation/components/__tests__/PolygonListPanel.test.tsx
  src/pages/segmentation/components/__tests__/SpermInstancePanel.test.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
  src/pages/segmentation/utils/__tests__/metricCalculations.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): cover lib, hooks, auth pages, components (FE batch 2)
  src/components/project/__tests__/QueueStatsPanel.real.test.tsx
  src/components/settings/__tests__/ConsentSection.test.tsx
  src/hooks/__tests__/useFolders.test.ts
  src/lib/__tests__/lazyWithRetry.test.ts
  src/lib/__tests__/polygonOptimization.test.ts
  src/lib/__tests__/tiffConverter.test.ts
  src/lib/__tests__/vertexOptimization.test.ts
  src/pages/__tests__/ForgotPassword.test.tsx
  src/pages/__tests__/ResetPassword.test.tsx
  src/pages/__tests__/SignIn.test.tsx
  src/pages/__tests__/SignUp.test.tsx
  src/pages/export/components/__tests__/ExportImageCard.test.tsx
  src/pages/export/components/__tests__/MicrotubuleMetricsSection.test.tsx
  src/pages/export/hooks/__tests__/useExportFunctions.test.tsx
  src/pages/export/hooks/__tests__/useImageSelection.test.ts
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/pages/segmentation/components/__tests__/PolygonItem.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSelection.test.ts
  src/pages/segmentation/hooks/__tests__/useVideoFrames.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): cover lib, zoom hook, editor/canvas/project components (FE batch 3)
  src/components/__tests__/FloatingUploadProgress.test.tsx
  src/components/profile/__tests__/AvatarCropDialog.test.tsx
  src/components/project/__tests__/FolderBreadcrumb.test.tsx
  src/components/project/__tests__/MoveToFolderDialog.test.tsx
  src/components/project/__tests__/ProjectImages.test.tsx
  src/components/upload/__tests__/DropZone.test.tsx
  src/lib/__tests__/logger.test.ts
  src/lib/__tests__/toast.test.ts
  src/pages/export/components/__tests__/ImageSelectionGrid.test.tsx
  src/pages/segmentation/components/__tests__/ChannelColorDialog.test.tsx
  src/pages/segmentation/components/__tests__/EnhancedEditorToolbar.test.tsx
  src/pages/segmentation/components/__tests__/KeyboardShortcutsHelp.test.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.test.tsx
  src/pages/segmentation/components/__tests__/RegionPanel.test.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.test.tsx
  src/pages/segmentation/components/canvas/__tests__/ModeInstructions.test.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/components/canvas/__tests__/PolygonVertices.test.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
  src/pages/segmentation/hooks/view/__tests__/useWheelZoom.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): cover Profile/Dashboard pages, export dialog, editor header (FE batch 4)
  src/components/feedback/__tests__/FeedbackAttachmentDropzone.test.tsx
  src/pages/__tests__/Dashboard.test.tsx
  src/pages/__tests__/Profile.test.tsx
  src/pages/export/__tests__/AdvancedExportDialog.test.tsx
  src/pages/segmentation/components/__tests__/EditorHeader.test.tsx
  src/pages/segmentation/components/__tests__/EnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.test.tsx
  src/test/setup.pages.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(test): remove unreferenced setup.pages.ts helper
  src/test/setup.pages.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): make PolygonPerformanceRegression monitoring test load-tolerant
  src/pages/segmentation/__tests__/PolygonPerformanceRegression.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(config): scope frontend coverage to src/ application code
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

test(frontend): cover utils, folder/project + editor + export components (FE batch 5)
  src/components/header/__tests__/MobileMenu.test.tsx
  src/components/layout/__tests__/ResponsiveGrid.test.tsx
  src/components/profile/__tests__/AvatarUploadButton.test.tsx
  src/components/project/__tests__/CreateFolderDialog.test.tsx
  src/components/project/__tests__/DeleteFolderDialog.test.tsx
  src/components/project/__tests__/FolderCard.test.tsx
  src/components/project/__tests__/FolderListItem.test.tsx
  src/components/project/__tests__/ImageListItem.test.tsx
  src/components/project/__tests__/ProjectThumbnail.test.tsx
  src/components/project/__tests__/RenameFolderDialog.test.tsx
  src/components/settings/__tests__/UserProfileSection.test.tsx
  src/lib/__tests__/i18nLogger.test.ts
  src/pages/export/__tests__/ProjectExport.test.tsx
  src/pages/export/components/__tests__/ExportOptionsCard.test.tsx
  src/pages/export/components/__tests__/ImageSelectionCard.test.tsx
  src/pages/segmentation/components/__tests__/ChannelSwitcher.test.tsx
  src/pages/segmentation/components/__tests__/SegmentationErrorBoundary.test.tsx
  src/pages/segmentation/components/__tests__/StatusBar.test.tsx
  src/pages/segmentation/components/__tests__/TopToolbar.test.tsx
  src/pages/segmentation/components/__tests__/VideoModeOverlay.test.tsx
  src/pages/segmentation/components/canvas/__tests__/VideoFrameImage.test.tsx
  src/pages/segmentation/components/project/__tests__/ProjectImageExport.test.tsx
  src/pages/segmentation/utils/__tests__/cocoConverter.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): cover the long-tail utils/hooks/layout/canvas micro-components (FE batch 6)
  src/components/__tests__/PageLoadingFallback.test.tsx
  src/components/__tests__/PageTransition.test.tsx
  src/components/__tests__/ProjectSelector.test.tsx
  src/components/dashboard/__tests__/DashboardTabs.test.tsx
  src/components/dashboard/__tests__/ProjectsTab.test.tsx
  src/components/layout/__tests__/ContentCard.test.tsx
  src/components/layout/__tests__/FlexBetween.test.tsx
  src/components/layout/__tests__/PageContainer.test.tsx
  src/components/layout/__tests__/ResponsiveStack.test.tsx
  src/components/project/__tests__/FolderActions.test.tsx
  src/components/project/__tests__/ProjectViewOptions.test.tsx
  src/components/upload/__tests__/UploaderOptions.test.tsx
  src/contexts/__tests__/translationLoader.test.ts
  src/hooks/__tests__/useActiveSection.test.ts
  src/hooks/__tests__/useAuthToasts.test.ts
  src/hooks/__tests__/useScrollAnimation.test.ts
  src/lib/__tests__/lazyImports.test.ts
  src/lib/__tests__/thumbnailCache.test.ts
  src/pages/segmentation/components/__tests__/EditorHelpTips.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasSvgFilters.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasUIElements.test.tsx
  src/pages/segmentation/components/canvas/__tests__/EditModeBorder.test.tsx
  src/pages/segmentation/components/canvas/__tests__/EditorFrameLoadingOverlay.test.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameWindowPrefetcher.test.tsx
  src/pages/segmentation/components/canvas/__tests__/ModeLegend.test.tsx
  src/pages/segmentation/components/project/export/__tests__/LazyExcelExporter.test.tsx
  src/pages/segmentation/hooks/view/__tests__/useImageCentering.test.tsx
  src/pages/segmentation/hooks/view/__tests__/useOffsetConstraints.test.tsx
  src/pages/segmentation/hooks/view/__tests__/useZoomHandlers.test.tsx
  src/utils/__tests__/dashboardDrag.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(config): exclude vendored shadcn/ui primitives from coverage
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

test(frontend): cover ProjectDetail + deepen hook/context/page gaps (FE batch 7) -> 80%
  src/contexts/__tests__/UploadContext.gaps.test.tsx
  src/hooks/__tests__/useSegmentationQueue.gaps.test.tsx
  src/lib/__tests__/lazyWithRetry.gaps.test.tsx
  src/pages/__tests__/Dashboard.extended.test.tsx
  src/pages/__tests__/Profile.extended.test.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.gaps.test.ts
  src/types/__tests__/index.runtime.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(backend): deepen service/controller gaps + cover redis/retryService (toward 90)
  backend/src/api/controllers/__tests__/exportController.gaps2.test.ts
  backend/src/api/controllers/__tests__/imageController.gaps4.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps.test.ts
  backend/src/redis/__tests__/client.test.ts
  backend/src/services/__tests__/emailRetryService.gaps4.test.ts
  backend/src/services/__tests__/exportService.gaps4.test.ts
  backend/src/services/__tests__/imageService.gaps3.test.ts
  backend/src/services/__tests__/queueService.gaps3.test.ts
  backend/src/services/__tests__/segmentationService.gaps4.test.ts
  backend/src/services/__tests__/sharingService.gaps4.test.ts
  backend/src/utils/__tests__/retryService.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(frontend): deepen ProjectDetail coverage (gaps)
  src/pages/__tests__/ProjectDetail.gaps.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): deepen editor hooks, api client, 0% pages (toward 90) -> 85.6%
  src/__tests__/App.test.tsx
  src/components/__tests__/NewProject.behavioral.test.tsx
  src/hooks/shared/__tests__/useRetry.gaps.test.ts
  src/lib/__tests__/api-uncovered.test.ts
  src/pages/__tests__/Documentation.test.tsx
  src/pages/__tests__/PrivacyPolicy.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.gaps.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.gaps.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(backend): broad gap coverage across services/controllers/utils/templates -> 89.3%
  backend/src/api/controllers/__tests__/exportController.gaps5.test.ts
  backend/src/api/controllers/__tests__/feedbackController.gaps5.test.ts
  backend/src/api/controllers/__tests__/segmentationController.gaps5.test.ts
  backend/src/api/controllers/__tests__/sharingController.gaps5.test.ts
  backend/src/api/controllers/__tests__/uploadCancelController.gaps5.test.ts
  backend/src/api/controllers/__tests__/videoController.gaps5.test.ts
  backend/src/auth/__tests__/password.gaps5.test.ts
  backend/src/config/__tests__/database.gaps5.test.ts
  backend/src/config/__tests__/uploadLimits.gaps5.test.ts
  backend/src/constants/__tests__/email.gaps5.test.ts
  backend/src/middleware/__tests__/auth.gaps5.test.ts
  backend/src/middleware/__tests__/error.gaps5.test.ts
  backend/src/middleware/__tests__/monitoring.gaps5.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps5.test.ts
  backend/src/services/__tests__/authService.gaps5.test.ts
  backend/src/services/__tests__/emailRetryService.gaps5.test.ts
  backend/src/services/__tests__/exportService.gaps5.test.ts
  backend/src/services/__tests__/imageService.gaps5.test.ts
  backend/src/services/__tests__/imageService.gaps6.test.ts
  backend/src/services/__tests__/projectService.gaps5.test.ts
  backend/src/services/__tests__/queueService.gaps5.test.ts
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
  backend/src/services/__tests__/userService.gaps5.test.ts
  backend/src/services/export/__tests__/exportDocs.gaps5.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.gaps5.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.gaps5.test.ts
  backend/src/services/metrics/__tests__/scaleConfig.gaps5.test.ts
  backend/src/storage/__tests__/index.gaps5.test.ts
  backend/src/templates/__tests__/passwordResetEmailMultilang.gaps5.test.ts
  backend/src/templates/__tests__/shareInvitationEmailSimple.gaps5.test.ts
  backend/src/templates/__tests__/verificationEmail.gaps5.test.ts
  backend/src/types/__tests__/validation.gaps5.test.ts
  backend/src/utils/__tests__/batchProcessor.gaps5.test.ts
  backend/src/utils/__tests__/concurrencyManager.gaps5.test.ts
  backend/src/utils/__tests__/database.gaps5.test.ts
  backend/src/utils/__tests__/initializeStorage.gaps5.test.ts
  backend/src/utils/__tests__/logger.gaps5.test.ts
  backend/src/utils/__tests__/polygonValidation.gaps5.test.ts
  backend/src/workers/__tests__/queueWorker.gaps5.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(frontend): api/auth/export/share gaps + static pages + SegmentationEditor orchestration -> 87.6%
  src/components/project/__tests__/ShareDialog.extra.test.tsx
  src/contexts/__tests__/AuthContext.extra.test.tsx
  src/lib/__tests__/api-interceptors.test.ts
  src/pages/__tests__/Index.test.tsx
  src/pages/__tests__/Profile.gaps.test.tsx
  src/pages/__tests__/ProjectDetail.additional.test.tsx
  src/pages/__tests__/TermsOfService.test.tsx
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.extra.test.ts
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.save.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: push backend to 90% + frontend gap-fills (Settings, api, hooks, perf)
  backend/src/db/__tests__/prismaConfig.gaps6.test.ts
  backend/src/middleware/__tests__/accessLogger.gaps6.test.ts
  backend/src/middleware/__tests__/rateLimiter.gaps6.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps6.test.ts
  backend/src/services/__tests__/emailRetryService.gaps6.test.ts
  backend/src/services/__tests__/thumbnailManager.gaps6.test.ts
  backend/src/services/metrics/__tests__/scaleConfig.gaps6.test.ts
  backend/src/utils/__tests__/database.gaps6.test.ts
  src/hooks/__tests__/useDashboardProjects.gaps.test.tsx
  src/hooks/shared/__tests__/useRetry.extra.test.ts
  src/lib/__tests__/api.extra.test.ts
  src/lib/__tests__/performanceMonitor.extra.test.ts
  src/pages/__tests__/ProjectDetail.extra.test.tsx
  src/pages/__tests__/Settings.test.tsx
  src/pages/export/__tests__/AdvancedExportDialog.extra.test.tsx
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.triggerDownload.test.ts
  src/pages/segmentation/components/canvas/__tests__/PolygonVertices.memo.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.extra.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.gaps.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(frontend): harden two load-flaky timing assertions
  src/contexts/__tests__/LanguageContext.test.tsx
  src/test-utils/__tests__/webSocketTestUtils.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): deepen ProjectDetail + lib/api uncovered branches (toward 90)
  src/lib/__tests__/api.gaps2.test.ts
  src/pages/__tests__/ProjectDetail.gaps2.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): harden wall-clock perf assertions across websocket/render/lib
  src/hooks/__tests__/useWebSocketToasts.test.ts
  src/lib/__tests__/performanceUtils.test.ts
  src/lib/__tests__/polygonIdUtils.reactkeys.test.ts
  src/pages/segmentation/__tests__/PolygonSelection.test.tsx
  src/pages/segmentation/__tests__/VertexDeletionIntegration.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainer.test.tsx
  src/services/__tests__/webSocketIntegration.test.ts
  src/services/__tests__/webSocketPerformance.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): gap-fill hooks/contexts to push coverage over 90%
  src/components/project/__tests__/ShareDialog.gaps2.test.tsx
  src/contexts/__tests__/AuthContext.gaps2.test.tsx
  src/hooks/__tests__/useDashboardProjects.extra2.test.tsx
  src/hooks/shared/__tests__/useRetry.gaps2.test.ts
  src/lib/__tests__/performanceMonitor.gaps2.test.ts
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.gaps2.test.ts
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.extra2.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.gaps3.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.extra2.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): high-yield gap-fill (coordinateUtils, AccountSection, ProjectActions, canvas layer)
  src/components/project/__tests__/ProjectActions.gaps.test.tsx
  src/components/settings/__tests__/AccountSection.gaps.test.tsx
  src/lib/__tests__/coordinateUtils.gaps.test.ts
  src/lib/__tests__/exportStateManager.gaps.test.ts
  src/pages/__tests__/Profile.activity.test.tsx
  src/pages/segmentation/components/__tests__/PolygonListPanel.gaps.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasTemporaryGeometryLayer.gaps.test.tsx
  src/pages/segmentation/hooks/__tests__/useSegmentationReload.gaps.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): cover getErrorMessage string-input branches (push FE >=90%)
  src/types/__tests__/index.errors2.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(review): make webSocketManager null-guard actually protective + correct abort() comment
  src/hooks/shared/useAbortController.ts
  src/services/webSocketManager.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(frontend): drop unused vi import in index.errors2 test (ESLint 0-warnings)
  src/types/__tests__/index.errors2.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
