Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix(deps): resolve the fastapi/instrumentator cascade instead of pinning around it (#368)
  backend/segmentation/requirements.txt
Due: none

test(ml): stop the device test asserting the size of the pytest process
  backend/segmentation/tests/unit/ml/test_inference_executor.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(ml): stop the device test asserting the size of the pytest process (#369)
  backend/segmentation/tests/unit/ml/test_inference_executor.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

ci: gate the Python suites that can run without a GPU
  .github/workflows/ci.yml
  Makefile
  backend/essays/tests/test_gpu_budget.py
  backend/requirements-pytest-ci.txt
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

ci: wire test-py into `make ci`, and stop leaking two credentials
  .github/workflows/ci.yml
  Makefile
  backend/requirements-pytest-ci.txt
Due: prettier --write

ci: gate the Python suites that can run without a GPU (#370)
  .github/workflows/ci.yml
  Makefile
  backend/essays/tests/test_gpu_budget.py
  backend/requirements-pytest-ci.txt
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: fix gitignore gaps that silently drop or admit the wrong files
  .gitignore
  backend/.gitignore
Due: none

chore: untrack build/test artifacts that were already gitignored
  .playwright-mcp/comprehensive-testing-complete.png
  .playwright-mcp/documentation-page-blue-production.png
  .playwright-mcp/frontend-status.png
  .playwright-mcp/homepage-blue-production.png
  .playwright-mcp/login-page-blue-production.png
  .playwright-mcp/page-2025-09-22T15-05-02-527Z.png
  .playwright-mcp/polygon-selection-working.png
  .playwright-mcp/polygon-visibility-initial-view.png
  .playwright-mcp/segmentation-editor-full-page.png
  .playwright-mcp/signup-page-blue-production.png
  .playwright-mcp/terms-of-service-blue-production.png
  backend/e2e-results.json
  backend/frontend-test-results.json
  backups/green_backup_20250907_132739.sql
  screenshots/01-initial.png
  screenshots/03-after-login.png
  screenshots/04-dashboard.png
  screenshots/05-project.png
  screenshots/06-no-export-button.png
  screenshots/final-state.png
  videos/94d82fdc03c14e0b10067ccc39f753eb.webm
  videos/dc17dbcc847d7304175353a22d63cc78.webm
Due: prettier --write, bash -c 'sqlfluff lint $0 || true'

chore: delete orphaned e2e specs, blue-green scripts and stray reports
  .serena/.gitignore
  .serena/project.yml
  ACTIVATE_LOGGING.sh
  backend/ACCESS_LOGGER_ANALYSIS.md
  backend/DASHBOARD_METRICS_TEST_REPORT.md
  e2e/batch-segmentation-results.spec.ts
  e2e/cancel-workflows.spec.ts
  e2e/parallel-segmentation.spec.ts
  e2e/upload-large-batch.spec.ts
  scripts/archive/apply-upload-fixes.sh
  scripts/archive/auto-deploy-production.sh
  scripts/archive/auto-deploy-staging-safe.sh
  scripts/archive/auto-deploy-staging.sh
  scripts/archive/complete-staging-setup.sh
  scripts/archive/complete-upload-fix.sh
  scripts/archive/deploy-from-staging.sh
  scripts/archive/deploy-production.sh
  scripts/archive/deploy-staging.sh
  scripts/archive/enable-staging-https.sh
  scripts/archive/expand-ssl-staging.sh
  scripts/archive/fix-upload-directories.sh
  scripts/archive/fix-upload-safe.sh
  scripts/archive/init-letsencrypt-staging.sh
  scripts/archive/install-auto-deploy.sh
  scripts/archive/install-production-auto-deploy.sh
  scripts/archive/rollback-production.sh
  scripts/archive/staging-auto-deploy.service
  scripts/archive/staging-manager.sh
  scripts/archive/switch-to-production.sh
  scripts/archive/switch-to-staging.sh
  scripts/archive/test-staging.sh
  scripts/archive/test-upload-fix.sh
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

chore: remove npm scripts that cannot run, fix the one that half-ran
  backend/package.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

chore: correct .prettierignore comment and dedupe its scratch-dir list
  .prettierignore
Due: none

feat: add the `neurite` project type and register the `neurite_soma` model
  backend/prisma/migrations/20260828_extend_project_type_check_neurite/migration.sql
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/services/queueService.ts
  backend/src/types/validation.ts
  src/components/project/ProjectHeader.tsx
  src/components/settings/ModelSettingsSection.tsx
  src/hooks/__tests__/useLocalizedModels.test.ts
  src/lib/__tests__/modelUtils.test.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix: commit prisma migration_lock.toml, which the ignore rule was hiding
  backend/prisma/migrations/migration_lock.toml
Due: none

fix(segmentation): render a multi-selected polygon like a single-selected one
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore: anchor the new ignore rules and close the .remember/ gap
  .gitignore
Due: none

fix(i18n): default new accounts to the browser language, not Czech
  backend/prisma/migrations/20260828_default_preferred_lang_en/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/auth.controller.test.ts
  backend/src/api/controllers/authController.ts
  backend/src/api/openapi.yaml
  backend/src/auth/validation.ts
  backend/src/db/seed.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/userService.stats.test.ts
  backend/src/services/__tests__/userService.test.ts
  backend/src/services/authService.ts
  backend/src/services/userService.ts
  src/contexts/AuthContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/__tests__/AuthContext.test.tsx
  src/contexts/__tests__/LanguageContext.test.tsx
  src/contexts/__tests__/translationLoader.test.ts
  src/contexts/translationLoader.ts
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

chore: keep scratch dirs out of the docker context, correct prettier note
  .dockerignore
  .prettierignore
Due: none

feat(export): add a wide per-channel view to the MT metrics export
  backend/src/services/export/__tests__/exportDocs.gaps5.test.ts
  backend/src/services/export/__tests__/fixtures/mt_metrics_real_rows.json
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtMetricsExporter.ts
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore: remove the last three npm scripts that cannot run
  backend/package.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

chore: drop stale xlsx references from vite.config.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

fix(queue): never leave a segmentation item stuck in `processing`
  backend/segmentation/services/postprocessing.py
  backend/segmentation/tests/unit/test_postprocessing_service.py
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(landing): rescope the landing page to every specimen type
  index.html
  public/lovable-uploads/3d7a9b1c-4e2f-4a8d-9c3e-5f8b2a1d6c4e.png
  public/specimens/disintegration.webp
  public/specimens/microcapsule.webp
  public/specimens/microtubule.webp
  public/specimens/sperm.webp
  public/specimens/spheroid.webp
  public/specimens/wound.webp
  src/components/Features.tsx
  src/components/Hero.tsx
  src/components/__tests__/Features.test.tsx
  src/components/__tests__/Hero.test.tsx
  src/components/landing/SpecimenShowcase.tsx
  src/components/landing/specimens.ts
  src/contexts/__tests__/LanguageContext.test.tsx
  src/pages/Index.tsx
  src/pages/__tests__/Index.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(video): forward-fill a channel the microscope only refreshed every N-th frame
  backend/src/api/controllers/__tests__/videoController.sparseFill.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/staticChannelProjection.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.sparse.test.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/queueService.ts
  backend/src/services/staticChannelProjection.ts
  backend/src/services/staticChannelProjectionService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/plane_coverage.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_memory.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_sparse_channel.py
  backend/src/services/video/pythonHelpers/tests/test_plane_coverage.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  src/lib/__tests__/staticFrameChannels.test.ts
  src/lib/api.ts
  src/lib/staticFrameChannels.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: carry the neurite/soma class end-to-end via `partClass`
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/visualization/__tests__/visualizationGenerator.test.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/types/polygon.ts
  backend/src/utils/__tests__/polygonValidation.neuronClass.test.ts
  backend/src/utils/polygonValidation.ts
  src/index.css
  src/lib/api.ts
  src/lib/segmentation.ts
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/utils/__tests__/cocoConverter.test.ts
  src/pages/segmentation/utils/cocoConverter.ts
  src/pages/segmentation/utils/neuronClassStyle.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input

fix(landing): act on the code review of the specimen tray
  public/specimens/microcapsule.webp
  src/components/landing/SpecimenShowcase.tsx
  src/components/landing/__tests__/specimens.test.ts
  src/components/landing/specimens.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: correct the SSOT data-flow page's description in the index
  docs/README.md
  docs/architecture/README.md
Due: prettier --write

docs: check link anchors and CLAUDE.md, and fix the review findings
  Makefile
  docs/development/contributing.md
  docs/reference/metrics.md
  docs/testing-guide.md
  scripts/check-doc-links.cjs
  src/pages/documentation/DocsBlocks.tsx
  src/pages/documentation/useDocsSearch.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(ml): add the neurite/soma segmentation model to the ML service
  .gitignore
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/neurite_soma/__init__.py
  backend/segmentation/models/neurite_soma/params.json
  backend/segmentation/models/neurite_soma/wrapper.py
  backend/segmentation/tests/test_neurite_soma_model.py
  scripts/download-neurite-soma-weights.sh
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(segmentation): make the editor's controls state-legible and responsive
  src/components/project/SegmentChannelDialog.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/KeyboardShortcutsHelp.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/StatusBar.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/PolygonListPanel.test.tsx
  src/pages/segmentation/components/canvas/CanvasContainer.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainerSimple.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(ui): unify design tokens and make the app shell responsive
  src/components/Footer.tsx
  src/components/Navbar.tsx
  src/components/StatsOverview.tsx
  src/components/__tests__/Footer.test.tsx
  src/components/__tests__/StatsOverview.test.tsx
  src/components/header/MobileMenu.tsx
  src/components/header/UserProfileDropdown.tsx
  src/components/project/ExportProgressPanel.tsx
  src/components/project/ImageCard.tsx
  src/components/project/ImageListItem.tsx
  src/components/project/MoveToFolderDialog.tsx
  src/components/project/ProjectHeader.tsx
  src/components/project/ProjectImages.tsx
  src/components/project/ProjectToolbar.tsx
  src/components/project/QueueStatsPanel.tsx
  src/components/project/ShareDialog.tsx
  src/components/ui/button-variants.ts
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/pagination.tsx
  src/components/ui/select.tsx
  src/components/ui/skeleton-variants.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/index.css
  src/lib/constants.ts
  src/pages/Dashboard.tsx
  src/pages/ProjectDetail.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/styles/tailwind.css
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', stylelint --fix --allow-empty-input

feat(ml): add the neurite/soma segmentation model to the ML service (#380)
  .gitignore
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/neurite_soma/__init__.py
  backend/segmentation/models/neurite_soma/params.json
  backend/segmentation/models/neurite_soma/wrapper.py
  backend/segmentation/tests/test_neurite_soma_model.py
  scripts/download-neurite-soma-weights.sh
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: neurite project type, neurite_soma model, and the neurite/soma class carrier (#371)
  backend/prisma/migrations/20260828_extend_project_type_check_neurite/migration.sql
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
  backend/src/services/queueService.ts
  backend/src/services/visualization/__tests__/visualizationGenerator.test.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/types/polygon.ts
  backend/src/types/validation.ts
  backend/src/utils/__tests__/polygonValidation.neuronClass.test.ts
  backend/src/utils/polygonValidation.ts
  src/components/project/ProjectHeader.tsx
  src/components/settings/ModelSettingsSection.tsx
  src/hooks/__tests__/useLocalizedModels.test.ts
  src/index.css
  src/lib/__tests__/modelUtils.test.ts
  src/lib/api.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/lib/segmentation.ts
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/utils/__tests__/cocoConverter.test.ts
  src/pages/segmentation/utils/cocoConverter.ts
  src/pages/segmentation/utils/neuronClassStyle.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'sqlfluff lint $0 || true'

fix(i18n): default new accounts to the browser language, not Czech (#373)
  backend/prisma/migrations/20260828_default_preferred_lang_en/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/auth.controller.test.ts
  backend/src/api/controllers/authController.ts
  backend/src/api/openapi.yaml
  backend/src/auth/validation.ts
  backend/src/db/seed.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/userService.stats.test.ts
  backend/src/services/__tests__/userService.test.ts
  backend/src/services/authService.ts
  backend/src/services/userService.ts
  src/contexts/AuthContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/__tests__/AuthContext.test.tsx
  src/contexts/__tests__/LanguageContext.test.tsx
  src/contexts/__tests__/translationLoader.test.ts
  src/contexts/translationLoader.ts
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(queue): never leave a segmentation item stuck in `processing` (#375)
  backend/segmentation/services/postprocessing.py
  backend/segmentation/tests/unit/test_postprocessing_service.py
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
