Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix(video): propagate isVideoContainer + frame metadata to ProjectImage
  src/hooks/useProjectData.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(video): propagate isVideoContainer + frame metadata to ProjectImage (#147)
  src/hooks/useProjectData.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(video): serve frame-0 PNG for video container /display endpoint
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): serve frame-0 PNG for video container /display endpoint (#148)
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): route canvas image src through /display for containers + frames
  backend/src/api/controllers/imageController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): route canvas image src through /display for containers + frames (#149)
  backend/src/api/controllers/imageController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): show frames (not containers) in gallery + editor controls
  backend/src/api/controllers/imageController.ts
  backend/src/services/imageService.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(video): show frames (not containers) in gallery + editor controls (#150)
  backend/src/api/controllers/imageController.ts
  backend/src/services/imageService.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(editor): persist windowMin/Max + add brightness/contrast to ImageDisplayContext
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): apply brightness/contrast via CSS filter on CanvasImage
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): integrate frame scrubber + Play button into EditorHeader
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/EditorHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): new ChannelsSection + DisplaySection in sidebar
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(editor): strip VideoModeOverlay visible chrome + delete FrameSlider/WindowLevelSlider
  src/pages/segmentation/components/FrameSlider.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/components/WindowLevelSlider.tsx
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(i18n): editor channel-switcher / window-level / frame-navigation keys
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): reorganize video-mode UI (Play in header, sliders in sidebar) (#151)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/FrameSlider.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/components/WindowLevelSlider.tsx
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/useVideoFrames.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): canvas follows play head + channel + prefetch upcoming frames
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): canvas follows play head + channel + prefetch (#152)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): sync video.frameIndex with URL imageId + clip canvas overflow
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): sync video frame to URL + clip canvas overflow (#153)
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(api): add 'microtubule' to segmentationModelSchema enum
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): add 'microtubule' to segmentationModelSchema enum (#154)
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): send ML-safe filename for video-frame segmentation requests
  backend/src/services/segmentationService.ts
  backend/src/utils/__tests__/mlFilename.test.ts
  backend/src/utils/mlFilename.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): send ML-safe filename for video-frame segmentation requests (#155)
  backend/src/services/segmentationService.ts
  backend/src/utils/__tests__/mlFilename.test.ts
  backend/src/utils/mlFilename.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(microtubule): resolve CUDA OOM + add Segment-All channel picker
  backend/prisma/migrations/20260512_queue_channel/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/src/api/controllers/queueController.ts
  backend/src/services/__tests__/segmentationService.resolveChannelPath.test.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/__tests__/batchQueueSchema.channel.test.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  backend/src/utils/channelPath.ts
  docker-compose.production.yml
  src/components/project/SegmentChannelDialog.tsx
  src/components/project/__tests__/SegmentChannelDialog.test.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

fix(microtubule): resolve CUDA OOM + add Segment-All channel picker (#156)
  backend/prisma/migrations/20260512_queue_channel/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/src/api/controllers/queueController.ts
  backend/src/services/__tests__/segmentationService.resolveChannelPath.test.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/__tests__/batchQueueSchema.channel.test.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  backend/src/utils/channelPath.ts
  docker-compose.production.yml
  src/components/project/SegmentChannelDialog.tsx
  src/components/project/__tests__/SegmentChannelDialog.test.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

fix(api): expose originalPath in images-with-thumbnails for channel picker
  backend/src/api/controllers/imageController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): expose originalPath in images-with-thumbnails for channel picker (#157)
  backend/src/api/controllers/imageController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(channel-picker): aggregate channels from container rows + forward originalPath through FE mapper
  backend/src/api/controllers/imageController.ts
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(channel-picker): aggregate channels from container rows + forward originalPath through FE mapper (#158)
  backend/src/api/controllers/imageController.ts
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
