Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix(video): stop a half-corrected stack passing as a good upload
  backend/essays/module/README.md
  backend/essays/module/_mt_package.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/requirements-pytest-ci.txt
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/imageService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  docker/essays.Dockerfile
  docs/guides/automated-essays.md
  docs/superpowers/specs/2026-07-08-mt-add-channel-design.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): close the two back doors into the half-corrected state
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/videoUploadService.ts
  docs/superpowers/specs/2026-07-08-mt-add-channel-design.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): stop a half-corrected stack passing as a good upload (#400)
  backend/essays/module/README.md
  backend/essays/module/_mt_package.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/requirements-pytest-ci.txt
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/imageService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  docker/essays.Dockerfile
  docs/guides/automated-essays.md
  docs/superpowers/specs/2026-07-08-mt-add-channel-design.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(landing): invite financial support and let the specimen tray fill its column
  src/components/landing/SpecimenShowcase.tsx
  src/pages/Index.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(landing): scope the About email assertions to their own paragraph
  src/pages/__tests__/Index.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(landing): invite financial support and let the specimen tray fill its column (#401)
  src/components/landing/SpecimenShowcase.tsx
  src/pages/Index.tsx
  src/pages/__tests__/Index.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(kymograph): stop re-reading 56 MB of polygons to redraw the same picture
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): give a glued-on static channel's polylines a cross-frame trackId
  backend/src/api/controllers/__tests__/videoController.security.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/staticChannelProjection.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.sparse.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.trackId.test.ts
  backend/src/services/queueService.ts
  backend/src/services/staticChannelProjection.ts
  backend/src/services/staticChannelProjectionService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(kymograph): show the picture first and ask for velocities separately
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(export): stop the kymograph fan-out re-reading one container 180 times
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(essays): flag an out-of-focus frame without letting the flag decide anything
  .github/workflows/ci.yml
  CLAUDE.md
  backend/essays/module/README.md
  backend/essays/module/evaluate.py
  backend/essays/module/focus_qc/README.md
  backend/essays/module/focus_qc/__init__.py
  backend/essays/module/focus_qc/calibration.py
  backend/essays/module/focus_qc/cli.py
  backend/essays/module/focus_qc/conftest.py
  backend/essays/module/focus_qc/detect.py
  backend/essays/module/focus_qc/metrics.py
  backend/essays/module/focus_qc/reference/README.md
  backend/essays/module/focus_qc/reference/calibration.json
  backend/essays/module/focus_qc/reference/calibration_report.md
  backend/essays/module/focus_qc/reference/compare_alternatives.py
  backend/essays/module/focus_qc/reference/scores_cache.json
  backend/essays/module/focus_qc/reference/zstacks_oof_spec.json
  backend/essays/module/focus_qc/tests/__init__.py
  backend/essays/module/focus_qc/tests/test_calibration.py
  backend/essays/module/focus_qc/tests/test_cli.py
  backend/essays/module/focus_qc/tests/test_detect.py
  backend/essays/module/focus_qc/tests/test_metrics.py
  backend/essays/module/focus_qc/tests/test_regression_zstacks.py
  backend/essays/module/focus_qc/tests/test_zstack.py
  backend/essays/module/focus_qc/zstack.py
  backend/essays/module/mt_pipeline/__init__.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/essays/module/tests/test_focus_qc_columns.py
  docker/essays.Dockerfile
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(microtubules): ask which frames a delete means, instead of assuming all of them
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/__tests__/segmentationRoutes.test.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/DeleteTrackScopeDialog.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
  src/pages/segmentation/hooks/__tests__/useDeleteTrackScope.test.ts
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonHandlers.test.ts
  src/pages/segmentation/hooks/useDeleteTrackScope.ts
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs(essays): replace the focus-check cost figures with one clean back-to-back run
  backend/essays/module/README.md
  backend/essays/module/focus_qc/README.md
  backend/essays/module/focus_qc/metrics.py
  backend/essays/module/mt_pipeline/nd2_io.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(kymograph): stop re-decoding 1.3 GB of frames to read 200 pixels each
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): replace the blob tracker with KymoButler
  Makefile
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/kymobutler/LICENSE
  backend/segmentation/models/kymobutler/README.md
  backend/segmentation/models/kymobutler/__init__.py
  backend/segmentation/models/kymobutler/config.py
  backend/segmentation/models/kymobutler/graph_utils.py
  backend/segmentation/models/kymobutler/models/__init__.py
  backend/segmentation/models/kymobutler/models/weights.py
  backend/segmentation/models/kymobutler/morphology.py
  backend/segmentation/models/kymobutler/preprocessing.py
  backend/segmentation/models/kymobutler/segmentation.py
  backend/segmentation/models/kymobutler/tracking.py
  backend/segmentation/models/kymobutler/vision_module.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/kymographService.ts
  docs/api/ml-service.md
  docs/architecture/ml-service.md
  scripts/download-kymobutler-weights.sh
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/components/KymographModal.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): give a glued-on static channel's polylines a cross-frame trackId (#414)
  backend/src/api/controllers/__tests__/videoController.security.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/staticChannelProjection.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.sparse.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.trackId.test.ts
  backend/src/services/queueService.ts
  backend/src/services/staticChannelProjection.ts
  backend/src/services/staticChannelProjectionService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(kymograph): stop re-decoding 1.3 GB of frames to read 200 pixels each (#419)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): replace the blob tracker with KymoButler (#420)
  Makefile
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/kymobutler/LICENSE
  backend/segmentation/models/kymobutler/README.md
  backend/segmentation/models/kymobutler/__init__.py
  backend/segmentation/models/kymobutler/config.py
  backend/segmentation/models/kymobutler/graph_utils.py
  backend/segmentation/models/kymobutler/models/__init__.py
  backend/segmentation/models/kymobutler/models/weights.py
  backend/segmentation/models/kymobutler/morphology.py
  backend/segmentation/models/kymobutler/preprocessing.py
  backend/segmentation/models/kymobutler/segmentation.py
  backend/segmentation/models/kymobutler/tracking.py
  backend/segmentation/models/kymobutler/vision_module.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/kymographService.ts
  docs/api/ml-service.md
  docs/architecture/ml-service.md
  scripts/download-kymobutler-weights.sh
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/components/KymographModal.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(essays): flag an out-of-focus frame without letting the flag decide anything (#417)
  .github/workflows/ci.yml
  CLAUDE.md
  backend/essays/module/README.md
  backend/essays/module/evaluate.py
  backend/essays/module/focus_qc/README.md
  backend/essays/module/focus_qc/__init__.py
  backend/essays/module/focus_qc/calibration.py
  backend/essays/module/focus_qc/cli.py
  backend/essays/module/focus_qc/conftest.py
  backend/essays/module/focus_qc/detect.py
  backend/essays/module/focus_qc/metrics.py
  backend/essays/module/focus_qc/reference/README.md
  backend/essays/module/focus_qc/reference/calibration.json
  backend/essays/module/focus_qc/reference/calibration_report.md
  backend/essays/module/focus_qc/reference/compare_alternatives.py
  backend/essays/module/focus_qc/reference/scores_cache.json
  backend/essays/module/focus_qc/reference/zstacks_oof_spec.json
  backend/essays/module/focus_qc/tests/__init__.py
  backend/essays/module/focus_qc/tests/test_calibration.py
  backend/essays/module/focus_qc/tests/test_cli.py
  backend/essays/module/focus_qc/tests/test_detect.py
  backend/essays/module/focus_qc/tests/test_metrics.py
  backend/essays/module/focus_qc/tests/test_regression_zstacks.py
  backend/essays/module/focus_qc/tests/test_zstack.py
  backend/essays/module/focus_qc/zstack.py
  backend/essays/module/mt_pipeline/__init__.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/essays/module/tests/test_focus_qc_columns.py
  docker/essays.Dockerfile
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(kymograph): stop re-reading 56 MB of polygons to redraw the same picture (#413)
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(microtubules): ask which frames a delete means, instead of assuming all of them (#418)
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/__tests__/segmentationRoutes.test.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/DeleteTrackScopeDialog.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
  src/pages/segmentation/hooks/__tests__/useDeleteTrackScope.test.ts
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonHandlers.test.ts
  src/pages/segmentation/hooks/useDeleteTrackScope.ts
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

perf(export): stop the kymograph fan-out re-reading one container 180 times (#416)
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(kymograph): show the picture first and ask for velocities separately (#415)
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(kymograph): drop an async lock that landed inside a synchronous body
  backend/segmentation/api/tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph): drop an async lock that landed inside a synchronous body (#422)
  backend/segmentation/api/tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

ci: fail the build when a Python file will not compile
  .github/workflows/ci.yml
Due: prettier --write

fix(auth): key refresh tokens by their hash, not by the token
  backend/essays/module/focus_qc/README.md
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/sessionService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

ci: fail the build when a Python file will not compile (#423)
  .github/workflows/ci.yml
Due: prettier --write

fix(auth): key refresh tokens by their hash, not by the token (#424)
  backend/essays/module/focus_qc/README.md
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/sessionService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): give the editor's Resegment the same cross-frame tracking
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): give the editor's Resegment the same cross-frame tracking (#425)
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(kymograph): decode a frame once for every microtubule, not once each
  CLAUDE.md
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  docs/api/ml-service.md
  docs/architecture/ml-service.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(kymograph): decode a frame once for every microtubule, not once each (#426)
  CLAUDE.md
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  docs/api/ml-service.md
  docs/architecture/ml-service.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): give each microtubule pixel its own column, and widen the band
  CLAUDE.md
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/scripts/kymograph_cross_check.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph): give a trajectory the microtubule's background ring
  CLAUDE.md
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/export/exportDocs.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): give each microtubule pixel its own column, and widen the band (#427)
  CLAUDE.md
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/scripts/kymograph_cross_check.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph): give a trajectory the microtubule's background ring (#428)
  CLAUDE.md
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): sample the line the way ImageJ does, and let it have a width
  CLAUDE.md
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): sample the line the way ImageJ does, and let it have a width (#429)
  CLAUDE.md
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(export): let the kymograph export choose its line width
  backend/src/api/routes/__tests__/exportRoutes.test.ts
  backend/src/api/routes/exportRoutes.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/export/mtKymographExporter.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/components/__tests__/MicrotubuleKymographsSection.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
