Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(ml): add /track + /kymograph endpoints + queue fairness
  backend/segmentation/api/main.py
  backend/segmentation/api/tracker_kymograph.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/kymographService.ts
  backend/src/services/queueService.ts
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): video-mode overlay + microtubule export branch
  backend/src/services/export/exportDocs.ts
  src/pages/segmentation/components/VideoModeOverlay.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(editor): wire video overlay + docs + e2e skeleton
  CLAUDE.md
  src/pages/segmentation/SegmentationEditor.tsx
  tests/e2e/microtubule-video-workflow.spec.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(backend): correct config var name + queue order field
  backend/src/services/kymographService.ts
  backend/src/services/queueService.ts
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(deploy): HF_TOKEN env + HF cache volume + e2e fixture
  docker-compose.production.yml
  tests/e2e/microtubule-video-workflow.spec.ts
  tests/fixtures/video/README.md
  tests/fixtures/video/short_mt.mp4
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

build(backend): bake python3 + tifffile + nd2 into prod image
  docker/backend.optimized.Dockerfile
Due: none

fix(video): resolve helpers dir via import.meta.url for ESM
  backend/src/services/video/pythonExtractor.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(ui): readable framed button in dark mode
  src/components/ui/button-variants.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(db): allow 'microtubules' in projects.type check constraint
  backend/prisma/migrations/20260512_extend_project_type_check/migration.sql
Due: bash -c 'sqlfluff lint $0 || true'

feat(settings): show Microtubule + Disintegrated Spheroid model sections
  src/components/settings/ModelSettingsSection.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(upload): 100 GB cap for videos + ND2
  backend/src/middleware/upload.ts
  docker/nginx/nginx.production.conf
  src/components/upload/DropZone.tsx
  src/lib/constants.ts
  src/lib/uploadConfig.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(upload): route videos to /videos + bump nginx conn limit to 50
  CLAUDE.md
  docker/nginx/nginx.production.conf
  src/contexts/UploadContext.tsx
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(security+data): authz + channel whitelist + disk-storage + cleanup + tx timeout
  .gitignore
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/db/prismaClient.ts
  backend/src/middleware/upload.ts
  backend/src/services/imageService.ts
  backend/src/services/kymographService.ts
  backend/src/services/queueService.ts
  backend/src/services/tracking/trackerService.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(review): batch 3+4 — extractors, viridis, types, error detail
  backend/segmentation/api/tracker_kymograph.py
  backend/src/services/segmentationService.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonExtractor.ts
  src/contexts/UploadContext.tsx
  src/lib/segmentation.ts
  src/pages/segmentation/hooks/useVideoFrames.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(review): tracker + kymograph + UploadContext file-split coverage
  backend/segmentation/tests/test_tracker_kymograph.py
  src/contexts/__tests__/UploadContext.video-split.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(review-round2): tracker race + cancel UX + cosine neutral + regression tests
  backend/segmentation/api/tracker_kymograph.py
  backend/src/api/controllers/__tests__/videoController.security.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/imageService.deleteVideoContainer.test.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
  src/contexts/UploadContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(tracker): close check-then-act race in in-flight guard
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(db): add Feedback model + migration for bug/feature reports
  backend/prisma/migrations/20260513_add_feedback/migration.sql
  backend/prisma/schema.prisma
Due: bash -c 'sqlfluff lint $0 || true'

chore: ignore .remember scratch + format UploadContext leftovers
  .prettierignore
  eslint.config.js
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.video-split.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(backend): mirror KnownModelId literal union to satisfy shared-types check
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(api): feedback service + email template + Zod schema
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/services/feedbackService.ts
  backend/src/templates/feedbackReceivedEmail.ts
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(api): feedback route + controller + rate limit + 5MB attachment multer
  backend/src/api/controllers/feedbackController.ts
  backend/src/api/routes/feedbackRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/middleware/upload.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(ui): FeedbackDialog + button + drag-and-drop screenshot dropzone
  src/components/feedback/FeedbackAttachmentDropzone.tsx
  src/components/feedback/FeedbackButton.tsx
  src/components/feedback/FeedbackDialog.tsx
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(ui): wire FeedbackButton into DashboardHeader
  src/components/DashboardHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(i18n): feedback namespace across all 6 locales
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(feedback): backend service unit tests + frontend dialog smoke tests
  backend/src/services/__tests__/feedbackService.test.ts
  src/components/feedback/__tests__/FeedbackDialog.test.tsx
  src/test/setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat: in-app bug/feature feedback button with email notification (#143)
  .prettierignore
  backend/prisma/migrations/20260513_add_feedback/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/feedbackController.ts
  backend/src/api/routes/feedbackRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/middleware/upload.ts
  backend/src/services/__tests__/feedbackService.test.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/services/feedbackService.ts
  backend/src/templates/feedbackReceivedEmail.ts
  backend/src/types/validation.ts
  eslint.config.js
  src/components/DashboardHeader.tsx
  src/components/feedback/FeedbackAttachmentDropzone.tsx
  src/components/feedback/FeedbackButton.tsx
  src/components/feedback/FeedbackDialog.tsx
  src/components/feedback/__tests__/FeedbackDialog.test.tsx
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.video-split.test.tsx
  src/lib/api.ts
  src/test/setup.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(video): store full storage key in Image.originalPath / thumbnailPath
  backend/src/api/controllers/videoController.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): store full storage key in Image.originalPath / thumbnailPath (#144)
  backend/src/api/controllers/videoController.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): widen Image.fileSize to BigInt + Redis-auth ND2 upload 500
  backend/prisma/migrations/20260512_filesize_bigint/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/authController.ts
  backend/src/server.ts
  backend/src/services/imageService.ts
  backend/src/services/projectService.ts
  backend/src/services/userService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(video): widen Image.fileSize to BigInt + Redis-auth ND2 upload 500 (#145)
  backend/prisma/migrations/20260512_filesize_bigint/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/authController.ts
  backend/src/server.ts
  backend/src/services/imageService.ts
  backend/src/services/projectService.ts
  backend/src/services/userService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(video): surface isVideoContainer + frame metadata via images-with-thumbnails
  backend/src/api/controllers/imageController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): surface isVideoContainer + frame metadata via images-with-thumbnails (#146)
  backend/src/api/controllers/imageController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
