Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

temp: remove workflow file to resolve OAuth scope issue
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve ESLint warnings to improve code quality
  src/components/ui/sidebar.tsx
  src/contexts/WebSocketContext.tsx
  src/hooks/useOptimizedPolygonRendering.tsx
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/test/utils/test-providers.tsx
  src/test/utils/test-utils.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

refactor: remove legacy adapter and migrate to direct polygon usage
  src/components/StatsOverview.tsx
  src/components/header/NotificationsDropdown.tsx
  src/components/project/ImageCard.tsx
  src/components/ui/carousel.tsx
  src/lib/api.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/adapters/legacyAdapter.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/RegionPanel.tsx
  src/pages/segmentation/components/StatusBar.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: improve slice mode workflow and fix polygon slicing algorithm
  .husky/pre-commit
  .lintstagedrc.json
  src/components/project/ProjectToolbar.tsx
  src/lib/api.ts
  src/lib/polygonSlicing.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: implement comprehensive strict pre-commit hooks
  .eslintcache
  .husky/pre-commit
  .lintstagedrc.json
  backend/package.json
  package-lock.json
Due: prettier --write

fix: resolve all TypeScript errors and enhance pre-commit hooks
  .husky/pre-commit
  backend/src/auth/jwt.ts
  backend/src/middleware/swagger.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/websocketService.ts
  backend/src/types/validation.ts
  eslint.config.js
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: address code review feedback and improve configuration
  .eslintcache
  .gitignore
  .lintstagedrc.json
Due: prettier --write

feat: improve project configuration and backend tests
  .eslintcache
  backend/src/test/integration/api.integration.test.ts
  vite.config.ts
  vitest.setup.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: add TypeScript testing configuration infrastructure
  tsconfig.json
  tsconfig.test.json
  vitest.setup.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: resolve critical ML service PyTorch compatibility issue
  .lintstagedrc.json
  backend/segmentation/ml/model_loader.py
  tests/e2e/polygon-editing.spec.ts
  tests/e2e/websocket-queue.spec.ts
  tests/performance/segmentation-performance.spec.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: resolve panning issues in segmentation editor
  .env.production.example
  .gitignore
  backend/segmentation/ml/model_loader.py
  src/components/project/CanvasThumbnailRenderer.tsx
  src/hooks/useStatusReconciliation.tsx
  src/lib/coordinateUtils.ts
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/translations/fr.ts
  tests/e2e/polygon-editing.spec.ts
  tests/performance/segmentation-performance.spec.ts
  tsconfig.test.json
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: implement hole detection in cell segmentation
  backend/segmentation/ml/model_loader.py
  backend/segmentation/services/postprocessing.py
  backend/src/services/segmentationService.ts
  src/lib/segmentation.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

refactor: comprehensive codebase improvements and optimizations
  .env.production
  .env.production.example
  .eslintrc-i18n.js
  backend/add_segmentation_thumbnails.sql
  backend/src/api/routes/imageRoutes.ts
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/thumbnailService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/workers/queueWorker.ts
  scripts/check-i18n.cjs
  src/lib/__tests__/polygonGeometry.test.ts
  src/lib/__tests__/polygonSlicing.test.ts
  src/lib/api.ts
  src/lib/export-config.ts
  src/lib/imageProcessingService.ts
  src/lib/performanceMonitor.ts
  src/lib/thumbnailCache.ts
  src/pages/PrivacyPolicy.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/hooks/useAdvancedExport.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/utils/metricCalculations.ts
  src/test-utils/reactTestUtils.tsx
  src/translations/cs.ts
  src/translations/en.ts
  src/translations/zh.ts
  tests/e2e/segmentation-workflow.spec.ts
  tests/e2e/websocket-queue.spec.ts
  tests/performance/segmentation-performance.spec.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: update production scripts with executable permissions and proper shell syntax
  docker-compose.prod.yml
  docker-compose.production.yml
  docker/startup.sh
  scripts/fix-production-deployment.sh
  scripts/init-db.sh
  scripts/wait-for-db.sh
Due: prettier --write

feat: comprehensive production deployment improvements and optimizations
  CLAUDE.md
  Makefile
  backend/prisma/schema.prisma
  backend/src/api/routes/queueRoutes.ts
  backend/src/db/index.ts
  backend/startup.sh
  backend/wait-for-db.sh
  docker-compose.prod-simple.yml
  docker-compose.prod.yml
  docker-compose.production.yml
  docker/backend-entrypoint.sh
  docker/backend.prod.Dockerfile
  docker/backend.production.Dockerfile
  docker/frontend-copy.Dockerfile
  docker/frontend.prod.Dockerfile
  docker/frontend.production.Dockerfile
  docker/nginx/nginx.conf
  docker/nginx/sites/spherosegapp.conf
  scripts/init-prod-db.sh
  src/hooks/useQueueStatusPolling.ts
  src/hooks/useSegmentationQueue.tsx
  src/hooks/useWebSocketToasts.ts
  src/lib/websocketEvents.ts
  src/services/webSocketManager.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: implement smart commit command with automated pre-commit hook fixes
  CLAUDE.md
  backend/entrypoint.sh
  backend/src/server.ts
  backend/src/utils/config.ts
  docker-compose.prod.yml
  docker-compose.yml
  docker/backend.prod.Dockerfile
  docker/nginx/nginx.conf
  docker/nginx/nginx.prod.conf
  docker/nginx/sites/spherosegapp.conf
  src/lib/api.ts
  src/lib/httpUtils.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: comprehensive production deployment and security improvements
  CLAUDE.md
  backend/backend.prod.Dockerfile
  backend/entrypoint.sh
  backend/package-lock.json
  backend/package.json
  backend/src/db/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/upload.ts
  backend/src/middleware/validation.ts
  backend/src/test/setup.ts
  backend/src/utils/config.ts
  backend/tsconfig.build.json
  backend/wait-for-db.sh
  docker-compose.prod.yml
  docker-compose.secrets.yml
  docker-compose.yml
  docker/backend-entrypoint.sh
  docker/nginx/nginx.conf
  docker/nginx/nginx.prod.conf
  docker/nginx/sites/spherosegapp.conf
  docker/startup.sh
  monitoring/prometheus.yml
  scripts/deploy.sh
  scripts/fix-production-deployment.sh
  scripts/init-db.sh
  scripts/setup-secrets.sh
  src/hooks/useImageFilter.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/RegionPanel.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: add comprehensive SSL automation and business metrics monitoring
  CLAUDE.md
  backend/src/api/controllers/authController.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/metricsRoutes.ts
  backend/src/middleware/monitoring.ts
  backend/src/server.ts
  backend/src/services/businessMetrics.ts
  docker-compose.certbot.yml
  docker-compose.prod.yml
  monitoring/business-dashboard-config.md
  monitoring/prometheus.yml
  scripts/certbot-renew.sh
  scripts/check-ssl-expiry.sh
  scripts/init-letsencrypt.sh
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: comprehensive bug fixes across deployment, backend, and frontend
  PRODUCTION_NETWORK_FIX.md
  backend/backend.prod.Dockerfile
  backend/src/services/businessMetrics.ts
  backend/src/utils/config.ts
  backend/startup.sh
  docker/ml.prod.Dockerfile
  docker/startup.sh
  monitoring/business-dashboard-config.md
  scripts/fix-production-deployment.sh
  scripts/init-letsencrypt.sh
  scripts/wait-for-db.sh
  src/pages/segmentation/components/RegionPanel.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: resolve CORS issues in staging ML service
  .env.staging
  .env.staging.example
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/test.yml
  CI_CD_SETUP.md
  CLAUDE.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  STAGING.md
  backend/segmentation/api/main.py
  docker-compose.staging.yml
  docker/nginx/nginx.conf
  docker/nginx/sites/staging.spherosegapp.conf
  docker/nginx/staging.conf
  monitoring/staging-prometheus.yml
  scripts/complete-staging-setup.sh
  scripts/deploy-from-staging.sh
  scripts/deploy-production.sh
  scripts/deploy-staging.sh
  scripts/enable-staging-https.sh
  scripts/expand-ssl-staging.sh
  scripts/init-letsencrypt-staging.sh
  scripts/rollback-production.sh
  scripts/staging-manager.sh
  scripts/test-staging.sh
Due: prettier --write

feat: simplify staging workflow for local deployment
  .github/workflows/staging.yml
  scripts/auto-deploy-staging.sh
Due: prettier --write

feat: implement strict pre-commit hooks and auto-deploy system
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/test.yml
  .husky/pre-commit
  CLAUDE.md
  auto-deploy.pid
  package-lock.json
  package.json
  scripts/auto-deploy-production.sh
  scripts/install-auto-deploy.sh
  scripts/install-production-auto-deploy.sh
  scripts/staging-auto-deploy.service
Due: prettier --write

docs: add smart commit command to CLAUDE.md
  .husky/pre-commit
  CLAUDE.md
  backend/src/api/controllers/imageController.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  package-lock.json
  package.json
  scripts/check-i18n.cjs
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: improve auto-deploy script with safe git operations
  scripts/auto-deploy-staging-safe.sh
  scripts/auto-deploy-staging.sh
Due: none

feat: temporarily simplify hooks for dependency fix
  .env.staging
  .husky/commit-msg
  .husky/pre-commit
  CLAUDE.md
  auto-deploy.pid
  docker-compose.staging.yml
  package-lock.json
  package.json
  scripts/install-auto-deploy.sh
  simple-test.js
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: implement auto-reset and fix image numbering in segmentation editor
  .github/workflows/pre-merge-checks.yml
  .husky/pre-commit
  .husky/pre-merge
  docs/hooks-guide.md
  docs/setup-branch-protection.md
  scripts/pre-merge-check.sh
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  test.txt
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: resolve useRef import error and rebuild production server
  .env.hooks.example
  .github/workflows/pre-merge-checks.yml
  .husky/pre-commit
  SETUP_PROTECTION.md
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker/nginx/nginx.prod.conf
  docker/nginx/sites/staging.spherosegapp.conf.disabled
  docs/hooks-guide.md
  docs/setup-branch-protection.md
  scripts/quick-protection-setup.sh
  scripts/setup-branch-protection.sh
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

fix: critical security vulnerabilities remediation
  .env.test.example
  backend/src/storage/localStorage.ts
  backend/src/utils/prismaModelValidator.ts
  docker-compose.test.yml
  src/components/ui/chart.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: migrate from SQLite to PostgreSQL for production readiness
  POSTGRESQL_MIGRATION.md
  backend/entrypoint.sh
  backend/prisma/migrations/20250120_postgresql_migration/migration.sql
  backend/scripts/migrate-to-postgres.js
  docker-compose.postgres.yml
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

feat: implement blue-green deployment system and fix production routing
  .env.production.example
  .env.staging
  CLAUDE.md
  backend/docker/nginx/nginx.staging.conf
  docker-compose.staging.yml
  docker/nginx/nginx.prod.conf
  docs/DEPLOYMENT.md
  scripts/deploy-blue-green.sh
  scripts/deployment-health-check.sh
  scripts/generate-prod-env.sh
  scripts/generate-ssl-certs.sh
  scripts/rollback-deployment.sh
  scripts/switch-to-production.sh
  scripts/switch-to-staging.sh
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write, bash -c 'npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})
  bash -c 'npm run type-check': any of: *.{ts,tsx,js,jsx}
