Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(project): drag & drop file picker in Add channel dialog
  src/components/project/AddChannelDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(project): distinct drop-rejection messages + clear stale error on reopen
  src/components/project/AddChannelDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(project): drag & drop file picker in Add channel dialog (#292)
  src/components/project/AddChannelDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(metrics): core-required disintegration index matching paper eq (1)
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.basicMetrics.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.gaps.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(metrics): core-required disintegration index matching paper eq (1) (#293)
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.basicMetrics.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.gaps.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(metrics): disintegration metric panel in the export
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.basicMetrics.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.gaps.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(metrics): disintegration metric panel in the export (#294)
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.basicMetrics.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.gaps.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(backend): consolidate metricsCalculator + segmentationService test clusters
  backend/src/services/__tests__/segmentationService.batch-fix.test.ts
  backend/src/services/__tests__/segmentationService.concurrent.test.ts
  backend/src/services/__tests__/segmentationService.crossFrame.test.ts
  backend/src/services/__tests__/segmentationService.gaps.test.ts
  backend/src/services/__tests__/segmentationService.gaps3.test.ts
  backend/src/services/__tests__/segmentationService.gaps4.test.ts
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
  backend/src/services/__tests__/segmentationService.integration.test.ts
  backend/src/services/__tests__/segmentationService.resolveChannelPath.test.ts
  backend/src/services/__tests__/segmentationService.ssot.test.ts
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/__tests__/segmentationService.trackOpsService.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.basicMetrics.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.gaps.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.gaps5.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.sperm.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): consolidate exportService/imageService/queueService/emailRetryService clusters
  backend/src/services/__tests__/emailRetryService.behavior.test.ts
  backend/src/services/__tests__/emailRetryService.cleanup.test.ts
  backend/src/services/__tests__/emailRetryService.dedup.test.ts
  backend/src/services/__tests__/emailRetryService.gaps.test.ts
  backend/src/services/__tests__/emailRetryService.gaps4.test.ts
  backend/src/services/__tests__/emailRetryService.gaps5.test.ts
  backend/src/services/__tests__/emailRetryService.gaps6.test.ts
  backend/src/services/__tests__/emailRetryService.test.ts
  backend/src/services/__tests__/exportService.gaps.test.ts
  backend/src/services/__tests__/exportService.gaps2.test.ts
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/__tests__/exportService.gaps4.test.ts
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/__tests__/exportService.sperm.test.ts
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/__tests__/exportService.woundTimeSeries.test.ts
  backend/src/services/__tests__/imageService.deleteVideoContainer.test.ts
  backend/src/services/__tests__/imageService.display.test.ts
  backend/src/services/__tests__/imageService.gaps.test.ts
  backend/src/services/__tests__/imageService.gaps2.test.ts
  backend/src/services/__tests__/imageService.gaps3.test.ts
  backend/src/services/__tests__/imageService.gaps5.test.ts
  backend/src/services/__tests__/imageService.gaps6.test.ts
  backend/src/services/__tests__/imageService.test.ts
  backend/src/services/__tests__/queueService.gaps.test.ts
  backend/src/services/__tests__/queueService.gaps2.test.ts
  backend/src/services/__tests__/queueService.gaps3.test.ts
  backend/src/services/__tests__/queueService.gaps5.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/queueService.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(frontend): consolidate ProjectDetail / api / editor / export hook test clusters
  src/lib/__tests__/api-advanced.test.ts
  src/lib/__tests__/api-chunked-upload.test.ts
  src/lib/__tests__/api-interceptors.test.ts
  src/lib/__tests__/api-methods.test.ts
  src/lib/__tests__/api-segmentation.test.ts
  src/lib/__tests__/api-uncovered.test.ts
  src/lib/__tests__/api-upload-signal.test.ts
  src/lib/__tests__/api.extra.test.ts
  src/lib/__tests__/api.gaps2.test.ts
  src/lib/__tests__/api.integration.test.ts
  src/lib/__tests__/api.test.ts
  src/lib/__tests__/apiSimple.test.ts
  src/lib/__tests__/helpers/apiClientTestKit.ts
  src/pages/__tests__/ProjectDetail.additional.test.tsx
  src/pages/__tests__/ProjectDetail.extra.test.tsx
  src/pages/__tests__/ProjectDetail.gaps.test.tsx
  src/pages/__tests__/ProjectDetail.gaps2.test.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.events.test.ts
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.extra.test.ts
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.gaps.test.ts
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.gaps2.test.ts
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.triggerDownload.test.ts
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.extra.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.gaps.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.gaps3.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.save.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(backend): consolidate remaining 3-6 file test clusters
  backend/src/api/controllers/__tests__/exportController.gaps.test.ts
  backend/src/api/controllers/__tests__/exportController.gaps2.test.ts
  backend/src/api/controllers/__tests__/exportController.gaps5.test.ts
  backend/src/api/controllers/__tests__/exportController.test.ts
  backend/src/api/controllers/__tests__/imageController.behavior.test.ts
  backend/src/api/controllers/__tests__/imageController.gaps3.test.ts
  backend/src/api/controllers/__tests__/imageController.gaps4.test.ts
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps5.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/businessMetrics.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps6.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.test.ts
  backend/src/services/__tests__/authService.avatar.test.ts
  backend/src/services/__tests__/authService.branch.test.ts
  backend/src/services/__tests__/authService.gaps.test.ts
  backend/src/services/__tests__/authService.gaps5.test.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/utils/__tests__/database.gaps5.test.ts
  backend/src/utils/__tests__/database.gaps6.test.ts
  backend/src/utils/__tests__/database.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): consolidate remaining accreted test clusters (wave 2)
  backend/src/api/controllers/__tests__/exportController.gaps.test.ts
  backend/src/api/controllers/__tests__/exportController.gaps2.test.ts
  backend/src/api/controllers/__tests__/exportController.gaps5.test.ts
  backend/src/api/controllers/__tests__/exportController.test.ts
  backend/src/api/controllers/__tests__/imageController.behavior.test.ts
  backend/src/api/controllers/__tests__/imageController.gaps3.test.ts
  backend/src/api/controllers/__tests__/imageController.gaps4.test.ts
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps5.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/businessMetrics.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps6.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.test.ts
  backend/src/services/__tests__/authService.avatar.test.ts
  backend/src/services/__tests__/authService.branch.test.ts
  backend/src/services/__tests__/authService.gaps.test.ts
  backend/src/services/__tests__/authService.gaps5.test.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/utils/__tests__/database.gaps5.test.ts
  backend/src/utils/__tests__/database.gaps6.test.ts
  backend/src/utils/__tests__/database.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): consolidate remaining accreted test clusters (wave 2) (#297)
  backend/src/api/controllers/__tests__/exportController.gaps.test.ts
  backend/src/api/controllers/__tests__/exportController.gaps2.test.ts
  backend/src/api/controllers/__tests__/exportController.gaps5.test.ts
  backend/src/api/controllers/__tests__/exportController.test.ts
  backend/src/api/controllers/__tests__/imageController.behavior.test.ts
  backend/src/api/controllers/__tests__/imageController.gaps3.test.ts
  backend/src/api/controllers/__tests__/imageController.gaps4.test.ts
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps5.test.ts
  backend/src/monitoring/__tests__/businessMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/businessMetrics.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.gaps6.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.gaps6.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.test.ts
  backend/src/services/__tests__/authService.avatar.test.ts
  backend/src/services/__tests__/authService.branch.test.ts
  backend/src/services/__tests__/authService.gaps.test.ts
  backend/src/services/__tests__/authService.gaps5.test.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/utils/__tests__/database.gaps5.test.ts
  backend/src/utils/__tests__/database.gaps6.test.ts
  backend/src/utils/__tests__/database.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(mt): stamp mtType optimistically so type labels stick (Marika's bugs)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/utils/__tests__/mtTypeTargets.test.ts
  src/pages/segmentation/utils/mtTypeTargets.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(mt): address PR review — no-op skip, pre-await snapshot, SSOT
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/utils/__tests__/mtTypeTargets.test.ts
  src/pages/segmentation/utils/mtTypeTargets.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt): only warn on genuine cross-frame desync, not no-op re-assign
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(editor): spec for joining polylines by endpoint in add-points mode
  docs/superpowers/specs/2026-07-15-polyline-join-addpoints-design.md
Due: prettier --write

docs(editor): implementation plan for polyline join in add-points mode
  docs/superpowers/plans/2026-07-15-polyline-join-addpoints.md
Due: prettier --write

feat(editor): pure polyline-join utilities (gate, endpoint hit-test, merge)
  src/pages/segmentation/utils/polylineJoin.test.ts
  src/pages/segmentation/utils/polylineJoin.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): join same-class polyline on endpoint click in add-points mode
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): track hovered join target for same-class polyline endpoints
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.extra2.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.gaps.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertex.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): render ring highlight over joinable polyline endpoint
  src/pages/segmentation/components/EnhancedSegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasTemporaryGeometryLayer.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasTemporaryGeometryLayer.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): add-points join hint + i18n across 6 locales
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: allow autonomous production deploys (drop explicit-permission gate)
  CLAUDE.md
Due: prettier --write

fix(ml): exact-thickness MT band so area_px matches nominal + ImageJ ROI
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(ml): /mt-background-rois composite ROIs (band minus all MTs) for ImageJ export
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/requirements.txt
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(export): ImageJ _bg ROI = exact composite (band minus all MTs) via ML
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): validate ML bg-ROI response + surface fallback to user
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejRoiEncoder.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(export): cover ML bg-ROI validation + request-filtering branches
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(segmentation): drop flaky wall-clock renderTime gate
  src/pages/segmentation/__tests__/PolygonIdValidation.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(segmentation): drop flaky wall-clock renderTime gate (#302)
  src/pages/segmentation/__tests__/PolygonIdValidation.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
