Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(microcapsule): keep full CHAIN_APPROX_SIMPLE boundary (no approxPolyDP) (#249)
  backend/segmentation/models/microcapsule.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(microcapsule): Feret max/min + ovality metrics, 20px edge margin, guide formulas
  backend/segmentation/models/microcapsule.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(microcapsule): Feret max/min + ovality metrics, 20px edge margin, guide formulas (#250)
  backend/segmentation/models/microcapsule.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): correct Feret-guide formulas, ovality guard, border test
  backend/segmentation/tests/test_microcapsule_model.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): correct Feret-guide formulas, ovality guard, border test (#251)
  backend/segmentation/tests/test_microcapsule_model.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(metrics): de-staircase contour perimeter so circularity/compactness aren't deflated
  backend/segmentation/tests/unit/test_characteristic_functions.py
  backend/segmentation/utils/characteristic_functions.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(metrics): de-staircase contour perimeter so circularity/compactness aren't deflated (#252)
  backend/segmentation/tests/unit/test_characteristic_functions.py
  backend/segmentation/utils/characteristic_functions.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(metrics): clamp Compactness to >= 1.0 (isoperimetric bound)
  backend/segmentation/tests/unit/test_characteristic_functions.py
  backend/segmentation/utils/characteristic_functions.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(metrics): clamp Compactness to >= 1.0 (isoperimetric bound) (#253)
  backend/segmentation/tests/unit/test_characteristic_functions.py
  backend/segmentation/utils/characteristic_functions.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): bright-outlier flag + per-channel xlsx velocity export
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph-export): seed from first frame with a usable polyline
  backend/src/services/export/mtKymographExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(kymograph): bright-outlier flag + per-channel xlsx velocity export (#254)
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(ci): add PR test gate (tsc/eslint/i18n/vitest+coverage)
  .github/workflows/ci.yml
  .github/workflows/nightly-drift.yml
Due: prettier --write

test: update two stale tests after intentional source refactors
  src/components/__tests__/DashboardHeader.test.tsx
  src/lib/models/__tests__/modelRegistry.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: de-stale 21 test files so the full FE+BE suites run green
  backend/src/api/controllers/__tests__/queueController.behavior.test.ts
  backend/src/api/routes/__tests__/mlRoutes.test.ts
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/__tests__/imageService.gaps2.test.ts
  backend/src/services/__tests__/imageService.gaps3.test.ts
  backend/src/services/__tests__/imageService.test.ts
  backend/src/services/__tests__/segmentationService.gaps.test.ts
  backend/src/services/__tests__/segmentationService.gaps3.test.ts
  backend/src/services/__tests__/segmentationService.gaps4.test.ts
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
  backend/src/services/__tests__/webSocketService.cancel.test.ts
  backend/src/services/__tests__/websocketService.realtime.test.ts
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/storage/__tests__/localStorage.behavior.test.ts
  backend/src/storage/__tests__/localStorage.test.ts
  backend/src/test/integration/dashboardMetrics.integration.test.ts
  backend/src/test/integration/projectCard.realtime.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
  src/contexts/__tests__/AuthContext.test.tsx
  src/pages/segmentation/__tests__/VertexDeletionIntegration.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore(ci): apply PR #255 review — delete missed dead-route test, fix comment accuracy
  .github/workflows/ci.yml
  .github/workflows/nightly-drift.yml
  backend/src/api/controllers/__tests__/queueController.behavior.test.ts
  backend/src/test/integration/mlAuthenticationBoundaries.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore(ci): apply PR #255 review — de-vacuum tests + harden checkout
  .github/workflows/ci.yml
  backend/src/services/__tests__/imageService.gaps2.test.ts
  backend/src/services/__tests__/imageService.gaps3.test.ts
  backend/src/services/__tests__/imageService.test.ts
  backend/src/services/__tests__/segmentationService.gaps.test.ts
  backend/src/services/__tests__/segmentationService.gaps3.test.ts
  backend/src/services/__tests__/segmentationService.gaps4.test.ts
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
  backend/src/services/__tests__/websocketService.realtime.test.ts
  src/components/__tests__/DashboardHeader.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

Microtubule analysis pipeline for ND2 well recordings
  .gitignore
  MODEL.md
  README.md
  config/dinov3_vitl16/config.json
  evaluate.py
  infer.py
  microtubule/__init__.py
  microtubule/pysoax.py
  microtubule/segment_mt.py
  microtubule/synth_irm/__init__.py
  microtubule/synth_irm/training/__init__.py
  microtubule/synth_irm/training/model_v3.py
  microtubule/synth_irm/training/model_v4.py
  microtubule/wrapper.py
  mt_pipeline/__init__.py
  mt_pipeline/measure.py
  mt_pipeline/nd2_io.py
  mt_pipeline/report.py
  requirements.txt
  scripts/__init__.py
  scripts/download_weights.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(ci): add PR test gate (tsc/eslint/i18n/vitest+coverage) (#255)
  .github/workflows/ci.yml
  .github/workflows/nightly-drift.yml
  backend/src/api/controllers/__tests__/queueController.behavior.test.ts
  backend/src/api/routes/__tests__/mlRoutes.test.ts
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/__tests__/imageService.gaps2.test.ts
  backend/src/services/__tests__/imageService.gaps3.test.ts
  backend/src/services/__tests__/imageService.test.ts
  backend/src/services/__tests__/segmentationService.gaps.test.ts
  backend/src/services/__tests__/segmentationService.gaps3.test.ts
  backend/src/services/__tests__/segmentationService.gaps4.test.ts
  backend/src/services/__tests__/segmentationService.gaps5.test.ts
  backend/src/services/__tests__/webSocketService.cancel.test.ts
  backend/src/services/__tests__/websocketService.realtime.test.ts
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/storage/__tests__/localStorage.behavior.test.ts
  backend/src/storage/__tests__/localStorage.test.ts
  backend/src/test/integration/dashboardMetrics.integration.test.ts
  backend/src/test/integration/mlAuthenticationBoundaries.test.ts
  backend/src/test/integration/projectCard.realtime.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
  src/components/__tests__/DashboardHeader.test.tsx
  src/contexts/__tests__/AuthContext.test.tsx
  src/lib/models/__tests__/modelRegistry.test.ts
  src/pages/segmentation/__tests__/VertexDeletionIntegration.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore(deps): patch reachable security advisories (nodemailer, js-yaml, python-multipart)
  backend/package-lock.json
  backend/package.json
  backend/segmentation/requirements.txt
  package-lock.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

Rewrite README as a complete usage guide
  README.md
  docs/example_bands.png
  docs/example_overlay.png
Due: prettier --write

chore(deps): patch reachable security advisories (nodemailer, js-yaml, python-multipart) (#256)
  backend/package-lock.json
  backend/package.json
  backend/segmentation/requirements.txt
  package-lock.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

fix(security): neutralize log-forging + harden two CodeQL hotspots
  backend/segmentation/api/main.py
  backend/src/services/feedbackService.ts
  backend/src/services/projectService.ts
  backend/src/utils/__tests__/logger.gaps5.test.ts
  backend/src/utils/logger.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(security): neutralize log-forging + harden two CodeQL hotspots (#257)
  backend/segmentation/api/main.py
  backend/src/services/feedbackService.ts
  backend/src/services/projectService.ts
  backend/src/utils/__tests__/logger.gaps5.test.ts
  backend/src/utils/logger.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(websocket): auto-recover connection instead of giving up after 10 attempts
  src/hooks/__tests__/useWebSocketToasts.test.ts
  src/hooks/useWebSocketToasts.ts
  src/lib/__tests__/websocketEvents.test.ts
  src/lib/websocketEvents.ts
  src/services/__tests__/webSocketIntegration.test.ts
  src/services/__tests__/webSocketManager.test.ts
  src/services/__tests__/webSocketPerformance.test.ts
  src/services/__tests__/webSocketRealtimeWorkflows.test.ts
  src/services/webSocketManager.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(export): bundle ImageJ ROI files in microtubule exports
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(websocket): auto-recover connection instead of giving up after 10 attempts (#258)
  src/hooks/__tests__/useWebSocketToasts.test.ts
  src/hooks/useWebSocketToasts.ts
  src/lib/__tests__/websocketEvents.test.ts
  src/lib/websocketEvents.ts
  src/services/__tests__/webSocketIntegration.test.ts
  src/services/__tests__/webSocketManager.test.ts
  src/services/__tests__/webSocketPerformance.test.ts
  src/services/__tests__/webSocketRealtimeWorkflows.test.ts
  src/services/webSocketManager.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt-export): match visualization badge to a metrics.xlsx label column
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/visualization/__tests__/visualizationGenerator.test.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/utils/__tests__/instanceLabels.test.ts
  backend/src/utils/instanceLabels.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(mt-export): harden label join + tighten types (PR review)
  backend/src/services/__tests__/exportService.gaps2.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/utils/__tests__/instanceLabels.test.ts
  backend/src/utils/instanceLabels.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): harden ImageJ ROI export per PR review
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
