Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(video): multi-channel + single-frame TIFF upload (Marika bug reports)
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  src/contexts/UploadContext.tsx
  src/lib/__tests__/uploadUtils.test.ts
  src/lib/uploadUtils.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): hide-all for polyline list + robust right-sidebar scroll
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(video): address PR-review findings (logging, wavelength guard, tests)
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
  src/lib/__tests__/uploadUtils.test.ts
  src/lib/uploadUtils.ts
  src/pages/segmentation/components/__tests__/PolygonListPanel.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): shrink-0 on DisplaySection so contrast controls never compress
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(video): multi-channel + single-frame TIFF upload; hide-all polylines; sidebar scroll (#278)
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
  src/contexts/UploadContext.tsx
  src/lib/__tests__/uploadUtils.test.ts
  src/lib/uploadUtils.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/__tests__/PolygonListPanel.test.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(export): write MT thickness as ImageJ ROI stroke width
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(export): write MT thickness as ImageJ ROI stroke width (#279)
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(video): opt-in multimodal channel registration at upload (MT projects)
  backend/src/api/controllers/videoController.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/videoExtractor.ts
  backend/src/services/videoUploadService.ts
  src/components/ImageUploader.tsx
  src/contexts/UploadContext.tsx
  src/lib/api.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(uploader): provide QueryClientProvider for ImageUploader test
  src/components/__tests__/ImageUploader.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(video): opt-in multimodal channel registration at upload (MT projects) (#280)
  backend/src/api/controllers/videoController.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/videoExtractor.ts
  backend/src/services/videoUploadService.ts
  src/components/ImageUploader.tsx
  src/components/__tests__/ImageUploader.test.tsx
  src/contexts/UploadContext.tsx
  src/lib/api.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt-metrics): sample channels in the registered space (PR 2)
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_normalize.py
  backend/src/services/export/mtMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt-metrics): sanitize registration offsets before the ML request
  backend/src/services/export/mtMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt-metrics): sample channels in the registered space (channel-registration PR 2) (#281)
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_normalize.py
  backend/src/services/export/mtMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt): always export per-channel intensity sum + synced sidebar checkboxes
  backend/src/services/__tests__/exportService.gaps.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/components/project/ProjectToolbar.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/__tests__/AdvancedExportDialog.test.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/export/components/__tests__/MicrotubuleMetricsSection.test.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.multiselect.test.tsx
  src/pages/segmentation/components/__tests__/PolygonListPanel.multiselect.test.tsx
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(mt): always export per-channel intensity sum + synced sidebar checkboxes (#282)
  backend/src/services/__tests__/exportService.gaps.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/components/project/ProjectToolbar.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/__tests__/AdvancedExportDialog.test.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/export/components/__tests__/MicrotubuleMetricsSection.test.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.multiselect.test.tsx
  src/pages/segmentation/components/__tests__/PolygonListPanel.multiselect.test.tsx
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(mt-export): whole-video per-channel total intensity + wider polygon-list sidebar
  backend/segmentation/api/mt_metrics.py
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/pages/segmentation/components/PolygonListPanel.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt-export): whole-video per-channel total intensity + wider polygon-list sidebar (#283)
  backend/segmentation/api/mt_metrics.py
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/pages/segmentation/components/PolygonListPanel.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(upload): abort on Cancel, register prompt, remove dead X, MT sidebar cleanup
  src/components/FloatingUploadProgress.tsx
  src/components/ImageUploader.tsx
  src/components/__tests__/FloatingUploadProgress.test.tsx
  src/components/__tests__/ImageUploader.registration.test.tsx
  src/components/__tests__/ImageUploader.test.tsx
  src/contexts/UploadContext.tsx
  src/lib/__tests__/api-upload-signal.test.ts
  src/lib/api.ts
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.multiselect.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): abort on Cancel, register prompt, remove dead X, MT sidebar cleanup (#284)
  src/components/FloatingUploadProgress.tsx
  src/components/ImageUploader.tsx
  src/components/__tests__/FloatingUploadProgress.test.tsx
  src/components/__tests__/ImageUploader.registration.test.tsx
  src/components/__tests__/ImageUploader.test.tsx
  src/contexts/UploadContext.tsx
  src/lib/__tests__/api-upload-signal.test.ts
  src/lib/api.ts
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.multiselect.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: spec for kymograph vs per-image profile export
  docs/superpowers/specs/2026-07-08-kymograph-profile-export-design.md
Due: prettier --write

feat(mt-export): choose kymograph or per-image intensity profiles
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/requirements.txt
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt-export): gate kymograph on frames-per-container, not container rows
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/utils/__tests__/kymographGating.test.ts
  src/pages/export/utils/kymographGating.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt-export): sanitize polyline id + channel in export filenames
  backend/src/services/export/mtKymographExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt-export): kymograph or per-image intensity profiles (#285)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/requirements.txt
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  docs/superpowers/specs/2026-07-08-kymograph-profile-export-design.md
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/utils/__tests__/kymographGating.test.ts
  src/pages/export/utils/kymographGating.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt-export): scope kymographs/profiles to the selected images
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(mt-export): scope kymographs/profiles to the selected images (#286)
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(mt): design spec for add-channel-to-selected-frames
  docs/superpowers/specs/2026-07-08-mt-add-channel-design.md
Due: prettier --write

feat(mt): add a channel to selected frames (upload video/stack or image)
  backend/segmentation/api/mt_metrics.py
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/middleware/upload.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/tests/test_add_channel_align.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  docs/superpowers/specs/2026-07-08-mt-add-channel-design.md
  src/components/project/AddChannelDialog.tsx
  src/components/project/ProjectToolbar.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt): coverage-aware requests for partial added channels (no 404 noise)
  backend/src/services/addChannelService.ts
  backend/src/services/video/types.ts
  src/lib/api.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(mt): fix imageRoutes mock + cover addChannelService branches
  backend/src/api/routes/__tests__/imageRoutes.test.ts
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(mt): add setChannelCoverage to ChannelOverlayList test mock
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
