Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix: restore backend/ML upload volume mount to uploads/blue (#52)
  docker-compose.production.yml
  docker/nginx/nginx.production.conf
Due: prettier --write

fix: add trailing slashes to nginx uploads location/alias
  docker/nginx/nginx.production.conf
Due: none

fix: add trailing slashes to nginx uploads location/alias (#53)
  docker/nginx/nginx.production.conf
Due: none

fix: ML health check using wrong URL and endpoint
  backend/src/api/routes/mlRoutes.ts
  backend/src/services/healthCheckService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: ML health check using wrong URL and endpoint (#54)
  backend/src/api/routes/mlRoutes.ts
  backend/src/services/healthCheckService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: prevent stuck processing/queued states + fix ML health URL
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: prevent stuck processing/queued states + fix ML health URL (#55)
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: use Prisma query instead of raw SQL for orphaned image cleanup
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: use Prisma query instead of raw SQL for orphaned image cleanup (#56)
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: use correct Prisma relation name 'queueEntries' not 'segmentationQueue'
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: use correct Prisma relation name 'queueEntries' not 'segmentationQueue' (#57)
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: select userId via project relation (Image has no userId field)
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: select userId via project relation (Image has no userId field) (#58)
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: don't override sperm model's mask_threshold with user threshold
  backend/segmentation/api/routes.py
  backend/segmentation/sperm_final/inference/predict.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: don't override sperm model's mask_threshold with user threshold (#59)
  backend/segmentation/api/routes.py
  backend/segmentation/sperm_final/inference/predict.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: relax sperm graph assembly thresholds for cross-patch fragment merging
  backend/segmentation/sperm_final/config.py
  backend/segmentation/sperm_final/inference/graph_assembly.py
  backend/segmentation/sperm_final/inference/predict.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: relax sperm graph assembly thresholds for cross-patch fragment merging (#60)
  backend/segmentation/sperm_final/config.py
  backend/segmentation/sperm_final/inference/graph_assembly.py
  backend/segmentation/sperm_final/inference/predict.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: add start_period to ML healthcheck to prevent restart loop
  docker-compose.production.yml
Due: prettier --write

fix: add start_period to ML healthcheck to prevent restart loop (#61)
  docker-compose.production.yml
Due: prettier --write

feat: downscale large images before sperm inference, rescale polylines back
  backend/segmentation/models/sperm.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: downscale large images before sperm inference, rescale polylines back (#62)
  backend/segmentation/models/sperm.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: cap graph assembly to 100 instances to prevent solver hang
  backend/segmentation/sperm_final/inference/graph_assembly.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: cap graph assembly to 100 instances to prevent solver hang (#63)
  backend/segmentation/sperm_final/inference/graph_assembly.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: balanced per-class instance cap (15/class) for graph assembly
  backend/segmentation/sperm_final/inference/graph_assembly.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: balanced per-class instance cap (15/class) for graph assembly (#64)
  backend/segmentation/sperm_final/inference/graph_assembly.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: remove dead code, duplicate implementations, and stale documentation
  backend/segmentation/services/inference_service_optimized.py
  backend/segmentation/services/production_inference.py
  backend/src/config/tracing.ts
  backend/src/config/uploadConfig.ts
  backend/src/middleware/tracing.ts
  backend/src/server.ts
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  backend/src/templates/passwordResetEmail.ts
  backend/src/templates/passwordResetEmailSimple.ts
  backend/src/templates/shareInvitationEmail.ts
  backend/src/utils/traceCorrelation.ts
  docker/build-config.json
  docker/ml-cuda12.Dockerfile
  docs/ACCESS_LOGGING_SETUP.md
  docs/EMAIL_RETRY_SSOT_ANALYSIS.md
  docs/EMAIL_SYSTEM_SSOT_ANALYSIS.md
  docs/EMAIL_TIMING_FIX.md
  docs/SSOT_ANALYSIS_FINAL_STATUS.md
  docs/SSOT_ANALYSIS_PROJECT_UPDATES.md
  docs/SSOT_ANALYSIS_SUMMARY.md
  docs/SSOT_DATA_FLOW.md
  docs/SSOT_FIX_STATUS_FLICKERING.md
  docs/TESTING_STATUS_FLICKERING_FIX.md
  scripts/batch-optimization.py
  scripts/gpu-benchmark.py
  scripts/recommended_batch_sizes.json
  scripts/test-actual-batch-usage.py
  scripts/test-all-models-batch.py
  scripts/test-batch-processing.py
  scripts/test-gpu-simple.py
  scripts/test-resunet-advanced-batch.py
  scripts/verify-batch-config.py
  src/App.css
  src/lib/textUtils.ts
  src/lib/themeUtils.ts
  src/lib/uploadUtils.ts
  src/pages/export/hooks/useAdvancedExport.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor: standardize API responses and remove deprecated selection param
  backend/src/api/routes/cacheRoutes.ts
  backend/src/api/routes/database.ts
  backend/src/api/routes/mlRoutes.ts
  backend/src/api/routes/rateLimitAdmin.ts
  backend/src/api/routes/testEmailRoutes.ts
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertex.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
