Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

perf(editor): join an in-flight decode instead of starting a second one
  src/lib/__tests__/decodedFrameCache.test.ts
  src/lib/decodedFrameCache.ts
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/hooks/useDecodeAhead.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(editor): warm multi-channel frames without decoding them into bitmaps
  src/pages/segmentation/hooks/__tests__/useFrameWindowPrefetch.test.tsx
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(cache): stop emitting a constant ETag that made every 304 a lie
  backend/src/middleware/__tests__/cacheMiddleware.test.ts
  backend/src/middleware/cache.ts
  backend/vitest.config.ts
  vitest.setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): stop refetching results for an image that has no segmentation
  CLAUDE.md
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(ml): raise the threshold ceiling here too — the queue accepted what this refused
  backend/segmentation/api/frap_targets.py
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/tests/unit/test_predict_microtubule_contract.py
  backend/segmentation/tests/unit/test_threshold_bounds.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(project): count what the select-all checkbox actually selects
  src/components/project/ProjectToolbar.tsx
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): cap speculative frame requests instead of issuing the whole window
  src/lib/__tests__/requestThrottle.test.ts
  src/lib/requestThrottle.ts
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/hooks/__tests__/useDecodeAhead.test.ts
  src/pages/segmentation/hooks/__tests__/useFrameWindowPrefetch.test.tsx
  src/pages/segmentation/hooks/useDecodeAhead.ts
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(add-channel): say how many frames actually registered, instead of always "aligned"
  backend/src/api/controllers/__tests__/queueController.test.ts
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

build(types): make the typecheck gate actually check something
  .github/workflows/ci.yml
  .github/workflows/nightly-drift.yml
  .husky/pre-commit
  .lintstagedrc.json
  Makefile
  package.json
  scripts/type-check-baseline.mjs
  typecheck-baseline.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

fix(add-channel): name why a frame failed to register, not just that it did
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_add_channel_align.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): say a helper was killed, and give the ND2 decoder room to finish
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  docker-compose.production.yml
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(nd2): stop the registration workspace, not the frames, from filling memory
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_memory.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(mt): stop rescanning the whole frame once per label in the instancer
  backend/segmentation/models/microtubule/instance/oracle.py
  backend/segmentation/models/microtubule/instance/skeleton_graph.py
  backend/segmentation/models/microtubule/tests/test_instancer_perf_identity.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt): segment a static channel once and project it, instead of N times plus tracking
  backend/src/services/__tests__/staticChannelProjection.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/queueService.ts
  backend/src/services/staticChannelProjection.ts
  backend/src/services/staticChannelProjectionService.ts
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
  backend/src/services/video/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): give the heap room for a large export, and stop polling a job that is gone
  docker-compose.production.yml
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.polling.test.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): size the decode cache to the working set, not to a guess about frames
  backend/scripts/backfill-static-channels.ts
  src/lib/__tests__/decodedFrameCache.test.ts
  src/lib/decodedFrameCache.ts
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(ui): delete the components the app stopped importing
  src/components/dashboard/UploadTab.tsx
  src/components/header/NotificationsDropdown.tsx
  src/components/project/ImageActions.tsx
  src/components/project/ProjectImageProcessor.tsx
  src/components/ui/animated-loader.tsx
  src/components/ui/avatar.tsx
  src/components/ui/cancel-all-segmentations-button.tsx
  src/components/ui/exports.ts
  src/components/ui/form-utils.ts
  src/components/ui/form.tsx
  src/components/ui/lazy-image.tsx
  src/components/ui/popover.tsx
  src/components/ui/segmentation-progress.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/hooks/use-mobile.tsx
  src/pages/segmentation/components/canvas/CanvasLoadingOverlay.tsx
  src/pages/segmentation/components/canvas/CanvasZoomInfo.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(editor): fetch a static channel once, not once per frame
  src/lib/__tests__/staticFrameChannels.test.ts
  src/lib/decodedFrameCache.ts
  src/lib/staticFrameChannels.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/__tests__/ChannelSwitcher.test.tsx
  src/pages/segmentation/hooks/segmentationPolygonCache.ts
  src/types/index.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(editor): design for an 8-bit WebP playback proxy
  docs/superpowers/specs/2026-08-21-playback-proxy-design.md
Due: prettier --write

docs(editor): implementation plan for the playback proxy
  docs/superpowers/plans/2026-08-21-playback-proxy.md
Due: prettier --write

feat(editor): the arithmetic and the converter behind the playback proxy
  backend/src/services/__tests__/playbackProxyRange.test.ts
  backend/src/services/playbackProxyRange.ts
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
  backend/src/services/video/pythonHelpers/tests/test_make_playback_proxy.py
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
