Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve ESLint errors blocking commits
  backend/package.json
  backend/src/api/routes/healthRoutes.ts
  backend/src/monitoring/rateLimitingInitialization.ts
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: important updates for shared projects and authentication improvements
  .serena/.gitignore
  .serena/memories/fix_403_forbidden_project_shares.md
  .serena/memories/fix_share_acceptance_auth_redirect_owner.md
  .serena/memories/fix_shared_project_owner_display.md
  .serena/memories/fix_shared_project_queue_403_bug.md
  .serena/memories/fix_shared_project_queue_permissions.md
  .serena/memories/fix_shared_project_removal_dashboard_persistence.md
  .serena/memories/shared_project_owner_display_detailed_fix.md
  .serena/memories/shared_project_owner_display_fix.md
  .serena/memories/shared_project_owner_persistence_fix.md
  backend/SHARE_ISSUE_FIX.md
  backend/debug_share_issue.js
  backend/src/api/controllers/imageController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/sharingRoutes.ts
  backend/src/monitoring/rateLimitingInitialization.ts
  backend/src/services/authService.ts
  backend/src/services/imageService.ts
  backend/src/services/sharingService.ts
  docker-compose.blue.yml
  docker-compose.yml
  src/components/DashboardHeader.tsx
  src/components/ProjectCard.tsx
  src/components/ProjectListItem.tsx
  src/components/project/ProjectActions.tsx
  src/components/project/ProjectThumbnail.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useDashboardProjects.ts
  src/pages/Dashboard.tsx
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: address code review concerns for PR #15
  backend/SHARE_ISSUE_FIX.md
  backend/debug_share_issue.js
  backend/src/api/controllers/imageController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/services/sharingService.ts
  src/pages/Dashboard.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: connect callback chain to remove shared projects on 403 errors
  backend/src/services/exportService.ts
  bun.lockb
  package.json
  src/components/ProjectCard.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectsList.tsx
  src/components/dashboard/ProjectsTab.tsx
  src/components/project/ProjectToolbar.tsx
  src/pages/Dashboard.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: connect callback chain to remove shared projects on 403 errors
  .mcp.json
  .serena/memories/backend_shared_project_api_debug_2025-09-07.md
  .serena/memories/polygon-coordinate-misalignment-fix.md
  .serena/memories/shared_project_403_callback_chain_fix_2025.md
  .serena/memories/shared_project_caching_issue_diagnosis_2025.md
  backend/src/config/database.ts
  src/components/PageTransition.tsx
  src/components/ui/animated-loader.tsx
  src/components/ui/lazy-image.tsx
  src/components/ui/segmentation-progress.tsx
  src/components/ui/skeleton-variants.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: address code review suggestions
  src/components/PageTransition.tsx
  src/components/PageTransitionUtils.tsx
  src/components/__tests__/ProjectCallbackChain.test.tsx
  src/components/project/ProjectThumbnail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

feat: add production deployment infrastructure and health monitoring
  .playwright-mcp/documentation-page-blue-production.png
  .playwright-mcp/homepage-blue-production.png
  .playwright-mcp/login-page-blue-production.png
  .playwright-mcp/signup-page-blue-production.png
  .playwright-mcp/terms-of-service-blue-production.png
  .serena/memories/nginx_ml_routing_fix_405_method_not_allowed.md
  .serena/memories/upload_directory_fix_2025-09-07.md
  DEPLOYMENT.md
  backend/scripts/init-uploads.sh
  backend/src/api/routes/healthRoutes.ts
  backend/src/server.ts
  backend/src/services/healthCheckService.ts
  backups/green_backup_20250907_132739.sql
  config/deployment.config
  docker-compose.blue.yml.backup.20250907_141004
  docker/nginx/nginx.blue.conf
  docker/nginx/nginx.blue.local.conf
  docker/nginx/nginx.prod.conf.backup-20250907-152446
  docker/nginx/nginx.ssl.conf.backup-20250907-152605
  scripts/deploy-production.sh
  scripts/fix-permissions.sh
  scripts/fix-upload-directories.sh
  scripts/fix-upload-safe.sh
  scripts/post-deployment-verify.sh
  scripts/pre-deployment-check.sh
  scripts/test-upload-fix.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

feat: add production deployment infrastructure and health monitoring
  .playwright-mcp/documentation-page-blue-production.png
  .playwright-mcp/homepage-blue-production.png
  .playwright-mcp/login-page-blue-production.png
  .playwright-mcp/signup-page-blue-production.png
  .playwright-mcp/terms-of-service-blue-production.png
  .serena/memories/nginx_ml_routing_fix_405_method_not_allowed.md
  .serena/memories/upload_directory_fix_2025-09-07.md
  DEPLOYMENT.md
  backend/scripts/init-uploads.sh
  backend/src/api/routes/healthRoutes.ts
  backend/src/server.ts
  backend/src/services/healthCheckService.ts
  config/deployment.config
  docker-compose.blue.yml.backup.20250907_141004
  docker/nginx/nginx.blue.conf
  docker/nginx/nginx.blue.local.conf
  docker/nginx/nginx.prod.conf.backup-20250907-152446
  docker/nginx/nginx.ssl.conf.backup-20250907-152605
  scripts/deploy-production.sh
  scripts/fix-permissions.sh
  scripts/fix-upload-directories.sh
  scripts/fix-upload-safe.sh
  scripts/post-deployment-verify.sh
  scripts/pre-deployment-check.sh
  scripts/test-upload-fix.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: address all code review issues and fix grayscale image segmentation
  .gitignore
  backend/segmentation/ml/model_loader.py
  backend/src/test/integration/database.integration.test.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  backend/src/utils/config.ts
  scripts/performance/measure-model-performance.py
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

chore: improve pre-commit hooks and track remaining issues
  .husky/pre-commit
  backend/src/services/authService.ts
  src/components/StatsOverview.tsx
  src/components/header/NotificationsDropdown.tsx
  src/components/profile/AvatarUploadButton.tsx
  src/components/project/ProjectToolbar.tsx
  src/components/project/QueueStatsPanel.tsx
  src/components/ui/form.tsx
  src/components/ui/segmentation-progress.tsx
  src/components/upload/DropZone.tsx
  src/lib/api.ts
  src/lib/imageProcessingService.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: add multi-language email support and update branding to SpheroSeg
  .env.common
  .serena/memories/email_service_simplification_utia_fix_2025_09_13.md
  backend/.env.example
  backend/src/api/routes/index.ts
  backend/src/api/routes/testReliableEmailRoutes.ts
  backend/src/services/authService.ts
  backend/src/services/emailService.ts
  backend/src/services/reliableEmailService.ts
  backend/src/services/sharingService.ts
  backend/src/templates/passwordResetEmail.ts
  backend/src/templates/passwordResetEmailMultilang.ts
  backend/src/templates/passwordResetEmailSimple.ts
  backend/src/templates/verificationEmail.ts
  backend/src/utils/config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: address all code review security and quality issues
  .env.common.example
  .gitignore
  .serena/memories/batch_api_validation_schema_fix_2025-09-07.md
  .serena/memories/email_service_production_fix_2025_09_13.md
  .serena/memories/gpu_optimization_complete.md
  .serena/memories/nginx_503_blue_green_template_fix_2025.md
  .serena/memories/nginx_thumbnail_404_fix_production.md
  .serena/memories/nginx_uploads_404_debug_2025-09-07.md
  .serena/memories/password_reset_security_fix_2025_09_13.md
  .serena/memories/production_404_thumbnails_fix_2025_09_17.md
  .serena/memories/unet_spherohq_model_integration.md
  .serena/memories/upload_directory_404_batch_api_fix_2025-09-07.md
  .serena/memories/upload_directory_fix_2025-09-07.md
  .serena/memories/utia_smtp_docker_timeout_fix_2025_09_10.md
  backend/src/api/controllers/imageController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/userRoutes.ts
  backend/src/db/index.ts
  backend/src/db/prismaConfig.ts
  backend/src/middleware/monitoring.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/services/sharingService.ts
  backend/src/types/queue.ts
  backups/20250917_111204/blue_db_backup.sql.gz
  docker-compose.blue.yml
  docker-compose.green.yml
  docker/nginx/nginx.prod.conf
  docs/smtp-port-465-solution.md
  src/components/LazyComponentWrapper.tsx
  src/lib/__tests__/api-segmentation.test.ts
  src/lib/api.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: update axios to fix security vulnerability
  package-lock.json
Due: prettier --write

feat: add persistent export state across page refreshes
  src/App.tsx
  src/components/project/ProjectToolbar.tsx
  src/lib/exportStateManager.ts
  src/pages/export/hooks/useAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

perf: implement review suggestions for export state persistence
  src/lib/exportStateManager.ts
  src/pages/export/hooks/useAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

feat: Persistent export state across page refreshes (#23)
  src/App.tsx
  src/components/project/ProjectToolbar.tsx
  src/lib/exportStateManager.ts
  src/pages/export/hooks/useAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

chore: update active environment configuration to blue
  .active-environment
  docker-compose.active.yml
Due: prettier --write

fix: increase upload limits to support 2000 files with proper nginx hierarchy
  .husky/pre-commit
  CLAUDE.md
  backend/jest.setup.js
  backend/src/middleware/upload.ts
  backend/src/server.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/test/setup.ts
  docker-compose.nginx.yml
  docker/nginx/nginx.prod.conf
  package-lock.json
  package.json
  src/lib/api.ts
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: implement 4-way parallel processing and universal cancel operations
  .serena/memories/gpu_memory_optimization_8_users_analysis_2025.md
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/inference_executor.py
  backend/src/api/__tests__/queueCancel.test.ts
  backend/src/api/__tests__/uploadCancel.test.ts
  backend/src/api/controllers/queueController.ts
  backend/src/api/controllers/uploadCancelController.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/segmentationService.concurrent.test.ts
  backend/src/services/__tests__/webSocketService.cancel.test.ts
  backend/src/services/__tests__/websocketService.parallel.test.ts
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/websocketService.ts
  backend/src/workers/__tests__/queueWorker.parallel.test.ts
  e2e/cancel-workflows.spec.ts
  src/components/ImageUploader.tsx
  src/components/__tests__/ImageUploader.cancel.test.tsx
  src/components/project/ProcessingSlots.tsx
  src/components/project/__tests__/QueueStatsPanel.cancel.test.tsx
  src/hooks/__tests__/useAbortController.enhanced.test.tsx
  src/hooks/shared/useOperationManager.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: address CodeRabbit review findings and critical issues
  .env.common
  backend/segmentation/ml/inference_executor.py
  backend/src/api/controllers/exportController.ts
  backend/src/services/queueService.ts
  src/components/ImageUploader.tsx
  src/hooks/__tests__/useAbortController.enhanced.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
