Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix(admin): stop the Swagger JSDoc throwing YAMLSemanticError on every boot (#493)
  backend/src/api/controllers/adminController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

build(deps): unpin httpx — the cap was causing the 11 "documented" errors
  backend/segmentation/requirements-test.txt
  backend/segmentation/requirements.txt
Due: none

feat(mt-export): competition metric between two fluorescent proteins
  backend/essays/module/tests/test_mt_competition.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/models/mt_competition.py
  backend/src/services/export/__tests__/mtCompetitionColumns.test.ts
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

build(deps): unpin httpx — the cap was causing the 11 "documented" errors (#494)
  backend/segmentation/requirements-test.txt
  backend/segmentation/requirements.txt
Due: none

docs(claude): record the competition metric and the five load-bearing choices
  CLAUDE.md
Due: prettier --write

fix(export): default the new competition fields instead of passing undefined
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt-export): competition metric between two fluorescent proteins (#495)
  backend/essays/module/tests/test_mt_competition.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/models/mt_competition.py
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/export/__tests__/mtCompetitionColumns.test.ts
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(claude): record the competition metric and the five load-bearing choices (#496)
  CLAUDE.md
Due: prettier --write

feat(editor): offer only the geometry a project type actually annotates
  src/lib/__tests__/annotationGeometry.test.ts
  src/lib/polylineSemantics.ts
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.geometry.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): close the three ways around the annotation-geometry gate
  src/lib/__tests__/annotationGeometry.test.ts
  src/lib/polylineSemantics.ts
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/KeyboardShortcutsHelp.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/KeyboardShortcutsHelp.test.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.geometry.test.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.test.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.geometry.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): offer only the geometry a project type actually annotates (#497)
  src/lib/__tests__/annotationGeometry.test.ts
  src/lib/polylineSemantics.ts
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/KeyboardShortcutsHelp.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/KeyboardShortcutsHelp.test.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.geometry.test.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.test.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.geometry.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(errors): stop discarding the server's explanation on every 4xx
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(errors): cover every 4xx, not an enumeration that dropped 405 and 410
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(errors): stop discarding the server's explanation on every 4xx (#498)
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(proxy): encode against the frame's peak, not that peak rounded up to 2^n
  backend/src/services/__tests__/playbackProxyService.test.ts
  backend/src/services/playbackProxyService.ts
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
  backend/src/services/video/pythonHelpers/tests/test_make_playback_proxy.py
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(proxy): the docstring still said file size was unchanged
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(proxy): encode against the frame's peak, not that peak rounded up to 2^n (#499)
  backend/src/services/__tests__/playbackProxyService.test.ts
  backend/src/services/playbackProxyService.ts
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
  backend/src/services/video/pythonHelpers/tests/test_make_playback_proxy.py
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(prettier): ignore neurite-metrics/, which excludes itself with a NESTED .gitignore
  .prettierignore
Due: none

fix(channels): an added channel named IRM was typed as a fluorophore
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(channels): at most ONE added channel may claim the segmentation source
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(channels): an added channel named IRM was typed as a fluorophore (#500)
  .prettierignore
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): Shift+click in the microtubule LIST did not multi-select
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.multiselect.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): Shift+click in the microtubule LIST did not multi-select (#502)
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.multiselect.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): Shift+click on the CANVAS replaced the selection instead of adding
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): Shift+click on the CANVAS replaced the selection instead of adding (#503)
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(images): a 14000x14000 frame was refused by Pillow's bomb guard
  backend/segmentation/api/main.py
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/convert_for_display.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/large_images.py
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
  backend/src/services/video/pythonHelpers/tests/test_large_images.py
  docker/ml.optimized.Dockerfile
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(images): "Select All 300" selected 216 — pagination had no total order
  backend/src/api/controllers/imageController.ts
  backend/src/services/imageService.ts
  src/hooks/useProjectData.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(images): pin the pagination order and the page dedupe
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/services/__tests__/imageService.test.ts
  src/hooks/__tests__/useProjectData.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(images): a 14000x14000 frame was refused by Pillow's bomb guard (#505)
  backend/segmentation/api/main.py
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/convert_for_display.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/large_images.py
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
  backend/src/services/video/pythonHelpers/tests/test_large_images.py
  docker/ml.optimized.Dockerfile
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(images): "Select All 300" selected 216 — pagination had no total order (#504)
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/api/controllers/imageController.ts
  backend/src/services/__tests__/imageService.test.ts
  backend/src/services/imageService.ts
  src/hooks/__tests__/useProjectData.test.tsx
  src/hooks/useProjectData.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(ci): drop the root canvas dep that the frontend job builds and never uses
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

fix(ci): drop the root canvas dep that the frontend job builds and never uses (#511)
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

feat(neurite): vendor the neurite-metrics runtime into the ML service
  backend/segmentation/models/neurite_metrics/__init__.py
  backend/segmentation/models/neurite_metrics/analyse.py
  backend/segmentation/models/neurite_metrics/assign.py
  backend/segmentation/models/neurite_metrics/metrics_export.py
  backend/segmentation/models/neurite_metrics/pipeline.py
  backend/segmentation/models/neurite_metrics/skeleton_graph.py
  backend/segmentation/models/neurite_metrics/soma_filter.py
  backend/segmentation/models/neurite_metrics/soma_instances.py
  backend/segmentation/models/neurite_metrics/soma_predict.py
  backend/segmentation/models/neurite_metrics/staging.py
  ruff.toml
  scripts/download-neurite-classifier-weights.sh
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(neurite): compute and store the neurite → soma assignment
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/setPolygonsSomaId.test.ts
  backend/src/services/export/neuriteMetricsExporter.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(neurite): "Assign neurites to cells" button in the editor
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/NeuriteAssignmentToggle.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/NeuriteAssignmentToggle.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): min_area 50 was deciding developmental stages
  backend/segmentation/ml/model_loader.py
  backend/segmentation/tests/test_neurite_soma_model.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(projects): a per-project image scale, so µm measurements can run at all
  backend/prisma/migrations/20260907_add_project_pixel_size/migration.sql
  backend/prisma/schema.prisma
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/exportService.ts
  backend/src/services/projectService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/validation.ts
  src/components/project/ProjectHeader.tsx
  src/components/project/ProjectToolbar.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

feat(neurite): export the per-cell tables for neurite projects
  backend/src/services/export/__tests__/exportFileOperations.test.ts
  backend/src/services/export/__tests__/neuriteMetricsExporter.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/export/neuriteMetricsExporter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(neurite): POST /api/v1/neurite-metrics — per-cell tables from polygons
  .github/workflows/ci.yml
  Makefile
  backend/segmentation/api/main.py
  backend/segmentation/api/neurite_metrics.py
  backend/segmentation/models/neurite_metrics/analyse.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(neurite): name both colourings instead of an on/off switch
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/NeuriteAssignmentToggle.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/NeuriteAssignmentToggle.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
