Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

refactor: improve error messages with contextual information
  src/lib/tiffConverter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor: centralize configuration constants and improve type safety
  src/lib/constants.ts
  src/lib/exportStateManager.ts
  src/lib/retryUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: add comprehensive tests for retry utilities
  src/lib/__tests__/retryUtils.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

revert: restore export functionality to previous version before fixes
  src/contexts/ExportContext.tsx
  src/hooks/useImageFilter.tsx
  src/pages/export/hooks/useImageSelection.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat: enhance code quality to 10/10
  src/lib/__tests__/constants.test.ts
  src/lib/uploadConfig.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: enhance retryUtils test coverage to 10/10
  src/lib/__tests__/retryUtils.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: add comprehensive architecture documentation
  src/lib/ARCHITECTURE.md
Due: prettier --write

docs: add comprehensive API documentation
  docs/API.md
Due: prettier --write

fix: WebSocket real-time updates not reflecting in UI
  src/components/project/ImageCard.tsx
  src/hooks/useSegmentationQueue.tsx
  src/hooks/useUnifiedSegmentationUpdate.tsx
  src/pages/ProjectDetail.tsx
  src/services/webSocketManager.ts
  src/services/webSocketManagerImproved.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat: Batch processing improvements and performance monitoring
  backend/src/services/__tests__/segmentationService.batch-fix.test.ts
  backend/src/services/__tests__/segmentationService.integration.test.ts
  backend/src/services/segmentationService.ts
  backend/src/types/websocket.ts
  docs/TROUBLESHOOTING.md
  src/hooks/__tests__/useProjectData.race-condition.test.tsx
  src/hooks/usePersistedExportState.ts
  src/hooks/useProjectData.tsx
  src/hooks/useSegmentationQueue.tsx
  src/lib/performanceMonitor.ts
  src/lib/textUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore: Add .active-environment to .gitignore
  .gitignore
Due: none

docs: Add cleanup summary document
  CLEANUP_SUMMARY.md
Due: prettier --write

refactor: Phase 2 - Code deduplication and consolidation
  CLEANUP_SUMMARY.md
  CODE_CONSOLIDATION_SUMMARY.md
  README.md
  backend/src/api/routes/index.ts
  backend/src/api/routes/testReliableEmailRoutes.ts
  backend/src/services/reliableEmailService.ts
  src/services/webSocketManager.ts
  src/services/webSocketManagerImproved.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs: Add verification results and environment clarification
  CLEANUP_SUMMARY.md
Due: prettier --write

feat: Add automatic model weight download from Google Drive
  Makefile
  README.md
  backend/segmentation/scripts/download_weights.py
  docker/ml.optimized.Dockerfile
  docs/MODEL_WEIGHTS_SETUP.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: Change project detail back button to navigate to dashboard
  src/components/project/ProjectHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: prevent status downgrade from completed to no_segmentation after batch segmentation
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: Add re-render trigger and improve SSOT clarity for status updates
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: Prevent status downgrade after batch segmentation (#34)
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
