Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(images): stop a non-Latin-1 filename turning /display into a 500
  backend/src/api/controllers/imageController.ts
  backend/src/api/controllers/segmenterController.ts
  backend/src/utils/__tests__/contentDisposition.test.ts
  backend/src/utils/contentDisposition.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(segmenter): follow the header to RFC 6266, and pin what stripping lost
  backend/src/api/controllers/__tests__/segmenterController.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(essays): run a folder again from the files already on the server
  backend/src/api/controllers/essaysController.ts
  backend/src/api/routes/essaysRoutes.ts
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
  src/lib/api.ts
  src/pages/AutomatedEssays.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(essays): guard the job path, now that a jobId comes off the URL
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(ml): defer the net import so it cannot break suite collection
  backend/segmentation/tests/test_net_head_width_errors.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): report progress during the microtubule stages
  backend/src/services/export/__tests__/exportFileOperations.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): report progress during the microtubule stages (#324)
  backend/src/services/export/__tests__/exportFileOperations.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(tracker): vectorize the microtubule link-cost matrix
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_cost_equivalence.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(tracker): vectorize the microtubule link-cost matrix (#325)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_cost_equivalence.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(ml): make the Python suite collectable again
  backend/segmentation/tests/test_cancel_api.py
  backend/segmentation/tests/test_parallel_processing.py
  backend/segmentation/tests/test_performance_benchmarks.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/segmentation/tests/unit/test_error_scenarios.py
  backend/segmentation/tests/unit/test_inference_service.py
  backend/segmentation/tests/unit/test_model_manager.py
  backend/segmentation/tests/unit/test_preprocessing_pipeline.py
  backend/segmentation/tests/unit/test_threshold_bounds.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(ml): make the Python suite collectable again (#326)
  backend/segmentation/tests/test_cancel_api.py
  backend/segmentation/tests/test_parallel_processing.py
  backend/segmentation/tests/test_performance_benchmarks.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/segmentation/tests/unit/test_error_scenarios.py
  backend/segmentation/tests/unit/test_inference_service.py
  backend/segmentation/tests/unit/test_model_manager.py
  backend/segmentation/tests/unit/test_preprocessing_pipeline.py
  backend/segmentation/tests/unit/test_threshold_bounds.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(security): close the open CodeQL path-injection and log-injection alerts
  .github/codeql/codeql-config.yml
  backend/essays/essays_api.py
  backend/essays/tests/test_essays_api.py
  backend/segmentation/api/_log_safe.py
  backend/segmentation/api/frap_targets.py
  backend/segmentation/api/mt_metrics.py
  backend/src/api/controllers/essaysController.ts
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/middleware/upload.ts
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/essaysService.ts
  backend/src/utils/__tests__/logger.gaps5.test.ts
  backend/src/utils/logger.ts
  backend/src/utils/storagePath.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(security): close the open CodeQL path-injection and log-injection alerts (#327)
  .github/codeql/codeql-config.yml
  backend/essays/essays_api.py
  backend/essays/tests/test_essays_api.py
  backend/segmentation/api/_log_safe.py
  backend/segmentation/api/frap_targets.py
  backend/segmentation/api/mt_metrics.py
  backend/src/api/controllers/essaysController.ts
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/middleware/upload.ts
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/essaysService.ts
  backend/src/utils/__tests__/logger.gaps5.test.ts
  backend/src/utils/logger.ts
  backend/src/utils/storagePath.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(backup): dump through the postgres container, not a host pg_dump
  scripts/backup-database.sh
Due: none

fix(backup): dump through the postgres container, not a host pg_dump (#328)
  scripts/backup-database.sh
Due: none

perf(ml): re-add polyline simplification to the microtubule output
  backend/segmentation/models/microtubule/params_v5h.json
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/tests/test_microtubule_model.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(ml): re-add polyline simplification to the microtubule output (#329)
  backend/segmentation/models/microtubule/params_v5h.json
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/tests/test_microtubule_model.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): stop the TIFF extractor writing channel names the reader rejects
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/kymographService.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): stop the microtubule export silently shipping hollow metrics
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/export/mlRequestBudget.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/utils/concurrency.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(logger): sanitize the `data` field before it reaches the log sink
  backend/src/utils/__tests__/logger.gaps5.test.ts
  backend/src/utils/logger.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(projects): let annotators mark a project's annotations as verified
  backend/prisma/migrations/20260826_add_project_verified/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/projectController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/projectRoutes.ts
  backend/src/services/projectService.ts
  backend/src/types/validation.ts
  src/components/ProjectCard.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectsList.tsx
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectData.tsx
  src/lib/__tests__/api.test.ts
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(video): stop the TIFF extractor writing channel names the reader rejects (#330)
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/kymographService.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): stop the microtubule export silently shipping hollow metrics (#332)
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/export/mlRequestBudget.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/utils/concurrency.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(export): cover the ML request Semaphore, and finish the CHANNEL_NAME_RE dedup
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/utils/__tests__/concurrency.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(export): cover the ML request Semaphore, and finish the CHANNEL_NAME_RE dedup (#334)
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/utils/__tests__/concurrency.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(projects): cover the verified endpoint's own branches
  backend/src/api/controllers/__tests__/projectController.gaps.test.ts
  backend/src/services/__tests__/projectService.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
