Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(editor): MT add-points UX + kymograph fidelity + zoom perf
  backend/segmentation/api/tracker_kymograph.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): address PR #205 review findings
  backend/segmentation/api/tracker_kymograph.py
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): MT add-points UX + kymograph fidelity + zoom perf (#205)
  backend/segmentation/api/tracker_kymograph.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): ImageJ-style arc-length sampling + axis scale + UI labels
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/scripts/kymograph_cross_check.py
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): ImageJ-style sampling + axis scale (#206)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/scripts/kymograph_cross_check.py
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(language): profile-fetch override + persist were silently broken
  src/contexts/LanguageContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(language): LanguageContext used wrong field name on the wire (#207)
  src/contexts/LanguageContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(profile): ThemeContext + AuthContext used wrong wire field names
  src/contexts/AuthContext.tsx
  src/contexts/ThemeContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(profile): ThemeContext + AuthContext used wrong wire field names (#208)
  src/contexts/AuthContext.tsx
  src/contexts/ThemeContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(segmentation): add SegFormer-B0 as 4th standard-spheroid model
  backend/segmentation/api/models.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/segformer.py
  backend/src/constants/segmentationModels.ts
  backend/src/types/validation.ts
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(segmentation): add SegFormer-B0 as 4th standard-spheroid model (#217)
  backend/segmentation/api/models.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/segformer.py
  backend/src/constants/segmentationModels.ts
  backend/src/types/validation.ts
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): microtubule advanced export — channels, metrics, per-frame viz
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/components/project/ProjectToolbar.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(video): handle multi-position ND2 in frame extraction
  backend/src/services/video/pythonHelpers/extract_nd2.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): MT metrics always export length + surface omitted-intensity warning
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

refactor(video): tidy ND2 extractor + add normalize_to_tcyx unit test
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): handle multi-position ND2 in frame extraction (#220)
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): microtubule advanced export — channels, metrics, per-frame viz (#219)
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/components/project/ProjectToolbar.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(segmentation): add Mamba-UNet (robust OOD model) + reframe picker into presets
  backend/segmentation/api/models.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/mamba_unet.py
  backend/segmentation/requirements.txt
  backend/src/constants/segmentationModels.ts
  backend/src/types/validation.ts
  docker/ml.optimized.Dockerfile
  src/components/settings/ModelSettingsSection.tsx
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(segmentation): address PR #221 review (guard robustness, type safety, docs)
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/mamba_unet.py
  src/components/settings/ModelSettingsSection.tsx
  src/lib/modelUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(export): warn modal when MT export omits intensity calculation
  src/pages/export/AdvancedExportDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(export): warn modal when MT export omits intensity calculation (#222)
  src/pages/export/AdvancedExportDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(segmentation): add Mamba-UNet (robust OOD model) + reframe picker into Fast/Accurate/Robust presets (#221)
  backend/segmentation/api/models.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/mamba_unet.py
  backend/segmentation/requirements.txt
  backend/src/constants/segmentationModels.ts
  backend/src/types/validation.ts
  docker/ml.optimized.Dockerfile
  src/components/settings/ModelSettingsSection.tsx
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(segmentation): sperm editor — persist deletes, redraw-arm Add Points, adaptive sampling
  backend/segmentation/sperm_final/inference/postprocess.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(segmentation): finer adaptive sperm eps + auto-refresh editor after resegment
  CLAUDE.md
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/src/services/segmentationService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useSegmentationReload.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(profile): persist language/theme on PUT /auth/profile
  backend/src/auth/validation.ts
  backend/src/services/authService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(segmentation): sperm editor reliability, resegment refresh, language persistence (#223)
  CLAUDE.md
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/src/auth/validation.ts
  backend/src/services/authService.ts
  backend/src/services/segmentationService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useSegmentationReload.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(feedback): accept large file attachments (video/ND2 up to 50 GB)
  backend/src/api/controllers/feedbackController.ts
  backend/src/middleware/upload.ts
  backend/src/services/__tests__/feedbackService.test.ts
  backend/src/services/feedbackService.ts
  backend/src/templates/feedbackReceivedEmail.ts
  docker/nginx/nginx.production.conf
  src/components/feedback/FeedbackAttachmentDropzone.tsx
  src/components/feedback/FeedbackDialog.tsx
  src/lib/api.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(feedback): address PR review — private attachments, surfaced failures, hardening
  backend/src/api/controllers/feedbackController.ts
  backend/src/api/routes/feedbackRoutes.ts
  backend/src/middleware/upload.ts
  backend/src/services/__tests__/feedbackService.test.ts
  backend/src/services/feedbackService.ts
  backend/src/templates/__tests__/feedbackReceivedEmail.test.ts
  backend/src/templates/feedbackReceivedEmail.ts
  docker/nginx/nginx.production.conf
  src/components/feedback/FeedbackDialog.tsx
  src/lib/api.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(upload): don't import config into multer module (process.exit in tests)
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/middleware/upload.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(backend): fix pre-existing failing suites — full backend suite now green
  backend/src/api/routes/__tests__/imageRoutes.test.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/exportService.sperm.test.ts
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/__tests__/segmentationService.crossFrame.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
  backend/src/workers/__tests__/queueWorker.parallel.test.ts
  backend/vitest.env.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
