Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(mt): surface the v5H model in the frontend registry and i18n
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(mt): update deploy plumbing and docs for the v5H model
  CLAUDE.md
  Makefile
  backend/essays/essays_api.py
  backend/essays/module/evaluate.py
  backend/essays/module/infer.py
  docker-compose.production.yml
  docker/essays.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt): use the model's fitted foreground cut, not the generic 0.5
  backend/essays/module/evaluate.py
  backend/essays/module/infer.py
  backend/essays/module/tests/test_channel_roles.py
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/tests/unit/test_predict_microtubule_contract.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(frap): polyline geometry primitives for spot placement
  backend/segmentation/models/frap_geometry.py
  backend/segmentation/tests/unit/test_frap_geometry.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(test): make torch optional in conftest for minimal venv
  backend/segmentation/conftest.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

Revert "fix(test): make torch optional in conftest for minimal venv"
  backend/segmentation/conftest.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): correct baseline calculation in _baseline_indices
  backend/segmentation/models/frap_geometry.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(frap): clearance measured from the ROI footprint, not its centre
  backend/segmentation/models/frap_geometry.py
  backend/segmentation/tests/unit/test_frap_geometry.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(frap): selection policy with separate bleach and readout clearance
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/unit/test_frap_select.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): corner-anchored neighbour query/border reach, shortfall flag, even-n regression test
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/unit/test_frap_select.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): quantised window reach in query_r_px via shared _window_half_k, regression test at step_px=3
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/unit/test_frap_select.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(frap): POST /api/v1/frap/targets
  backend/segmentation/api/frap_targets.py
  backend/segmentation/api/main.py
  backend/segmentation/tests/test_frap_targets_api.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): reject non-dict params_json with 400, not 500; suffix ROI px locals
  backend/segmentation/api/frap_targets.py
  backend/segmentation/tests/test_frap_targets_api.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(frap): ROI mask and audit overlay rendering
  backend/segmentation/api/frap_render.py
  backend/segmentation/api/frap_targets.py
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/test_frap_targets_api.py
  backend/segmentation/tests/unit/test_frap_render.py
  backend/segmentation/tests/unit/test_frap_select_rejected_filaments.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): label d_sep/k_max drops in the overlay, test the render pass-through
  backend/segmentation/api/frap_targets.py
  backend/segmentation/models/frap_select.py
  backend/segmentation/tests/test_frap_targets_api.py
  backend/segmentation/tests/unit/test_frap_select_rejected_filaments.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(frap): add a discriminating readout_clearance test; assert dropped_by in JSON
  backend/segmentation/tests/test_frap_targets_api.py
  backend/segmentation/tests/unit/test_frap_select_rejected_filaments.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(mt): record that v5H is IRM-only and its threshold is not tunable
  CLAUDE.md
Due: prettier --write

perf(essays): return ~15 GiB of VRAM the batch worker no longer needs
  CLAUDE.md
  backend/essays/essays_api.py
  backend/essays/sitecustomize.py
  backend/essays/tests/test_gpu_budget.py
  docker-compose.production.yml
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): stop labelling every unidentifiable channel as IRM
  backend/src/services/video/__tests__/isIrmChannel.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): make the pixel-to-micrometre scale field typable
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/__tests__/AdvancedExportDialog.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(ci): exclude vendored sources from CodeQL, fix a double import
  .github/codeql/codeql-config.yml
  backend/essays/module/tests/test_shared_model_package.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
