Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

perf(editor): memoize CanvasPolygon style helpers + add editMode to comparator
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(types): align QueueStats wire types + recognise microtubule + tighten guard
  backend/src/types/queue.ts
  backend/src/types/websocket.ts
  src/types/websocket.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

perf(queue): bulk-load addBatchToQueue to collapse N+1 into 4 queries
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor: aggressive cleanup pass — 10 chunks (audit-driven) (#182)
  backend/segmentation/api/_errors.py
  backend/segmentation/api/main.py
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/api/monitoring.py
  backend/segmentation/api/routes.py
  backend/src/middleware/validation.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/queueService.ts
  backend/src/storage/interface.ts
  backend/src/types/queue.ts
  backend/src/types/websocket.ts
  backend/src/workers/queueWorker.ts
  docker/nginx/nginx.blue.conf
  shared/package.json
  shared/types/index.d.ts
  shared/types/index.d.ts.map
  shared/types/index.js
  shared/types/index.js.map
  shared/types/index.ts
  shared/validation/index.d.ts
  shared/validation/index.d.ts.map
  shared/validation/index.js
  shared/validation/index.js.map
  shared/validation/index.ts
  src/contexts/AuthContext.tsx
  src/contexts/ExportContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ThemeContext.tsx
  src/contexts/WebSocketContext.tsx
  src/hooks/__tests__/useUnifiedSegmentationUpdate.test.tsx
  src/hooks/useOptimizedProjectImages.tsx
  src/hooks/useUnifiedSegmentationUpdate.tsx
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/types/websocket.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(polygons): preserve trackId in PolygonValidator (BE-side of mapper drop)
  backend/src/utils/polygonValidation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(polygons): preserve trackId in PolygonValidator (BE-side of mapper drop) (#184)
  backend/src/utils/polygonValidation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat: MT per-channel intensity metrics + editor resegment button
  backend/segmentation/api/main.py
  backend/segmentation/api/mt_metrics.py
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/components/project/ProjectToolbar.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: MT per-channel intensity metrics + editor resegment button (#185)
  backend/segmentation/api/main.py
  backend/segmentation/api/mt_metrics.py
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  src/components/project/ProjectToolbar.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): distinct color per polyline + correct MT project-type gate
  backend/src/services/exportService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): distinct color per polyline + correct MT project-type gate (#186)
  backend/src/services/exportService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: stabilise auth + MT cross-frame identity + video bit depth
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/services/inference.py
  backend/src/services/authService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sessionService.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/types/polygon.ts
  src/contexts/AuthContext.tsx
  src/contexts/__tests__/LanguageContext.test.tsx
  src/contexts/__tests__/ModelContext.test.tsx
  src/lib/__tests__/emergencyLogout.test.ts
  src/lib/api.ts
  src/lib/emergencyLogout.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/StatusBar.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(upload): extract pixel size + frame interval from ND2 / TIFF metadata
  backend/prisma/migrations/20260514_add_calibration_metadata/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/imageController.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

feat(upload): extract pixel size + frame interval from ND2 / TIFF metadata (#188)
  backend/prisma/migrations/20260514_add_calibration_metadata/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/imageController.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

fix(review): address 8 issues from multi-agent PR review
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/services/inference.py
  backend/src/middleware/error.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sessionService.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/utils/polygonValidation.ts
  src/lib/__tests__/segmentation.test.ts
  src/lib/api.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: stabilise auth + MT cross-frame identity + video bit depth (#187)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/services/inference.py
  backend/src/middleware/error.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/authService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sessionService.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/types/polygon.ts
  backend/src/utils/polygonValidation.ts
  src/contexts/AuthContext.tsx
  src/contexts/__tests__/LanguageContext.test.tsx
  src/contexts/__tests__/ModelContext.test.tsx
  src/lib/__tests__/emergencyLogout.test.ts
  src/lib/__tests__/segmentation.test.ts
  src/lib/api.ts
  src/lib/emergencyLogout.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/StatusBar.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(review): post-review cleanup for calibration metadata pipeline
  backend/prisma/schema.prisma
  backend/src/api/controllers/imageController.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  src/hooks/useProjectData.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): channel rename + per-channel opacity slider
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/segmentationService.crossFrame.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(review): post-review cleanup for calibration metadata pipeline (#190)
  backend/prisma/schema.prisma
  backend/src/api/controllers/imageController.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  src/hooks/useProjectData.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): channel rename + per-channel opacity slider (#189)
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/segmentationService.crossFrame.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): disable frame slider reverse sync to stop oscillation
  backend/src/services/__tests__/exportService.sperm.test.ts
  backend/src/services/__tests__/segmentationService.sperm.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.sperm.test.ts
  backend/src/services/sessionService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): disable frame slider reverse sync to stop oscillation (#191)
  backend/src/services/__tests__/exportService.sperm.test.ts
  backend/src/services/__tests__/segmentationService.sperm.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.sperm.test.ts
  backend/src/services/sessionService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(api): widen batch segmentation model whitelist
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): widen batch segmentation model whitelist (#192)
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): re-enable frame slider reverse-sync without oscillation
  src/hooks/useImageFilter.tsx
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): re-enable frame slider reverse-sync without oscillation (#193)
  src/hooks/useImageFilter.tsx
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore: remove blue-green deployment scaffolding
  .env.green.prod
  CLAUDE.md
  config/deployment.config
  docker-compose.blue.yml
  docker-compose.production.yml
  monitoring/blue-prometheus.yml
  monitoring/production-prometheus.yml
  scripts/deploy-production.sh
  scripts/deployment-health-check.sh
  scripts/generate-prod-env.sh
  scripts/migrate-database.sh
  scripts/post-deployment-verify.sh
  scripts/pre-deployment-check.sh
  scripts/rollback-deployment.sh
Due: prettier --write

chore: remove blue-green deployment scaffolding (#194)
  .env.green.prod
  CLAUDE.md
  config/deployment.config
  docker-compose.blue.yml
  docker-compose.production.yml
  monitoring/blue-prometheus.yml
  monitoring/production-prometheus.yml
  scripts/deploy-production.sh
  scripts/deployment-health-check.sh
  scripts/generate-prod-env.sh
  scripts/migrate-database.sh
  scripts/post-deployment-verify.sh
  scripts/pre-deployment-check.sh
  scripts/rollback-deployment.sh
Due: prettier --write

feat(editor): resegment button moved to top toolbar with channel picker
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'
