Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

feat: implement comprehensive cancel functionality with red styling
  .serena/memories/Batch Image Delete Error Fix - HTTP 400 with WebSocket Noise.md
  .serena/memories/backend_cancel_api_analysis_comprehensive_2025.md
  .serena/memories/batch_image_deletion_comprehensive_fix_2025_09_20.md
  .serena/memories/react-initialization-error-fix-upload-dialog.md
  .serena/memories/segmentation_cancel_functionality_implementation_2025.md
  backend/src/api/controllers/imageController.ts
  backend/src/services/queueService.ts
  backend/src/services/websocketService.ts
  backend/src/types/validation.ts
  backend/src/types/websocket.ts
  docker/nginx/nginx.active.conf
  src/App.tsx
  src/components/project/QueueStatsPanel.tsx
  src/contexts/WebSocketContext.tsx
  src/hooks/useDashboardProjects.ts
  src/hooks/useImageFilter.tsx
  src/hooks/useParallelProcessingStatus.ts
  src/hooks/useSegmentationQueue.tsx
  src/hooks/useUnifiedSegmentationUpdate.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/services/webSocketManager.ts
  src/services/webSocketManagerImproved.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/websocket.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: resolve WebSocket context error in production
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: implement immediate batch completion state reset
  src/hooks/useSegmentationQueue.tsx
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: remove white batch processing start toast notification
  src/hooks/useSegmentationQueue.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: correct isConnected property access in useSharedProjectNotifications
  src/hooks/useSharedProjectNotifications.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: remove duplicate export keyword syntax error
  src/hooks/useSharedProjectNotifications.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: add missing translations for parallel batch processing toast notifications
  src/components/StatsOverview.tsx
  src/hooks/useParallelProcessingStatus.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: implement cancel upload functionality with progress bar redesign
  .gitignore
  backend/src/api/controllers/exportController.ts
  backend/src/api/controllers/imageController.ts
  backend/src/config/uploadLimits.ts
  backend/src/middleware/cache.ts
  backend/src/services/__tests__/projectStatsService.test.ts
  backend/src/services/cacheService.ts
  backend/src/services/exportService.ts
  backend/src/services/projectStatsService.ts
  backend/src/services/queueService.ts
  backend/src/test/utils/uploadMocks.ts
  backend/src/types/websocket.ts
  backend/src/utils/filenameUtils.ts
  docker/nginx/nginx.blue.conf
  docker/nginx/nginx.main-router.conf
  docker/nginx/nginx.template.conf
  src/App.tsx
  src/components/ImageUploader.tsx
  src/components/ProjectCard.tsx
  src/components/StatsOverview.tsx
  src/components/project/ProjectToolbar.tsx
  src/components/upload/FileList.tsx
  src/hooks/useDashboardMetrics.tsx
  src/hooks/useProjectCardUpdates.tsx
  src/hooks/useSharedProjectNotifications.tsx
  src/lib/api.ts
  src/lib/filenameUtils.ts
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/hooks/useAdvancedExport.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/websocket.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat: implement comprehensive cancel functionality and dashboard improvements
  backend/src/services/__tests__/projectStatsService.test.ts
  src/components/project/ProjectToolbar.tsx
  src/hooks/useProjectCardUpdates.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/hooks/useAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: handle WebSocket service initialization timing in ImageController
  backend/src/api/controllers/imageController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: remove unused CanvasThumbnailRenderer and clean up remaining tests
  src/components/project/CanvasThumbnailRenderer.tsx
  src/components/project/ImageCard.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasVertex.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat: comprehensive polygon handling improvements and emergency logout
  .serena/memories/add_points_mode_and_vertex_scaling_fixes_2025.md
  .serena/memories/comprehensive_internal_polygon_holes_fix_2025.md
  .serena/memories/fix-segmentation-thumbnails-disappearing.md
  .serena/memories/immediate_auth_logout_redirect_implementation_2025.md
  .serena/memories/internal_polygon_debugging_fix_2025.md
  .serena/memories/internal_polygon_hierarchy_visualization_2025.md
  .serena/memories/polygon_list_icons_visibility_improvement_2025.md
  .serena/memories/segmentation_thumbnail_preservation_fix_2025.md
  .serena/memories/shift_click_vertex_mode_switching_fix_2025.md
  .serena/memories/vertex_deletion_context_menu_comprehensive_fix_2025.md
  .serena/memories/vertex_drag_drop_event_propagation_fix_2025.md
  .serena/memories/websocket_thumbnail_preservation_comprehensive_fix_2025.md
  backend/src/services/segmentationService.ts
  backend/src/utils/polygonValidation.ts
  scripts/quick-cleanup.sh
  scripts/system-cleanup.sh
  src/contexts/AuthContext.tsx
  src/lib/__tests__/imageProcessingService.test.ts
  src/lib/api.ts
  src/lib/emergencyLogout.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasTemporaryGeometryLayer.tsx
  src/pages/segmentation/components/canvas/CanvasVertex.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertex.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

refactor: centralize configuration constants and improve type safety
  src/lib/constants.ts
  src/lib/exportStateManager.ts
  src/lib/retryUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor: improve error messages with contextual information
  src/lib/tiffConverter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: add comprehensive tests for retry utilities
  src/lib/__tests__/retryUtils.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: add comprehensive PR improvements summary
  PR_IMPROVEMENTS_SUMMARY.md
Due: prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
