Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix: oprava všech code review issues z PR #41
  backend/src/api/controllers/authController.ts
  backend/src/api/routes/authRoutes.ts
  backend/src/middleware/error.ts
  backend/src/services/authService.ts
  backend/src/services/emailService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore: cleanup root directory and organize documentation
  .mcp.json
  docker-compose.minimal.yml
  docker-compose.nginx.yml
  docker/nginx/snippets/ssl-params.conf
  docs/archive/reports/BACKEND_COMPILATION_FIX_REPORT.md
  docs/archive/reports/CLEANUP_EXECUTION_PLAN.md
  docs/archive/reports/CLEANUP_SUMMARY.md
  docs/archive/reports/CODE_CONSOLIDATION_SUMMARY.md
  docs/archive/reports/COMPREHENSIVE_CLEANUP_ANALYSIS.md
  docs/archive/reports/COMPREHENSIVE_TEST_FIX_REPORT.md
  docs/archive/reports/FRONTEND_FIX_REPORT.md
  docs/archive/reports/LOGGING_IMPLEMENTATION_SUMMARY.md
  docs/archive/reports/PR_IMPROVEMENTS_SUMMARY.md
  docs/archive/reports/TEST_ACTION_PLAN.md
  docs/archive/reports/TEST_COVERAGE_SUMMARY.md
  docs/archive/reports/TEST_EXECUTION_BLOCKERS_AND_FIXES.md
  docs/archive/reports/TEST_EXECUTION_SUMMARY.md
  docs/archive/reports/TEST_FILE_MAPPING_REPORT.md
  docs/archive/reports/TEST_INTEGRATION_MAPPING.md
  docs/archive/reports/TEST_PATTERNS_LIBRARY.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/DOCKER_BUILD_MIGRATION.md
  docs/deployment/STAGING.md
  public/lovable-uploads/3d7a9b1c-4e2f-4a8d-9c3e-5f8b2a1d6c4e.png
  scripts/renew-ssl-cert.sh
  src/components/Hero.tsx
  src/pages/Index.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  start-blue-backend.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: comprehensive code review fixes for production safety
  scripts/renew-ssl-cert.sh
  src/components/Hero.tsx
  src/hooks/useScrollAnimation.ts
  src/pages/Index.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore: cleanup root directory and organize documentation (#42)
  .mcp.json
  docker-compose.minimal.yml
  docker-compose.nginx.yml
  docker/nginx/snippets/ssl-params.conf
  docs/archive/reports/BACKEND_COMPILATION_FIX_REPORT.md
  docs/archive/reports/CLEANUP_EXECUTION_PLAN.md
  docs/archive/reports/CLEANUP_SUMMARY.md
  docs/archive/reports/CODE_CONSOLIDATION_SUMMARY.md
  docs/archive/reports/COMPREHENSIVE_CLEANUP_ANALYSIS.md
  docs/archive/reports/COMPREHENSIVE_TEST_FIX_REPORT.md
  docs/archive/reports/FRONTEND_FIX_REPORT.md
  docs/archive/reports/LOGGING_IMPLEMENTATION_SUMMARY.md
  docs/archive/reports/PR_IMPROVEMENTS_SUMMARY.md
  docs/archive/reports/TEST_ACTION_PLAN.md
  docs/archive/reports/TEST_COVERAGE_SUMMARY.md
  docs/archive/reports/TEST_EXECUTION_BLOCKERS_AND_FIXES.md
  docs/archive/reports/TEST_EXECUTION_SUMMARY.md
  docs/archive/reports/TEST_FILE_MAPPING_REPORT.md
  docs/archive/reports/TEST_INTEGRATION_MAPPING.md
  docs/archive/reports/TEST_PATTERNS_LIBRARY.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/DOCKER_BUILD_MIGRATION.md
  docs/deployment/STAGING.md
  public/lovable-uploads/3d7a9b1c-4e2f-4a8d-9c3e-5f8b2a1d6c4e.png
  scripts/renew-ssl-cert.sh
  src/components/Hero.tsx
  src/hooks/useScrollAnimation.ts
  src/pages/Index.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  start-blue-backend.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: implement GPU priority for SpheroSeg and switch to sequential image processing
  backend/segmentation/api/main.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/src/services/queueService.ts
  docker-compose.blue.yml
  docker/ml.optimized.Dockerfile
  docker/nginx/nginx.blue.conf
  src/components/Footer.tsx
  src/components/__tests__/Footer.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: address all code review issues from PR #43
  backend/segmentation/api/main.py
  backend/segmentation/api/routes.py
  backend/src/services/queueService.ts
  backend/src/workers/queueWorker.ts
  docker-compose.blue.yml
  docker/nginx/nginx.blue.conf
  src/components/__tests__/Footer.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: implement GPU priority for SpheroSeg and switch to sequential image processing (#43)
  backend/segmentation/api/main.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/src/services/queueService.ts
  backend/src/workers/queueWorker.ts
  docker-compose.blue.yml
  docker/ml.optimized.Dockerfile
  docker/nginx/nginx.blue.conf
  src/components/Footer.tsx
  src/components/__tests__/Footer.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: address all PR review findings — 12 issues across 17 files
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/sperm_final/BEST_PARAMS.md
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/src/utils/polygonValidation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SpermInstancePanel.tsx
  src/pages/segmentation/components/project/export/SpermExcelExporter.tsx
  src/pages/segmentation/config/__tests__/modeConfig.test.ts
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: polyline UX improvements — hover animation, instance assignment, panel fixes
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SpermInstancePanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: address PR #45 review findings — 5 issues
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SpermInstancePanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: consolidate duplicate handlers + improve dblclick comment accuracy
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: add missing props to React.memo comparator in CanvasPolygon
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: simplify polyline code — stabilize memo refs, remove duplicates, fix comments
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: simplify polyline code — stabilize memo refs, remove duplicates, fix comments (#46)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: production bugs — upload crash, segmentation status, ML retry
  CLAUDE.md
  backend/segmentation/models/sperm.py
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/FloatingUploadProgress.tsx
  src/lib/api.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: production bugs — upload crash, segmentation status, ML retry (#47)
  CLAUDE.md
  backend/segmentation/models/sperm.py
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/FloatingUploadProgress.tsx
  src/lib/api.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor: remove blue-green deployment, single production compose
  CLAUDE.md
  Makefile
  docker-compose.active.yml
  docker-compose.green.gpu.yml
  docker-compose.green.yml
  docker-compose.production.yml
  docker-compose.yml
  docker/nginx/nginx.active.conf
  docker/nginx/nginx.blue.local.conf
  docker/nginx/nginx.main-router.conf
  docker/nginx/nginx.production.conf
  docker/nginx/nginx.ssl.conf
  docker/nginx/nginx.template.conf
  docs/BLUE-GREEN-DEPLOYMENT.md
  docs/superpowers/plans/2026-03-28-simplify-deployment.md
  docs/superpowers/specs/2026-03-28-simplify-deployment-design.md
  scripts/deploy-blue-green.sh
  scripts/fix-green-uploads-immediate.sh
  scripts/fix-green-uploads.sh
  scripts/init-green-db.sh
  scripts/switch-blue-green.sh
  scripts/switch-environment.sh
  scripts/switch-nginx-upstream.sh
Due: prettier --write

refactor: remove blue-green deployment, single production compose (#48)
  CLAUDE.md
  Makefile
  docker-compose.active.yml
  docker-compose.green.gpu.yml
  docker-compose.green.yml
  docker-compose.production.yml
  docker-compose.yml
  docker/nginx/nginx.active.conf
  docker/nginx/nginx.blue.local.conf
  docker/nginx/nginx.main-router.conf
  docker/nginx/nginx.production.conf
  docker/nginx/nginx.ssl.conf
  docker/nginx/nginx.template.conf
  docs/BLUE-GREEN-DEPLOYMENT.md
  docs/superpowers/plans/2026-03-28-simplify-deployment.md
  docs/superpowers/specs/2026-03-28-simplify-deployment-design.md
  scripts/deploy-blue-green.sh
  scripts/fix-green-uploads-immediate.sh
  scripts/fix-green-uploads.sh
  scripts/init-green-db.sh
  scripts/switch-blue-green.sh
  scripts/switch-environment.sh
  scripts/switch-nginx-upstream.sh
Due: prettier --write

chore: remove leftover blue-green files (.active-environment, .env.common)
  .active-environment
  .env.common
Due: none

chore: remove leftover blue-green files (.active-environment, .env.common) (#49)
  .active-environment
  .env.common
Due: none

feat: approximate sperm head polyline to exactly 3 points
  backend/segmentation/sperm_final/inference/postprocess.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: approximate sperm head polyline to exactly 3 points (#50)
  backend/segmentation/sperm_final/inference/postprocess.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: increase midpiece/tail polyline density from 16 to 32 pts/100px
  backend/segmentation/sperm_final/inference/postprocess.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: increase midpiece/tail polyline density from 16 to 32 pts/100px (#51)
  backend/segmentation/sperm_final/inference/postprocess.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: restore backend/ML upload volume mount to uploads/blue
  docker-compose.production.yml
  docker/nginx/nginx.production.conf
Due: prettier --write
