Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(channel-picker): aggregate channels from container rows + forward originalPath through FE mapper (#158)
  backend/src/api/controllers/imageController.ts
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(channel-picker): strip SyntheticEvent from handleSegmentAll, harden type check
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(channel-picker): strip SyntheticEvent from handleSegmentAll, harden type check (#159)
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(microtubule): simplify polylines + per-instance colors + dedicated panel
  backend/segmentation/models/microtubule/wrapper.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/utils/instanceColors.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microtubule): address PR #160 review — stable color + robust RDP + tests
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/tests/test_microtubule_model.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/utils/__tests__/instanceColors.test.ts
  src/pages/segmentation/utils/instanceColors.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): bind sperm/microtubule panels to project type, not majority count
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(microtubule): simplify polylines + per-instance colors + dedicated panel (#160)
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/tests/test_microtubule_model.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/utils/__tests__/instanceColors.test.ts
  src/pages/segmentation/utils/instanceColors.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(ci): remove broken workflows, add nightly drift + strict 0-warnings gate
  .github/workflows/ci-cd.yml
  .github/workflows/nightly-drift.yml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/quality-gates.yml
  .husky/pre-commit
  .lintstagedrc.json
  Makefile
  docs/DEPLOYMENT-RUNBOOK.md
  docs/hooks-guide.md
  src/components/project/SegmentChannelDialog.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(ci): remove broken workflows, add nightly drift + strict 0-warnings gate (#161)
  .github/workflows/ci-cd.yml
  .github/workflows/nightly-drift.yml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/quality-gates.yml
  .husky/pre-commit
  .lintstagedrc.json
  Makefile
  docs/DEPLOYMENT-RUNBOOK.md
  docs/hooks-guide.md
  src/components/project/SegmentChannelDialog.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(claude-md): rewrite from scratch — verification-first guidance
  CLAUDE.md
Due: prettier --write

chore(claude-md): rewrite from scratch — verification-first guidance (#162)
  CLAUDE.md
Due: prettier --write

fix(batch-delete): chunk apiClient.deleteBatch to ≤100 ids per request
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): route large multi-page TIFFs through video pipeline
  src/components/upload/DropZone.tsx
  src/contexts/UploadContext.tsx
  src/lib/uploadUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(batch-delete): cascade-delete orphan video containers
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(upload): persist floating card across page refresh + show interrupted state
  src/components/FloatingUploadProgress.tsx
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.persistence.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(batch-delete): review fixes for cascade-orphan cleanup
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(batch-delete): chunk apiClient.deleteBatch to ≤100 ids per request (#163)
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): route large multi-page TIFFs through video pipeline (#164)
  src/components/upload/DropZone.tsx
  src/contexts/UploadContext.tsx
  src/lib/uploadUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): persist floating card across page refresh + show interrupted state (#166)
  src/components/FloatingUploadProgress.tsx
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.persistence.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(batch-delete): cascade-delete orphan video containers (#165)
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): make /api/images/:id/frame-data public so <img> tags can fetch it
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/imageRoutes.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): correct back/next ordering for video frames + use BE projectChannels for Segment All
  src/hooks/useProjectData.tsx
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/navigateToImage.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): make /api/images/:id/frame-data public so <img> tags can fetch it (#167)
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/imageRoutes.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(deploy): auto-reload on stale-chunk import failure + recognise Firefox/Safari wording
  src/lib/__tests__/lazyWithRetry.chunk-detection.test.ts
  src/lib/lazyWithRetry.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): correct back/next ordering for video frames + use BE projectChannels for Segment All (#168)
  src/hooks/useProjectData.tsx
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/navigateToImage.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(deploy): auto-reload on stale-chunk import failure + recognise Firefox/Safari wording (#169)
  src/lib/__tests__/lazyWithRetry.chunk-detection.test.ts
  src/lib/lazyWithRetry.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(landing): acknowledge Lukáš Veškrna for the wound-healing module
  src/pages/Index.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(landing): acknowledge Lukáš Veškrna for the wound-healing module (#170)
  src/pages/Index.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
