Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(editor): serve the 8-bit playback proxy under repr=proxy
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/playbackProxyService.test.ts
  backend/src/services/playbackProxyService.ts
  backend/src/services/video/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(editor): draw the canvas from the 8-bit playback proxy
  backend/src/services/__tests__/playbackProxyRange.test.ts
  backend/src/services/playbackProxyRange.ts
  backend/src/services/playbackProxyService.ts
  src/lib/__tests__/playbackProxyWindow.test.ts
  src/lib/__tests__/webpGray.test.ts
  src/lib/decodedFrameCache.ts
  src/lib/playbackProxyWindow.ts
  src/lib/png16Client.ts
  src/lib/webpGray.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/segmentationPolygonCache.ts
  src/types/index.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): give every frame its own proxy range, not the container one
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/playbackProxyService.test.ts
  backend/src/services/playbackProxyService.ts
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
  backend/src/services/video/pythonHelpers/tests/test_make_playback_proxy.py
  docs/superpowers/specs/2026-08-21-playback-proxy-design.md
  src/lib/__tests__/playbackProxyWindow.test.ts
  src/lib/playbackProxyWindow.ts
  src/lib/png16Client.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/hooks/__tests__/useDecodeAhead.test.ts
  src/pages/segmentation/hooks/useDecodeAhead.ts
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(api): stop a retried 429 from starting its own retry loop
  src/lib/__tests__/api.test.ts
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(export): give the heap room for a large export, and stop polling a job that is gone
  docker-compose.production.yml
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.polling.test.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): do not cache the PNG that stands in for an unbuilt proxy
  backend/src/api/controllers/videoController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(editor): cover the proxy batch, and stop a comment describing the design we rejected
  backend/src/services/__tests__/playbackProxyService.test.ts
  backend/src/services/playbackProxyRange.ts
  backend/src/services/playbackProxyService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): make the playback proxy actually turn on, and stop it drawing wrong
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/playbackProxyService.test.ts
  backend/src/services/playbackProxyService.ts
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
  backend/src/services/video/types.ts
  docs/superpowers/plans/2026-08-21-playback-proxy.md
  docs/superpowers/specs/2026-08-21-playback-proxy-design.md
  src/lib/__tests__/playbackProxyWindow.test.ts
  src/lib/__tests__/webpGray.test.ts
  src/lib/decodedFrameCache.ts
  src/lib/playbackProxyWindow.ts
  src/lib/png16Client.ts
  src/lib/webpGray.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/useDecodeAhead.ts
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(tooling): stop prettier walking the model benchmark data
  .prettierignore
Due: none

fix(export): reconcile the scale box with the value it exports on blur
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/__tests__/AdvancedExportDialog.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): window each channel by its own data, not by the union
  src/lib/__tests__/playbackProxyWindow.test.ts
  src/lib/__tests__/webglCompositor.test.ts
  src/lib/playbackProxyWindow.ts
  src/lib/webglCompositor.ts
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt): let an untracked microtubule take a type label
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/utils/__tests__/mtTypeTargets.test.ts
  src/pages/segmentation/utils/mtTypeTargets.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): keep the type stamp in the undo history, where autosave reads
  src/lib/playbackProxyWindow.ts
  src/lib/windowLevel.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameWindowPrefetcher.test.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/utils/mtTypeTargets.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): act on the PR review — five defects and three lying tests
  src/lib/__tests__/playbackProxyWindow.test.ts
  src/lib/api.ts
  src/lib/playbackProxyWindow.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
  src/pages/segmentation/utils/__tests__/mtTypeTargets.test.ts
  src/pages/segmentation/utils/mtTypeTargets.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(ml): guard the CR/LF log filter that CodeQL cannot see
  backend/segmentation/tests/test_log_forging_filter.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(mt): stop CLAUDE.md pointing at tracker gates that are not in the path
  CLAUDE.md
  backend/segmentation/api/tracker_kymograph.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt): raise a catchable error for a bad checkpoint, not SystemExit
  backend/segmentation/models/microtubule/net.py
  backend/segmentation/tests/test_net_head_width_errors.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt): segment a frame smaller than one tile instead of dying on its shape
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/tests/conftest.py
  backend/segmentation/tests/test_microtubule_small_frames.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(frap): measure spot brightness in sigma, so the endpoint stops returning zero
  backend/segmentation/models/frap_select.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(frap): pin that the bleach ROI follows the filament, not the image axes
  backend/segmentation/tests/unit/test_frap_roi_orientation.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
