Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(essays): review - compare stage lists of equal length, frame size of every paired file
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/tests/test_split_channel_wells.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(essays): registration measured across the whole plate, split by signal
  CLAUDE.md
  backend/essays/module/README.md
Due: prettier --write

feat(essays): wells recorded as one file per channel, with a TIRF time series (#581)
  CLAUDE.md
  backend/essays/module/README.md
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/__init__.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/essays/module/tests/test_channel_roles.py
  backend/essays/module/tests/test_focus_qc_columns.py
  backend/essays/module/tests/test_split_channel_wells.py
  docs/guides/automated-essays.md
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(disintegration): outside-core fraction first, disintegration index beside it
  backend/segmentation/api/metrics_endpoint.py
  backend/src/api/v1/models.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  docs/guides/export.md
  docs/guides/project-types/spheroid-invasive.md
  docs/reference/glossary.md
  docs/reference/metrics.md
  docs/reference/ml-models.md
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(disintegration): qualify the mean-distance reading of W1 and pin it
  backend/segmentation_cpu_tests/test_disintegration_parity.py
  backend/src/services/export/exportDocs.ts
  docs/reference/metrics.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(disintegration): outside-core fraction first, disintegration index beside it (#582)
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation_cpu_tests/test_disintegration_parity.py
  backend/src/api/v1/models.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  docs/guides/export.md
  docs/guides/project-types/spheroid-invasive.md
  docs/reference/glossary.md
  docs/reference/metrics.md
  docs/reference/ml-models.md
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(disintegration): regime flags key on the outside-core fraction, not on DI
  backend/segmentation/api/disintegration_metrics.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/segmentation_cpu_tests/fixtures/di_parity/expected.json
  backend/segmentation_cpu_tests/fixtures/di_parity/masks.npz
  backend/segmentation_cpu_tests/test_disintegration_parity.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  docs/guides/export.md
  docs/guides/project-types/spheroid-invasive.md
  docs/reference/metrics.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(disintegration): regime flags key on the outside-core fraction, not on DI (#583)
  backend/segmentation/api/disintegration_metrics.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/segmentation_cpu_tests/fixtures/di_parity/expected.json
  backend/segmentation_cpu_tests/fixtures/di_parity/masks.npz
  backend/segmentation_cpu_tests/test_disintegration_parity.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  docs/guides/export.md
  docs/guides/project-types/spheroid-invasive.md
  docs/reference/metrics.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): say so when propagating a microtubule changes nothing
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/segmentationService.ts
  docs/api/README.md
  docs/guides/project-types/microtubules.md
  docs/guides/segmentation-editor.md
  src/lib/__tests__/api-methods.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): review findings on sharp zoom and no-op propagate
  CLAUDE.md
  docs/guides/segmentation-editor.md
  src/lib/__tests__/performanceUtils.test.ts
  src/lib/performanceUtils.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasTemporaryGeometryLayer.tsx
  src/pages/segmentation/components/canvas/CanvasVertex.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasTemporaryGeometryLayer.test.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.wheel.test.tsx
  src/pages/segmentation/hooks/__tests__/useSegmentationLoader.test.ts
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useSegmentationLoader.ts
  src/pages/segmentation/utils/__tests__/overlayScale.test.ts
  src/pages/segmentation/utils/__tests__/wheelZoom.test.ts
  src/pages/segmentation/utils/overlayScale.ts
  src/translations/__tests__/countNeutralStrings.test.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): name the frame on every intensity row
  backend/src/services/export/__tests__/neuriteIntensityExporter.test.ts
  backend/src/services/export/neuriteIntensityExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(neurite): keep the channel count out of a log line that carries user input
  backend/segmentation/api/routes.py
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(neurite): holes from the learned model, and a classless nested polygon is a hole
  CLAUDE.md
  backend/segmentation/ml/model_loader.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation_cpu_tests/test_postprocessing_holes.py
  backend/src/api/v1/__tests__/openapi.test.ts
  backend/src/api/v1/models.ts
  backend/src/services/export/__tests__/neuriteIntensityExporter.test.ts
  backend/src/services/export/neuriteMetricsExporter.ts
  docs/api/ml-service.md
  docs/api/public-v1.md
  docs/guides/project-types/neurite.md
  docs/guides/segmentation-editor.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(neurite): holes from the learned model, and a classless nested polygon is a hole (#586)
  CLAUDE.md
  backend/segmentation/ml/model_loader.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation_cpu_tests/test_postprocessing_holes.py
  backend/src/api/v1/__tests__/openapi.test.ts
  backend/src/api/v1/models.ts
  backend/src/services/export/__tests__/neuriteIntensityExporter.test.ts
  backend/src/services/export/neuriteMetricsExporter.ts
  docs/api/ml-service.md
  docs/api/public-v1.md
  docs/guides/project-types/neurite.md
  docs/guides/segmentation-editor.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(microtubules): propagate a multi-selection in one request
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/segmentationService.ts
  docs/api/README.md
  docs/guides/project-types/microtubules.md
  src/lib/__tests__/api-methods.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(microtubules): batch propagate — ids chosen by the client, refusals told apart, finite coordinates
  backend/src/api/routes/__tests__/segmentationRoutes.propagate.test.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/segmentationService.ts
  backend/src/services/staticChannelProjectionService.ts
  docs/api/README.md
  docs/guides/segmentation-editor.md
  src/lib/__tests__/api-methods.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
  src/pages/segmentation/utils/__tests__/mintTrackId.test.ts
  src/pages/segmentation/utils/mintTrackId.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

perf(microtubules): propagate a multi-selection in one request (#587)
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/__tests__/segmentationRoutes.propagate.test.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/segmentationService.ts
  backend/src/services/staticChannelProjectionService.ts
  docs/api/README.md
  docs/guides/project-types/microtubules.md
  docs/guides/segmentation-editor.md
  src/lib/__tests__/api-methods.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
  src/pages/segmentation/utils/__tests__/mintTrackId.test.ts
  src/pages/segmentation/utils/mintTrackId.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(upload): store a single-page colour TIFF over 20 MB as an image
  CLAUDE.md
  backend/src/api/controllers/__tests__/videoController.colourStill.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/colourStillTiff.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_classify.py
  docs/api/README.md
  docs/guides/uploading-data.md
  src/lib/api.ts
  src/lib/uploadUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(upload): read the colour still through one handle, inside the temp dir
  backend/src/api/controllers/__tests__/videoController.colourStill.test.ts
  backend/src/config/videoUploadTmpDir.ts
  backend/src/middleware/upload.ts
  backend/src/services/colourStillTiff.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(upload): 413 for an oversized colour still, and a toast true for both outcomes
  backend/src/api/controllers/__tests__/videoController.colourStill.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/colourStillTiff.ts
  src/contexts/UploadContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(upload): keep the colour-still probe out of the stack upload suite
  backend/src/api/__tests__/videoController.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(upload): store a single-page colour TIFF over 20 MB as an image (#588)
  CLAUDE.md
  backend/src/api/__tests__/videoController.test.ts
  backend/src/api/controllers/__tests__/videoController.colourStill.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/config/videoUploadTmpDir.ts
  backend/src/middleware/upload.ts
  backend/src/services/colourStillTiff.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_classify.py
  docs/api/README.md
  docs/guides/uploading-data.md
  src/contexts/UploadContext.tsx
  src/lib/api.ts
  src/lib/uploadUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(sperm): trace the two-part head by its bends instead of a 3-point arc
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/sperm.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/run_pipeline.py
  backend/segmentation/tests/unit/test_sperm_two_part.py
  docs/reference/ml-models.md
  docs/superpowers/specs/2026-09-26-sperm-2part-design.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(sperm): trace the two-part head by its bends instead of a 3-point arc (#589)
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/sperm.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/run_pipeline.py
  backend/segmentation/tests/unit/test_sperm_two_part.py
  docs/reference/ml-models.md
  docs/superpowers/specs/2026-09-26-sperm-2part-design.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
