Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(editor): resegment button moved to top toolbar with channel picker
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(editor): resegment button moved to top toolbar with channel picker (#195)
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs: refresh CLAUDE.md after blue-green removal + recent fixes
  CLAUDE.md
Due: prettier --write

docs: refresh CLAUDE.md after blue-green removal + recent fixes (#196)
  CLAUDE.md
Due: prettier --write

feat(editor): sliding-window frame prefetch + skeleton-first loading
  backend/src/api/routes/imageRoutes.ts
  src/lib/rendering/FrameImageCache.ts
  src/lib/rendering/__tests__/FrameImageCache.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/EditorFrameLoadingOverlay.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/hooks/segmentationPolygonCache.ts
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): throttle window prefetch to URL-level dedup
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): debounce frame loading overlay so playback doesn't flicker
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): kill prefetch burst that caused mid-playback flicker
  docker/nginx/nginx.production.conf
  src/lib/rendering/FrameImageCache.ts
  src/lib/rendering/__tests__/FrameImageCache.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): debounce scrub commits so a held-key burst commits once
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(editor): review polish — drop dead 404 catch, refresh stale doc
  docker/nginx/nginx.production.conf
  src/pages/segmentation/hooks/segmentationPolygonCache.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): comprehensive review-driven hardening
  src/lib/rendering/FrameImageCache.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/FrameLoadingGate.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameLoadingGate.test.tsx
  src/pages/segmentation/hooks/__tests__/segmentationPolygonCache.test.ts
  src/pages/segmentation/hooks/__tests__/useFrameWindowPrefetch.test.tsx
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(tracker): permit no_segmentation / failed frames in batch gate
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): drop decorative endpoint markers when polyline is selected
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(app): bundle + render optimizations from research pass
  src/contexts/LanguageContext.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SpermInstancePanel.tsx
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(api): restore widened segmentation model whitelist on this branch
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(editor): useDeferredValue in PolygonListPanel row mapping
  src/pages/segmentation/components/PolygonListPanel.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(app): address review pass-2 findings (critical + important)
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/constants/segmentationModels.ts
  backend/src/types/validation.ts
  src/contexts/LanguageContext.tsx
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(editor): move Resegment back next to Undo/Redo in TopToolbar
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/TopToolbar.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(app): pass-3 review — channel picker, invasive model, language race
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/segmentationService.ts
  src/contexts/LanguageContext.tsx
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): TDZ on resegment hook chain — move below const video
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(export): MT metrics — integer-only, backspace-friendly, above images
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): kill video editor flicker + cross-stack hardening (#198)
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/constants/segmentationModels.ts
  backend/src/services/segmentationService.ts
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
  backend/src/types/validation.ts
  docker/nginx/nginx.production.conf
  src/contexts/LanguageContext.tsx
  src/lib/api.ts
  src/lib/rendering/FrameImageCache.ts
  src/lib/rendering/__tests__/FrameImageCache.test.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/SpermInstancePanel.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/EditorFrameLoadingOverlay.tsx
  src/pages/segmentation/components/canvas/FrameLoadingGate.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameLoadingGate.test.tsx
  src/pages/segmentation/hooks/__tests__/segmentationPolygonCache.test.ts
  src/pages/segmentation/hooks/__tests__/useFrameWindowPrefetch.test.tsx
  src/pages/segmentation/hooks/segmentationPolygonCache.ts
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
  src/pages/segmentation/hooks/useVideoFrames.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(video): TIFF time interval from per-frame timestamps
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): address pass-1 review on TIFF frame-interval extractor
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(video): TIFF frame interval from per-frame timestamps (#200)
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(images): bubble pixel calibration from video container to frame rows
  backend/src/api/controllers/imageController.ts
  backend/src/services/imageService.ts
  backend/src/services/video/pythonHelpers/extract_metadata_only.py
  src/pages/export/AdvancedExportDialog.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(images): address PR review — orphan parent log + user-touched flag + TIFF symmetry
  backend/src/api/controllers/imageController.ts
  backend/src/services/imageService.ts
  backend/src/services/video/pythonHelpers/extract_metadata_only.py
  src/pages/export/AdvancedExportDialog.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(images): bubble pixel calibration from video container to frame rows (#201)
  backend/src/api/controllers/imageController.ts
  backend/src/services/imageService.ts
  backend/src/services/video/pythonHelpers/extract_metadata_only.py
  src/pages/export/AdvancedExportDialog.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(folders): address critical review findings — race conditions, partial failures, cycle safety
  backend/prisma/migrations/20260516_add_project_folders/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/projectFolderController.ts
  backend/src/services/projectFolderService.ts
  src/components/project/DeleteFolderDialog.tsx
  src/components/project/MoveToFolderDialog.tsx
  src/lib/api.ts
  src/pages/Dashboard.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(folders): polish error UX — whitespace validation, server messages, Prisma error mapping
  backend/src/services/projectFolderService.ts
  backend/src/types/validation.ts
  src/hooks/useFolders.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'
