Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(editor): list microtubules in the same order as the metrics table
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): list microtubules in the same order as the metrics table (#446)
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): delete every selected microtubule, not just the last one
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/DeleteTrackScopeDialog.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(microcapsule): detect the membrane, segment it, and measure the annulus
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
  backend/src/services/__tests__/microcapsuleMembrane.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/__tests__/radialDiameter.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/radialDiameter.ts
  backend/src/services/microcapsuleMembrane.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/lib/__tests__/microcapsuleMembrane.test.ts
  src/lib/microcapsuleMembrane.ts
  src/pages/export/hooks/useExportFunctions.ts
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): delete every selected microtubule, not just the last one (#447)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/DeleteTrackScopeDialog.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(microcapsule): trace the membrane as one contour, not a hop between two
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(i18n): Czech numeral agreement in the microtubule selection strings
  src/translations/cs.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): say "the selected microtubules" when deleting more than one
  src/pages/segmentation/components/DeleteTrackScopeDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(microcapsule): detect the membrane, segment it, and measure the annulus (#448)
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
  backend/src/services/__tests__/microcapsuleMembrane.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/__tests__/radialDiameter.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/radialDiameter.ts
  backend/src/services/microcapsuleMembrane.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/lib/__tests__/microcapsuleMembrane.test.ts
  src/lib/microcapsuleMembrane.ts
  src/pages/export/hooks/useExportFunctions.ts
  src/pages/segmentation/components/DeleteTrackScopeDialog.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): run the membrane contour along an intensity level set
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): run the membrane contour along an intensity level set (#449)
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): widen the membrane search so it can reach the inner boundary
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): widen the membrane search so it can reach the inner boundary (#450)
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): keep the membrane round where the image cannot say
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): move the vertex you grabbed, and stop the canvas edge committing it
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): move the vertex you grabbed, and stop the canvas edge committing it (#451)
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(kymograph): export each trajectory cut into motion and pause segments
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_phases.py
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(kymograph): pin the motion/pause segmentation and its wire contract
  backend/segmentation/tests/test_tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(upload): show the server-side half of a video upload, and make it 7x shorter
  backend/src/api/controllers/__tests__/videoController.uploadProgress.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/frame_png.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/pythonHelpers/tests/test_frame_png.py
  backend/src/services/videoUploadService.ts
  backend/src/types/websocket.ts
  src/components/FloatingUploadProgress.tsx
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.test.tsx
  src/lib/constants.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(drift): put the PROGRESS helper above the comment about the try block
  backend/src/services/video/pythonHelpers/correct_drift.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): keep the membrane round where the image cannot say (#452)
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(projects): rename a project from its header
  src/components/project/ProjectHeader.tsx
  src/components/project/__tests__/ProjectHeader.test.tsx
  src/hooks/useProjectData.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(projects): rename a project from its header (#455)
  src/components/project/ProjectHeader.tsx
  src/components/project/__tests__/ProjectHeader.test.tsx
  src/hooks/useProjectData.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(display): stop collapsing a 16-bit image to two grey levels
  backend/src/services/imageService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/convert_for_display.py
  backend/src/services/video/pythonHelpers/tests/test_convert_for_display.py
  src/pages/segmentation/components/canvas/CanvasImage.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): drag a shape by its outline to move the whole thing
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(display): serve the image the user uploaded, and let a shape be dragged by its outline (#456)
  backend/src/services/imageService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/convert_for_display.py
  backend/src/services/video/pythonHelpers/tests/test_convert_for_display.py
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): trace the membrane at its own measured width, not at 1.5 px
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): trace the membrane at its own measured width, not at 1.5 px (#457)
  backend/segmentation/models/microcapsule_membrane.py
  backend/segmentation/tests/test_microcapsule_membrane.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): give still images the window/level controls the 16-bit data needs
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasImage.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(kymograph): export each trajectory cut into motion and pause segments (#453)
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_phases.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(upload): show the server-side half of a video upload, and make it 7x shorter (#454)
  backend/src/api/controllers/__tests__/videoController.uploadProgress.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/frame_png.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/pythonHelpers/tests/test_frame_png.py
  backend/src/services/videoUploadService.ts
  backend/src/types/websocket.ts
  src/components/FloatingUploadProgress.tsx
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.test.tsx
  src/lib/constants.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): give still images the window/level controls the 16-bit data needs (#458)
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasImage.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(polygon): stop the read path stripping the model's class from every polygon
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/segmentationService.ts
  backend/src/utils/polygonValidation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(polygon): stop the read path stripping the model's class from every polygon (#459)
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/segmentationService.ts
  backend/src/utils/polygonValidation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(upload): translate the upload card's status line instead of shipping English
  backend/src/services/videoUploadService.ts
  src/components/FloatingUploadProgress.tsx
  src/components/__tests__/FloatingUploadProgress.test.tsx
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.persistence.test.tsx
  src/contexts/__tests__/UploadContext.test.tsx
  src/lib/api.ts
  src/lib/uploadUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(upload): translate the upload card's status line instead of shipping English (#460)
  backend/src/services/videoUploadService.ts
  src/components/FloatingUploadProgress.tsx
  src/components/__tests__/FloatingUploadProgress.test.tsx
  src/contexts/UploadContext.tsx
  src/contexts/__tests__/UploadContext.persistence.test.tsx
  src/contexts/__tests__/UploadContext.test.tsx
  src/lib/api.ts
  src/lib/uploadUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(upload): key the four progress phases the first pass missed
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/videoUploadService.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(upload): key the four progress phases the first pass missed (#461)
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/videoUploadService.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(cancel): stop asserting on wall-clock time, which this harness cannot measure
  src/__tests__/performance/cancel-performance.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(cancel): stop asserting on wall-clock time, which this harness cannot measure (#462)
  src/__tests__/performance/cancel-performance.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
