Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

chore(deps): de-yank transformers 4.57.0 -> 4.57.6 (DINOv3 preserved)
  backend/segmentation/requirements.txt
Due: none

docs(claude): add dependency-removal/pin gotchas to failure patterns
  CLAUDE.md
Due: prettier --write

fix(editor): render all polygons, remove buggy frustum culling
  src/lib/rendering/BoundingBoxCache.ts
  src/lib/rendering/FpsMeter.tsx
  src/lib/rendering/FrameImageCache.ts
  src/lib/rendering/PolygonVisibilityManager.ts
  src/lib/rendering/__tests__/BoundingBoxCache.test.ts
  src/lib/rendering/__tests__/PolygonVisibilityManager.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonRenderProps.test.ts
  src/pages/segmentation/hooks/usePolygonRenderProps.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(editor): address PR #241 review — drop stale comment, update doc, add test
  docs/polygon-rendering-optimization.md
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonRenderProps.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): render all polygons, remove buggy frustum culling (#241)
  docs/polygon-rendering-optimization.md
  src/lib/rendering/BoundingBoxCache.ts
  src/lib/rendering/FpsMeter.tsx
  src/lib/rendering/FrameImageCache.ts
  src/lib/rendering/PolygonVisibilityManager.ts
  src/lib/rendering/__tests__/BoundingBoxCache.test.ts
  src/lib/rendering/__tests__/PolygonVisibilityManager.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonRenderProps.test.ts
  src/pages/segmentation/hooks/usePolygonRenderProps.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(rendering): mark polygon-rendering-optimization.md accurate
  CLAUDE.md
  docs/polygon-rendering-optimization.md
Due: prettier --write

docs(rendering): mark polygon-rendering-optimization.md accurate (#242)
  CLAUDE.md
  docs/polygon-rendering-optimization.md
Due: prettier --write

docs(spec): microcapsule project type + instance-seg model design
  docs/superpowers/specs/2026-06-22-microcapsule-project-type-design.md
Due: prettier --write

chore(eslint): ignore .claude/ and coverage/ in flat config
  eslint.config.js
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write

feat(microcapsule): add microcapsule project type + YOLO11n-seg model
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/microcapsule.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/test_microcapsule_model.py
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/types/polygon.ts
  backend/src/types/validation.ts
  backend/src/utils/polygonValidation.ts
  docker/ml.optimized.Dockerfile
  src/components/project/ProjectHeader.tsx
  src/components/settings/ModelSettingsSection.tsx
  src/hooks/__tests__/useLocalizedModels.test.ts
  src/lib/__tests__/modelUtils.test.ts
  src/lib/api.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/lib/segmentation.ts
  src/pages/export/hooks/useExportFunctions.ts
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/project/export/ExcelExporter.tsx
  src/pages/segmentation/components/project/export/MetricsDisplay.tsx
  src/pages/segmentation/hooks/useResegment.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): Add Points keeps the larger-perimeter arc
  src/pages/segmentation/hooks/__tests__/insertPointsBetweenVertices.test.ts
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(microcapsule): replace YOLO with Meta SAM 3 ("circle" prompt)
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/microcapsule.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/test_microcapsule_model.py
  docker/ml.optimized.Dockerfile
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(spec): note YOLO->SAM 3 model change in microcapsule spec
  docs/superpowers/specs/2026-06-22-microcapsule-project-type-design.md
Due: prettier --write

fix(microcapsule): merge concentric SAM 3 circles (fill holes before containment)
  backend/segmentation/models/microcapsule.py
  backend/segmentation/tests/test_microcapsule_model.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ui): tag microcapsule SAM 3 model 'medium' not 'large' (no red badge)
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(ui): self-heal ML-status indicator so it recovers without a refresh
  src/components/DashboardHeader.tsx
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(microcapsule): add width, height & diameter to the metrics export
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(microcapsule): address PR review (GPU lock, border, vocab dl, grey fill)
  backend/segmentation/api/routes.py
  backend/segmentation/models/microcapsule.py
  backend/segmentation/tests/test_microcapsule_model.py
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/translations/cs.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(microcapsule): replace SAM 3 runtime model with a distilled U-Net
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/microcapsule.py
  backend/segmentation/models/unet_lite.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/test_microcapsule_model.py
  src/lib/models/modelRegistry.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(monitoring): add postgres + redis exporters to monitoring compose
  docker-compose.monitoring.yml
Due: prettier --write

feat(kymograph): transform-based modal viewer (wheel zoom, pan, auto-center)
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(kymograph): per-trajectory run length/time, intensity, width & edge flag
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph): px-per-column scaling, robustness & review fixes
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): per-trajectory run length/time, intensity, width & edge flag (#245)
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/routes.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/microcapsule.py
  backend/segmentation/models/unet_lite.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/segmentation/tests/test_microcapsule_model.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  docker-compose.monitoring.yml
  src/lib/models/modelRegistry.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(upload): scale video-upload timeout to file size + nginx headroom
  docker/nginx/nginx.production.conf
  src/lib/__tests__/constants.test.ts
  src/lib/api.ts
  src/lib/constants.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): scale video-upload timeout to file size + nginx headroom (#246)
  docker/nginx/nginx.production.conf
  src/lib/__tests__/constants.test.ts
  src/lib/api.ts
  src/lib/constants.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): address PR #246 review — NaN guard, FE/nginx ceiling parity, doc fixes
  docker/nginx/nginx.production.conf
  src/lib/__tests__/constants.test.ts
  src/lib/constants.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): address PR #246 review — NaN guard, FE/nginx ceiling parity, doc fixes (#247)
  docker/nginx/nginx.production.conf
  src/lib/__tests__/constants.test.ts
  src/lib/constants.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(upload): stream + parallelise ND2 frame extraction (1.9x faster, 2.5x less RAM)
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(upload): stream + parallelise ND2 frame extraction (1.9x faster, 2.5x less RAM) (#248)
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microcapsule): keep full CHAIN_APPROX_SIMPLE boundary (no approxPolyDP)
  backend/segmentation/models/microcapsule.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
