Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

chore: Apply Prettier formatting to backend files
  backend/src/api/controllers/imageController.ts
  backend/src/db/prismaPool.ts
  backend/src/monitoring/rateLimitingInitialization.ts
  backend/src/services/__tests__/segmentationService.batch-fix.test.ts
  backend/src/services/__tests__/segmentationService.integration.test.ts
  backend/src/services/segmentationService.ts
  backend/src/services/userService.ts
  backend/src/storage/localStorage.ts
  backend/src/test/integration/mlAuthenticationBoundaries.test.ts
  backend/src/test/utils/jwtTestUtils.ts
  backend/src/test/utils/uploadMocks.ts
  backend/src/utils/logger.ts
  backend/src/utils/polygonValidation.ts
  package-lock.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: Resolve critical issues in access logging system
  ACTIVATE_LOGGING.sh
  backend/src/middleware/__tests__/accessLogger.test.ts
  backend/src/middleware/accessLogger.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore: Apply prettier formatting to UI components
  src/components/DashboardHeader.tsx
  src/components/header/MobileMenu.tsx
  src/components/project/QueueStatsPanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: Add comprehensive test execution and analysis documentation
  COMPREHENSIVE_TEST_EXECUTION_REPORT.md
  TEST_ACTION_PLAN.md
  TEST_COVERAGE_SUMMARY.md
  TEST_EXECUTION_BLOCKERS_AND_FIXES.md
  TEST_EXECUTION_SUMMARY.md
  TEST_FILE_MAPPING_REPORT.md
  TEST_INTEGRATION_MAPPING.md
  backend/ACCESS_LOGGER_ANALYSIS.md
Due: prettier --write

fix: Resolve all backend TypeScript compilation errors
  BACKEND_COMPILATION_FIX_REPORT.md
  COMPREHENSIVE_TEST_EXECUTION_REPORT.md
  COMPREHENSIVE_TEST_FIX_REPORT.md
  FRONTEND_FIX_REPORT.md
  TEST_PATTERNS_LIBRARY.md
  backend/package.json
  backend/src/api/__tests__/queueCancel.test.ts
  backend/src/api/__tests__/uploadCancel.test.ts
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/api/controllers/__tests__/queueController.test.ts
  backend/src/api/routes/__tests__/mlRoutes.test.ts
  backend/src/middleware/__tests__/accessLogger.test.ts
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/segmentationService.batch-fix.test.ts
  backend/src/services/__tests__/segmentationService.integration.test.ts
  backend/src/services/__tests__/webSocketService.cancel.test.ts
  backend/src/services/__tests__/websocketService.realtime.test.ts
  backend/src/test/integration/dashboardMetrics.integration.test.ts
  backend/src/test/integration/mlAuthenticationBoundaries.test.ts
  backend/src/test/integration/projectCard.realtime.test.ts
  backend/src/test/integration/upload.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
  backend/src/types/websocket.ts
  package.json
  src/hooks/__tests__/useAbortController.enhanced.test.tsx
  src/lib/__tests__/api-advanced.test.ts
  src/services/__tests__/webSocketIntegration.test.ts
  src/test-utils/consoleMock.test.ts
  src/test/setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

fix: Fix tempPngPath scope and add missing package-lock.json
  backend/package-lock.json
  backend/src/services/visualization/visualizationGenerator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore: Add root package-lock.json for CI/CD
  package-lock.json
Due: prettier --write

fix: Resolve backend TypeScript compilation errors and add package-lock.json files
  BACKEND_COMPILATION_FIX_REPORT.md
  COMPREHENSIVE_TEST_EXECUTION_REPORT.md
  COMPREHENSIVE_TEST_FIX_REPORT.md
  FRONTEND_FIX_REPORT.md
  TEST_PATTERNS_LIBRARY.md
  backend/package-lock.json
  backend/package.json
  backend/src/api/__tests__/queueCancel.test.ts
  backend/src/api/__tests__/uploadCancel.test.ts
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/api/controllers/__tests__/queueController.test.ts
  backend/src/api/routes/__tests__/mlRoutes.test.ts
  backend/src/middleware/__tests__/accessLogger.test.ts
  backend/src/middleware/__tests__/upload.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/segmentationService.batch-fix.test.ts
  backend/src/services/__tests__/segmentationService.integration.test.ts
  backend/src/services/__tests__/webSocketService.cancel.test.ts
  backend/src/services/__tests__/websocketService.realtime.test.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/test/integration/dashboardMetrics.integration.test.ts
  backend/src/test/integration/mlAuthenticationBoundaries.test.ts
  backend/src/test/integration/projectCard.realtime.test.ts
  backend/src/test/integration/upload.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
  backend/src/types/websocket.ts
  package-lock.json
  package.json
  src/hooks/__tests__/useAbortController.enhanced.test.tsx
  src/lib/__tests__/api-advanced.test.ts
  src/services/__tests__/webSocketIntegration.test.ts
  src/test-utils/consoleMock.test.ts
  src/test/setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

fix: improve mobile responsiveness across application
  src/components/project/QueueStatsPanel.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/ImageSelectionGrid.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: resolve ML service health check and dashboard indicator issues
  backend/src/api/routes/mlRoutes.ts
  backend/src/services/queueService.ts
  docker-compose.blue.yml
  src/components/DashboardHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat: add sharing invitation email templates and refactor sharing service
  .env.common
  .husky/pre-commit
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/services/sharingService.ts
  backend/src/templates/passwordResetEmailMultilang.ts
  backend/src/templates/passwordResetEmailSimple.ts
  backend/src/templates/shareInvitationEmail.ts
  backend/src/templates/shareInvitationEmailSimple.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: update pre-push hook shebang to bash for compatibility
  .husky/pre-push
Due: none

fix: make pre-push hook work in non-interactive mode
  .husky/pre-push
Due: none

refactor: implement SSOT compliance and enhance pre-commit hooks
  .active-environment
  .env.green.prod
  .husky/pre-commit
  backend/src/api/controllers/projectController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/sharingService.ts
  docker-compose.active.yml
  docker/nginx/nginx.active.conf
  docker/nginx/nginx.blue.conf
  docs/EMAIL_SYSTEM_SSOT_ANALYSIS.md
  docs/EMAIL_TIMING_FIX.md
  docs/SSOT_ANALYSIS_FINAL_STATUS.md
  docs/SSOT_ANALYSIS_PROJECT_UPDATES.md
  docs/SSOT_ANALYSIS_SUMMARY.md
  docs/SSOT_DATA_FLOW.md
  docs/SSOT_DATA_FLOW_CURRENT.md
  docs/SSOT_FIX_STATUS_FLICKERING.md
  docs/SSOT_QUICK_REFERENCE.md
  docs/TESTING_STATUS_FLICKERING_FIX.md
  src/hooks/useDashboardProjects.ts
  src/hooks/usePersistedExportState.ts
  src/hooks/useProjectImageActions.tsx
  src/lib/api.ts
  src/lib/textUtils.ts
  src/pages/Dashboard.tsx
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: prevent infinite email retry loop for password reset emails
  backend/src/constants/email.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  docs/EMAIL_RETRY_SSOT_ANALYSIS.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: improve UTIA SMTP timeout handling and unify email sending logic
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: auto-queue all emails for UTIA SMTP and add message to share emails
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/services/sharingService.ts
  backend/src/templates/shareInvitationEmailSimple.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: resolve WebSocket real-time status update issues
  backend/src/services/authService.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/sharingService.ts
  src/hooks/useSegmentationQueue.tsx
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: critical fixes for WebSocket real-time updates and duplicate emails
  backend/src/services/authService.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/sharingService.ts
  src/hooks/useSegmentationQueue.tsx
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: route ML health check through backend proxy for consistent response format
  docker/nginx/nginx.blue.conf
Due: none

fix: route ML health check through backend proxy for consistent response format (#40)
  docker/nginx/nginx.blue.conf
Due: none

fix: zlepšení email funkcionalit a odstranění optional message pole
  backend/src/api/controllers/authController.ts
  backend/src/api/routes/authRoutes.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/services/authService.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/services/sharingService.ts
  backend/src/templates/shareInvitationEmailSimple.ts
  backend/src/types/validation.ts
  src/components/project/ShareDialog.tsx
  src/hooks/useSegmentationQueue.tsx
  src/lib/api.ts
  src/pages/ForgotPassword.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: oprava všech code review issues z PR #41
  backend/src/api/controllers/authController.ts
  backend/src/api/routes/authRoutes.ts
  backend/src/middleware/error.ts
  backend/src/services/authService.ts
  backend/src/services/emailService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
