Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

docs(claude): correct the test-suite claim and record what 2026-09-04 proved
  CLAUDE.md
Due: prettier --write

docs(claude): correct the test-suite claim and record what 2026-09-04 proved (#463)
  CLAUDE.md
Due: prettier --write

fix(dashboard): create a project in the folder being browsed, not at the root
  src/components/ProjectsList.tsx
  src/components/__tests__/ProjectCreateFolderPlacement.test.tsx
  src/components/dashboard/ProjectsTab.tsx
  src/components/dashboard/__tests__/ProjectsTab.test.tsx
  src/pages/Dashboard.tsx
  src/pages/__tests__/Dashboard.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

build(deps): close the three backend lockfile advisories and declare qs
  backend/package-lock.json
  backend/package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

fix(dashboard): create a project in the folder being browsed, not at the root (#464)
  src/components/ProjectsList.tsx
  src/components/__tests__/ProjectCreateFolderPlacement.test.tsx
  src/components/dashboard/ProjectsTab.tsx
  src/components/dashboard/__tests__/ProjectsTab.test.tsx
  src/pages/Dashboard.tsx
  src/pages/__tests__/Dashboard.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(editor): stop re-deriving every sidebar row on every pan frame
  src/components/project/ProjectThumbnail.tsx
  src/components/project/__tests__/ProjectThumbnail.test.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/SpermInstancePanel.tsx
  src/pages/segmentation/components/__tests__/editorSidebarPanels.rerender.test.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

build(deps): bump the frontend group and clear three root-lockfile advisories
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

build(deps): take the safe Python bumps and prove the two that cannot land
  .github/workflows/ci.yml
  Makefile
  backend/essays/module/requirements.txt
  backend/requirements-pytest-ci.txt
  backend/segmentation/requirements-test.txt
  backend/segmentation/requirements.txt
Due: prettier --write

fix(security): close the four open CodeQL alerts at their root
  backend/essays/module/focus_qc/reference/compare_alternatives.py
  backend/segmentation/models/microtubule/instance/oracle.py
  backend/src/api/controllers/__tests__/exportController.audit.test.ts
  backend/src/api/controllers/__tests__/videoController.security.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/api/controllers/exportController.ts
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/__tests__/downloadTokenAuth.test.ts
  backend/src/api/routes/essaysRoutes.ts
  backend/src/api/routes/exportRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/middleware/downloadAuth.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/downloadTokenAuth.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/kymographService.ts
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

build(deps): bump the actions group (setup-python v5->v7, codeql-action v3->v4)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier --write

docs(export): say why the __proto__ channel test outlives the gate that now blocks it
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

build(deps): close the three backend lockfile advisories and declare qs (#465)
  backend/package-lock.json
  backend/package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

build(deps): take the safe Python bumps and prove the two that cannot land (#466)
  .github/workflows/ci.yml
  Makefile
  backend/essays/module/requirements.txt
  backend/requirements-pytest-ci.txt
  backend/segmentation/requirements-test.txt
  backend/segmentation/requirements.txt
Due: prettier --write

fix(addpoints): commit the elongation on double-click, and let an unlabelled polyline join a labelled one
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.polylineJoin.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/utils/polylineJoin.test.ts
  src/pages/segmentation/utils/polylineJoin.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(deps): measure the transformers advisory instead of taking its word
  .github/dependabot.yml
  backend/essays/module/requirements.txt
  backend/essays/tests/test_transformers_pin.py
  backend/segmentation/requirements.txt
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(security): close the four open CodeQL alerts at their root, and bump the actions group (#467)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  backend/essays/module/focus_qc/reference/compare_alternatives.py
  backend/segmentation/models/microtubule/instance/oracle.py
  backend/src/api/controllers/__tests__/exportController.audit.test.ts
  backend/src/api/controllers/__tests__/videoController.security.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/api/controllers/exportController.ts
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/__tests__/downloadTokenAuth.test.ts
  backend/src/api/routes/essaysRoutes.ts
  backend/src/api/routes/exportRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/middleware/downloadAuth.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
  backend/src/services/export/downloadTokenAuth.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/kymographService.ts
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: delete the blue-green leftovers and correct what the docs claim
  .github/pull_request_template.md
  .github/workflows/ci.yml
  Makefile
  README.md
  docker/nginx/nginx-main.conf
  docker/nginx/nginx.blue.conf
  docs/ACCESS_LOGGING.md
  docs/API.md
  docs/DOCKER-OPTIMIZATION.md
  docs/GPU-CONFIGURATION.md
  docs/GPU-STATUS.md
  docs/TROUBLESHOOTING.md
  docs/architecture/frontend.md
  docs/database-backup.md
  docs/deployment/DOCKER_BUILD_MIGRATION.md
  docs/development/getting-started.md
  docs/hooks-guide.md
  docs/reference/database-schema.md
  docs/testing-guide.md
  playwright.config.docker.ts
  scripts/setup-sendgrid.sh
  scripts/verify-sendgrid-dns.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

fix(admin): close the seven holes the review found in the impersonation flow
  backend/src/api/routes/__tests__/adminRoutes.test.ts
  backend/src/api/routes/adminRoutes.ts
  backend/src/db/seed.ts
  backend/src/middleware/auth.ts
  backend/src/services/__tests__/impersonationSession.test.ts
  backend/src/services/adminService.ts
  backend/src/services/impersonationAuditService.ts
  backend/src/services/sessionService.ts
  src/components/__tests__/AdminRoute.test.tsx
  src/components/header/__tests__/UserProfileDropdown.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

perf(editor): stop re-deriving every sidebar row on every pan frame (#469)
  src/components/project/ProjectThumbnail.tsx
  src/components/project/__tests__/ProjectThumbnail.test.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/SpermInstancePanel.tsx
  src/pages/segmentation/components/__tests__/editorSidebarPanels.rerender.test.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(backend): collapse two N+1 fan-outs, stop fetching rows nobody reads
  backend/prisma/migrations/20260904_add_query_path_indexes/CONCURRENTLY.sql
  backend/prisma/migrations/20260904_add_query_path_indexes/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/projectController.queryCount.test.ts
  backend/src/api/controllers/projectController.ts
  backend/src/api/controllers/queueController.ts
  backend/src/services/__tests__/projectFolderService.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/__tests__/userRowNarrowing.test.ts
  backend/src/services/__tests__/userService.gaps5.test.ts
  backend/src/services/projectFolderService.ts
  backend/src/services/projectService.ts
  backend/src/services/queueService.ts
  backend/src/services/sharingService.ts
  backend/src/services/userService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(addpoints): commit the elongation on double-click, and let an unlabelled polyline join a labelled one (#471)
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.polylineJoin.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/utils/polylineJoin.test.ts
  src/pages/segmentation/utils/polylineJoin.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(deps): measure the transformers advisory instead of taking its word (#472)
  .github/dependabot.yml
  backend/essays/module/requirements.txt
  backend/essays/tests/test_transformers_pin.py
  backend/segmentation/requirements.txt
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(ml): stop the ML service paying for work it throws away
  Makefile
  backend/essays/module/tests/test_mt_measure_region_stats.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/microtubule/instance/instancer_a.py
  backend/segmentation/models/microtubule/instance/matching.py
  backend/segmentation/models/microtubule/instance/skeleton_graph.py
  backend/segmentation/models/microtubule/tests/test_instancer_perf_identity.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

build(deps): bump the frontend group and clear three root-lockfile advisories (#473)
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

chore: delete the blue-green leftovers and correct what the docs claim (#474)
  .github/pull_request_template.md
  .github/workflows/ci.yml
  Makefile
  README.md
  docker/nginx/nginx-main.conf
  docker/nginx/nginx.blue.conf
  docs/ACCESS_LOGGING.md
  docs/API.md
  docs/DOCKER-OPTIMIZATION.md
  docs/GPU-CONFIGURATION.md
  docs/GPU-STATUS.md
  docs/TROUBLESHOOTING.md
  docs/architecture/frontend.md
  docs/database-backup.md
  docs/deployment/DOCKER_BUILD_MIGRATION.md
  docs/development/getting-started.md
  docs/hooks-guide.md
  docs/reference/database-schema.md
  docs/testing-guide.md
  playwright.config.docker.ts
  scripts/setup-sendgrid.sh
  scripts/verify-sendgrid-dns.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

perf(backend): collapse two N+1 fan-outs, stop fetching rows nobody reads (#476)
  backend/prisma/migrations/20260904_add_query_path_indexes/CONCURRENTLY.sql
  backend/prisma/migrations/20260904_add_query_path_indexes/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/projectController.queryCount.test.ts
  backend/src/api/controllers/projectController.ts
  backend/src/api/controllers/queueController.ts
  backend/src/services/__tests__/projectFolderService.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/__tests__/userRowNarrowing.test.ts
  backend/src/services/__tests__/userService.gaps5.test.ts
  backend/src/services/projectFolderService.ts
  backend/src/services/projectService.ts
  backend/src/services/queueService.ts
  backend/src/services/sharingService.ts
  backend/src/services/userService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

chore(deps): stop Dependabot reopening the opencv bump it cannot resolve
  .github/dependabot.yml
Due: prettier --write

test(backend): make the green tests prove something, and delete the ones that cannot
  .github/workflows/ci.yml
  backend/essays/tests/test_python_suite_gates.py
  backend/segmentation/tests/conftest.py
  backend/segmentation/tests/test_performance_benchmarks.py
  backend/segmentation/tests/unit/test_api_segmentation.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
  backend/src/api/__tests__/queueCancel.test.ts
  backend/src/api/controllers/__tests__/segmentationController.gaps5.test.ts
  backend/src/middleware/__tests__/validation.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/webSocketService.cancel.test.ts
  backend/src/services/__tests__/websocketService.behavior.test.ts
  backend/src/services/__tests__/websocketService.gaps.test.ts
  backend/src/services/__tests__/websocketService.unit.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.gaps5.test.ts
  backend/src/services/export/__tests__/scaleConversionIntegration.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(ml): stop the ML service paying for work it throws away (#480)
  Makefile
  backend/essays/module/tests/test_mt_measure_region_stats.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/microtubule/instance/instancer_a.py
  backend/segmentation/models/microtubule/instance/matching.py
  backend/segmentation/models/microtubule/instance/skeleton_graph.py
  backend/segmentation/models/microtubule/tests/test_instancer_perf_identity.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(deps): stop Dependabot reopening the opencv bump it cannot resolve (#483)
  .github/dependabot.yml
Due: prettier --write

test(backend): make the green tests prove something, and delete the ones that cannot (#482)
  .github/workflows/ci.yml
  backend/essays/tests/test_python_suite_gates.py
  backend/segmentation/tests/conftest.py
  backend/segmentation/tests/test_performance_benchmarks.py
  backend/segmentation/tests/unit/test_api_segmentation.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
  backend/src/api/__tests__/queueCancel.test.ts
  backend/src/api/controllers/__tests__/segmentationController.gaps5.test.ts
  backend/src/middleware/__tests__/validation.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/webSocketService.cancel.test.ts
  backend/src/services/__tests__/websocketService.behavior.test.ts
  backend/src/services/__tests__/websocketService.gaps.test.ts
  backend/src/services/__tests__/websocketService.unit.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.gaps5.test.ts
  backend/src/services/export/__tests__/scaleConversionIntegration.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(claude): rewrite what the audit disproved, and add what it cost to learn
  CLAUDE.md
  src/components/admin/__tests__/ImpersonationBanner.test.tsx
  src/pages/admin/AdminUsers.tsx
  src/pages/admin/__tests__/AdminUsers.test.tsx
  src/translations/fr.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(claude): rewrite what the audit disproved, and add what it cost to learn (#491)
  CLAUDE.md
Due: prettier --write

refactor: apply the /simplify findings the batch's own PRs walked past
  backend/segmentation/api/metrics_endpoint.py
  backend/src/middleware/auth.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/services/impersonationAuditService.ts
  backend/src/services/video/types.ts
  src/pages/admin/AdminUsers.tsx
  src/pages/segmentation/utils/polylineJoin.test.ts
  src/pages/segmentation/utils/polylineJoin.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor: apply the /simplify findings the batch's own PRs walked past (#492)
  backend/segmentation/api/metrics_endpoint.py
  backend/src/middleware/auth.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/services/impersonationAuditService.ts
  backend/src/services/video/types.ts
  src/pages/admin/AdminUsers.tsx
  src/pages/segmentation/utils/polylineJoin.test.ts
  src/pages/segmentation/utils/polylineJoin.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(admin): stop the Swagger JSDoc throwing YAMLSemanticError on every boot
  backend/src/api/controllers/adminController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
