Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(queue): never leave a segmentation item stuck in `processing` (#375)
  backend/segmentation/services/postprocessing.py
  backend/segmentation/tests/unit/test_postprocessing_service.py
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(export): add a wide per-channel view to the MT metrics export (#374)
  backend/src/services/export/__tests__/exportDocs.gaps5.test.ts
  backend/src/services/export/__tests__/fixtures/mt_metrics_real_rows.json
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtMetricsExporter.ts
  src/pages/export/components/MicrotubuleMetricsSection.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(video): forward-fill a channel the microscope only refreshed every N-th frame (#377)
  backend/src/api/controllers/__tests__/videoController.sparseFill.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/staticChannelProjection.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.sparse.test.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/queueService.ts
  backend/src/services/staticChannelProjection.ts
  backend/src/services/staticChannelProjectionService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/plane_coverage.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_memory.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_sparse_channel.py
  backend/src/services/video/pythonHelpers/tests/test_plane_coverage.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  src/lib/__tests__/staticFrameChannels.test.ts
  src/lib/api.ts
  src/lib/staticFrameChannels.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(ui): unify design tokens and make the app shell responsive (#382)
  src/components/Footer.tsx
  src/components/Navbar.tsx
  src/components/StatsOverview.tsx
  src/components/__tests__/Footer.test.tsx
  src/components/__tests__/StatsOverview.test.tsx
  src/components/header/MobileMenu.tsx
  src/components/header/UserProfileDropdown.tsx
  src/components/project/ExportProgressPanel.tsx
  src/components/project/ImageCard.tsx
  src/components/project/ImageListItem.tsx
  src/components/project/MoveToFolderDialog.tsx
  src/components/project/ProjectHeader.tsx
  src/components/project/ProjectImages.tsx
  src/components/project/ProjectToolbar.tsx
  src/components/project/QueueStatsPanel.tsx
  src/components/project/ShareDialog.tsx
  src/components/ui/button-variants.ts
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/pagination.tsx
  src/components/ui/select.tsx
  src/components/ui/skeleton-variants.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/index.css
  src/lib/constants.ts
  src/pages/Dashboard.tsx
  src/pages/ProjectDetail.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/styles/tailwind.css
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', stylelint --fix --allow-empty-input

feat(segmentation): make the editor's controls state-legible and responsive (#381)
  src/components/project/SegmentChannelDialog.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/KeyboardShortcutsHelp.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/PolygonListPanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/StatusBar.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/PolygonListPanel.test.tsx
  src/pages/segmentation/components/canvas/CanvasContainer.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainerSimple.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(segmentation): render a multi-selected polygon like a single-selected one (#372)
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(landing): rescope the landing page to every specimen type, with real annotated frames (#378)
  index.html
  public/lovable-uploads/3d7a9b1c-4e2f-4a8d-9c3e-5f8b2a1d6c4e.png
  public/specimens/disintegration.webp
  public/specimens/microcapsule.webp
  public/specimens/microtubule.webp
  public/specimens/sperm.webp
  public/specimens/spheroid.webp
  public/specimens/wound.webp
  src/components/Features.tsx
  src/components/Hero.tsx
  src/components/__tests__/Features.test.tsx
  src/components/__tests__/Hero.test.tsx
  src/components/landing/SpecimenShowcase.tsx
  src/components/landing/__tests__/specimens.test.ts
  src/components/landing/specimens.ts
  src/contexts/__tests__/LanguageContext.test.tsx
  src/pages/Index.tsx
  src/pages/__tests__/Index.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: remove plaintext credentials and correct the stale IRM claim
  CLAUDE.md
  docs/superpowers/plans/2026-08-17-mt-v5h-integration.md
Due: prettier --write

docs: remove plaintext credentials and correct the stale IRM claim (#383)
  CLAUDE.md
  docs/superpowers/plans/2026-08-17-mt-v5h-integration.md
Due: prettier --write

refactor: delete the unreachable editor components and their stale README
  src/hooks/__tests__/useScrollAnimation.test.ts
  src/hooks/useScrollAnimation.ts
  src/pages/segmentation/README.md
  src/pages/segmentation/components/ChannelSwitcher.tsx
  src/pages/segmentation/components/EditorHelpTips.tsx
  src/pages/segmentation/components/EnhancedEditorToolbar.tsx
  src/pages/segmentation/components/EnhancedSegmentationEditor.tsx
  src/pages/segmentation/components/PolygonItem.tsx
  src/pages/segmentation/components/RegionPanel.tsx
  src/pages/segmentation/components/__tests__/ChannelSwitcher.test.tsx
  src/pages/segmentation/components/__tests__/EditorHelpTips.test.tsx
  src/pages/segmentation/components/__tests__/EnhancedEditorToolbar.test.tsx
  src/pages/segmentation/components/__tests__/EnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/components/__tests__/PolygonItem.test.tsx
  src/pages/segmentation/components/__tests__/RegionPanel.test.tsx
  src/pages/segmentation/components/canvas/CanvasUIElements.tsx
  src/pages/segmentation/components/canvas/EditModeBorder.tsx
  src/pages/segmentation/components/canvas/EditorModeFooter.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasUIElements.test.tsx
  src/pages/segmentation/components/canvas/__tests__/EditModeBorder.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(editor): drop the three SVG filters nothing names, and pin down why red-glow never paints
  src/index.css
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasSvgFilters.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasSvgFilters.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', stylelint --fix --allow-empty-input

fix(backend): stop TIFF display 500s caused by sharp's warning-as-error default
  backend/src/services/__tests__/imageService.tiffDecodeRegression.test.ts
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(segmentation): delete the editor's unreachable subtrees and shrink two false SSOTs
  src/pages/segmentation/__tests__/VertexDeletionIntegration.test.tsx
  src/pages/segmentation/components/canvas/CanvasTemporaryGeometryLayer.tsx
  src/pages/segmentation/components/canvas/ModeLegend.tsx
  src/pages/segmentation/components/canvas/__tests__/ModeLegend.test.tsx
  src/pages/segmentation/components/project/ProjectImageExport.tsx
  src/pages/segmentation/components/project/__tests__/ProjectImageExport.test.tsx
  src/pages/segmentation/components/project/export/CocoTab.tsx
  src/pages/segmentation/components/project/export/ExcelExporter.tsx
  src/pages/segmentation/components/project/export/LazyExcelExporter.tsx
  src/pages/segmentation/components/project/export/MetricsDisplay.tsx
  src/pages/segmentation/components/project/export/SpermExcelExporter.tsx
  src/pages/segmentation/components/project/export/__tests__/CocoTab.test.tsx
  src/pages/segmentation/components/project/export/__tests__/ExcelExporter.test.tsx
  src/pages/segmentation/components/project/export/__tests__/LazyExcelExporter.test.tsx
  src/pages/segmentation/components/project/export/__tests__/MetricsDisplay.test.tsx
  src/pages/segmentation/components/project/export/__tests__/SpermExcelExporter.test.tsx
  src/pages/segmentation/config/__tests__/modeConfig.test.ts
  src/pages/segmentation/config/modeConfig.ts
  src/pages/segmentation/contexts/SegmentationContext.tsx
  src/pages/segmentation/contexts/SegmentationContext.types.ts
  src/pages/segmentation/contexts/__tests__/SegmentationContext.test.tsx
  src/pages/segmentation/contexts/useSegmentationContext.ts
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.test.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/pages/segmentation/hooks/view/__tests__/useImageCentering.test.tsx
  src/pages/segmentation/hooks/view/__tests__/useOffsetConstraints.test.tsx
  src/pages/segmentation/hooks/view/__tests__/useWheelZoom.test.tsx
  src/pages/segmentation/hooks/view/__tests__/useZoomHandlers.test.tsx
  src/pages/segmentation/hooks/view/useImageCentering.tsx
  src/pages/segmentation/hooks/view/useOffsetConstraints.tsx
  src/pages/segmentation/hooks/view/useWheelZoom.tsx
  src/pages/segmentation/hooks/view/useZoomHandlers.tsx
  src/pages/segmentation/types.ts
  src/pages/segmentation/utils/__tests__/cocoConverter.test.ts
  src/pages/segmentation/utils/__tests__/metricCalculations.test.ts
  src/pages/segmentation/utils/cocoConverter.ts
  src/pages/segmentation/utils/metricCalculations.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(backend): use failOn: 'error', not 'truncated', for the TIFF decode fix
  backend/src/services/__tests__/imageService.tiffDecodeRegression.test.ts
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(i18n): stop the in-app copy describing the platform as spheroid-only
  src/components/__tests__/NewProject.test.tsx
  src/components/__tests__/StatsOverview.test.tsx
  src/pages/__tests__/SignIn.test.tsx
  src/pages/__tests__/SignUp.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(backend): stop TIFF display 500s caused by sharp's warning-as-error default (#384)
  backend/src/services/__tests__/imageService.tiffDecodeRegression.test.ts
  backend/src/services/imageService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(i18n): tighten the rescoped copy after review
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(backend): delete the monitoring and rate-limiting infrastructure that was never wired up
  backend/src/api/controllers/queueController.ts
  backend/src/config/redis.ts
  backend/src/db/__tests__/dbIndex.test.ts
  backend/src/db/index.ts
  backend/src/middleware/__tests__/cacheMiddleware.test.ts
  backend/src/middleware/__tests__/monitoring.test.ts
  backend/src/middleware/__tests__/rateLimiter.gaps6.test.ts
  backend/src/middleware/cache.ts
  backend/src/middleware/monitoring.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/monitoring/__tests__/businessMetrics.test.ts
  backend/src/monitoring/__tests__/databaseMetrics.test.ts
  backend/src/monitoring/__tests__/rateLimitingInitialization.test.ts
  backend/src/monitoring/businessMetrics.ts
  backend/src/monitoring/databaseMetrics.ts
  backend/src/monitoring/rateLimitingInitialization.ts
  backend/src/server.ts
  backend/src/services/__tests__/projectService.gaps5.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/healthCheckService.ts
  backend/src/services/projectService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sharingService.ts
  backend/src/services/userService.ts
  backend/src/templates/verificationEmail.ts
  backend/src/test/utils/jwtTestUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(i18n): stop the in-app copy describing the platform as spheroid-only (#385)
  src/components/__tests__/NewProject.test.tsx
  src/components/__tests__/StatsOverview.test.tsx
  src/pages/__tests__/SignIn.test.tsx
  src/pages/__tests__/SignUp.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(ml): delete the unreachable Python modules and vectorise two O(n^2) tracker loops
  Makefile
  backend/essays/module/evaluate.py
  backend/segmentation/api/cancel.py
  backend/segmentation/api/routes.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/config/production_batch_config.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/instance/instancer_b.py
  backend/segmentation/models/microtubule/instance/lifted.py
  backend/segmentation/models/microtubule/instance/metrics.py
  backend/segmentation/models/microtubule/instance/oracle.py
  backend/segmentation/models/microtubule/instance/tracker.py
  backend/segmentation/scripts/download_weights.py
  backend/segmentation/sperm_final/config.py
  backend/segmentation/sperm_final/inference/group_sperm.py
  backend/segmentation/sperm_final/models/mask2former.py
  backend/segmentation/tests/test_log_forging_filter.py
  backend/segmentation/utils/characteristic_functions.py
  backend/segmentation/utils/helpers.py
  scripts/execute-cleanup.sh
  scripts/fix-permissions.sh
  scripts/monitor-dns-propagation.sh
  scripts/monitor-performance.sh
  scripts/performance/measure-model-performance.py
  scripts/quick-cleanup.sh
  scripts/quick-protection-setup.sh
  scripts/renew-ssl-cert.sh
  scripts/run-polygon-tests.sh
  scripts/run-tests.sh
  scripts/setup-branch-protection.sh
  scripts/system-cleanup.sh
  scripts/wait-for-services.sh
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): stop the MT metrics export measuring a channel the microscope never exposed
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_sparse.py
  backend/src/services/export/__tests__/fixtures/mt_metrics_real_rows.json
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtMetricsExporter.ts
  docs/api/ml-service.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs: repair the comments that outlived the code they described
  backend/src/middleware/__tests__/cacheMiddleware.test.ts
  backend/src/services/__tests__/projectService.gaps5.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/projectService.ts
  src/pages/export/hooks/__tests__/useSharedAdvancedExport.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(landing): pick a sperm specimen whose two cells do not touch
  public/specimens/sperm.webp
  src/components/landing/specimens.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(export): stop the MT metrics export measuring a channel the microscope never exposed (#386)
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_sparse.py
  backend/src/services/export/__tests__/fixtures/mt_metrics_real_rows.json
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/__tests__/mtMetricsWide.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/mtMetricsExporter.ts
  docs/api/ml-service.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(landing): pick a sperm specimen whose two cells do not touch (#388)
  public/specimens/sperm.webp
  src/components/landing/specimens.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
