Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

feat(export): bundle ImageJ ROI files in microtubule exports (#259)
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(test): stop downloadUtils tests leaking real timers into CI teardown
  src/lib/__tests__/downloadUtils.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt-export): match MT visualization badge to a metrics.xlsx label column (#260)
  backend/src/services/__tests__/exportService.gaps2.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/visualization/__tests__/visualizationGenerator.test.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/utils/__tests__/instanceLabels.test.ts
  backend/src/utils/instanceLabels.ts
  src/lib/__tests__/downloadUtils.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore(codeql): remove dead imports and redundant unpacking
  backend/segmentation/ml/model_loader.py
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(test): drop orphaned jest config, support EMAIL_SERVICE=none (#74)
  .github/codeql/codeql-config.yml
  backend/eslint.config.js
  backend/jest.config.js
  backend/jest.env.js
  backend/jest.setup.js
  backend/src/services/__tests__/emailService.behavior.test.ts
  backend/src/services/emailService.ts
  backend/src/utils/config.ts
  backend/vitest.config.ts
  backend/vitest.env.ts
  backend/vitest.setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(pagination): cover initialPage > totalPages on first render (#77)
  src/hooks/__tests__/usePagination.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore: clear CodeQL dead-code alerts, retire orphaned jest config (#74, #77) (#261)
  .github/codeql/codeql-config.yml
  backend/eslint.config.js
  backend/jest.config.js
  backend/jest.env.js
  backend/jest.setup.js
  backend/segmentation/ml/model_loader.py
  backend/src/services/__tests__/emailService.behavior.test.ts
  backend/src/services/emailService.ts
  backend/src/services/segmentationService.ts
  backend/src/utils/config.ts
  backend/vitest.config.ts
  backend/vitest.env.ts
  backend/vitest.setup.ts
  src/hooks/__tests__/usePagination.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(export): validate ImageJ ROI encoder against a roifile golden fixture
  .gitattributes
  backend/src/services/export/__tests__/fixtures/golden_polyline.roi
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(export): validate ImageJ ROI encoder against a roifile golden fixture (#262)
  .gitattributes
  backend/src/services/export/__tests__/fixtures/golden_polyline.roi
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test: fix two CI flakes (queueWorker.gaps5 mock race, unhandled window teardown)
  backend/src/workers/__tests__/queueWorker.gaps5.test.ts
  src/test/setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(i18n): fix flaky LanguageContext localStorage assertion
  src/contexts/__tests__/LanguageContext.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: stop fire-and-forget timer loops touching state after unmount
  src/components/__tests__/ImageUploader.cancel.test.tsx
  src/components/project/__tests__/QueueStatsPanel.cancel.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: fix four CI flakes (queueWorker mock race, unhandled-window micro/real-timer, LanguageContext) (#263)
  backend/src/workers/__tests__/queueWorker.gaps5.test.ts
  src/components/__tests__/ImageUploader.cancel.test.tsx
  src/components/project/__tests__/QueueStatsPanel.cancel.test.tsx
  src/contexts/__tests__/LanguageContext.test.tsx
  src/test/setup.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs(spec): MT timestamp frame-sort + LAP filament tracker with gap closing
  docs/superpowers/specs/2026-07-03-mt-timestamp-sort-lap-tracker-design.md
Due: prettier --write

feat(video): frame time-ordering groundwork (behaviour-neutral) + spec fix
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/frame_ordering.py
  backend/src/services/video/pythonHelpers/tests/test_frame_ordering.py
  backend/src/services/video/pythonHelpers/tests/test_position_timestamps.py
  backend/src/services/video/pythonHelpers/tests/test_write_frames_order.py
  docs/superpowers/specs/2026-07-03-mt-timestamp-sort-lap-tracker-design.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

revert(video): drop frame time-ordering groundwork — leave frame order as-is
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/frame_ordering.py
  backend/src/services/video/pythonHelpers/tests/test_frame_ordering.py
  backend/src/services/video/pythonHelpers/tests/test_position_timestamps.py
  backend/src/services/video/pythonHelpers/tests/test_write_frames_order.py
  docs/superpowers/specs/2026-07-03-mt-timestamp-sort-lap-tracker-design.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt-tracker): two-step LAP filament tracker with gap closing
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt-tracker): scope polyline ids by frameIndex so tracking is geometric
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(spec): record LAP tracker outcome + the id-collision fix + real-data validation
  docs/superpowers/specs/2026-07-03-mt-timestamp-sort-lap-tracker-design.md
Due: prettier --write

fix+feat(mt-tracker): geometric tracking (id-collision fix) + two-step LAP tracker with gap closing (#264)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
  docs/superpowers/specs/2026-07-03-mt-timestamp-sort-lap-tracker-design.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(spec): segment only selected images (drop segment-all-unsegmented default)
  docs/superpowers/specs/2026-07-04-segment-selected-only-design.md
Due: prettier --write

feat(project): add pure partitionSelectedForSegmentation helper
  src/lib/segmentationSelection.test.ts
  src/lib/segmentationSelection.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(project): segment only selected images in handleSegmentAll
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(project): selection-based Segment button label + disabled state
  src/components/project/QueueStatsPanel.tsx
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(i18n): segment-selected labels; align tests to selected-only behavior
  src/components/project/__tests__/QueueStatsPanel.parallel.test.tsx
  src/components/project/__tests__/QueueStatsPanel.real.test.tsx
  src/components/ui/__tests__/universal-cancel-button.test.tsx
  src/pages/__tests__/ProjectDetail.additional.test.tsx
  src/pages/__tests__/ProjectDetail.extra.test.tsx
  src/pages/__tests__/ProjectDetail.gaps.test.tsx
  src/pages/__tests__/ProjectDetail.gaps2.test.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(plan): implementation plan for segment-selected-only
  docs/superpowers/plans/2026-07-04-segment-selected-only.md
Due: prettier --write

fix(ui): forward title prop through UniversalCancelButton
  src/components/ui/__tests__/universal-cancel-button.test.tsx
  src/components/ui/universal-cancel-button.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(project): segment only the selected images (not all unsegmented) (#265)
  docs/superpowers/plans/2026-07-04-segment-selected-only.md
  docs/superpowers/specs/2026-07-04-segment-selected-only-design.md
  src/components/project/QueueStatsPanel.tsx
  src/components/project/__tests__/QueueStatsPanel.parallel.test.tsx
  src/components/project/__tests__/QueueStatsPanel.real.test.tsx
  src/components/ui/__tests__/universal-cancel-button.test.tsx
  src/components/ui/universal-cancel-button.tsx
  src/lib/segmentationSelection.test.ts
  src/lib/segmentationSelection.ts
  src/pages/ProjectDetail.tsx
  src/pages/__tests__/ProjectDetail.additional.test.tsx
  src/pages/__tests__/ProjectDetail.extra.test.tsx
  src/pages/__tests__/ProjectDetail.gaps.test.tsx
  src/pages/__tests__/ProjectDetail.gaps2.test.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(mt-tracker): propagation-aware LAP tracker (motion model + EMA embedding template + gap tuning)
  backend/segmentation/api/tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt-seg): seed-prior warm-start for temporal dropout recovery (opt-in)
  backend/segmentation/models/microtubule/wrapper.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): pin transformers==4.57.1 (DINOv3 MT durable fix, never committed)
  backend/segmentation/requirements.txt
Due: none

fix(mt): address PR #266 review — degenerate-endpoint guard, warm-start instrumentation, comment fixes
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt): propagation-aware MT tracking (motion model) + seed-prior warm-start + transformers pin (#266)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/requirements.txt
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
