Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: GPU optimization and production configuration updates
  .serena/memories/gpu_optimization_complete.md
  .serena/memories/session_email_config_2025-08-27.md
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/src/services/emailService.ts
  docker-compose.green.gpu.yml
  docker-compose.green.yml
  docker-compose.staging.yml
  docker-compose.yml
  docker/ml-cuda12.Dockerfile
  docker/ml-gpu.Dockerfile
  docker/nginx/nginx.prod.conf
  docs/GPU-CONFIGURATION.md
  docs/GPU-STATUS.md
  docs/batch-optimization-results.md
  scripts/batch-optimization.py
  scripts/enable-gpu-support.sh
  scripts/gpu-benchmark.py
  scripts/recommended_batch_sizes.json
  scripts/test-actual-batch-usage.py
  scripts/test-all-models-batch.py
  scripts/test-batch-processing.py
  scripts/test-gpu-simple.py
  scripts/test-resunet-advanced-batch.py
  scripts/verify-batch-config.py
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  test-smtp.js
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: address PR review feedback - security and configuration fixes
  .serena/memories/session_email_config_2025-08-27.md
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/src/services/emailService.ts
  docker-compose.green.gpu.yml
  docker-compose.green.yml
  docs/GPU-CONFIGURATION.md
  docs/batch-optimization-results.md
  scripts/batch-optimization.py
  test-smtp.js
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: correct ResUNet Advanced GPU inference time
  .serena/memories/gpu_optimization_complete.md
  docker-compose.yml
  docs/GPU-CONFIGURATION.md
  docs/batch-optimization-results.md
Due: prettier --write

fix: correct GPU performance metrics based on actual benchmarks
  .env.green.example
  .serena/memories/gpu_optimization_complete.md
  backend/src/services/emailService.ts
  docs/GPU-CONFIGURATION.md
  docs/batch-optimization-results.md
  scripts/gpu-benchmark.py
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: share link project assignment after registration/login
  backend/segmentation/config/batch_sizes.json
  backend/src/api/controllers/sharingController.ts
  backend/src/services/emailService.ts
  backend/src/services/sharingService.ts
  docker/ml-cuda12.Dockerfile
  docker/ml-gpu.Dockerfile
  docs/batch-optimization-results.md
  scripts/test-actual-batch-usage.py
  scripts/test-all-models-batch.py
  scripts/test-batch-processing.py
  scripts/test-resunet-advanced-batch.py
  scripts/verify-batch-config.py
  src/contexts/AuthContext.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve critical image upload issues and timeout errors
  .serena/memories/green_deployment_fixes_2025-08-27.md
  .serena/memories/pr12_gpu_optimization_review.md
  .serena/memories/security_fixes_session_2025-08-27.md
  .serena/memories/security_patterns_and_solutions.md
  .serena/memories/session_pr12_complete_2025-01-27.md
  .serena/memories/share_link_fix_2025-08-27.md
  .serena/memories/upload_issues_fix_2025-08-27.md
  NGINX_UNIFICATION_SUMMARY.md
  SENDGRID_DNS_SETUP.md
  docker-compose.green.yml
  docker/nginx/nginx.prod.conf
  docs/AUTOMATIC_CLEANUP.md
  scripts/apply-upload-fixes.sh
  scripts/auto-cleanup-disk.sh
  scripts/check-cleanup-status.sh
  scripts/complete-upload-fix.sh
  scripts/disk-cleanup.service
  scripts/disk-cleanup.timer
  scripts/fix-green-uploads-immediate.sh
  scripts/fix-green-uploads.sh
  scripts/init-green-db.sh
  scripts/install-cleanup-service.sh
  src/hooks/useDashboardProjects.ts
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

feat: implement comprehensive production improvements from PR review
  backend/segmentation/api/main.py
  backend/segmentation/api/monitoring.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/monitoring/gpu_monitor.py
  backend/src/server.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/utils/envValidator.ts
  docs/GPU-FALLBACK-BEHAVIOR.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

chore: remove temporary upload fix scripts
  scripts/apply-upload-fixes.sh
  scripts/complete-upload-fix.sh
  scripts/fix-green-uploads-immediate.sh
  scripts/fix-green-uploads.sh
Due: none

fix: resolve all 136 ESLint issues for improved code quality
  CLEANUP_REPORT_2025-08-27.md
  backend/src/api/controllers/authController.ts
  backend/src/api/controllers/imageController.ts
  backend/src/api/controllers/queueController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/authRoutes.ts
  backend/src/db/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/monitoring.ts
  backend/src/server.ts
  backend/src/services/authService.ts
  backend/src/services/cacheService.ts
  backend/src/services/emailRetryService.ts
  backend/src/services/emailService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/scaleConfig.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sharingService.ts
  backend/src/services/visualization/numberPaths.ts
  backend/src/services/websocketService.ts
  backend/src/templates/verificationEmail.ts
  backend/src/test/resilience/circuitBreakerTestHelpers.ts
  backend/src/types/queue.ts
  backend/src/types/websocket.ts
  backend/src/utils/database.ts
  backend/src/utils/envValidator.ts
  backend/src/utils/escapeHtml.ts
  backend/src/utils/logger.ts
  backend/src/utils/passwordGenerator.ts
  backend/src/utils/prismaModelValidator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

feat: achieve 93.2% test coverage with comprehensive CI/CD improvements
  .github/workflows/bundle-size.yml
  .github/workflows/ci-cd.yml
  .github/workflows/security-scan-enhanced.yml
  .github/workflows/test-coverage.yml
  CI_IMPROVEMENTS_SUMMARY.md
  COVERAGE_REPORT_FINAL.md
  FINAL_TEST_ACHIEVEMENT_100.md
  TEST_100_PERCENT_SUMMARY.md
  TEST_COVERAGE_REPORT.md
  TEST_EXECUTION_SUMMARY.md
  TEST_FIX_SUMMARY.md
  TEST_IMPROVEMENTS_ACTION_PLAN.md
  backend/jest.config.js
  backend/segmentation/tests/test_inference_integration.py
  backend/src/middleware/cors.ts
  backend/src/services/sessionService.ts
  backend/src/websocket/websocket.ts
  backend/tests/websocket.test.ts
  calculate-coverage.cjs
  src/components/ErrorBoundary.tsx
  src/components/settings/__tests__/DeleteAccountDialog.test.tsx
  src/services/webSocketManagerImproved.ts
  src/test-utils/test-utils.tsx
  src/test/factories.ts
  src/test/mocks/contexts.ts
  src/test/setup.ts
  src/test/utils/test-providers.tsx
  src/test/utils/test-utils.tsx
  tests/e2e/auth.e2e.test.ts
  tests/performance/performance.test.ts
  verify-ci-tests.sh
  verify-test-completion.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: Address PR review feedback - test improvements
  .github/workflows/ci-cd.yml
  TEST_COVERAGE_FINAL.md
  docs/archive/test-coverage-reports/CI_IMPROVEMENTS_SUMMARY.md
  docs/archive/test-coverage-reports/COVERAGE_REPORT_FINAL.md
  docs/archive/test-coverage-reports/FINAL_TEST_ACHIEVEMENT_100.md
  docs/archive/test-coverage-reports/TEST_100_PERCENT_SUMMARY.md
  docs/archive/test-coverage-reports/TEST_COVERAGE_REPORT.md
  docs/archive/test-coverage-reports/TEST_EXECUTION_SUMMARY.md
  docs/archive/test-coverage-reports/TEST_FIX_SUMMARY.md
  docs/archive/test-coverage-reports/TEST_IMPROVEMENTS_ACTION_PLAN.md
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: Sync package-lock.json with package.json for CI
  package-lock.json
Due: prettier --write

fix: Resolve all CI/CD workflow failures
  .github/workflows/ci-cd.yml
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Due: prettier --write

fix: Adjust CI workflow limits and error handling
  .github/workflows/bundle-size.yml
  .github/workflows/security-scan-enhanced.yml
Due: prettier --write

fix: Final CI/CD workflow fixes for 100% pass rate
  .github/workflows/bundle-size.yml
  .github/workflows/security-scan-enhanced.yml
  .github/workflows/test-coverage.yml
  docker-compose.test.yml
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write

fix: resolve all failing CI/CD workflow issues
  .github/workflows/ci-cd.yml
  .github/workflows/test-coverage.yml
  backend/segmentation/tests/__init__.py
  backend/segmentation/tests/test_health.py
  backend/tests/websocket.test.ts
  docker-compose.test.yml
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write

add: CI/CD fixes verification script
  scripts/verify-ci-fixes.sh
Due: none

fix: simplify E2E test setup for CI/CD reliability
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: comprehensive CI/CD test failures resolution
  .github/workflows/ci-cd.yml
  backend/segmentation/tests/test_health.py
  backend/src/test/integration/api.integration.test.ts
  playwright.config.ts
  scripts/verify-cicd-fixes.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: final CI/CD pipeline test fixes for 100% pass rate
  .github/workflows/ci-cd.yml
  backend/segmentation/tests/test_health.py
  ci-cd-fixes-summary.md
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write

fix: resolve YAML syntax error in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: resolve all remaining CI/CD test failures
  .github/workflows/ci-cd.yml
  backend/jest.integration.config.js
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write

fix: resolve 503 errors for segmentation thumbnails
  .serena/memories/github_actions_fixes_session_2025-08-28.md
  docker/nginx/nginx.prod.conf
  src/hooks/useProjectData.tsx
  src/lib/requestQueue.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

fix: resolve i18next errors and segmentation status updates for partial batches
  backend/src/services/queueService.ts
  backend/src/types/websocket.ts
  src/components/Features.tsx
  src/pages/segmentation/components/EnhancedSegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationErrorBoundary.tsx
  src/pages/segmentation/components/project/export/LazyExcelExporter.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: coordinate thumbnail generation with completion notifications for last batch
  CLAUDE.md
  Makefile
  backend/segmentation/api/models.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/resunet_advanced.py
  backend/segmentation/models/resunet_small.py
  backend/segmentation/services/model_loader.py
  backend/src/api/openapi.yaml
  backend/src/api/routes/mlRoutes.ts
  backend/src/api/routes/queueRoutes.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  backend/src/types/websocket.ts
  src/contexts/ModelContext.types.ts
  src/hooks/useProjectImageActions.tsx
  src/lib/modelUtils.ts
  src/pages/Dashboard.tsx
  src/pages/Documentation.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: implement comprehensive production improvements and performance optimizations
  CLAUDE.md
  README.md
  backend/prisma/schema.prisma
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/config/production_batch_config.json
  backend/segmentation/docs/PRODUCTION_OPTIMIZATION.md
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/cbam_resunet.py
  backend/segmentation/scripts/optimize_batch_production.py
  backend/segmentation/services/inference_service_optimized.py
  backend/segmentation/services/production_inference.py
  backend/src/services/segmentationService.ts
  backend/src/services/segmentationThumbnailService.ts
  docs/PERFORMANCE_GUIDELINES.md
  docs/reference/ml-models.md
  scripts/deploy-blue-green.sh
  src/components/project/CanvasThumbnailRenderer.tsx
  src/components/project/ImageCard.tsx
  src/contexts/ModelContext.types.ts
  src/lib/modelUtils.ts
  src/pages/ProjectDetail.tsx
  src/translations/en.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve ESLint errors blocking commits
  backend/package.json
  backend/src/api/routes/healthRoutes.ts
  backend/src/monitoring/rateLimitingInitialization.ts
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
