Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

refactor(export): extract shared sperm helpers + parallelize YOLO writes
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/segmentationService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/utils/__tests__/concurrency.test.ts
  backend/src/utils/concurrency.ts
  backend/src/utils/polygonGeometry.ts
  backend/src/utils/spermGrouping.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): address final review — log secondary errors, dedup logs, narrow types
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/utils/__tests__/polygonGeometry.test.ts
  backend/src/utils/__tests__/spermGrouping.test.ts
  backend/src/utils/concurrency.ts
  backend/src/utils/spermGrouping.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): polyline + sperm metadata across COCO/YOLO/JSON (#91)
  .prettierignore
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/segmentationService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/utils/__tests__/concurrency.test.ts
  backend/src/utils/__tests__/polygonGeometry.test.ts
  backend/src/utils/__tests__/spermGrouping.test.ts
  backend/src/utils/concurrency.ts
  backend/src/utils/polygonGeometry.ts
  backend/src/utils/polygonValidation.ts
  backend/src/utils/spermGrouping.ts
  src/lib/segmentation.ts
  src/pages/segmentation/utils/cocoConverter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(wound): integrate U-Net++ wound-healing model with auto time-series export
  .gitignore
  backend/prisma/schema.prisma
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/wound.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/fixtures/wound/sample.jpg
  backend/segmentation/tests/fixtures/wound/sample_mask.jpg
  backend/segmentation/tests/test_wound_model.py
  backend/src/api/controllers/imageController.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/api/routes/mlRoutes.ts
  backend/src/services/export/woundChartRenderer.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  src/components/settings/ModelSettingsSection.tsx
  src/lib/api.ts
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(wound): address PR review — orphan holes, reorder semantics, visibility
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/wound.py
  backend/src/api/controllers/imageController.ts
  backend/src/api/routes/__tests__/imageRoutes.test.ts
  backend/src/services/export/__tests__/woundTimeSeries.test.ts
  backend/src/services/export/woundChartRenderer.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test: unstale useLocalizedModels and mlRoutes model assertions
  backend/src/api/routes/__tests__/mlRoutes.test.ts
  src/hooks/__tests__/useLocalizedModels.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(wound): integrate U-Net++ wound-healing model with auto time-series export (#92)
  .gitignore
  backend/prisma/schema.prisma
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/wound.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/fixtures/wound/sample.jpg
  backend/segmentation/tests/fixtures/wound/sample_mask.jpg
  backend/segmentation/tests/test_wound_model.py
  backend/src/api/controllers/imageController.ts
  backend/src/api/routes/__tests__/imageRoutes.test.ts
  backend/src/api/routes/__tests__/mlRoutes.test.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/api/routes/mlRoutes.ts
  backend/src/services/export/__tests__/woundTimeSeries.test.ts
  backend/src/services/export/woundChartRenderer.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  src/components/settings/ModelSettingsSection.tsx
  src/hooks/__tests__/useLocalizedModels.test.ts
  src/lib/api.ts
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(wound-export): save area chart as standalone png in wound_healing folder
  backend/src/services/export/__tests__/woundTimeSeries.test.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(wound-export): save area chart as standalone png in wound_healing folder (#93)
  backend/src/services/export/__tests__/woundTimeSeries.test.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(wound-export): separate catch phases, propagate chart error, testable png write
  backend/src/services/export/__tests__/woundTimeSeries.test.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(wound-export): separate catch phases, propagate chart error, testable png write (#94)
  backend/src/services/export/__tests__/woundTimeSeries.test.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore: app-wide simplification, dead-code removal, perf wins
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/test/resilience/circuitBreakerTestHelpers.ts
  backend/src/utils/prismaModelValidator.ts
  src/components/LazyComponentWrapper.tsx
  src/components/PageTransitionUtils.tsx
  src/lib/__tests__/debounce.test.ts
  src/lib/api.ts
  src/lib/debounce.ts
  src/lib/segmentation.ts
  src/lib/workerPool.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/test-utils/segmentationTestUtils.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(queue): align getQueueStats test with 2-query implementation
  backend/src/services/__tests__/queueService.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore: app-wide simplification, dead-code removal, perf wins (#95)
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/test/resilience/circuitBreakerTestHelpers.ts
  backend/src/utils/prismaModelValidator.ts
  src/components/LazyComponentWrapper.tsx
  src/components/PageTransitionUtils.tsx
  src/lib/__tests__/debounce.test.ts
  src/lib/api.ts
  src/lib/debounce.ts
  src/lib/segmentation.ts
  src/lib/workerPool.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/test-utils/segmentationTestUtils.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(export): prefer ML image dimensions, drop 800x600 fallback
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): close YOLO and asymmetric-dims gaps from review
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): prefer ML dims in COCO/YOLO/JSON, drop 800x600 fallback (#96)
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(sperm): replace sperm model with spermie v17 (DINOv2 + MCMF)
  .prettierignore
  backend/segmentation/ml/model_loader.py
  backend/segmentation/requirements.txt
  backend/segmentation/sperm_final/BEST_PARAMS.md
  backend/segmentation/sperm_final/README.md
  backend/segmentation/sperm_final/config.py
  backend/segmentation/sperm_final/data/augmentations.py
  backend/segmentation/sperm_final/data/coco_loader.py
  backend/segmentation/sperm_final/data/cvat_parser.py
  backend/segmentation/sperm_final/data/dataset.py
  backend/segmentation/sperm_final/data/patch_extractor.py
  backend/segmentation/sperm_final/data/polyline_to_mask.py
  backend/segmentation/sperm_final/data/pseudolabel_converter.py
  backend/segmentation/sperm_final/evaluate.py
  backend/segmentation/sperm_final/evaluate_instance.py
  backend/segmentation/sperm_final/inference.py
  backend/segmentation/sperm_final/inference/export_cvat.py
  backend/segmentation/sperm_final/inference/graph_assembly.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/inference/predict.py
  backend/segmentation/sperm_final/models/association_transformer.py
  backend/segmentation/sperm_final/models/backbone.py
  backend/segmentation/sperm_final/models/cbdice_loss.py
  backend/segmentation/sperm_final/models/convnext_backbone.py
  backend/segmentation/sperm_final/models/criterion.py
  backend/segmentation/sperm_final/models/deformable_attention.py
  backend/segmentation/sperm_final/models/dynamic_mask_head.py
  backend/segmentation/sperm_final/models/edge_cost_mlp.py
  backend/segmentation/sperm_final/models/geomask_heads.py
  backend/segmentation/sperm_final/models/igm2f_heads.py
  backend/segmentation/sperm_final/models/mask2former.py
  backend/segmentation/sperm_final/requirements.txt
  backend/segmentation/sperm_final/run_pipeline.py
  docker-compose.blue.yml
  docker-compose.production.yml
  docker/ml.optimized.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs: add MIT license
  LICENSE
Due: none

docs: add MIT license (#98)
  LICENSE
Due: none

chore: revert v17 sperm deploy + clean lovable refs from landing
  backend/segmentation/ml/model_loader.py
  backend/segmentation/sperm_final/BEST_PARAMS.md
  backend/segmentation/sperm_final/README.md
  backend/segmentation/sperm_final/config.py
  backend/segmentation/sperm_final/data/augmentations.py
  backend/segmentation/sperm_final/data/coco_loader.py
  backend/segmentation/sperm_final/data/cvat_parser.py
  backend/segmentation/sperm_final/data/dataset.py
  backend/segmentation/sperm_final/data/patch_extractor.py
  backend/segmentation/sperm_final/data/polyline_to_mask.py
  backend/segmentation/sperm_final/data/pseudolabel_converter.py
  backend/segmentation/sperm_final/evaluate.py
  backend/segmentation/sperm_final/evaluate_instance.py
  backend/segmentation/sperm_final/inference.py
  backend/segmentation/sperm_final/inference/export_cvat.py
  backend/segmentation/sperm_final/inference/graph_assembly.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/inference/predict.py
  backend/segmentation/sperm_final/models/association_transformer.py
  backend/segmentation/sperm_final/models/backbone.py
  backend/segmentation/sperm_final/models/cbdice_loss.py
  backend/segmentation/sperm_final/models/convnext_backbone.py
  backend/segmentation/sperm_final/models/criterion.py
  backend/segmentation/sperm_final/models/deformable_attention.py
  backend/segmentation/sperm_final/models/dynamic_mask_head.py
  backend/segmentation/sperm_final/models/edge_cost_mlp.py
  backend/segmentation/sperm_final/models/geomask_heads.py
  backend/segmentation/sperm_final/models/igm2f_heads.py
  backend/segmentation/sperm_final/models/mask2former.py
  backend/segmentation/sperm_final/requirements.txt
  backend/segmentation/sperm_final/run_pipeline.py
  docker-compose.production.yml
  index.html
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(landing): remove lovable template refs from index.html
  index.html
Due: prettier --write

fix(landing): remove lovable template refs from index.html (#99)
  index.html
Due: prettier --write

feat(spheroid): ASPP core detection, Disintegration Index, project types
  .prettierignore
  backend/prisma/schema.prisma
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/services/inference.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/segmentation/tests/unit/test_postprocessing_service.py
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/projectService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/types/validation.ts
  backend/src/utils/polygonValidation.ts
  src/components/NewProject.tsx
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectData.tsx
  src/index.css
  src/lib/api.ts
  src/lib/segmentation.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(review): address PR #100 review findings
  backend/prisma/migrations/20260425130000_add_project_type/migration.sql
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  src/lib/api.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

feat(spheroid): ASPP core detection, Disintegration Index, project types (#100)
  .prettierignore
  backend/prisma/migrations/20260425130000_add_project_type/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/services/inference.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/segmentation/tests/unit/test_postprocessing_service.py
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/projectService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/types/validation.ts
  backend/src/utils/polygonValidation.ts
  src/components/NewProject.tsx
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectData.tsx
  src/index.css
  src/lib/api.ts
  src/lib/segmentation.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

fix(export): include project.type in Prisma select for export dispatcher
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): include project.type in Prisma select for export dispatcher (#101)
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(di): anchor centroid on core pixels, not mass-weighted mask centroid
  backend/segmentation/api/metrics_endpoint.py
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(di): anchor centroid on core pixels, not mass-weighted mask centroid (#102)
  backend/segmentation/api/metrics_endpoint.py
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
