Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(api): serialise key creation per user so the per-account limit cannot be raced
  backend/src/api/routes/__tests__/apiKeyRoutes.test.ts
  backend/src/services/__tests__/apiKeyService.test.ts
  backend/src/services/apiKeyService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(api): API keys and the authenticated /api/v1 front door (#575)
  CLAUDE.md
  backend/prisma/migrations/20261006_add_api_keys/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/apiKeyController.ts
  backend/src/api/routes/__tests__/apiKeyRoutes.test.ts
  backend/src/api/routes/apiKeyRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/api/v1/__tests__/v1Router.test.ts
  backend/src/api/v1/index.ts
  backend/src/api/v1/problem.ts
  backend/src/middleware/__tests__/accessLogger.apiKey.test.ts
  backend/src/middleware/accessLogger.ts
  backend/src/middleware/apiKeyAuth.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/server.ts
  backend/src/services/__tests__/apiKeyService.test.ts
  backend/src/services/apiKeyService.ts
  backend/src/types/validation.ts
  backend/src/utils/__tests__/redactUrl.test.ts
  backend/src/utils/logger.ts
  backend/src/utils/redactUrl.ts
  docs/api/README.md
  docs/reference/metrics.md
  src/components/settings/ApiKeysSection.tsx
  src/components/settings/__tests__/ApiKeysSection.test.tsx
  src/lib/api.ts
  src/pages/Settings.tsx
  src/pages/__tests__/Settings.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(ml): stretch high-bit-depth frames to 8 bits instead of letting Pillow clip them
  backend/segmentation/api/input_depth.py
  backend/segmentation/api/routes.py
  backend/segmentation_cpu_tests/test_input_depth.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(ml): cover the big-endian 16-bit TIFF path the mutation run found untested
  backend/segmentation_cpu_tests/test_input_depth.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(ml): choose the page of a multi-page image; 400 for an unknown model or a non-image
  backend/segmentation/api/input_depth.py
  backend/segmentation/api/routes.py
  backend/segmentation_cpu_tests/test_input_depth.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(ml): an optional max_pixels ceiling on /segment, checked on the header
  backend/segmentation/api/routes.py
  backend/segmentation_cpu_tests/test_input_depth.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(api): POST /api/v1/segment with six output formats and full model descriptions
  backend/src/api/v1/__tests__/fixtures/contours_blobs.json
  backend/src/api/v1/__tests__/fixtures/contours_edges.json
  backend/src/api/v1/__tests__/fixtures/contours_lace.json
  backend/src/api/v1/__tests__/fixtures/contours_nested.json
  backend/src/api/v1/__tests__/fixtures/contours_specks.json
  backend/src/api/v1/__tests__/fixtures/generate_contour_fixtures.py
  backend/src/api/v1/__tests__/raster.test.ts
  backend/src/api/v1/formats.ts
  backend/src/api/v1/imageEncoders.ts
  backend/src/api/v1/index.ts
  backend/src/api/v1/mlClient.ts
  backend/src/api/v1/models.ts
  backend/src/api/v1/objects.ts
  backend/src/api/v1/problem.ts
  backend/src/api/v1/raster.ts
  backend/src/api/v1/segment.ts
  backend/src/services/__tests__/apiKeyService.test.ts
  backend/src/services/apiKeyService.ts
  backend/src/utils/crc32.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(api): cover the v1 object model, encoders, formats, ML client and segment route
  backend/src/api/v1/__tests__/formats.test.ts
  backend/src/api/v1/__tests__/imageEncoders.test.ts
  backend/src/api/v1/__tests__/mlClient.test.ts
  backend/src/api/v1/__tests__/objects.test.ts
  backend/src/api/v1/__tests__/segment.test.ts
  backend/src/api/v1/segment.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(api): one interior fill in the rasteriser; the inclusive variant was dead
  backend/src/api/v1/raster.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(api): OpenAPI 3.1 document and resolvable problem types for /api/v1
  backend/src/api/v1/index.ts
  backend/src/api/v1/limits.ts
  backend/src/api/v1/openapi.ts
  backend/src/api/v1/problem.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(api): the public API guide, Swagger UI for v1, and corrections to three stale docs
  CLAUDE.md
  backend/src/api/openapi.yaml
  backend/src/api/v1/__tests__/docs.test.ts
  backend/src/api/v1/__tests__/openapi.test.ts
  backend/src/api/v1/__tests__/v1Router.test.ts
  backend/src/api/v1/index.ts
  backend/src/middleware/__tests__/swagger.test.ts
  backend/src/middleware/swagger.ts
  docs/api/README.md
  docs/api/authentication.md
  docs/api/ml-service.md
  docs/api/public-v1.md
  docs/api/swagger-openapi.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(app): a Public API section on the Documentation page, in six locales
  src/pages/__tests__/Documentation.test.tsx
  src/pages/documentation/DocsBlocks.tsx
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(api): a truncated image is the caller's 4xx, and zip entry names are ASCII
  backend/segmentation/api/input_depth.py
  backend/segmentation/api/routes.py
  backend/segmentation_cpu_tests/test_input_depth.py
  backend/src/api/v1/__tests__/formats.test.ts
  backend/src/api/v1/formats.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(api): read multipart filenames as UTF-8
  backend/src/api/v1/__tests__/segment.test.ts
  backend/src/api/v1/segment.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): address review - bounded stretch memory, slot reserved before upload, hand-off race
  backend/segmentation/api/input_depth.py
  backend/segmentation_cpu_tests/test_input_depth.py
  backend/src/api/v1/__tests__/formats.test.ts
  backend/src/api/v1/__tests__/mlClient.test.ts
  backend/src/api/v1/__tests__/segment.test.ts
  backend/src/api/v1/formats.ts
  backend/src/api/v1/mlClient.ts
  backend/src/api/v1/models.ts
  backend/src/api/v1/segment.ts
  backend/src/middleware/__tests__/swagger.test.ts
  backend/src/middleware/swagger.ts
  docs/api/authentication.md
  docs/api/swagger-openapi.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(api): share field validation and execution between /segment and the job worker
  backend/src/api/v1/execute.ts
  backend/src/api/v1/segment.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(api): asynchronous jobs at /api/v1/jobs
  backend/prisma/migrations/20261006_add_api_jobs/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/v1/index.ts
  backend/src/api/v1/jobs/routes.ts
  backend/src/api/v1/jobs/store.ts
  backend/src/api/v1/jobs/worker.ts
  backend/src/api/v1/limits.ts
  backend/src/api/v1/problem.ts
  backend/src/api/v1/segment.ts
  backend/src/server.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

test(api): cover /api/v1/jobs through the real routes and worker; describe it in OpenAPI
  backend/src/api/v1/__tests__/jobs.test.ts
  backend/src/api/v1/__tests__/openapi.test.ts
  backend/src/api/v1/jobs/limits.ts
  backend/src/api/v1/jobs/store.ts
  backend/src/api/v1/openapi.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(api): drop three redundant job code paths the mutation run exposed; test what it missed
  backend/src/api/v1/__tests__/jobs.test.ts
  backend/src/api/v1/jobs/routes.ts
  backend/src/api/v1/jobs/worker.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(api): document jobs in the guide, the overview, CLAUDE.md and the in-app page
  CLAUDE.md
  backend/src/api/v1/__tests__/docs.test.ts
  backend/src/api/v1/jobs/limits.ts
  backend/src/api/v1/jobs/store.ts
  docs/api/README.md
  docs/api/public-v1.md
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(api): starting the job worker can no longer stop the server; migrate before recreating
  CLAUDE.md
  backend/src/api/v1/__tests__/jobs.test.ts
  backend/src/api/v1/jobs/worker.ts
  backend/src/server.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(api): say that the spheroid and wound models resize their input
  backend/src/api/v1/models.ts
  docs/api/public-v1.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): enforce job limits at insert time, under a lock; keep slow uploads from the sweep
  backend/src/api/v1/__tests__/jobs.test.ts
  backend/src/api/v1/jobs/routes.ts
  backend/src/api/v1/jobs/store.ts
  backend/src/api/v1/jobs/worker.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(api): asynchronous jobs at /api/v1/jobs for larger images and batches (#577)
  CLAUDE.md
  backend/prisma/migrations/20261006_add_api_jobs/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/v1/__tests__/docs.test.ts
  backend/src/api/v1/__tests__/jobs.test.ts
  backend/src/api/v1/__tests__/openapi.test.ts
  backend/src/api/v1/execute.ts
  backend/src/api/v1/index.ts
  backend/src/api/v1/jobs/limits.ts
  backend/src/api/v1/jobs/routes.ts
  backend/src/api/v1/jobs/store.ts
  backend/src/api/v1/jobs/worker.ts
  backend/src/api/v1/limits.ts
  backend/src/api/v1/models.ts
  backend/src/api/v1/openapi.ts
  backend/src/api/v1/problem.ts
  backend/src/api/v1/segment.ts
  backend/src/server.ts
  docs/api/README.md
  docs/api/public-v1.md
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(db): create the three objects no migration creates
  backend/prisma/migrations/20261006_create_unmigrated_objects/migration.sql
Due: bash -c 'sqlfluff lint $0 || true'

docs: describe sperm_2part and correct the model count everywhere
  CLAUDE.md
  README.md
  docs/README.md
  docs/guides/project-types.md
  docs/guides/project-types/sperm.md
  docs/guides/segmentation-editor.md
  docs/reference/ml-models.md
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(api): rewrite authentication.md from the responses the service sends
  docs/api/authentication.md
  docs/api/swagger-openapi.md
Due: prettier --write

fix(api): verify the API key unconditionally, branch only on the answer
  backend/src/api/v1/__tests__/v1Router.test.ts
  backend/src/middleware/apiKeyAuth.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(api): qualify five statements in authentication.md after review
  docs/api/authentication.md
Due: prettier --write

fix: migrations build a working database; docs for sperm_2part and the auth API (#578)
  CLAUDE.md
  README.md
  backend/prisma/migrations/20261006_create_unmigrated_objects/migration.sql
  backend/src/api/v1/__tests__/v1Router.test.ts
  backend/src/middleware/apiKeyAuth.ts
  docs/README.md
  docs/api/authentication.md
  docs/api/swagger-openapi.md
  docs/guides/project-types.md
  docs/guides/project-types/sperm.md
  docs/guides/segmentation-editor.md
  docs/reference/ml-models.md
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

docs: auth endpoints as they now behave; six stale claims corrected
  CLAUDE.md
  README.md
  docs/api/README.md
  docs/api/authentication.md
  docs/api/swagger-openapi.md
  docs/guides/project-types.md
  docs/reference/database-schema.md
  docs/reference/ml-models.md
Due: prettier --write

fix: session rotation, revocation precision, project file cleanup, channel default
  backend/prisma/migrations/20261007_drop_legacy_sessions/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/__tests__/jwt.behavior.test.ts
  backend/src/auth/__tests__/jwt.uniqueness.test.ts
  backend/src/auth/__tests__/sessionCutoff.test.ts
  backend/src/auth/jwt.ts
  backend/src/auth/sessionCutoff.ts
  backend/src/constants/modelRegistry.ts
  backend/src/middleware/__tests__/auth.sessionCutoff.test.ts
  backend/src/middleware/auth.ts
  backend/src/services/__tests__/accountFiles.test.ts
  backend/src/services/__tests__/authService.sessions.test.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/impersonationSession.test.ts
  backend/src/services/__tests__/liveConnections.test.ts
  backend/src/services/__tests__/projectService.files.test.ts
  backend/src/services/__tests__/projectService.gaps5.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/__tests__/sessionService.rotation.test.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/accountFiles.ts
  backend/src/services/authService.ts
  backend/src/services/liveConnections.ts
  backend/src/services/projectService.ts
  backend/src/services/sessionService.ts
  backend/src/services/websocketService.ts
  package-lock.json
  package.json
  src/lib/__tests__/segmentationChannelDefault.test.ts
  src/lib/segmentationChannelDefault.ts
  src/pages/ProjectDetail.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'sqlfluff lint $0 || true'

ci: run the model-parity and shared-constants checks that nothing ran
  .github/workflows/ci.yml
  .lintstagedrc.json
  Makefile
  scripts/check-model-parity.cjs
  scripts/verify-shared-types.cjs
Due: prettier --write

docs: sessions, channel selection and thresholds as the code has them
  CLAUDE.md
  docs/api/authentication.md
  docs/guides/project-types.md
  docs/guides/project-types/microtubules.md
  docs/guides/videos-and-channels.md
  docs/reference/database-schema.md
  docs/reference/ml-models.md
Due: prettier --write

fix: review - revoked-family flag, durable file clean-up, reconnect ordering
  CLAUDE.md
  backend/src/api/controllers/__tests__/authController.behavior.test.ts
  backend/src/api/controllers/authController.ts
  backend/src/server.ts
  backend/src/services/__tests__/accountFiles.test.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/impersonationSession.test.ts
  backend/src/services/__tests__/projectService.files.test.ts
  backend/src/services/__tests__/projectService.gaps5.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/__tests__/sessionService.rotation.test.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/accountFiles.ts
  backend/src/services/authService.ts
  backend/src/services/projectService.ts
  backend/src/services/sessionService.ts
  docs/guides/project-types/microtubules.md
  docs/guides/videos-and-channels.md
  docs/reference/ml-models.md
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(essays): wells recorded as one file per channel, with a TIRF time series
  CLAUDE.md
  backend/essays/module/README.md
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/__init__.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/essays/module/tests/test_channel_roles.py
  backend/essays/module/tests/test_focus_qc_columns.py
  backend/essays/module/tests/test_split_channel_wells.py
  docs/guides/automated-essays.md
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
