Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

feat(export): let the kymograph export choose its line width (#430)
  backend/src/api/routes/__tests__/exportRoutes.test.ts
  backend/src/api/routes/exportRoutes.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/export/mtKymographExporter.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/components/__tests__/MicrotubuleKymographsSection.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(export): log the kymographs it wrote, not the ones it rendered
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(mt-metrics): vectorise the microtubule band and its background ring
  CLAUDE.md
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): log the kymographs it wrote, not the ones it rendered (#431)
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

perf(mt-metrics): vectorise the microtubule band and its background ring (#432)
  CLAUDE.md
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(essays): report the focus detector's sharpness, and decide nothing on it
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_focus_qc_columns.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(essays): say what the sharpness column is and what it cannot decide
  backend/essays/module/README.md
Due: prettier --write

feat(essays): report the focus detector's sharpness, and decide nothing on it (#433)
  backend/essays/module/README.md
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_focus_qc_columns.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(pickers): place the model preview above its row, not beside it
  models-hover.png
  src/components/settings/ModelSettingsSection.tsx
  src/components/ui/hover-card.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(export): record who took data off the platform, and when
  backend/prisma/migrations/20260902_add_export_log/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/exportController.audit.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/api/controllers/exportController.ts
  backend/src/services/__tests__/exportAuditService.test.ts
  backend/src/services/exportAuditService.ts
  backend/src/services/exportService.ts
  docs/reference/database-schema.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

feat(export): record who took data off the platform, and when (#435)
  backend/prisma/migrations/20260902_add_export_log/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/exportController.audit.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/api/controllers/exportController.ts
  backend/src/services/__tests__/exportAuditService.test.ts
  backend/src/services/exportAuditService.ts
  backend/src/services/exportService.ts
  docs/reference/database-schema.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

feat(kymograph): filter trajectories by an absolute intensity floor
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/src/api/routes/exportRoutes.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/components/__tests__/MicrotubuleKymographsSection.test.tsx
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(i18n): make the Czech hidden-trajectory count grammatical
  src/translations/cs.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: record why the kymograph intensity floor can be an absolute number
  CLAUDE.md
Due: prettier --write

feat(kymograph): filter trajectories by an absolute intensity floor (#436)
  CLAUDE.md
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_kymograph_velocity.py
  backend/src/api/routes/exportRoutes.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/kymographService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/components/__tests__/MicrotubuleKymographsSection.test.tsx
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(landing): say on the welcome page that uploaded images are not backed up
  src/components/Hero.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(landing): say on the welcome page that uploaded images are not backed up (#438)
  src/components/Hero.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(microcapsule): let the user decide which capsules count, and measure the diameter as a star
  backend/src/services/__tests__/mtTypeLabelService.async.test.ts
  backend/src/services/metrics/__tests__/radialDiameter.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/radialDiameter.ts
  backend/src/services/microcapsuleRelevance.ts
  backend/src/services/mtTypeLabelService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  docs/reference/metrics.md
  scripts/verify-shared-types.cjs
  src/lib/__tests__/microcapsuleRelevance.test.ts
  src/lib/microcapsuleRelevance.ts
  src/pages/export/hooks/useExportFunctions.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(microcapsule): let the user decide which capsules count, and measure the diameter as a star (#439)
  backend/src/services/__tests__/mtTypeLabelService.async.test.ts
  backend/src/services/metrics/__tests__/radialDiameter.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/radialDiameter.ts
  backend/src/services/microcapsuleRelevance.ts
  backend/src/services/mtTypeLabelService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  docs/reference/metrics.md
  scripts/verify-shared-types.cjs
  src/lib/__tests__/microcapsuleRelevance.test.ts
  src/lib/microcapsuleRelevance.ts
  src/pages/export/hooks/useExportFunctions.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(microcapsule): show the type submenu on a capsule, not only on a polyline
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(microcapsule): stop CanvasPolygon withholding the type props from a capsule
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(microcapsule): show the type submenu on a capsule, not only on a polyline (#440)
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(export): keep the audit trail when the account is deleted, and record refusals
  backend/prisma/migrations/20260902_export_log_survives_deletion/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/api/controllers/__tests__/exportController.audit.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/api/controllers/exportController.ts
  backend/src/services/__tests__/exportAuditService.test.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/exportAuditService.ts
  backend/src/services/kymographService.ts
  docs/reference/database-schema.md
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

fix(export): drop the denial row production could never write
  backend/src/api/controllers/__tests__/exportController.audit.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/api/controllers/exportController.ts
  docs/reference/database-schema.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): keep the audit trail when the account is deleted, and record refusals (#441)
  backend/prisma/migrations/20260902_export_log_survives_deletion/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/api/controllers/__tests__/exportController.audit.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/api/controllers/exportController.ts
  backend/src/services/__tests__/exportAuditService.test.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/exportAuditService.ts
  backend/src/services/kymographService.ts
  docs/reference/database-schema.md
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

fix(kymograph): serve mean and max from one decode, and let the width boxes be edited
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph): serve mean and max from one decode, and let the width boxes be edited (#442)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/__tests__/KymographModal.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(upload): identify channels from metadata only, never from a file name
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_axes.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(upload): identify channels from metadata only, never from a file name (#443)
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_axes.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): stop the canvas painting the frame you just left
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useSegmentationLoader.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): keep the setState bail-out the frame stamp removed
  src/pages/segmentation/hooks/useSegmentationLoader.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(editor): say the setter uses an updater internally
  src/pages/segmentation/hooks/useSegmentationLoader.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): stop the canvas painting the frame you just left (#444)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useSegmentationLoader.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): the four things Institut Curie reported, and two they asked for
  src/components/NewProjectCard.tsx
  src/components/project/ProjectDialogForm.tsx
  src/hooks/__tests__/useProjectForm.test.tsx
  src/hooks/useProjectForm.tsx
  src/pages/Dashboard.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.test.tsx
  src/pages/segmentation/hooks/useSidebarWidth.ts
  src/pages/segmentation/utils/__tests__/instanceLabels.test.ts
  src/pages/segmentation/utils/__tests__/multiSelect.test.ts
  src/pages/segmentation/utils/__tests__/panelWidth.test.ts
  src/pages/segmentation/utils/instanceLabels.ts
  src/pages/segmentation/utils/multiSelect.ts
  src/pages/segmentation/utils/panelWidth.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): stop the resize keys from scrubbing the video
  src/pages/segmentation/hooks/useSidebarWidth.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): the four things Institut Curie reported (#445)
  src/components/NewProjectCard.tsx
  src/components/project/ProjectDialogForm.tsx
  src/hooks/__tests__/useProjectForm.test.tsx
  src/hooks/useProjectForm.tsx
  src/pages/Dashboard.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/MicrotubuleInstancePanel.test.tsx
  src/pages/segmentation/hooks/useSidebarWidth.ts
  src/pages/segmentation/utils/__tests__/instanceLabels.test.ts
  src/pages/segmentation/utils/__tests__/multiSelect.test.ts
  src/pages/segmentation/utils/__tests__/panelWidth.test.ts
  src/pages/segmentation/utils/instanceLabels.ts
  src/pages/segmentation/utils/multiSelect.ts
  src/pages/segmentation/utils/panelWidth.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
