Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

feat(mt): propagation-aware MT tracking (motion model) + seed-prior warm-start + transformers pin (#266)
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/requirements.txt
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(export): add median signal + mean background to MT metrics export
  backend/segmentation/api/mt_metrics.py
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): pin transformers to 4.57.1 to preserve DINOv3 MT output
  backend/segmentation/requirements.txt
Due: none

feat(essays): Automated Essays page — folder .nd2 upload → MT assay → download
  .gitignore
  Makefile
  backend/essays/essays_api.py
  backend/essays/sitecustomize.py
  backend/prisma/manual-sql/2026-07-05-essay-jobs.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/essaysController.ts
  backend/src/api/routes/essaysRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/middleware/upload.ts
  backend/src/services/essaysService.ts
  backend/src/utils/config.ts
  docker-compose.production.yml
  docker/essays.Dockerfile
  docker/nginx/nginx.production.conf
  src/App.tsx
  src/components/essays/EssaysDropzone.tsx
  src/components/header/UserProfileDropdown.tsx
  src/lib/api.ts
  src/pages/AutomatedEssays.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

fix(deps): pin transformers==4.57.1 (4.57.2+ silently breaks DINOv3)
  README.md
  requirements.txt
Due: prettier --write

fix(essays): upload timeout + review findings (stuck jobs, silent failures, disk)
  backend/essays/essays_api.py
  backend/essays/sitecustomize.py
  backend/src/server.ts
  backend/src/services/essaysService.ts
  src/components/essays/EssaysDropzone.tsx
  src/pages/AutomatedEssays.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(essays): Automated Essays page — folder .nd2 upload → MT assay → download (#269)
  .gitignore
  Makefile
  backend/essays/essays_api.py
  backend/essays/sitecustomize.py
  backend/prisma/manual-sql/2026-07-05-essay-jobs.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/essaysController.ts
  backend/src/api/routes/essaysRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/middleware/upload.ts
  backend/src/server.ts
  backend/src/services/essaysService.ts
  backend/src/utils/config.ts
  docker-compose.production.yml
  docker/essays.Dockerfile
  docker/nginx/nginx.production.conf
  src/App.tsx
  src/components/essays/EssaysDropzone.tsx
  src/components/header/UserProfileDropdown.tsx
  src/lib/api.ts
  src/pages/AutomatedEssays.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

feat(editor): 16-bit-aware window/level for multi-channel video
  src/lib/__tests__/png16.test.ts
  src/lib/png16.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
  src/pages/segmentation/hooks/useSegmentationLoader.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(essays): unit tests for the security boundaries
  backend/src/api/controllers/__tests__/essaysController.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(editor): 16-bit-aware window/level for multi-channel video (#270)
  src/lib/__tests__/png16.test.ts
  src/lib/png16.ts
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
  src/pages/segmentation/hooks/useSegmentationLoader.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(essays): unit tests for the security boundaries (#271)
  backend/src/api/controllers/__tests__/essaysController.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(export): add median signal + mean background to MT metrics export (#267)
  backend/segmentation/api/mt_metrics.py
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf(mt-tracker): vectorize frame-to-frame cost so dense videos don't time out
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(essays): persist result zip until the user dismisses the job
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(essays): persist result zip until the user dismisses the job (#273)
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(mt): spec for ImageJ RoiSet export + cross-frame track ops
  docs/superpowers/specs/2026-07-06-mt-imagej-roiset-and-track-ops-design.md
Due: prettier --write

feat(mt-export): one ImageJ RoiSet.zip per video with per-track colour
  backend/src/services/export/__tests__/imagejColor.test.ts
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejColor.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt-tracks): backend endpoints to propagate + delete a track cross-frame
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt-editor): right-click propagate + whole-track delete for microtubules
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt): address PR review — corrupt-frame data loss, memo stability, per-video zip isolation
  backend/src/api/controllers/segmentationController.ts
  backend/src/services/__tests__/segmentationService.trackOpsService.test.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(mt): propagated track invisible until page refresh
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(project): bulk "Delete annotations" for selected images
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/segmentationService.ts
  src/components/project/ProjectToolbar.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(mt): ImageJ RoiSet.zip export + track propagate/delete + bulk delete-annotations (#274)
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/__tests__/segmentationService.trackOpsService.test.ts
  backend/src/services/export/__tests__/imagejColor.test.ts
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejColor.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  docs/superpowers/specs/2026-07-06-mt-imagej-roiset-and-track-ops-design.md
  src/components/project/ProjectToolbar.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(mt): propagate into frames with no segmentation row
  backend/src/services/__tests__/segmentationService.trackOpsService.test.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt-editor): Shift+click multi-select + propagate selected microtubules
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonHandlers.test.ts
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt-editor): keep plain-click onSelectPolygon single-arg (CI test fix)
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix+feat(mt): propagate into empty frames + Shift multi-select propagate (#275)
  backend/src/services/__tests__/segmentationService.trackOpsService.test.ts
  backend/src/services/segmentationService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonHandlers.test.ts
  src/pages/segmentation/hooks/usePolygonHandlers.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(mt-editor): show vertices for multi-selected MTs + apply propagate immediately
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(mt-editor): show vertices on multi-select + apply propagate immediately (#276)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt): propagated polylines keep their export badge + sort metrics by frame
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(mt): propagated polylines keep their export badge + sort metrics by frame (#277)
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/segmentationService.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'
