Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(neurite): check the ML response shape instead of asserting it
  backend/src/services/export/__tests__/neuriteMetricsExporter.test.ts
  backend/src/services/export/neuriteMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(neurite): the export would have skipped every frame in production
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): one CSV formula guard, and the MT sheets now use it too
  backend/src/services/export/__tests__/csvSafety.test.ts
  backend/src/services/export/csvSafety.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/export/neuriteMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(neurite): colour neurites by the soma they belong to
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/NeuriteAssignmentToggle.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/NeuriteAssignmentToggle.test.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/utils/__tests__/somaAssignmentColor.test.ts
  src/pages/segmentation/utils/somaAssignmentColor.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): a filename could become a spreadsheet formula in the CSV
  .github/codeql/codeql-config.yml
  backend/src/services/export/__tests__/neuriteMetricsExporter.test.ts
  backend/src/services/export/neuriteMetricsExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(neurite): report which soma owns each drawn neurite polygon
  backend/segmentation/api/neurite_metrics.py
  backend/segmentation/models/neurite_metrics/analyse.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
  backend/src/services/__tests__/segmentationService.test.ts
  backend/src/services/segmentationService.ts
  backend/src/utils/polygonValidation.ts
  src/lib/api.ts
  src/lib/segmentation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(neurite): reassign a neurite by selecting it and clicking a soma
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/utils/__tests__/assignmentClick.test.ts
  src/pages/segmentation/utils/assignmentClick.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(neurite): export dialog option for the per-cell metrics
  backend/src/services/export/__tests__/exportFileOperations.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/exportService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/NeuriteMetricsSection.tsx
  src/pages/export/components/__tests__/NeuriteMetricsSection.test.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): a dropped vertex snapped back for a frame before jumping
  src/pages/segmentation/components/canvas/CanvasVertex.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasVertex.test.tsx
  src/pages/segmentation/components/canvas/__tests__/PolygonVertices.memo.test.tsx
  src/pages/segmentation/components/canvas/__tests__/vertexDragRendering.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.dragResponsiveness.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): ask before leaving with unsaved changes instead of racing a save
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/UnsavedChangesDialog.tsx
  src/pages/segmentation/components/__tests__/EditorHeader.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): a shape only moves when the Move tool is armed
  src/pages/segmentation/components/KeyboardShortcutsHelp.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.geometry.test.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.test.tsx
  src/pages/segmentation/components/canvas/CanvasContainer.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasVertex.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainer.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasVertex.test.tsx
  src/pages/segmentation/components/canvas/__tests__/ModeInstructions.test.tsx
  src/pages/segmentation/components/canvas/__tests__/PolygonVertices.test.tsx
  src/pages/segmentation/config/__tests__/modeConfig.test.ts
  src/pages/segmentation/config/modeConfig.ts
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.geometry.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/pages/segmentation/types.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): a static IRM channel's frames share one annotation, so a manual edit must reach all of them
  backend/src/services/__tests__/segmentationService.staticShare.test.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.sparse.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.trackId.test.ts
  backend/src/services/segmentationService.ts
  backend/src/services/staticChannelProjectionService.ts
  src/lib/__tests__/api-methods.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): propagate failed on every cold deep-link into a frame URL
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): a dropped vertex snapped back for a frame before jumping (#512)
  src/pages/segmentation/components/canvas/CanvasVertex.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasVertex.test.tsx
  src/pages/segmentation/components/canvas/__tests__/PolygonVertices.memo.test.tsx
  src/pages/segmentation/components/canvas/__tests__/vertexDragRendering.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.dragResponsiveness.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): ask before leaving with unsaved changes instead of racing a save (#513)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/TopToolbar.tsx
  src/pages/segmentation/components/UnsavedChangesDialog.tsx
  src/pages/segmentation/components/__tests__/EditorHeader.test.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): a shape only moves when the Move tool is armed (#514)
  src/pages/segmentation/components/KeyboardShortcutsHelp.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.geometry.test.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.test.tsx
  src/pages/segmentation/components/canvas/CanvasContainer.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasVertex.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainer.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasVertex.test.tsx
  src/pages/segmentation/components/canvas/__tests__/ModeInstructions.test.tsx
  src/pages/segmentation/components/canvas/__tests__/PolygonVertices.test.tsx
  src/pages/segmentation/config/__tests__/modeConfig.test.ts
  src/pages/segmentation/config/modeConfig.ts
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertexDrag.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.geometry.test.tsx
  src/pages/segmentation/hooks/__tests__/useKeyboardShortcuts.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/pages/segmentation/types.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): a static IRM channel's frames share one annotation, so a manual edit must reach all of them (#516)
  backend/src/services/__tests__/segmentationService.staticShare.test.ts
  backend/src/services/__tests__/segmentationService.trackOps.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.sparse.test.ts
  backend/src/services/__tests__/staticChannelProjectionService.trackId.test.ts
  backend/src/services/segmentationService.ts
  backend/src/services/staticChannelProjectionService.ts
  src/lib/__tests__/api-methods.test.ts
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): propagate failed on every cold deep-link into a frame URL (#515)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): switching frame no longer autosaves, it discards
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): switching frame no longer autosaves, it discards (#517)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/useEnhancedSegmentationEditor.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): propagate now commits the frame it propagates from
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): propagate now commits the frame it propagates from (#518)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.propagateColdDeepLink.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(neurite): assign neurites to somas automatically when a frame is segmented
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(neurite): assign neurites to somas automatically when a frame is segmented (#519)
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/queueService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(neurite): a mode for assigning neurites to somas, several per neurite
  backend/src/services/segmentationService.ts
  backend/src/utils/__tests__/polygonValidation.test.ts
  backend/src/utils/polygonValidation.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.geometry.test.tsx
  src/pages/segmentation/components/canvas/CanvasContainer.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/config/__tests__/modeConfig.test.ts
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/pages/segmentation/types.ts
  src/pages/segmentation/utils/__tests__/assignmentClick.test.ts
  src/pages/segmentation/utils/__tests__/neuriteSomaIds.test.ts
  src/pages/segmentation/utils/__tests__/somaAssignmentColor.test.ts
  src/pages/segmentation/utils/assignmentClick.ts
  src/pages/segmentation/utils/neuriteSomaIds.ts
  src/pages/segmentation/utils/somaAssignmentColor.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(neurite): setPolygonsSomaId asserts the list, not the legacy field
  backend/src/services/__tests__/setPolygonsSomaId.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(neurite): a mode for assigning neurites to somas, several per neurite (#520)
  backend/src/services/__tests__/setPolygonsSomaId.test.ts
  backend/src/services/segmentationService.ts
  backend/src/utils/__tests__/polygonValidation.test.ts
  backend/src/utils/polygonValidation.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/__tests__/VerticalToolbar.geometry.test.tsx
  src/pages/segmentation/components/canvas/CanvasContainer.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/config/__tests__/modeConfig.test.ts
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/pages/segmentation/types.ts
  src/pages/segmentation/utils/__tests__/assignmentClick.test.ts
  src/pages/segmentation/utils/__tests__/neuriteSomaIds.test.ts
  src/pages/segmentation/utils/__tests__/somaAssignmentColor.test.ts
  src/pages/segmentation/utils/assignmentClick.ts
  src/pages/segmentation/utils/neuriteSomaIds.ts
  src/pages/segmentation/utils/somaAssignmentColor.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(neurite): arming the assignment tool shows the assignment
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): arming the assignment tool shows the assignment (#521)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): instance colours were one degree apart on sequential ids
  src/pages/segmentation/utils/__tests__/instanceColors.test.ts
  src/pages/segmentation/utils/__tests__/somaAssignmentColor.test.ts
  src/pages/segmentation/utils/instanceColors.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): an unset project scale says what to do about it
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/services/__tests__/segmentationService.assignNeuriteSomas.test.ts
  backend/src/services/segmentationService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(neurite): the scale message names the page the control is on
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(export): the ImageJ ROI colour follows the editor's hue stride
  backend/src/services/export/__tests__/imagejColor.test.ts
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejColor.ts
  src/pages/segmentation/utils/__tests__/imagejColorParity.test.ts
  src/pages/segmentation/utils/__tests__/instanceColors.test.ts
  src/pages/segmentation/utils/instanceColors.ts
  tsconfig.test.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(editor): spread instance hues, and make an unset neurite scale actionable (#522)
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/services/__tests__/segmentationService.assignNeuriteSomas.test.ts
  backend/src/services/export/__tests__/imagejColor.test.ts
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejColor.ts
  backend/src/services/segmentationService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/utils/__tests__/imagejColorParity.test.ts
  src/pages/segmentation/utils/__tests__/instanceColors.test.ts
  src/pages/segmentation/utils/__tests__/somaAssignmentColor.test.ts
  src/pages/segmentation/utils/instanceColors.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  tsconfig.test.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs(export): the metrics guide explains competition and anticorrelation
  backend/src/services/export/__tests__/exportDocs.gaps5.test.ts
  backend/src/services/export/exportDocs.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(export): the metrics guide explains competition and anticorrelation (#523)
  backend/src/services/export/__tests__/exportDocs.gaps5.test.ts
  backend/src/services/export/exportDocs.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(neurite): attach a neurite to its cell from the filament's edge
  backend/segmentation/models/neurite_metrics/__init__.py
  backend/segmentation/models/neurite_metrics/assign.py
  backend/segmentation/models/neurite_metrics/pipeline.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/services/__tests__/segmentationService.assignNeuriteSomas.test.ts
  backend/src/services/segmentationService.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): a re-render was cancelling the reload it had just started
  src/hooks/shared/__tests__/useAbortController.test.ts
  src/hooks/shared/useAbortController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(neurite): the inset applies to every node, not only to leaves
  backend/segmentation/models/neurite_metrics/assign.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
