Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(neurite): assign a neurite to its cell from the filament's edge, and stop a re-render cancelling the reload (#524)
  backend/segmentation/models/neurite_metrics/__init__.py
  backend/segmentation/models/neurite_metrics/assign.py
  backend/segmentation/models/neurite_metrics/pipeline.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
  backend/src/api/controllers/__tests__/segmentationController.test.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/services/__tests__/segmentationService.assignNeuriteSomas.test.ts
  backend/src/services/segmentationService.ts
  src/hooks/shared/__tests__/useAbortController.test.ts
  src/hooks/shared/useAbortController.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(project): Back returns to the folder the project is in
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/projectService.ts
  src/components/project/ProjectHeader.tsx
  src/components/project/__tests__/ProjectHeader.test.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(ci): make test-ml runnable again
  Makefile
Due: none

fix(project): forget the previous project's folder while the next loads
  src/hooks/__tests__/useProjectData.test.tsx
  src/hooks/useProjectData.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(project): Back returns to the folder the project is in (#525)
  Makefile
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/projectService.ts
  src/components/project/ProjectHeader.tsx
  src/components/project/__tests__/ProjectHeader.test.tsx
  src/hooks/__tests__/useProjectData.test.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

chore(deps): take the four safe Dependabot bumps, refuse the fifth
  .github/dependabot.yml
  backend/essays/module/requirements.txt
  backend/package-lock.json
  backend/package.json
  backend/segmentation/requirements.txt
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

feat(neurite): the removal menu shows each soma's colour and lights it up
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasSvgFilters.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasSvgFilters.test.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): keep the soma halo on a selected soma, and clear it on click
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(deps): resolve the five Dependabot PRs + feat(neurite): colour and light up the soma-removal menu (#526)
  .github/dependabot.yml
  backend/essays/module/requirements.txt
  backend/package-lock.json
  backend/package.json
  backend/segmentation/requirements.txt
  package-lock.json
  package.json
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasSvgFilters.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasSvgFilters.test.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

feat(neurite): pan the canvas from empty space while assigning neurites
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.assignNeuritePan.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(neurite): pan the canvas from empty space while assigning neurites (#528)
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.assignNeuritePan.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(deps): bump @playwright/test to 1.63.0, by hand-editing the lock
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

chore(deps): bump @playwright/test to 1.63.0, by hand-editing the lock (#529)
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

fix(neurite): right-click no longer cancels the assignment mode
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.assignNeuritePan.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): right-click no longer cancels the assignment mode (#530)
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.assignNeuritePan.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(dashboard): show every project, not the first ten
  src/hooks/__tests__/useDashboardProjects.test.tsx
  src/hooks/useDashboardProjects.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(dashboard): drop the dead totalPages initialiser CodeQL flagged
  src/hooks/useDashboardProjects.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(dashboard): show every project, not the first ten (#531)
  src/hooks/__tests__/useDashboardProjects.test.tsx
  src/hooks/useDashboardProjects.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(projects): two more surfaces that rendered only the first page
  src/components/ProjectSelector.tsx
  src/components/StatsOverview.tsx
  src/hooks/useDashboardProjects.ts
  src/lib/__tests__/fetchAllProjects.test.ts
  src/lib/fetchAllProjects.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(projects): two more surfaces that rendered only the first page (#532)
  src/components/ProjectSelector.tsx
  src/components/StatsOverview.tsx
  src/hooks/useDashboardProjects.ts
  src/lib/__tests__/fetchAllProjects.test.ts
  src/lib/fetchAllProjects.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): clear the soma highlight whenever the menu closes
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(neurite): clear the soma highlight whenever the menu closes (#533)
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/components/context-menu/__tests__/PolygonContextMenu.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(upload): raise sharp's pixel limit so large microscopy images load
  backend/src/constants/imageLimits.ts
  backend/src/services/__tests__/sharpInputLimits.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/services/playbackProxyService.ts
  backend/src/services/segmentationThumbnailService.ts
  backend/src/services/videoUploadService.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/storage/localStorage.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(visualization): assert the TIFF converter carries the pixel limit
  backend/src/services/visualization/__tests__/visualizationGenerator.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(upload): raise sharp's pixel limit so large microscopy images load (#534)
  backend/src/constants/imageLimits.ts
  backend/src/services/__tests__/sharpInputLimits.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/exportService.ts
  backend/src/services/imageService.ts
  backend/src/services/playbackProxyService.ts
  backend/src/services/segmentationThumbnailService.ts
  backend/src/services/videoUploadService.ts
  backend/src/services/visualization/__tests__/visualizationGenerator.test.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/storage/localStorage.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(segmentation): keep whole-frame accumulators off the GPU, and time out by size
  backend/segmentation/models/neurite_soma/wrapper.py
  backend/src/constants/imageLimits.ts
  backend/src/services/__tests__/sharpInputLimits.test.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(segmentation): keep whole-frame accumulators off the GPU, and time out by size (#535)
  backend/segmentation/models/neurite_soma/wrapper.py
  backend/src/constants/imageLimits.ts
  backend/src/services/__tests__/sharpInputLimits.test.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): take inference off the event loop, under one loader-wide lock
  backend/segmentation/api/frap_targets.py
  backend/segmentation/api/routes.py
  backend/segmentation_cpu_tests/test_inference_serialisation.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(ci): install python-multipart so the CPU suite can import api.routes
  backend/requirements-pytest-ci.txt
Due: none

fix(ml): bound frap's wait on the shared lock, and correct two stale comments
  backend/segmentation/api/frap_targets.py
  backend/segmentation/api/routes.py
  backend/segmentation_cpu_tests/test_inference_serialisation.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): take inference off the event loop, under one loader-wide lock (#536)
  backend/requirements-pytest-ci.txt
  backend/segmentation/api/frap_targets.py
  backend/segmentation/api/routes.py
  backend/segmentation_cpu_tests/test_inference_serialisation.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): draw the 8-bit playback proxy only while the frame is moving
  src/lib/playbackProxyWindow.ts
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(channels): backend for removing a channel from selected frames
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/services/__tests__/removeChannelService.test.ts
  backend/src/services/__tests__/removeChannelService.wiring.test.ts
  backend/src/services/removeChannelService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(channels): remove a channel from the selected frames
  backend/src/api/controllers/imageController.ts
  src/components/project/ProjectToolbar.tsx
  src/components/project/RemoveChannelDialog.tsx
  src/components/project/__tests__/RemoveChannelDialog.test.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(channels): move the frame row off the channel being deleted
  backend/src/services/__tests__/removeChannelService.wiring.test.ts
  backend/src/services/removeChannelService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(i18n): use this project's double-brace placeholders in the new keys
  src/components/project/__tests__/RemoveChannelDialog.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): draw the 8-bit playback proxy only while the frame is moving (#537)
  src/lib/playbackProxyWindow.ts
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
