Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

feat(mt): add a channel to selected frames (video/stack or single image) (#287)
  backend/segmentation/api/mt_metrics.py
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/__tests__/imageRoutes.test.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/middleware/upload.ts
  backend/src/services/__tests__/addChannelService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/tests/test_add_channel_align.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
  docs/superpowers/specs/2026-07-08-mt-add-channel-design.md
  src/components/project/AddChannelDialog.tsx
  src/components/project/ProjectToolbar.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(mt): design spec for microtubule type (class) labeling
  docs/superpowers/specs/2026-07-09-mt-type-labeling-design.md
Due: prettier --write

docs(mt): implementation plan for microtubule type labeling
  docs/superpowers/plans/2026-07-09-mt-type-labeling.md
Due: prettier --write

feat(mt): thread mtType label id through polygon contracts
  backend/src/services/segmentationService.ts
  backend/src/utils/__tests__/polygonValidation.mtType.test.ts
  backend/src/utils/polygonValidation.ts
  src/lib/api.ts
  src/lib/segmentation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(mt): add mtTypeLabels palette column to Project (schema)
  backend/prisma/schema.prisma
Due: none

feat(mt): setTrackTypeAcrossVideo service + pure helper
  backend/src/services/__tests__/setTrackType.test.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt): palette service (sanitize/put/delete + reference cleanup)
  backend/src/services/__tests__/mtTypeLabelService.test.ts
  backend/src/services/mtTypeLabelService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt): routes+controllers for track-type PATCH + palette CRUD
  backend/src/api/controllers/projectController.ts
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/routes/projectRoutes.ts
  backend/src/api/routes/segmentationRoutes.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt): api client methods, semantic colour resolver, palette hook
  src/lib/api.ts
  src/pages/segmentation/hooks/useMtTypeLabels.ts
  src/pages/segmentation/utils/__tests__/resolveMtColor.test.ts
  src/pages/segmentation/utils/instanceColors.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(mt): editor UI for type labeling (context menu, dialog, panel, canvas)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/MtTypeLabelDialog.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(mt): mtType (class name) column in MT metrics export
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt): ImageJ ROI carries the tubulin class (name + stroke colour)
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejColor.ts
  backend/src/services/export/imagejRoiEncoder.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt): CVAT 1.1 export for microtubules; drop COCO/YOLO/JSON for MT
  backend/src/services/export/__tests__/cvatExporter.test.ts
  backend/src/services/export/cvatExporter.ts
  backend/src/services/exportService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(mt): DELETE label route dropped :labelId (validateParams stripped it)
  backend/src/api/routes/projectRoutes.ts
  backend/src/services/mtTypeLabelService.ts
  backend/src/types/__tests__/projectLabelParamsSchema.test.ts
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt): microtubule-aware editor mode hints (Enter to finish)
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt): checkbox can't uncheck a single-selected microtubule
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt): frontend CI — default apiClient import + palette methods in test mock
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/hooks/useMtTypeLabels.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(mt): backend branch coverage for new MT type-labeling code (>=75%)
  backend/src/services/__tests__/mtTypeLabelService.async.test.ts
  backend/src/services/__tests__/mtTypeLabelService.test.ts
  backend/src/services/__tests__/segmentationService.trackOpsService.test.ts
  backend/src/services/export/__tests__/cvatExporter.test.ts
  backend/src/services/export/__tests__/cvatExporter.wrapper.test.ts
  backend/src/services/export/__tests__/imagejColor.test.ts
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(project-types): consolidate MT predicate + registry reuse + dead-code cleanup, with MT-type-label review hardening
  backend/src/api/controllers/projectController.ts
  backend/src/api/routes/projectRoutes.ts
  backend/src/services/__tests__/exportService.gaps.test.ts
  backend/src/services/__tests__/exportService.gaps2.test.ts
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/__tests__/exportService.gaps4.test.ts
  backend/src/services/__tests__/exportService.gaps5.test.ts
  backend/src/services/__tests__/mtTypeLabelService.async.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/services/mtTypeLabelService.ts
  backend/src/types/validation.ts
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/components/__tests__/VideoModeOverlay.test.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/hooks/__tests__/useMtTypeLabels.test.ts
  src/pages/segmentation/hooks/__tests__/useResegment.test.ts
  src/pages/segmentation/hooks/useMtTypeLabels.ts
  src/pages/segmentation/hooks/useResegment.ts
  src/pages/segmentation/utils/__tests__/mtTypeTargets.test.ts
  src/pages/segmentation/utils/mtTypeTargets.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

refactor(project-types): consolidate MT predicate + registry reuse + dead-code cleanup, with MT-type-label review hardening (#289)
  backend/src/api/controllers/projectController.ts
  backend/src/api/routes/projectRoutes.ts
  backend/src/services/__tests__/exportService.gaps.test.ts
  backend/src/services/__tests__/exportService.gaps2.test.ts
  backend/src/services/__tests__/exportService.gaps3.test.ts
  backend/src/services/__tests__/exportService.gaps4.test.ts
  backend/src/services/__tests__/exportService.gaps5.test.ts
  backend/src/services/__tests__/mtTypeLabelService.async.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/services/mtTypeLabelService.ts
  backend/src/types/validation.ts
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/components/__tests__/VideoModeOverlay.test.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/pages/segmentation/hooks/__tests__/useMtTypeLabels.test.ts
  src/pages/segmentation/hooks/__tests__/useResegment.test.ts
  src/pages/segmentation/hooks/useMtTypeLabels.ts
  src/pages/segmentation/hooks/useResegment.ts
  src/pages/segmentation/utils/__tests__/mtTypeTargets.test.ts
  src/pages/segmentation/utils/mtTypeTargets.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs(spec): polyline generic primitive + MT export/editor design
  docs/superpowers/specs/2026-07-09-polyline-primitive-and-mt-export-design.md
Due: prettier --write

feat(polyline): project-type SSOT for polyline semantics (de-sperm-hardcode)
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
  backend/src/utils/__tests__/polylineSemantics.test.ts
  backend/src/utils/instanceLabels.ts
  backend/src/utils/polylineSemantics.ts
  src/lib/__tests__/polylineSemantics.test.ts
  src/lib/polylineSemantics.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/usePolygonRenderProps.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(segmenter): P0 data model + design docs (spec, plan, SOTA research notes)
  backend/prisma/schema.prisma
  docs/research/segmenter-fewshot-active-learning-sota.md
  docs/superpowers/plans/2026-07-09-segmenter-p0.md
  docs/superpowers/specs/2026-07-09-segmenter-fewshot-al-design.md
Due: prettier --write

feat(mt-editor): rename microtubules from the instances panel
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(export): show image NAME instead of UUID in metric exports
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(imagej): name MT ROIs <type>_<counter> with rename override
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(mt-metrics): per-MT local background + ImageJ background band ROI
  backend/segmentation/api/mt_metrics.py
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(segmenter): P0 backend endpoints + FE module + polygon-only editor
  backend/src/api/controllers/segmenterController.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/segmenterRoutes.ts
  backend/src/services/__tests__/segmenterService.test.ts
  backend/src/services/segmenterService.ts
  backend/src/types/validation.ts
  src/App.tsx
  src/lib/segmenterApi.ts
  src/pages/segmenter/SegmenterDashboard.tsx
  src/pages/segmenter/SegmenterDatasetDetail.tsx
  src/pages/segmenter/components/ClassLabelDialog.tsx
  src/pages/segmenter/components/ClassManagerPanel.tsx
  src/pages/segmenter/editor/SegmenterEditor.tsx
  src/pages/segmenter/editor/components/ActiveClassPicker.tsx
  src/pages/segmenter/editor/components/SegmenterPolygonListPanel.tsx
  src/pages/segmenter/editor/components/canvas/SegmenterCanvas.tsx
  src/pages/segmenter/editor/components/canvas/SegmenterPolygonShape.tsx
  src/pages/segmenter/editor/components/canvas/SegmenterVertexPoint.tsx
  src/pages/segmenter/editor/hooks/useContainerSize.ts
  src/pages/segmenter/editor/hooks/useEditorState.ts
  src/pages/segmenter/editor/hooks/useSegmenterAnnotation.ts
  src/pages/segmenter/editor/types.ts
  src/pages/segmenter/editor/utils/classColor.ts
  src/pages/segmenter/hooks/useSegmenterClasses.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(review): bbox-local dilation, null-bg + degenerate-drop observability
  backend/segmentation/api/mt_metrics.py
  backend/src/services/export/formatConverter.ts
  backend/src/services/metrics/metricsCalculator.ts
  docs/superpowers/specs/2026-07-09-polyline-primitive-and-mt-export-design.md
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(test): update tests for project-type-driven polylineKind + convertToCOCO arg
  backend/src/services/__tests__/exportService.gaps.test.ts
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonRenderProps.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(polyline): generic polyline primitive + MT export/editor improvements (#290)
  backend/segmentation/api/mt_metrics.py
  backend/src/services/__tests__/exportService.gaps.test.ts
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/__tests__/mtMetricsExporter.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/__tests__/metricsCalculator.microcapsule.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/utils/__tests__/polylineSemantics.test.ts
  backend/src/utils/instanceLabels.ts
  backend/src/utils/polylineSemantics.ts
  docs/superpowers/specs/2026-07-09-polyline-primitive-and-mt-export-design.md
  src/lib/__tests__/polylineSemantics.test.ts
  src/lib/polylineSemantics.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonRenderProps.test.ts
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/usePolygonRenderProps.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(segmenter): review fixes (load-error guard, upload warning, 404, atomic deleteClass) + i18n x6
  backend/src/api/controllers/segmenterController.ts
  backend/src/services/__tests__/segmenterService.test.ts
  backend/src/services/segmenterService.ts
  src/lib/segmenterApi.ts
  src/pages/segmenter/SegmenterDashboard.tsx
  src/pages/segmenter/SegmenterDatasetDetail.tsx
  src/pages/segmenter/components/ClassLabelDialog.tsx
  src/pages/segmenter/components/ClassManagerPanel.tsx
  src/pages/segmenter/editor/SegmenterEditor.tsx
  src/pages/segmenter/editor/components/ActiveClassPicker.tsx
  src/pages/segmenter/editor/components/SegmenterPolygonListPanel.tsx
  src/pages/segmenter/editor/components/canvas/SegmenterCanvas.tsx
  src/pages/segmenter/editor/hooks/useEditorState.ts
  src/pages/segmenter/editor/hooks/useSegmenterAnnotation.ts
  src/pages/segmenter/editor/utils/classColor.ts
  src/pages/segmenter/hooks/useSegmenterClasses.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(segmenter): cover getImageFile + sanitize + controller (branch coverage >=75%)
  backend/src/api/controllers/__tests__/segmenterController.test.ts
  backend/src/services/__tests__/segmenterService.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(segmenter): P0 few-shot annotation module (dataset/class/polygon editor) (#291)
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/segmenterController.test.ts
  backend/src/api/controllers/segmenterController.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/segmenterRoutes.ts
  backend/src/services/__tests__/segmenterService.test.ts
  backend/src/services/segmenterService.ts
  backend/src/types/validation.ts
  docs/research/segmenter-fewshot-active-learning-sota.md
  docs/superpowers/plans/2026-07-09-segmenter-p0.md
  docs/superpowers/specs/2026-07-09-segmenter-fewshot-al-design.md
  src/App.tsx
  src/lib/segmenterApi.ts
  src/pages/segmenter/SegmenterDashboard.tsx
  src/pages/segmenter/SegmenterDatasetDetail.tsx
  src/pages/segmenter/components/ClassLabelDialog.tsx
  src/pages/segmenter/components/ClassManagerPanel.tsx
  src/pages/segmenter/editor/SegmenterEditor.tsx
  src/pages/segmenter/editor/components/ActiveClassPicker.tsx
  src/pages/segmenter/editor/components/SegmenterPolygonListPanel.tsx
  src/pages/segmenter/editor/components/canvas/SegmenterCanvas.tsx
  src/pages/segmenter/editor/components/canvas/SegmenterPolygonShape.tsx
  src/pages/segmenter/editor/components/canvas/SegmenterVertexPoint.tsx
  src/pages/segmenter/editor/hooks/useContainerSize.ts
  src/pages/segmenter/editor/hooks/useEditorState.ts
  src/pages/segmenter/editor/hooks/useSegmenterAnnotation.ts
  src/pages/segmenter/editor/types.ts
  src/pages/segmenter/editor/utils/classColor.ts
  src/pages/segmenter/hooks/useSegmenterClasses.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
