Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix(project-header): let the type and model pills wrap instead of overflowing
  src/components/project/ProjectHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(types): drop the compatibility helpers the resolver made dead
  scripts/verify-shared-types.cjs
  src/lib/models/modelRegistry.ts
  src/pages/__tests__/ProjectDetail.test.tsx
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(models): make the backend actually read the column, and 6 review findings
  backend/src/api/controllers/__tests__/projectController.gaps.test.ts
  backend/src/api/controllers/__tests__/queueController.test.ts
  backend/src/api/controllers/projectController.ts
  backend/src/api/controllers/queueController.ts
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/services/__tests__/projectService.getProjectModel.test.ts
  backend/src/services/__tests__/userRowNarrowing.test.ts
  backend/src/services/projectService.ts
  backend/src/types/validation.ts
  src/components/project/ProjectHeader.tsx
  src/components/project/ProjectModelSelector.tsx
  src/components/project/__tests__/ProjectModelSelector.test.tsx
  src/contexts/__tests__/ModelContext.test.tsx
  src/hooks/__tests__/useProjectImageActions.test.tsx
  src/hooks/useProjectImageActions.tsx
  src/lib/__tests__/imageProcessingService.test.ts
  src/lib/imageProcessingService.ts
  src/lib/models/modelRegistry.ts
  src/pages/ProjectDetail.tsx
  src/pages/Settings.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/pages/__tests__/Settings.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

test(settings): make the Tabs stub honour the active tab
  src/pages/__tests__/Settings.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(project): gate owner-only controls, narrow hole detection, quiet the header
  backend/src/api/controllers/__tests__/queueController.behavior.test.ts
  backend/src/api/controllers/queueController.ts
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/services/__tests__/projectService.getProjectModel.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/projectService.ts
  scripts/check-i18n.cjs
  scripts/verify-shared-types.cjs
  src/components/DashboardHeader.tsx
  src/components/__tests__/DashboardHeader.test.tsx
  src/components/project/ProjectModelSelector.tsx
  src/components/project/__tests__/ProjectModelSelector.test.tsx
  src/hooks/__tests__/useProjectModel.test.tsx
  src/hooks/useProjectData.tsx
  src/hooks/useProjectModel.ts
  src/lib/__tests__/api.test.ts
  src/lib/api.ts
  src/lib/models/modelRegistry.ts
  src/pages/ProjectDetail.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(queue): only the project owner may override its segmentation model
  backend/src/api/controllers/__tests__/queueController.behavior.test.ts
  backend/src/api/controllers/queueController.ts
  backend/src/services/__tests__/projectService.getProjectModel.test.ts
  backend/src/services/__tests__/userRowNarrowing.test.ts
  backend/src/services/projectService.ts
  src/components/__tests__/DashboardHeader.test.tsx
  src/hooks/__tests__/useProjectData.test.tsx
  src/hooks/useProjectData.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(project): gate owner-only controls, narrow hole detection, quiet the header (#554)
  backend/src/api/controllers/__tests__/queueController.behavior.test.ts
  backend/src/api/controllers/queueController.ts
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/services/__tests__/projectService.getProjectModel.test.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/__tests__/userRowNarrowing.test.ts
  backend/src/services/projectService.ts
  scripts/check-i18n.cjs
  scripts/verify-shared-types.cjs
  src/components/DashboardHeader.tsx
  src/components/__tests__/DashboardHeader.test.tsx
  src/components/project/ProjectModelSelector.tsx
  src/components/project/__tests__/ProjectModelSelector.test.tsx
  src/hooks/__tests__/useProjectData.test.tsx
  src/hooks/__tests__/useProjectModel.test.tsx
  src/hooks/useProjectData.tsx
  src/hooks/useProjectModel.ts
  src/lib/__tests__/api.test.ts
  src/lib/api.ts
  src/lib/models/modelRegistry.ts
  src/pages/ProjectDetail.tsx
  src/pages/__tests__/ProjectDetail.test.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

docs: make the documentation reflect the per-project model, and require it in future
  CLAUDE.md
  docs/api/README.md
  docs/api/authentication.md
  docs/architecture/backend.md
  docs/architecture/frontend.md
  docs/development/contributing.md
  docs/guides/project-types.md
  docs/guides/project-types/spheroid.md
  docs/guides/segmentation-editor.md
  docs/guides/sharing-and-collaboration.md
  docs/guides/uploading-data.md
  docs/guides/user-guide.md
  docs/reference/database-schema.md
  docs/reference/glossary.md
  docs/reference/ml-models.md
  docs/ui/components.md
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(review): repair the Users table, restore the enqueue caveat, state the owner-only rule in-app
  docs/api/README.md
  docs/architecture/backend.md
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: fix troubleshooting advice for a control that no longer exists, and the batch model contract
  docs/api/README.md
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: make the documentation reflect the per-project model, and require it in future (#555)
  CLAUDE.md
  docs/api/README.md
  docs/api/authentication.md
  docs/architecture/backend.md
  docs/architecture/frontend.md
  docs/development/contributing.md
  docs/guides/project-types.md
  docs/guides/project-types/spheroid.md
  docs/guides/segmentation-editor.md
  docs/guides/sharing-and-collaboration.md
  docs/guides/uploading-data.md
  docs/guides/user-guide.md
  docs/reference/database-schema.md
  docs/reference/glossary.md
  docs/reference/ml-models.md
  docs/ui/components.md
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(profile): drop preferredModel and modelThreshold, nothing reads them
  backend/prisma/migrations/20260920_drop_profile_model_prefs/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/models/segformer.py
  backend/segmentation/models/segformer_config.json
  backend/src/auth/validation.ts
  backend/src/db/seed.ts
  backend/src/middleware/auth.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/authService.ts
  backend/src/test/utils/jwtTestUtils.ts
  backend/src/test/utils/testFactories.ts
  backend/src/types/queue.ts
  docs/api/README.md
  docs/api/authentication.md
  docs/reference/database-schema.md
  docs/reference/ml-models.md
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

refactor(profile): drop preferredModel and modelThreshold, nothing reads them (#556)
  backend/prisma/migrations/20260920_drop_profile_model_prefs/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/models/segformer.py
  backend/segmentation/models/segformer_config.json
  backend/src/auth/validation.ts
  backend/src/db/seed.ts
  backend/src/middleware/auth.ts
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/authService.ts
  backend/src/test/utils/jwtTestUtils.ts
  backend/src/test/utils/testFactories.ts
  backend/src/types/queue.ts
  docs/api/README.md
  docs/api/authentication.md
  docs/reference/database-schema.md
  docs/reference/ml-models.md
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

docs: no model fetches from HuggingFace at load time any more
  CLAUDE.md
  docs/architecture/ml-service.md
  docs/deployment/README.md
Due: prettier --write

docs: no model fetches from HuggingFace at load time any more (#557)
  CLAUDE.md
  docs/architecture/ml-service.md
  docs/deployment/README.md
Due: prettier --write

docs: scope the no-fetch claim to what was actually verified
  CLAUDE.md
  docs/architecture/ml-service.md
  docs/deployment/README.md
Due: prettier --write

docs: scope the no-fetch claim to what was actually verified (#558)
  CLAUDE.md
  docs/architecture/ml-service.md
  docs/deployment/README.md
Due: prettier --write

chore(ml): drop HF_TOKEN and the .hf-cache mount, nothing fetches from the Hub
  CLAUDE.md
  Makefile
  backend/segmentation/models/segformer.py
  backend/segmentation/requirements-test.txt
  backend/segmentation/requirements.txt
  docker-compose.production.yml
  docs/architecture/ml-service.md
  docs/deployment/README.md
  tests/fixtures/video/README.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(ml): drop HF_TOKEN and the .hf-cache mount, nothing fetches from the Hub (#559)
  CLAUDE.md
  Makefile
  backend/segmentation/models/segformer.py
  backend/segmentation/requirements-test.txt
  backend/segmentation/requirements.txt
  docker-compose.production.yml
  docs/architecture/ml-service.md
  docs/deployment/README.md
  tests/fixtures/video/README.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(sperm): two-part (head + tail) sperm model sperm_2part
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/sperm.py
  backend/segmentation/sperm_final/inference/graph_assembly.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/run_pipeline.py
  backend/segmentation/tests/unit/test_sperm_two_part.py
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  docs/superpowers/specs/2026-09-26-sperm-2part-design.md
  scripts/specimen-previews/infer-missing.sh
  src/components/project/__tests__/ProjectModelSelector.test.tsx
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(previews): select three held-out frames for sperm_2part tiles
  scripts/specimen-previews/chosen.tsv
Due: none

feat(previews): hover tiles for sperm_2part
  public/specimens/previews/sperm_2part-1.geom.json
  public/specimens/previews/sperm_2part-1.webp
  public/specimens/previews/sperm_2part-2.geom.json
  public/specimens/previews/sperm_2part-2.webp
  public/specimens/previews/sperm_2part-3.geom.json
  public/specimens/previews/sperm_2part-3.webp
  src/lib/specimens/previewIndex.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(models): sperm projects now offer two models
  src/hooks/__tests__/useProjectModel.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(sperm): two-part (head + tail) sperm model sperm_2part (#566)
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/sperm.py
  backend/segmentation/sperm_final/inference/graph_assembly.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/run_pipeline.py
  backend/segmentation/tests/unit/test_sperm_two_part.py
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  docs/superpowers/specs/2026-09-26-sperm-2part-design.md
  public/specimens/previews/sperm_2part-1.geom.json
  public/specimens/previews/sperm_2part-1.webp
  public/specimens/previews/sperm_2part-2.geom.json
  public/specimens/previews/sperm_2part-2.webp
  public/specimens/previews/sperm_2part-3.geom.json
  public/specimens/previews/sperm_2part-3.webp
  scripts/specimen-previews/chosen.tsv
  scripts/specimen-previews/infer-missing.sh
  src/components/project/__tests__/ProjectModelSelector.test.tsx
  src/hooks/__tests__/useProjectModel.test.tsx
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/lib/specimens/previewIndex.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): spheroid_disintegration read-out from the raster, as the paper computes it
  backend/segmentation/api/disintegration_metrics.py
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/disintegration.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/segmentation/tests/unit/test_predict_disintegration_contract.py
  backend/segmentation_cpu_tests/fixtures/di_parity/README.md
  backend/segmentation_cpu_tests/fixtures/di_parity/expected.json
  backend/segmentation_cpu_tests/fixtures/di_parity/masks.npz
  backend/segmentation_cpu_tests/test_disintegration_parity.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(ml): point the DI port's docstring at the real parity-test paths
  backend/segmentation/api/disintegration_metrics.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(backend): store the raster DI read-out and export the paper's panel
  backend/prisma/migrations/20260924_add_segmentation_image_metrics/migration.sql
  backend/prisma/schema.prisma
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/export/__tests__/exportDocs.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/__tests__/rasterImageMetrics.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/rasterImageMetrics.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(frontend): drop the inert disintegration threshold and document the raster read-out
  docs/guides/export.md
  docs/guides/project-types/spheroid-invasive.md
  docs/reference/metrics.md
  docs/reference/ml-models.md
  src/lib/__tests__/modelUtils.test.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(ml): pin spheroid_disintegration CLAHE at clip limit 2.0, bit-identical to the paper
  backend/segmentation/models/disintegration.py
  backend/segmentation_cpu_tests/test_disintegration_preprocessing.py
  docs/reference/ml-models.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(models): spheroid_invasive resolves to the argmax model's neutral 0.5 threshold
  src/hooks/__tests__/useProjectModel.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(weights): pin spheroid_disintegration to the paper's deposited replicate prod_s42
  backend/segmentation/scripts/download_weights.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(spheroid_disintegration): raster DI read-out matching the paper, pinned deposited weights (#565)
  backend/prisma/migrations/20260924_add_segmentation_image_metrics/migration.sql
  backend/prisma/schema.prisma
  backend/segmentation/api/disintegration_metrics.py
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/disintegration.py
  backend/segmentation/scripts/download_weights.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/segmentation/tests/unit/test_predict_disintegration_contract.py
  backend/segmentation_cpu_tests/fixtures/di_parity/README.md
  backend/segmentation_cpu_tests/fixtures/di_parity/expected.json
  backend/segmentation_cpu_tests/fixtures/di_parity/masks.npz
  backend/segmentation_cpu_tests/test_disintegration_parity.py
  backend/segmentation_cpu_tests/test_disintegration_preprocessing.py
  backend/src/services/__tests__/queueService.test.ts
  backend/src/services/export/__tests__/exportDocs.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/__tests__/rasterImageMetrics.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/rasterImageMetrics.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  docs/guides/export.md
  docs/guides/project-types/spheroid-invasive.md
  docs/reference/metrics.md
  docs/reference/ml-models.md
  src/hooks/__tests__/useProjectModel.test.tsx
  src/lib/__tests__/modelUtils.test.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'sqlfluff lint $0 || true'

style(docs): realign the metrics table so prettier passes
  docs/reference/metrics.md
Due: prettier --write

feat(api): API keys and the authenticated /api/v1 front door
  backend/prisma/migrations/20261006_add_api_keys/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/apiKeyController.ts
  backend/src/api/routes/__tests__/apiKeyRoutes.test.ts
  backend/src/api/routes/apiKeyRoutes.ts
  backend/src/api/routes/index.ts
  backend/src/api/v1/__tests__/v1Router.test.ts
  backend/src/api/v1/index.ts
  backend/src/api/v1/problem.ts
  backend/src/middleware/__tests__/accessLogger.apiKey.test.ts
  backend/src/middleware/accessLogger.ts
  backend/src/middleware/apiKeyAuth.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/services/__tests__/apiKeyService.test.ts
  backend/src/services/apiKeyService.ts
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

feat(settings): an API tab to create, see and revoke API keys
  src/components/settings/ApiKeysSection.tsx
  src/components/settings/__tests__/ApiKeysSection.test.tsx
  src/lib/api.ts
  src/pages/Settings.tsx
  src/pages/__tests__/Settings.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(api): document API keys and the /api/v1 surface, correct the Swagger claim
  CLAUDE.md
  docs/api/README.md
Due: prettier --write

fix(api): do not reflect the request path in the v1 404 body
  backend/src/api/v1/__tests__/v1Router.test.ts
  backend/src/api/v1/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(api): keep URL credentials out of the logs and stop doubling RateLimit headers
  backend/src/api/v1/__tests__/v1Router.test.ts
  backend/src/api/v1/index.ts
  backend/src/middleware/__tests__/accessLogger.apiKey.test.ts
  backend/src/middleware/accessLogger.ts
  backend/src/middleware/apiKeyAuth.ts
  backend/src/server.ts
  backend/src/utils/__tests__/redactUrl.test.ts
  backend/src/utils/logger.ts
  backend/src/utils/redactUrl.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs(api): the per-IP limit, the global-limiter exemption and URL redaction
  CLAUDE.md
  docs/api/README.md
Due: prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
