Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

refactor(types): consolidate status unions into JobStatus / SegmentationStatus (#114)
  backend/src/api/controllers/imageController.ts
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/index.ts
  backend/src/types/validation.ts
  src/components/ui/segmentation-progress.tsx
  src/lib/api.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(i18n): wire ResetPassword + autosave toast to existing translation keys
  scripts/check-i18n.cjs
  src/pages/ResetPassword.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(i18n): wire ResetPassword + autosave toast to existing translation keys (#115)
  scripts/check-i18n.cjs
  src/pages/ResetPassword.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(types): remove orphaned EditorState/EditorActions/PolygonLayerProps
  src/pages/segmentation/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(types): remove orphaned EditorState/EditorActions/PolygonLayerProps (#116)
  src/pages/segmentation/types.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(metrics): extract geometric primitives to dedicated module
  backend/src/services/metrics/__tests__/geometricPrimitives.test.ts
  backend/src/services/metrics/geometricPrimitives.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(metrics): extract geometric primitives to dedicated module (#117)
  backend/src/services/metrics/__tests__/geometricPrimitives.test.ts
  backend/src/services/metrics/geometricPrimitives.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(export): extract documentation generators to exportDocs module
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(export): extract documentation generators to exportDocs module (#118)
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(export): extract sanitizeFilename + createZipArchive + getProgressMessage
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(export): extract sanitizeFilename + createZipArchive + getProgressMessage (#119)
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore(types): remove 8 unused exports from src/types/index.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(types): remove 8 unused exports from src/types/index.ts (#120)
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(types): remove unused exports from backend/src/types/queue.ts
  backend/src/types/queue.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore(types): remove unused exports from backend/src/types/queue.ts (#121)
  backend/src/types/queue.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(test): wrap shared mock state in vi.hoisted across 6 test files
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/cacheService.test.ts
  backend/src/services/__tests__/healthCheckService.test.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/__tests__/sharingService.test.ts
  backend/src/services/__tests__/userService.stats.test.ts
  backend/src/services/__tests__/userService.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(test): wrap shared mock state in vi.hoisted across 6 test files (#123)
  backend/src/services/__tests__/authService.test.ts
  backend/src/services/__tests__/cacheService.test.ts
  backend/src/services/__tests__/healthCheckService.test.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/__tests__/sharingService.test.ts
  backend/src/services/__tests__/userService.stats.test.ts
  backend/src/services/__tests__/userService.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(test): bring backend Vitest suite to 98% pass rate
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/api/routes/__tests__/exportRoutes.test.ts
  backend/src/middleware/__tests__/rateLimiter.test.ts
  backend/src/services/__tests__/authService.avatar.test.ts
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/__tests__/healthCheckService.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/segmentationService.concurrent.test.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/__tests__/websocketService.parallel.test.ts
  backend/src/services/__tests__/websocketService.unit.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(test): bring backend Vitest suite to 98% pass rate (#124)
  backend/src/api/controllers/__tests__/imageController.test.ts
  backend/src/api/routes/__tests__/exportRoutes.test.ts
  backend/src/middleware/__tests__/rateLimiter.test.ts
  backend/src/services/__tests__/authService.avatar.test.ts
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/__tests__/healthCheckService.test.ts
  backend/src/services/__tests__/queueService.parallel.test.ts
  backend/src/services/__tests__/segmentationService.concurrent.test.ts
  backend/src/services/__tests__/sessionService.test.ts
  backend/src/services/__tests__/websocketService.parallel.test.ts
  backend/src/services/__tests__/websocketService.unit.test.ts
  backend/src/test/security/mlAuthenticationSecurity.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test: 100% Vitest pass rate (1065/1077, 12 documented skips)
  backend/src/services/__tests__/segmentationService.concurrent.test.ts
  backend/src/services/__tests__/segmentationService.integration.test.ts
  backend/src/services/__tests__/websocketService.unit.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test: 100% Vitest pass rate (1065/1077, 12 documented skips) (#125)
  backend/src/services/__tests__/segmentationService.concurrent.test.ts
  backend/src/services/__tests__/segmentationService.integration.test.ts
  backend/src/services/__tests__/websocketService.unit.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test: cover ThumbnailManager orchestrator (7/7 pass)
  backend/src/services/__tests__/thumbnailManager.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test: cover ThumbnailManager orchestrator (7/7 pass) (#126)
  backend/src/services/__tests__/thumbnailManager.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore(types): add verify-shared-types script for MODEL_TYPE_COMPATIBILITY
  package.json
  scripts/verify-shared-types.cjs
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'

chore(types): add verify-shared-types script for MODEL_TYPE_COMPATIBILITY (#127)
  package.json
  scripts/verify-shared-types.cjs
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true'
