Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(api): restore method names accidentally renamed by ProjectImage→DTO replace
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(api): restore method names accidentally renamed by ProjectImage→DTO replace (#128)
  src/lib/api.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(health): demote monitoring outage from 'degraded' to 'healthy'
  backend/src/services/healthCheckService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(export): cap concurrent export jobs at 1 per user (HTTP 429)
  backend/src/api/controllers/__tests__/exportController.test.ts
  backend/src/api/controllers/exportController.ts
  backend/src/services/__tests__/exportService.test.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore(types): extend shared-types verifier to PROJECT_TYPES + wire to lint-staged
  .lintstagedrc.json
  scripts/verify-shared-types.cjs
Due: prettier --write

chore(i18n): close translation completeness gaps across CS/ES/FR/DE/ZH
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(ops): wire daily PostgreSQL backups + fix script reliability bugs
  docs/database-backup.md
  scripts/backup-database.sh
  scripts/install-backup-systemd.sh
  scripts/spheroseg-backup.service
  scripts/spheroseg-backup.timer
Due: prettier --write

chore(ci): add fast Playwright smoke gate for production bundle
  .github/workflows/pre-merge-checks.yml
  .gitignore
  package.json
  playwright.smoke.config.ts
  tests/smoke/route-smoke.spec.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm audit --production --audit-level=high || true'

refactor(types): migrate Profile.tsx off wire DTO via dtoToProjectImage helper
  src/lib/api.ts
  src/pages/Profile.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(types): consolidate backend Polygon definitions via shared base
  backend/src/services/export/formatConverter.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/types/polygon.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(export): task-type-specific metrics_guide.md
  backend/src/services/export/__tests__/exportDocs.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(export): task-type-specific metrics_guide.md (#138)
  backend/src/services/export/__tests__/exportDocs.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/exportService.ts
  backend/src/types/validation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(ml): replace wound model with MiT-B5 U-Net
  .gitignore
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/wound.py
  backend/segmentation/tests/test_wound_model.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(ml): replace wound model with MiT-B5 U-Net (#139)
  .gitignore
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/wound.py
  backend/segmentation/tests/test_wound_model.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(settings): remove confidence threshold UI; derive per-model
  src/components/settings/ModelSettingsSection.tsx
  src/components/settings/__tests__/ModelSettingsSection.test.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ModelContext.types.ts
  src/contexts/__tests__/ModelContext.test.tsx
  src/hooks/__tests__/useLocalizedModels.test.ts
  src/hooks/useLocalizedModels.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(settings): remove confidence threshold UI; derive per-model (#140)
  src/components/settings/ModelSettingsSection.tsx
  src/components/settings/__tests__/ModelSettingsSection.test.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ModelContext.types.ts
  src/contexts/__tests__/ModelContext.test.tsx
  src/hooks/__tests__/useLocalizedModels.test.ts
  src/hooks/useLocalizedModels.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(i18n): update wound model description for MiT-B5 swap
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(i18n): update wound model description for MiT-B5 swap (#141)
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(ml): scaffold microtubule v7 model package + weights staging
  .prettierignore
  Makefile
  backend/segmentation/models/__init__.py
  backend/segmentation/models/microtubule/__init__.py
  backend/segmentation/models/microtubule/pysoax.py
  backend/segmentation/models/microtubule/segment_mt.py
  backend/segmentation/models/microtubule/synth_irm/__init__.py
  backend/segmentation/models/microtubule/synth_irm/training/__init__.py
  backend/segmentation/models/microtubule/synth_irm/training/model_v3.py
  backend/segmentation/models/microtubule/synth_irm/training/model_v4.py
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/requirements.txt
  scripts/download-microtubule-weights.sh
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(ml): register microtubule v7 in model loader + /segment dispatch
  backend/segmentation/api/routes.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/tests/test_microtubule_model.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(db): add video container fields to Image schema
  backend/prisma/migrations/20260512_video_support/migration.sql
  backend/prisma/schema.prisma
Due: bash -c 'sqlfluff lint $0 || true'

feat(project): add Microtubules project type + i18n strings
  backend/src/types/validation.ts
  src/components/project/ProjectHeader.tsx
  src/lib/modelUtils.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(video): add ffmpeg + ND2 + TIFF stack frame extractor
  backend/package.json
  backend/src/middleware/upload.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/types.ts
  backend/src/services/video/videoExtractor.ts
  backend/src/storage/interface.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(video): upload route + channels API + frame-data endpoint
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/middleware/upload.ts
  backend/src/services/imageService.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(editor): video-mode building blocks (frames, channels, win/level, kymo)
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/imageRoutes.ts
  src/components/project/ImageCard.tsx
  src/pages/segmentation/components/ChannelSwitcher.tsx
  src/pages/segmentation/components/FrameSlider.tsx
  src/pages/segmentation/components/KymographModal.tsx
  src/pages/segmentation/components/PolygonContextMenu.tsx
  src/pages/segmentation/components/WindowLevelSlider.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/hooks/useVideoFrames.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'
