Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix(landing): pick a sperm specimen whose two cells do not touch (#388)
  public/specimens/sperm.webp
  src/components/landing/specimens.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: address code review — one lint break, one behaviour change, and the leftovers
  CLAUDE.md
  backend/package.json
  backend/segmentation/api/main.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/sperm_final/config.py
  backend/segmentation/tests/test_log_forging_filter.py
  backend/src/api/controllers/queueController.ts
  backend/src/config/uploadLimits.ts
  backend/src/middleware/__tests__/monitoring.test.ts
  backend/src/middleware/monitoring.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/monitoring/__tests__/businessMetrics.test.ts
  backend/src/monitoring/businessMetrics.ts
  backend/src/services/sharingService.ts
  backend/src/services/userService.ts
  backend/src/templates/__tests__/feedbackReceivedEmail.test.ts
  backend/src/templates/feedbackReceivedEmail.ts
  src/lib/constants.ts
  src/pages/segmentation/components/canvas/__tests__/CanvasSvgFilters.test.tsx
  src/pages/segmentation/utils/metricCalculations.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(landing): give the neurite project type its tile and its documentation
  README.md
  docs/README.md
  docs/api/README.md
  docs/api/ml-service.md
  docs/architecture/ml-service.md
  docs/guides/export.md
  docs/guides/project-types.md
  docs/guides/project-types/neurite.md
  docs/guides/segmentation-editor.md
  docs/reference/database-schema.md
  docs/reference/glossary.md
  docs/reference/metrics.md
  docs/reference/ml-models.md
  public/specimens/neurite.webp
  src/components/__tests__/Footer.test.tsx
  src/components/landing/__tests__/specimens.test.ts
  src/components/landing/specimens.ts
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(landing): give the neurite project type its tile and its documentation (#389)
  README.md
  docs/README.md
  docs/api/README.md
  docs/api/ml-service.md
  docs/architecture/ml-service.md
  docs/guides/export.md
  docs/guides/project-types.md
  docs/guides/project-types/neurite.md
  docs/guides/segmentation-editor.md
  docs/reference/database-schema.md
  docs/reference/glossary.md
  docs/reference/metrics.md
  docs/reference/ml-models.md
  public/specimens/neurite.webp
  src/components/__tests__/Footer.test.tsx
  src/components/landing/__tests__/specimens.test.ts
  src/components/landing/specimens.ts
  src/pages/documentation/docsContent.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): make video playback wait for frames instead of skipping them
  src/lib/decodedFrameCache.ts
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameWindowPrefetcher.test.tsx
  src/pages/segmentation/hooks/__tests__/frameBufferProbe.test.ts
  src/pages/segmentation/hooks/__tests__/useVideoFrames.test.ts
  src/pages/segmentation/hooks/frameBufferProbe.ts
  src/pages/segmentation/hooks/useVideoFrames.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): harden the playback buffer gate against a stuck spinner
  src/lib/__tests__/decodedFrameCache.test.ts
  src/lib/decodedFrameCache.ts
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/hooks/__tests__/frameBufferProbe.test.ts
  src/pages/segmentation/hooks/__tests__/useVideoFrames.test.ts
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): exit the multi-selection by clicking empty canvas
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/hooks/__tests__/useCanvasBackgroundDeselect.test.tsx
  src/pages/segmentation/hooks/useCanvasBackgroundDeselect.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): make the keyboard frame controls actually move the picture
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/components/__tests__/VideoModeOverlay.test.tsx
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(export): stop the YOLO export flattening every annotation to class 0
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/__tests__/exportService.yoloClasses.test.ts
  backend/src/services/export/__tests__/fixtures/yolo_real_golden.json
  backend/src/services/export/__tests__/fixtures/yolo_real_polygons.json
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(editor): make video playback wait for frames, and exit multi-select on empty canvas (#390)
  src/lib/__tests__/decodedFrameCache.test.ts
  src/lib/decodedFrameCache.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/VideoModeOverlay.tsx
  src/pages/segmentation/components/__tests__/VideoModeOverlay.test.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameWindowPrefetcher.test.tsx
  src/pages/segmentation/hooks/__tests__/frameBufferProbe.test.ts
  src/pages/segmentation/hooks/__tests__/useCanvasBackgroundDeselect.test.tsx
  src/pages/segmentation/hooks/__tests__/useVideoFrames.test.ts
  src/pages/segmentation/hooks/frameBufferProbe.ts
  src/pages/segmentation/hooks/useCanvasBackgroundDeselect.ts
  src/pages/segmentation/hooks/useVideoFrames.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs: stop the in-app docs describing a threshold control that does not exist
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(export): stop the YOLO export flattening every annotation to class 0 (#391)
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/__tests__/exportService.yoloClasses.test.ts
  backend/src/services/export/__tests__/fixtures/yolo_real_golden.json
  backend/src/services/export/__tests__/fixtures/yolo_real_polygons.json
  backend/src/services/export/__tests__/formatConverter.test.ts
  backend/src/services/export/exportDocs.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

docs: stop the in-app docs describing a threshold control that does not exist (#392)
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(editor): delete the red glow filter that never painted
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasSvgFilters.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasSvgFilters.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(editor): delete the red glow filter that never painted (#393)
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/CanvasSvgFilters.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasSvgFilters.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(ci): make the backend lint gate's scope guard actually fail closed
  .husky/pre-commit
  CLAUDE.md
  eslint-baseline.json
  scripts/eslint-baseline.mjs
Due: prettier --write

fix(db): commit the nine prisma migrations that were never tracked
  backend/.gitignore
  backend/prisma/migrations/0001_init/migration.sql
  backend/prisma/migrations/20250828_add_avatar_columns/migration.sql
  backend/prisma/migrations/20250828_add_detect_holes/migration.sql
  backend/prisma/migrations/20250831_add_segmentation_thumbnail/migration.sql
  backend/prisma/migrations/20260419_add_image_display_order/migration.sql
  backend/prisma/migrations/20260617_add_perf_indexes/migration.sql
  backend/prisma/migrations/20260622_extend_project_type_check_microcapsule/migration.sql
  backend/prisma/migrations/20260709000000_segmenter_p0/migration.sql
  backend/prisma/migrations/20260709_add_mt_type_labels/migration.sql
Due: bash -c 'sqlfluff lint $0 || true'

fix(db): commit the nine prisma migrations that were never tracked (#395)
  backend/.gitignore
  backend/prisma/migrations/0001_init/migration.sql
  backend/prisma/migrations/20250828_add_avatar_columns/migration.sql
  backend/prisma/migrations/20250828_add_detect_holes/migration.sql
  backend/prisma/migrations/20250831_add_segmentation_thumbnail/migration.sql
  backend/prisma/migrations/20260419_add_image_display_order/migration.sql
  backend/prisma/migrations/20260617_add_perf_indexes/migration.sql
  backend/prisma/migrations/20260622_extend_project_type_check_microcapsule/migration.sql
  backend/prisma/migrations/20260709000000_segmenter_p0/migration.sql
  backend/prisma/migrations/20260709_add_mt_type_labels/migration.sql
Due: bash -c 'sqlfluff lint $0 || true'

fix(video): stop channel registration applying noise peaks as 100px shifts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_add_channel_align.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_memory.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(video): correct stage drift in time-lapses, the way Fiji does
  backend/src/api/controllers/videoController.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/videoExtractor.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(video): cover the microtubule gating the controller change exposed
  backend/src/api/__tests__/videoController.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(video): drive drift correction from the channel the measurements live on
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_add_channel_align.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/videoExtractor.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): refuse a drift trajectory whose full-baseline anchor was refused
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(video): use the file's own fixture instead of a probe for one that may not exist
  backend/src/services/video/pythonHelpers/tests/test_add_channel_align.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): stop registration applying noise peaks, and correct stage drift the way Fiji does (#396)
  backend/src/api/__tests__/videoController.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/addChannelService.ts
  backend/src/services/video/__tests__/pythonExtractor.test.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/add_channel_align.py
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_add_channel_align.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_memory.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(video): dedupe the registration step, drop the code #396 orphaned, and stop preparing every frame twice
  backend/src/api/controllers/videoController.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_memory.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(video): dedupe the registration step and prepare each frame once (#397)
  backend/src/api/controllers/videoController.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/drift_correction.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/video/pythonHelpers/tests/test_drift_correction.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_memory.py
  backend/src/services/video/pythonHelpers/tests/test_extract_nd2_normalize.py
  backend/src/services/video/types.ts
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(essays): report the IRM-TIRF channel offset instead of correcting it
  .github/workflows/ci.yml
  Makefile
  backend/essays/module/README.md
  backend/essays/module/_mt_package.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/requirements-pytest-ci.txt
  docker/essays.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(essays): report the IRM-TIRF channel offset instead of correcting it (#398)
  .github/workflows/ci.yml
  Makefile
  backend/essays/module/README.md
  backend/essays/module/_mt_package.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_channel_alignment.py
  backend/requirements-pytest-ci.txt
  docker/essays.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): stop recording "never attempted" as "ok", and move every staging artifact
  backend/src/api/__tests__/videoController.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(video): stop recording "never attempted" as "ok", and move every staging artifact (#399)
  backend/src/api/__tests__/videoController.test.ts
  backend/src/api/controllers/videoController.ts
  backend/src/services/__tests__/videoUploadService.test.ts
  backend/src/services/video/pythonHelpers/channel_registration.py
  backend/src/services/video/pythonHelpers/correct_drift.py
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_channel_registration.py
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'
