Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix(microtubule): isolate from sperm context-menu, add hide toggle, aggressive RDP
  backend/segmentation/models/microtubule/wrapper.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(microtubule): isolate from sperm context-menu, add hide toggle, aggressive RDP (#171)
  backend/segmentation/models/microtubule/wrapper.py
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(polyline-canvas): wider hit area + endpoint dots only when selected
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(polyline-canvas): wider hit area + endpoint dots only when selected (#172)
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): multi-channel overlay with per-channel colour + working min/max LUT
  src/pages/segmentation/components/ChannelColorDialog.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): multi-channel overlay with per-channel colour + working min/max LUT (#173)
  src/pages/segmentation/components/ChannelColorDialog.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): plumb projectType into context menu (was undefined), add MT kymograph + Hide-all + Pentagon icon
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): persist channel-colour preferences per user (localStorage)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): Enter commits AddPoints extension on a polyline endpoint
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): plumb projectType into context menu (was undefined), add MT kymograph + Hide-all + Pentagon icon (#174)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/MicrotubuleInstancePanel.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/context-menu/PolygonContextMenu.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): persist channel-colour preferences per user (localStorage) (#175)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): Enter commits AddPoints extension on a polyline endpoint (#176)
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): adapt slice tool for polylines (split at cut into two instances)
  src/lib/__tests__/slicePolyline.test.ts
  src/lib/polygonSlicing.ts
  src/pages/segmentation/hooks/usePolygonSlicing.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): adapt slice tool for polylines (split at cut into two instances) (#177)
  src/lib/__tests__/slicePolyline.test.ts
  src/lib/polygonSlicing.ts
  src/pages/segmentation/hooks/usePolygonSlicing.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(kymograph): make the image actually visible + add 6-locale translations
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(kymograph): make the image actually visible + add 6-locale translations (#178)
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): gate today's polyline UX changes to MT projects only (revert leaks to sperm)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/usePolygonSlicing.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): gate today's polyline UX changes to MT projects only (revert leaks to sperm) (#179)
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/usePolygonSlicing.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): make hover-radius + polyline slice universal again (revert PR #179 partial)
  CLAUDE.md
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/usePolygonSlicing.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): make hover-radius + polyline slice universal again (revert PR #179 partial) (#180)
  CLAUDE.md
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/usePolygonSlicing.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(kymograph): render in channel color + extract channel names from TIFF/ND2 metadata
  backend/segmentation/api/tracker_kymograph.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/kymographService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/types.ts
  src/lib/__tests__/lazyWithRetry.chunk-detection.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/ChannelSwitcher.tsx
  src/pages/segmentation/components/KymographModal.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): render in channel color + extract channel names from TIFF/ND2 metadata (#181)
  backend/segmentation/api/tracker_kymograph.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/kymographService.ts
  backend/src/services/video/pythonExtractor.ts
  backend/src/services/video/pythonHelpers/extract_nd2.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/types.ts
  src/lib/__tests__/lazyWithRetry.chunk-detection.test.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/ChannelSwitcher.tsx
  src/pages/segmentation/components/KymographModal.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(editor): simplify polygon mappers to preserve trackId
  src/lib/api.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(queue): force-reset worker boolean after 10-min stuck threshold
  backend/src/workers/queueWorker.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(uploads): collapse drifted file-size constants to single source
  backend/src/middleware/validation.ts
  backend/src/storage/interface.ts
  docker/nginx/nginx.blue.conf
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(ml-api): stop leaking internal exception strings to clients
  backend/segmentation/api/_errors.py
  backend/segmentation/api/main.py
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/api/monitoring.py
  backend/segmentation/api/routes.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: drop ~1230 lines of unreferenced dead code
  shared/package.json
  shared/types/index.d.ts
  shared/types/index.d.ts.map
  shared/types/index.js
  shared/types/index.js.map
  shared/types/index.ts
  shared/validation/index.d.ts
  shared/validation/index.d.ts.map
  shared/validation/index.js
  shared/validation/index.js.map
  shared/validation/index.ts
  src/hooks/__tests__/useUnifiedSegmentationUpdate.test.tsx
  src/hooks/useOptimizedProjectImages.tsx
  src/hooks/useUnifiedSegmentationUpdate.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'npm audit --production --audit-level=high || true'

perf(contexts): memoize provider values to stop cascade re-renders
  src/contexts/AuthContext.tsx
  src/contexts/ExportContext.tsx
  src/contexts/LanguageContext.tsx
  src/contexts/ModelContext.tsx
  src/contexts/ThemeContext.tsx
  src/contexts/WebSocketContext.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(metrics): collapse four shoelace area/perimeter copies to one
  backend/src/services/export/formatConverter.ts
  backend/src/services/export/woundTimeSeries.ts
  backend/src/services/metrics/metricsCalculator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
