Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

fix(monitoring): stop publishing Grafana and Prometheus to the internet
  docker-compose.monitoring.yml
  docs/deployment/README.md
  docs/deployment/api-monitoring.md
  scripts/monitoring-security-check.cron
  scripts/monitoring-security-check.sh
Due: prettier --write

feat(projects): let annotators mark a project's annotations as verified (#331)
  backend/prisma/migrations/20260826_add_project_verified/migration.sql
  backend/prisma/schema.prisma
  backend/src/api/controllers/__tests__/projectController.gaps.test.ts
  backend/src/api/controllers/projectController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/projectRoutes.ts
  backend/src/services/__tests__/projectService.test.ts
  backend/src/services/projectService.ts
  backend/src/types/validation.ts
  backend/src/utils/__tests__/logger.gaps5.test.ts
  backend/src/utils/logger.ts
  src/components/ProjectCard.tsx
  src/components/ProjectListItem.tsx
  src/components/ProjectsList.tsx
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectData.tsx
  src/lib/__tests__/api.test.ts
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'sqlfluff lint $0 || true'

fix(monitoring): stop publishing Grafana and Prometheus to the internet (#333)
  docker-compose.monitoring.yml
  docs/deployment/README.md
  docs/deployment/api-monitoring.md
  scripts/monitoring-security-check.cron
  scripts/monitoring-security-check.sh
Due: prettier --write

fix(ml): repair the long-dormant parallel-processing tests, and the 100ms tax they hid
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/tests/test_parallel_processing.py
  backend/segmentation/tests/test_performance_benchmarks.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(ml): stop the concurrency benchmark measuring the bug it was meant to catch
  backend/segmentation/tests/unit/ml/test_parallel_inference.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): repair the long-dormant parallel-processing tests, and the 100ms tax they hid (#335)
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/tests/test_parallel_processing.py
  backend/segmentation/tests/test_performance_benchmarks.py
  backend/segmentation/tests/unit/ml/test_parallel_inference.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(security): clear the Dependabot backlog, and make the log sanitizer visible to CodeQL
  .github/dependabot.yml
  backend/essays/module/requirements.txt
  backend/package-lock.json
  backend/package.json
  backend/segmentation/requirements.txt
  backend/src/utils/__tests__/logger.sanitize.test.ts
  backend/src/utils/logger.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

fix(security): strip the C1 block too, and group every Dependabot ecosystem
  .github/dependabot.yml
  backend/src/utils/__tests__/logger.sanitize.test.ts
  backend/src/utils/logger.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(security): clear the Dependabot backlog, and make the log sanitizer visible to CodeQL (#336)
  .github/dependabot.yml
  backend/essays/module/requirements.txt
  backend/package-lock.json
  backend/package.json
  backend/segmentation/requirements.txt
  backend/src/utils/__tests__/logger.sanitize.test.ts
  backend/src/utils/logger.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

fix(security): bump transformers to 5.5.4, whose pin rationale had gone stale
  .github/dependabot.yml
  backend/essays/module/requirements.txt
  backend/segmentation/requirements.txt
Due: prettier --write

fix(ci): guard the ML/essays pin pair, and correct a doubly-stale comment
  .github/dependabot.yml
  .github/workflows/ci.yml
  docker/essays.Dockerfile
Due: prettier --write

fix(security): bump transformers to 5.5.4, whose pin rationale had gone stale (#358)
  .github/dependabot.yml
  .github/workflows/ci.yml
  backend/essays/module/requirements.txt
  backend/segmentation/requirements.txt
  docker/essays.Dockerfile
Due: prettier --write

fix(ml): restore Mamba-UNet, which the transformers 5 bump silently disabled
  .github/dependabot.yml
  backend/segmentation/models/mamba_unet.py
  backend/segmentation/tests/test_optional_model_imports.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): restore Mamba-UNet, which the transformers 5 bump silently disabled (#359)
  .github/dependabot.yml
  backend/segmentation/models/mamba_unet.py
  backend/segmentation/tests/test_optional_model_imports.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: clear the 93 CodeQL hygiene alerts, three of which were real bugs
  backend/essays/module/evaluate.py
  backend/segmentation/api/main.py
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/api/models.py
  backend/segmentation/api/monitoring.py
  backend/segmentation/api/routes.py
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/monitoring/gpu_monitor.py
  backend/segmentation/scripts/download_weights.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation/sperm_final/config.py
  backend/segmentation/sperm_final/inference/group_sperm.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/inference/predict.py
  backend/segmentation/sperm_final/models/simple_fpn.py
  backend/segmentation/sperm_final/run_pipeline.py
  backend/src/api/routes/authRoutes.ts
  backend/src/services/exportService.ts
  backend/src/services/sharingService.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_axes.py
  src/components/StatsOverview.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/lib/coordinateUtils.ts
  src/lib/retryUtils.ts
  src/pages/Profile.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/hooks/view/useImageCentering.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(deps): repair the lockfile, and drop @types/xlsx before it drags xlsx in
  backend/package-lock.json
  backend/package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

fix(deps): regenerate the lockfile so npm ci accepts this group update
  package-lock.json
Due: prettier --write

fix(ml): raise the timeout replacement outside the handler, not inside it
  backend/segmentation/ml/model_loader.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_axes.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ui): annotate the page transition, and reformat for prettier 3.9
  docs/SSOT_QUICK_REFERENCE.md
  docs/archive/reports/COMPREHENSIVE_CLEANUP_ANALYSIS.md
  docs/deployment/README.md
  docs/superpowers/plans/2026-05-30-model-registry-ssot.md
  docs/superpowers/plans/2026-08-21-playback-proxy.md
  docs/superpowers/specs/2026-07-09-mt-type-labeling-design.md
  src/components/PageTransition.tsx
  src/components/__tests__/DashboardHeader.test.tsx
  src/components/__tests__/ImageUploader.cancel.test.tsx
  src/components/project/MoveToFolderDialog.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/sheet.tsx
  src/components/ui/universal-cancel-button.tsx
  src/components/upload/DropZone.tsx
  src/hooks/shared/__tests__/useAbortController.unit.test.ts
  src/lib/api.ts
  src/lib/lazyImports.ts
  src/lib/modelUtils.ts
  src/lib/models/modelRegistry.ts
  src/pages/segmentation/components/project/export/__tests__/ExcelExporter.test.tsx
  src/pages/segmentation/components/project/export/__tests__/MetricsDisplay.test.tsx
  src/pages/segmentation/components/project/export/__tests__/SpermExcelExporter.test.tsx
  src/test-utils/cancelTestHelpers.tsx
  src/test-utils/canvasTestUtils.ts
  src/types/index.ts
  src/types/websocket.ts
  src/utils/dashboardDrag.ts
  tests/utils/api-mock-manager.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: clear the 93 CodeQL hygiene alerts, three of which were real bugs (#364)
  backend/essays/module/evaluate.py
  backend/segmentation/api/main.py
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/api/models.py
  backend/segmentation/api/monitoring.py
  backend/segmentation/api/routes.py
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/monitoring/gpu_monitor.py
  backend/segmentation/scripts/download_weights.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation/sperm_final/config.py
  backend/segmentation/sperm_final/inference/group_sperm.py
  backend/segmentation/sperm_final/inference/postprocess.py
  backend/segmentation/sperm_final/inference/predict.py
  backend/segmentation/sperm_final/models/simple_fpn.py
  backend/segmentation/sperm_final/run_pipeline.py
  backend/src/api/routes/authRoutes.ts
  backend/src/services/exportService.ts
  backend/src/services/sharingService.ts
  backend/src/services/video/ffmpegExtractor.ts
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_axes.py
  src/components/StatsOverview.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/lib/coordinateUtils.ts
  src/lib/retryUtils.ts
  src/pages/Profile.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/hooks/view/useImageCentering.tsx
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(deps): land the ML pip updates that can actually install, and pin why
  backend/essays/module/.python-version
  backend/essays/module/requirements.txt
  backend/segmentation/.python-version
  backend/segmentation/requirements.txt
Due: none

test(upload): wait on the query cache, not on a tick count
  src/components/__tests__/ImageUploader.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(upload): wait on the query cache, not on a tick count (#366)
  src/components/__tests__/ImageUploader.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(deps): land the ML pip updates that can actually install, and pin why (#365)
  backend/essays/module/.python-version
  backend/essays/module/requirements.txt
  backend/segmentation/.python-version
  backend/segmentation/requirements.txt
Due: none

fix: clear the last 29 CodeQL hygiene alerts
  backend/essays/essays_api.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/monitoring/gpu_monitor.py
  backend/segmentation/sperm_final/inference/predict.py
  backend/segmentation/sperm_final/models/mask2former.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): restore ALL_COMPLETED, and gate on undefined names so it cannot recur
  .github/workflows/ci.yml
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/ml/inference_executor.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: clear the last 29 CodeQL hygiene alerts (#367)
  .github/workflows/ci.yml
  backend/essays/essays_api.py
  backend/essays/module/mt_pipeline/nd2_io.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/monitoring/gpu_monitor.py
  backend/segmentation/sperm_final/inference/predict.py
  backend/segmentation/sperm_final/models/mask2former.py
  backend/src/services/video/pythonHelpers/extract_tiff_stack.py
  backend/src/services/video/pythonHelpers/make_playback_proxy.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(deps): resolve the fastapi/instrumentator cascade instead of pinning around it
  backend/segmentation/requirements.txt
Due: none

docs(deps): correct three version boundaries in the cascade note
  backend/segmentation/requirements.txt
Due: none

fix(deps): resolve the fastapi/instrumentator cascade instead of pinning around it (#368)
  backend/segmentation/requirements.txt
Due: none

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
