Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

refactor: clean up Docker configurations and implement blue-green deployment
  .dockerignore
  .env.hooks.example
  .env.production.example
  .env.production.template
  .env.staging
  .env.staging.example
  .env.test.example
  .gitignore
  CLAUDE.md
  backend/tsconfig.prod.json
  docker-compose.blue.yml
  docker-compose.enhanced.yml
  docker-compose.green.yml
  docker-compose.monitoring.yml
  docker-compose.nginx.yml
  docker-compose.production.yml
  docker-compose.ssl.yml
  docker-compose.staging.yml
  docker-compose.test.yml
  docker/backend.prod.Dockerfile
  docker/frontend.prod.Dockerfile
  docker/nginx/nginx.blue.conf
  docker/nginx/nginx.prod.conf
  docker/nginx/sites-enabled/spheroseg.conf
  docker/nginx/ssl-params.conf
  package-lock.json
Due: prettier --write

fix: image URLs in production - use relative paths instead of localhost
  backend/src/storage/localStorage.ts
  docker/nginx/nginx.prod.conf
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: environment variables configuration for Docker development
  docker-compose.yml
  src/lib/config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

feat: add segmentation progress indicator and auto-refresh in editor
  src/lib/__tests__/polygonSlicing.test.ts
  src/lib/polygonGeometry.ts
  src/lib/polygonSlicing.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/components/SegmentationStatusIndicator.tsx
  src/pages/segmentation/components/canvas/CanvasContainer.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/components/context-menu/VertexContextMenu.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/translations/cs.ts.bak
  src/translations/de.ts.bak
  src/translations/en.ts
  src/translations/es.ts.bak
  src/translations/fr.ts.bak
  src/translations/zh.ts.bak
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

feat: implement comprehensive WebSocket auto-refresh with status indicator
  .gitignore
  src/hooks/useDebounce.ts
  src/lib/config.ts
  src/lib/polygonSlicing.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/__tests__/SegmentationEditor.integration.test.tsx
  src/pages/segmentation/components/SegmentationErrorBoundary.tsx
  src/pages/segmentation/components/SegmentationStatusIndicator.tsx
  src/pages/segmentation/components/__tests__/SegmentationStatusIndicator.test.tsx
  src/translations/cs.ts
  src/translations/cs.ts.bak
  src/translations/de.ts
  src/translations/de.ts.bak
  src/translations/en.ts
  src/translations/es.ts
  src/translations/es.ts.bak
  src/translations/fr.ts
  src/translations/fr.ts.bak
  src/translations/zh.ts
  src/translations/zh.ts.bak
  tests/e2e/segmentation-workflow.spec.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

refactor: improve code quality per PR review recommendations
  src/hooks/__tests__/useSegmentationQueue.test.tsx
  src/hooks/useSegmentationQueue.tsx
  src/lib/__tests__/polygonSlicing.test.ts
  src/lib/config.ts
  src/lib/polygonGeometry.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/hooks/__tests__/useSegmentationReload.test.tsx
  src/pages/segmentation/hooks/useSegmentationReload.tsx
  src/services/webSocketManager.ts
  src/types/websocket.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

refactor: implement PR review recommendations for segmentation status feature
  CLAUDE.md
  docker-compose.yml
  src/hooks/__tests__/useSegmentationQueue.test.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/EditorHeader.tsx
  src/pages/segmentation/hooks/useSegmentationReload.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check'

feat: add pixel-to-micrometer scale conversion and fix visualization numbering
  backend/src/services/export/formatConverter.ts
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  docker/backend.Dockerfile
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/hooks/useAdvancedExport.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: add comprehensive pixel-to-micrometer scale conversion system
  backend/src/services/export/annotations/README.md
  backend/src/services/export/annotations/coco/README.md
Due: prettier --write

docs: add comprehensive annotation export format READMEs with CVAT setup guides
  backend/src/services/export/annotations/json/README.md
  backend/src/services/export/annotations/yolo/README.md
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

fix: Address all code review issues for PR #9
  backend/src/services/export/annotations/FORMATS_GUIDE.md
  backend/src/services/export/annotations/README.md
  backend/src/services/export/annotations/coco/README.md
  backend/src/services/export/annotations/json/README.md
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/numberPaths.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/translations/de.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

feat: implement performance optimizations for polygon rendering
  backend/src/services/export/annotations/FORMATS_GUIDE.md
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/__tests__/numberPaths.test.ts
  backend/src/services/visualization/numberPaths.ts
  backend/src/services/visualization/visualizationGenerator.ts
  docs/PERFORMANCE_GUIDELINES.md
  src/pages/export/AdvancedExportDialog.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  tests/e2e/visual-regression-numbers.spec.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: Address PR #9 code review issues
  backend/src/services/export/__tests__/scaleConversionIntegration.test.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/metrics/scaleConfig.ts
  backend/src/services/visualization/__tests__/numberPaths.test.ts
  backend/src/services/visualization/numberPaths.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/pages/export/AdvancedExportDialog.tsx
  tests/e2e/visual-regression-numbers.spec.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve all npm security vulnerabilities
  backend/src/services/export/annotations/json/README.md
  package-lock.json
  package.json
Due: prettier --write

refactor: improve code quality and robustness
  backend/src/services/export/__tests__/scaleConversionIntegration.test.ts
  backend/src/services/export/annotations/json/README.md
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/numberPaths.ts
  src/pages/export/AdvancedExportDialog.tsx
  tests/e2e/visual-regression-numbers.spec.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: Address all code review issues for PR #9
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

feat: add detect holes toggle for segmentation settings
  .gitignore
  CLAUDE.md
  Makefile
  backend/prisma/schema.prisma
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/services/inference.py
  backend/segmentation/services/postprocessing.py
  backend/src/api/controllers/segmentationController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/api/routes/sharingRoutes.ts
  backend/src/api/routes/testEmailRoutes.ts
  backend/src/services/projectService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sharingService.ts
  backend/src/services/visualization/numberPaths.ts
  backend/src/types/validation.ts
  src/App.tsx
  src/components/ProjectCard.tsx
  src/components/project/ProjectActions.tsx
  src/components/project/ShareDialog.tsx
  src/components/settings/ModelSettingsSection.tsx
  src/contexts/ModelContext.tsx
  src/hooks/useLocalizedModels.ts
  src/hooks/useProjectImageActions.tsx
  src/hooks/useSegmentationQueue.tsx
  src/lib/api.ts
  src/lib/imageProcessingService.ts
  src/pages/ShareAccept.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve ML service hanging and shared project segmentation issues
  Makefile
  backend/prisma/schema.prisma
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/src/api/controllers/queueController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/api/routes/sharingRoutes.ts
  backend/src/services/emailService.ts
  backend/src/services/imageService.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sharingService.ts
  src/components/ProjectCard.tsx
  src/components/project/ProjectActions.tsx
  src/components/project/ShareDialog.tsx
  src/hooks/useDashboardProjects.ts
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/pages/ShareAccept.tsx
  src/translations/cs.ts
  src/translations/en.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'npm run type-check', bash -c 'cd backend && npm run type-check'

fix: resolve all security vulnerabilities
  backend/backend/package-lock.json
  backend/package-lock.json
  backend/package.json
  backend/segmentation/requirements.txt
Due: prettier --write

feat: implement comprehensive TypeScript typing and ML timeout mechanism
  backend/TYPESCRIPT_ANALYSIS.md
  backend/segmentation/api/routes.py
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/ml/model_loader.py
  backend/src/api/controllers/queueController.ts
  backend/src/api/controllers/sharingController.ts
  backend/src/services/queueService.ts
  backend/src/services/segmentationService.ts
  backend/src/services/sharingService.ts
  backend/src/services/visualization/numberPaths.ts
  backend/src/services/websocketService.ts
  backend/src/types/README.md
  backend/src/types/queue.ts
  backend/src/types/validation.ts
  backend/src/types/websocket.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish, prettier --write, bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
