Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

fix: preserve error details in admin routes and clean up review findings
  backend/src/api/routes/cacheRoutes.ts
  backend/src/api/routes/mlRoutes.ts
  backend/src/api/routes/rateLimitAdmin.ts
  backend/src/api/routes/testEmailRoutes.ts
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: address review findings — missing var, security logging, temp path
  backend/segmentation/api/routes.py
  backend/src/api/controllers/authController.ts
  backend/src/services/imageService.ts
  src/components/FloatingUploadProgress.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf: optimize GPU resource sharing between SpheroSeg and Maptimize
  backend/segmentation/services/model_loader.py
  docker-compose.production.yml
  docker/ml-gpu.Dockerfile
  docker/ml.optimized.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: address review findings — move auto-unload to correct class, add thread safety
  backend/segmentation/ml/model_loader.py
  backend/segmentation/requirements.txt
  backend/segmentation/services/model_loader.py
  docker-compose.production.yml
  docker/ml.optimized.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf: optimize GPU resource sharing for dual-app server (#67)
  backend/segmentation/ml/model_loader.py
  backend/segmentation/requirements.txt
  docker-compose.production.yml
  docker/ml-gpu.Dockerfile
  docker/ml.optimized.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: polyline slicing, junction trimming, and editor improvements
  backend/segmentation/sperm_final/inference/postprocess.py
  src/lib/api.ts
  src/lib/polygonSlicing.ts
  src/pages/segmentation/components/EnhancedEditorToolbar.tsx
  src/pages/segmentation/components/StatusBar.tsx
  src/pages/segmentation/components/VerticalToolbar.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/useKeyboardShortcuts.tsx
  src/pages/segmentation/hooks/usePolygonSlicing.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat: sperm-specific Excel export + visualization instance labels
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat: sperm-specific Excel export + visualization instance labels (#69)
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: add i18n to upload progress UI — replace hardcoded English strings
  src/components/FloatingUploadProgress.tsx
  src/components/ImageUploader.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: add i18n to upload progress UI — replace hardcoded English strings (#70)
  src/components/FloatingUploadProgress.tsx
  src/components/ImageUploader.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor: simplify sperm export, add type safety, stabilize t() memoization
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/components/FloatingUploadProgress.tsx
  src/contexts/LanguageContext.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: add error logging, fix incorrect JSDoc, improve type safety
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor: simplify sperm export, add type safety, stabilize t() memoization (#71)
  backend/src/services/exportService.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  src/components/FloatingUploadProgress.tsx
  src/contexts/LanguageContext.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: prevent mid-session logout caused by token refresh race conditions
  src/lib/__tests__/tokenRefresh.test.ts
  src/lib/api.ts
  src/lib/tokenRefresh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: log refresh errors at error level, add missing null-token warning
  src/lib/api.ts
  src/lib/tokenRefresh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: prevent mid-session logout caused by token refresh race conditions (#78)
  src/lib/__tests__/tokenRefresh.test.ts
  src/lib/api.ts
  src/lib/tokenRefresh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: allow free canvas panning at zoom >= 1.0x
  src/lib/__tests__/coordinateUtils.test.ts
  src/lib/coordinateUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: allow free canvas panning at zoom >= 1.0x (#79)
  src/lib/__tests__/coordinateUtils.test.ts
  src/lib/coordinateUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: use explicit Redis params in health check to fix URL parsing
  backend/src/services/healthCheckService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: stream large export downloads natively to fix failure + logout
  backend/src/api/controllers/exportController.ts
  backend/src/api/routes/exportRoutes.ts
  backend/src/services/export/__tests__/downloadTokenService.test.ts
  backend/src/services/export/downloadTokenService.ts
  src/lib/api.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix: register exportRoutes before /api/projects routers
  backend/src/api/routes/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix: register exportRoutes before /api/projects routers (#81)
  backend/src/api/routes/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'
