Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

feat(di): anchor centroid on core pixels, not mass-weighted mask centroid (#102)
  backend/segmentation/api/metrics_endpoint.py
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(project-types): model compatibility, color badges, BMP-aware backfill
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/validation.ts
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectImageActions.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(project-types): model compatibility, color badges, BMP-aware backfill (#103)
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/tests/unit/test_disintegration.py
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/validation.ts
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectImageActions.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(project-types): block segment-all with modal, redesign type dropdown
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectImageActions.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(project-types): block segment-all with modal, redesign type dropdown (#104)
  src/components/project/ProjectHeader.tsx
  src/hooks/useProjectImageActions.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(create-project): add project type selector to the actually-used modal
  src/components/project/ProjectDialogForm.tsx
  src/hooks/useProjectForm.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(create-project): add project type selector to the actually-used modal (#105)
  src/components/project/ProjectDialogForm.tsx
  src/hooks/useProjectForm.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore(ui): remove color dots from project-type dropdown
  .prettierignore
  src/components/project/ProjectDialogForm.tsx
  src/components/project/ProjectHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

chore: repo hygiene and dead-code removal
  .gitignore
  backend/prisma/schema.prisma
  backend/segmentation/api/main.py
  backend/segmentation/monitoring/gpu_monitor.py
  docs/PERFORMANCE_GUIDELINES.md
  scripts/archive/apply-upload-fixes.sh
  scripts/archive/complete-upload-fix.sh
  scripts/archive/fix-upload-directories.sh
  scripts/archive/fix-upload-safe.sh
  scripts/archive/test-upload-fix.sh
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(types): consolidate dead type duplicates
  .prettierignore
  src/lib/api.ts
  src/pages/segmentation/components/PolygonItem.tsx
  src/pages/segmentation/types.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor: extract hardcoded timeouts into TIMEOUTS constants
  .prettierignore
  src/lib/api.ts
  src/lib/constants.ts
  src/services/webSocketManager.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(backend): adopt ResponseHelper in exportController
  .prettierignore
  backend/src/api/controllers/exportController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test: cover ResponseHelper and gpu_monitor
  .prettierignore
  backend/segmentation/tests/unit/test_gpu_monitor.py
  backend/src/utils/__tests__/response.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(gpu-monitor): rename event attribute to avoid shadowing method
  backend/segmentation/monitoring/gpu_monitor.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): preserve errno when fs.stat fails on download
  backend/src/api/controllers/exportController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(constants): clarify retry-cap vs request-timeout naming
  src/lib/api.ts
  src/lib/constants.ts
  src/lib/retryUtils.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: address PR review feedback — add coverage gaps
  backend/segmentation/tests/unit/test_gpu_monitor.py
  backend/src/utils/__tests__/response.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore: repo hygiene and dead-code removal (#107)
  .gitignore
  backend/prisma/schema.prisma
  backend/segmentation/api/main.py
  backend/segmentation/monitoring/gpu_monitor.py
  docs/PERFORMANCE_GUIDELINES.md
  scripts/archive/apply-upload-fixes.sh
  scripts/archive/complete-upload-fix.sh
  scripts/archive/fix-upload-directories.sh
  scripts/archive/fix-upload-safe.sh
  scripts/archive/test-upload-fix.sh
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(types): consolidate dead type duplicates (#108)
  .prettierignore
  src/lib/api.ts
  src/pages/segmentation/components/PolygonItem.tsx
  src/pages/segmentation/types.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor: extract hardcoded timeouts into TIMEOUTS constants (#109)
  src/lib/api.ts
  src/lib/constants.ts
  src/lib/retryUtils.ts
  src/services/webSocketManager.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(backend): adopt ResponseHelper in exportController (#110)
  backend/src/api/controllers/exportController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test: cover ResponseHelper and gpu_monitor (#111)
  backend/segmentation/tests/unit/test_gpu_monitor.py
  backend/src/utils/__tests__/response.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(ui): remove color dots from project-type dropdown (#106)
  src/components/project/ProjectDialogForm.tsx
  src/components/project/ProjectHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(backend): migrate uploadCancelController to ResponseHelper
  backend/src/api/controllers/uploadCancelController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(backend): migrate uploadCancelController to ResponseHelper (#112)
  backend/src/api/controllers/uploadCancelController.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

refactor(types): rename wire-format ProjectImage → ProjectImageDTO
  src/lib/api.ts
  src/pages/Profile.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(types): rename wire-format ProjectImage → ProjectImageDTO (#113)
  src/lib/api.ts
  src/pages/Profile.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

refactor(types): consolidate status unions into JobStatus / SegmentationStatus
  backend/src/api/controllers/imageController.ts
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/index.ts
  backend/src/types/validation.ts
  src/components/ui/segmentation-progress.tsx
  src/lib/api.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

refactor(types): consolidate status unions into JobStatus / SegmentationStatus (#114)
  backend/src/api/controllers/imageController.ts
  backend/src/services/exportService.ts
  backend/src/services/segmentationService.ts
  backend/src/types/index.ts
  backend/src/types/validation.ts
  src/components/ui/segmentation-progress.tsx
  src/lib/api.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
