Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

chore(video): reuse originalPath for source cleanup rm
  backend/src/services/videoUploadService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

chore(video): guard storage path segments against traversal (#237)
  backend/src/services/videoUploadService.ts
  backend/src/utils/__tests__/storagePath.test.ts
  backend/src/utils/storagePath.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(kymograph): add blob-velocity detection module
  backend/segmentation/api/kymograph_velocity.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): wire blob-velocity detection into /kymograph endpoint
  backend/segmentation/api/tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): backend velocity passthrough + um/s calibration
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(kymograph): velocity overlay + table in KymographModal
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(kymograph): server-side track overlay PNG for export
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(export): MT kymograph velocity metrics + segmented images
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/kymographService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(export): MT kymograph section in export dialog
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(kymograph): never let velocity detection break the kymograph
  backend/segmentation/api/tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): segmented kymograph per fluorescent channel + always render
  backend/segmentation/api/tracker_kymograph.py
  backend/src/services/export/mtKymographExporter.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph): address PR review — export resilience, concurrency, types, tests
  backend/segmentation/api/kymograph_velocity.py
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/kymographService.ts
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/components/KymographModal.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(kymograph): blob-velocity detection — modal overlay + MT export (#238)
  backend/segmentation/api/kymograph_velocity.py
  backend/segmentation/api/tracker_kymograph.py
  backend/src/api/routes/segmentationRoutes.ts
  backend/src/services/__tests__/kymographService.test.ts
  backend/src/services/export/__tests__/mtKymographExporter.test.ts
  backend/src/services/export/mtKymographExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/kymographService.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/MicrotubuleKymographsSection.tsx
  src/pages/export/hooks/useSharedAdvancedExport.ts
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(kymograph): keep modal within viewport + thicker track overlays
  src/pages/segmentation/components/KymographModal.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(kymograph): zoomable/pannable native-aspect kymograph viewer
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(monitoring): point Prometheus at live containers + app network
  docker-compose.monitoring.yml
Due: prettier --write

fix(kymograph): harden zoom viewer per PR review
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(monitoring): point Prometheus at live containers + app network (#240)
  docker-compose.monitoring.yml
Due: prettier --write

feat(kymograph): viewport-fit modal + zoomable native-aspect viewer (#239)
  src/pages/segmentation/components/KymographModal.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): stabilize handlers + harden RAF/pan/history in segmentation editor
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
  src/pages/segmentation/components/canvas/PolygonVertices.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/hooks/usePolygonHandlers.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix: surface silent failures across export/upload/ML + remove dead cancel stubs
  backend/segmentation/api/main.py
  backend/segmentation/api/routes.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/ml/inference_executor.py
  backend/segmentation/ml/model_loader.py
  backend/src/api/__tests__/uploadCancel.test.ts
  backend/src/api/controllers/__tests__/uploadCancelController.gaps5.test.ts
  backend/src/api/controllers/imageController.ts
  backend/src/api/controllers/queueController.ts
  backend/src/api/controllers/uploadCancelController.ts
  backend/src/services/export/formatConverter.ts
  backend/src/services/export/mtMetricsExporter.ts
  backend/src/services/exportService.ts
  backend/src/services/websocketService.ts
  backend/src/storage/localStorage.ts
  src/components/StatsOverview.tsx
  src/pages/segmentation/SegmentationEditor.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  tsconfig.app.tsbuildinfo
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

perf: query aggregation + indexes + ML/port security hardening
  Makefile
  backend/prisma/schema.prisma
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/models/microtubule/segment_mt.py
  backend/src/api/controllers/imageController.ts
  backend/src/server.ts
  backend/src/services/imageService.ts
  backend/src/services/segmentationService.ts
  docker-compose.production.yml
  scripts/switch-email-service.sh
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(build): drop removed deps from vite manualChunks misc-vendor
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true'

fix(backend): declare ioredis directly (was phantom transitive dep of bull)
  backend/package-lock.json
  backend/package.json
Due: prettier --write, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true'

chore: untrack tsconfig.app.tsbuildinfo + gitignore *.tsbuildinfo
  .gitignore
  tsconfig.app.tsbuildinfo
Due: none

chore(deps): dependabot sweep — fix all critical + runtime-high vulns
  backend/package-lock.json
  backend/segmentation/requirements.txt
  package-lock.json
Due: prettier --write

chore(deps): de-yank transformers 4.57.0 -> 4.57.6 (DINOv3 preserved)
  backend/segmentation/requirements.txt
Due: none
