Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

test(segmentation): drop flaky wall-clock renderTime gate (#302)
  src/pages/segmentation/__tests__/PolygonIdValidation.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt-metrics): exact-thickness band + ImageJ background ROI = the measured region (#301)
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/requirements.txt
  backend/segmentation/tests/unit/test_mt_metrics_band.py
  backend/src/services/export/__tests__/imagejRoiEncoder.test.ts
  backend/src/services/export/imagejRoiEncoder.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(dashboard): de-flake useDashboardProjects ordering (deterministic updated_at)
  src/hooks/__tests__/useDashboardProjects.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): join same-class polylines by clicking endpoints in add-points mode (#300)
  CLAUDE.md
  docs/superpowers/plans/2026-07-15-polyline-join-addpoints.md
  docs/superpowers/specs/2026-07-15-polyline-join-addpoints-design.md
  src/hooks/__tests__/useDashboardProjects.test.tsx
  src/pages/segmentation/components/EnhancedSegmentationEditor.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/canvas/CanvasTemporaryGeometryLayer.tsx
  src/pages/segmentation/components/canvas/ModeInstructions.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasTemporaryGeometryLayer.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.extra2.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.gaps.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertex.test.tsx
  src/pages/segmentation/hooks/useAdvancedInteractions.tsx
  src/pages/segmentation/hooks/useEnhancedSegmentationEditor.tsx
  src/pages/segmentation/utils/polylineJoin.test.ts
  src/pages/segmentation/utils/polylineJoin.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: raise remaining tight wall-clock perf gates to load-tolerant ceilings
  src/components/ui/__tests__/cancel-button.test.tsx
  src/hooks/__tests__/useAbortController.enhanced.test.tsx
  src/lib/__tests__/httpUtils.test.ts
  src/lib/__tests__/polygonGeometry.test.ts
  src/lib/__tests__/segmentation.test.ts
  src/pages/segmentation/__tests__/PolygonInteractionIntegration.test.tsx
  src/pages/segmentation/__tests__/PolygonSelection.test.tsx
  src/pages/segmentation/__tests__/VertexContextMenu.e2e.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainer.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygonSimple.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasVertex.test.tsx
  src/pages/segmentation/components/context-menu/__tests__/VertexContextMenu.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertex.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
  src/services/__tests__/webSocketPerformance.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test: raise remaining tight wall-clock perf gates to load-tolerant ceilings (#303)
  src/components/ui/__tests__/cancel-button.test.tsx
  src/hooks/__tests__/useAbortController.enhanced.test.tsx
  src/lib/__tests__/httpUtils.test.ts
  src/lib/__tests__/polygonGeometry.test.ts
  src/lib/__tests__/segmentation.test.ts
  src/pages/segmentation/__tests__/PolygonInteractionIntegration.test.tsx
  src/pages/segmentation/__tests__/PolygonSelection.test.tsx
  src/pages/segmentation/__tests__/VertexContextMenu.e2e.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasContainer.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygon.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasPolygonSimple.test.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasVertex.test.tsx
  src/pages/segmentation/components/context-menu/__tests__/VertexContextMenu.test.tsx
  src/pages/segmentation/hooks/__tests__/useAdvancedInteractions.vertex.test.tsx
  src/pages/segmentation/hooks/__tests__/usePolygonSlicing.test.tsx
  src/services/__tests__/webSocketPerformance.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt-metrics): match ImageJ Measure exactly (convertLineToArea band + ddof=1 + histogram median)
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(ml): replace spheroid-disintegration model with UNet++/EffB5 3-class (direct core)
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/disintegration.py
  backend/segmentation/services/postprocessing.py
  backend/segmentation/tests/unit/test_postprocessing_service.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(models): rename spheroid model unet_attention_aspp → spheroid_disintegration
  backend/segmentation/api/main.py
  backend/segmentation/api/models.py
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/disintegration.py
  backend/segmentation/scripts/download_weights.py
  backend/src/constants/__tests__/modelRegistry.test.ts
  backend/src/constants/modelRegistry.ts
  backend/src/services/queueService.ts
  backend/src/types/validation.ts
  src/components/settings/ModelSettingsSection.tsx
  src/contexts/ModelContext.types.ts
  src/contexts/__tests__/ModelContext.test.tsx
  src/hooks/__tests__/useLocalizedModels.test.ts
  src/lib/__tests__/modelUtils.test.ts
  src/lib/modelUtils.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/hooks/__tests__/useResegment.test.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/__tests__/index.runtime.test.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(models): finish rename — display label, stale docs, remove dead ASPP arch
  backend/segmentation/api/metrics_endpoint.py
  backend/segmentation/models/__init__.py
  backend/segmentation/models/unet_attention.py
  backend/src/services/export/exportDocs.ts
  backend/src/services/metrics/__tests__/metricsCalculator.test.ts
  backend/src/services/metrics/metricsCalculator.ts
  backend/src/services/visualization/visualizationGenerator.ts
  backend/src/utils/polygonValidation.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/lib/segmentation.ts
  src/pages/segmentation/components/canvas/CanvasPolygon.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(models): apply PR review — provisioning, silent-failure warn, parity, contract test
  backend/segmentation/api/models.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/disintegration.py
  backend/segmentation/scripts/download_weights.py
  backend/segmentation/tests/unit/test_predict_disintegration_contract.py
  backend/src/services/export/exportDocs.ts
  scripts/check-model-parity.cjs
  src/lib/models/modelRegistry.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt-metrics): match ImageJ Measure exactly (convertLineToArea band + ddof=1 + histogram median) (#304)
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(models): sync modelRegistry snapshot with updated disintegration perf numbers
  src/lib/models/__tests__/modelRegistry.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(nginx): proxy maptimize's remote mcp connector and oauth server
  docker/nginx/nginx.production.conf
Due: none

fix: load the v7 checkpoint on Windows (#1)
  microtubule/segment_mt.py
  tests/test_checkpoint_portability.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: correct three false claims in the checkpoint-loader comments (#2)
  microtubule/segment_mt.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(nginx): proxy maptimize's remote mcp connector and oauth server (#307)
  docker/nginx/nginx.production.conf
Due: none

fix(ml): don't KeyError when a checkpoint names a module this host lacks
  backend/segmentation/models/microtubule/segment_mt.py
  backend/segmentation/tests/test_microtubule_model.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): address review findings on gpu pinning and checkpoint loading
  CLAUDE.md
  backend/essays/essays_api.py
  backend/segmentation/models/microtubule/segment_mt.py
  backend/segmentation/tests/test_microtubule_model.py
  docker-compose.production.yml
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): pin nvidia device nodes and load v7 checkpoint on windows
  backend/essays/essays_api.py
  backend/segmentation/models/microtubule/segment_mt.py
  backend/segmentation/tests/test_microtubule_model.py
  docker-compose.production.yml
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): close the remaining review findings on gpu degradation reporting
  backend/essays/essays_api.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/segment_mt.py
  backend/segmentation/tests/test_microtubule_model.py
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
  docker-compose.production.yml
  src/pages/AutomatedEssays.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): separate GPU contention from GPU failure, correct false claims
  CLAUDE.md
  backend/essays/essays_api.py
  backend/prisma/schema.prisma
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/segment_mt.py
  backend/segmentation/tests/test_microtubule_model.py
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
  docker-compose.production.yml
  docker/essays.Dockerfile
  src/pages/AutomatedEssays.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(ml): pin nvidia device nodes and load v7 checkpoint on windows (#306)
  CLAUDE.md
  backend/essays/essays_api.py
  backend/prisma/schema.prisma
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/segment_mt.py
  backend/segmentation/tests/test_microtubule_model.py
  backend/src/services/__tests__/essaysService.test.ts
  backend/src/services/essaysService.ts
  docker-compose.production.yml
  docker/essays.Dockerfile
  src/pages/AutomatedEssays.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): report partial runs, and make the GPU signals readable
  Makefile
  backend/essays/essays_api.py
  backend/essays/tests/test_essays_api.py
  backend/segmentation/api/main.py
  backend/src/services/essaysService.ts
  src/pages/AutomatedEssays.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): report partial runs, and make the GPU signals readable (#308)
  Makefile
  backend/essays/essays_api.py
  backend/essays/tests/test_essays_api.py
  backend/segmentation/api/main.py
  backend/src/services/essaysService.ts
  src/pages/AutomatedEssays.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): keep the uploaded folder's name and pass --irm-name through
  backend/essays/essays_api.py
  backend/essays/tests/test_essays_api.py
  backend/src/api/controllers/__tests__/essaysController.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/services/essaysService.ts
  src/components/essays/__tests__/folderName.test.ts
  src/components/essays/folderName.ts
  src/pages/AutomatedEssays.tsx
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix: segment the IRM channel, not TIRF, and stamp runs with acquired_at (#3)
  README.md
  evaluate.py
  mt_pipeline/__init__.py
  mt_pipeline/nd2_io.py
  mt_pipeline/report.py
  tests/test_channel_roles.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(essays): make the precedence case actually discriminate
  src/components/essays/__tests__/folderName.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
