Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write",
    "bash -c 'node scripts/code-quality-check.js || true'"
  ],
  "src/**/*.{ts,tsx}": [
    "bash -c 'npm run type-check'",
    "bash -c 'npx madge --circular src/ || true'"
  ],
  "*.{js,jsx}": [
    "eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored",
    "prettier --write"
  ],
  "backend/src/**/*.{ts,tsx}": ["bash -c 'cd backend && npm run type-check'"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --allow-empty-input"],
  "*.{json,md,html,yml,yaml}": ["prettier --write"],
  "package.json": [
    "prettier --write",
    "bash -c 'npm audit --production --audit-level=high || true'"
  ],
  "backend/package.json": [
    "prettier --write",
    "bash -c 'cd backend && npm audit --production --audit-level=high || true'"
  ],
  "*.py": [
    "bash -c 'ruff check --fix || flake8 || true'",
    "bash -c 'black --check || true'"
  ],
  "Dockerfile*": ["bash -c 'hadolint $0 || true'"],
  "*.sql": ["bash -c 'sqlfluff lint $0 || true'"]
}

test(essays): guard the device regex against the new channel-roles line
  backend/essays/tests/test_essays_api.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): segment IRM not TIRF, and keep the uploaded folder's name (#309)
  backend/essays/essays_api.py
  backend/essays/tests/test_essays_api.py
  backend/src/api/controllers/__tests__/essaysController.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/services/essaysService.ts
  src/components/essays/__tests__/folderName.test.ts
  src/components/essays/folderName.ts
  src/pages/AutomatedEssays.tsx
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(essays): vendor the module and share one microtubule package
  .gitignore
  CLAUDE.md
  Makefile
  backend/essays/essays_api.py
  backend/essays/module/.gitignore
  backend/essays/module/MODEL.md
  backend/essays/module/README.md
  backend/essays/module/_mt_package.py
  backend/essays/module/evaluate.py
  backend/essays/module/infer.py
  backend/essays/module/microtubule/__init__.py
  backend/essays/module/microtubule/pysoax.py
  backend/essays/module/microtubule/segment_mt.py
  backend/essays/module/microtubule/synth_irm/__init__.py
  backend/essays/module/microtubule/synth_irm/training/__init__.py
  backend/essays/module/microtubule/synth_irm/training/model_v3.py
  backend/essays/module/microtubule/synth_irm/training/model_v4.py
  backend/essays/module/microtubule/wrapper.py
  backend/essays/module/scripts/__init__.py
  backend/essays/module/scripts/download_weights.py
  backend/essays/module/tests/test_checkpoint_portability.py
  backend/segmentation/models/microtubule/synth_irm/training/model_v4.py
  backend/segmentation/models/microtubule/wrapper.py
  docker-compose.production.yml
  docker/essays.Dockerfile
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): guard the path walk and pin the shared-package contract
  backend/essays/module/_mt_package.py
  backend/essays/module/tests/test_shared_model_package.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(essays): point the schema comment at the vendored module path
  backend/prisma/schema.prisma
Due: none

fix(docker): exclude nested python bytecode and assert the backbone config
  .dockerignore
  docker/essays.Dockerfile
Due: none

fix(essays): copy the model code from the repo, not the ml base image
  CLAUDE.md
  Makefile
  docker/essays.Dockerfile
Due: prettier --write

docs(essays): record that the GPU cap changes batch output bit-for-bit
  CLAUDE.md
Due: prettier --write

chore: stop prettier scanning the vendored mt-instance-seg drop
  .prettierignore
Due: none

fix(essays): retry a well the GPU dropped, and name the ones it keeps
  backend/essays/essays_api.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/__init__.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_failure_resilience.py
  src/pages/AutomatedEssays.tsx
  src/pages/__tests__/AutomatedEssays.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): retry a well the GPU dropped, and name the ones it keeps (#311)
  .prettierignore
  backend/essays/essays_api.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/__init__.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_failure_resilience.py
  src/pages/AutomatedEssays.tsx
  src/pages/__tests__/AutomatedEssays.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): raise the GPU cap above the model's working set
  CLAUDE.md
  backend/essays/essays_api.py
  backend/essays/sitecustomize.py
  backend/essays/tests/test_gpu_budget.py
  docker-compose.production.yml
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(essays): raise the GPU cap above the model's working set (#312)
  CLAUDE.md
  backend/essays/essays_api.py
  backend/essays/sitecustomize.py
  backend/essays/tests/test_gpu_budget.py
  docker-compose.production.yml
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(mt): one measurement for the essays batch and the project export
  CLAUDE.md
  backend/essays/essays_api.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/measure.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_metrics_match_export.py
  backend/essays/tests/test_essays_api.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
  backend/src/api/controllers/__tests__/essaysController.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/services/essaysService.ts
  docker/essays.Dockerfile
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(mt): one measurement for the essays batch and the project export (#313)
  CLAUDE.md
  backend/essays/essays_api.py
  backend/essays/module/evaluate.py
  backend/essays/module/mt_pipeline/measure.py
  backend/essays/module/mt_pipeline/report.py
  backend/essays/module/tests/test_metrics_match_export.py
  backend/essays/tests/test_essays_api.py
  backend/segmentation/api/mt_metrics.py
  backend/segmentation/models/mt_measure.py
  backend/segmentation/tests/unit/test_mt_metrics_band.py
  backend/src/api/controllers/__tests__/essaysController.test.ts
  backend/src/api/controllers/essaysController.ts
  backend/src/services/essaysService.ts
  docker/essays.Dockerfile
  src/types/essays.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(mt-tracker): correct the equivalence claims, and revive a dead test
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
  backend/src/services/tracking/trackerService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(mt): don't report success when a tracked label reached only one frame
  src/pages/segmentation/SegmentationEditor.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(mt): stop emitting 32-d embeddings from the prediction path
  backend/segmentation/api/routes.py
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/__init__.py
  backend/segmentation/tests/unit/test_predict_microtubule_contract.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt): geometric cross-frame cost to replace embedding matching
  backend/segmentation/api/mt_geometry_cost.py
  backend/segmentation/tests/unit/test_mt_geometry_cost.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt): track filaments geometrically, drop the embedding term
  backend/segmentation/api/mt_geometry_cost.py
  backend/segmentation/api/tracker_kymograph.py
  backend/segmentation/tests/test_tracker_kymograph.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

refactor(mt): stop sending embedding payloads to the tracker
  backend/src/services/export/exportDocs.ts
  backend/src/services/segmentationService.ts
  backend/src/services/tracking/__tests__/trackerService.test.ts
  backend/src/services/tracking/trackerService.ts
  backend/src/utils/polygonValidation.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

feat(essays): run the batch assay on the v5H model package
  backend/essays/module/MODEL.md
  backend/essays/module/README.md
  backend/essays/module/_mt_package.py
  backend/essays/module/config/dinov3_vitl16/config.json
  backend/essays/module/evaluate.py
  backend/essays/module/infer.py
  backend/essays/module/tests/test_checkpoint_portability.py
  backend/essays/module/tests/test_shared_model_package.py
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(mt): surface the v5H model in the frontend registry and i18n
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/lib/segmentation.ts
  src/pages/segmentation/SegmentationEditor.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'
