Repository michalprusek/cell-segmentation-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', stylelint --fix --allow-empty-input, bash -c 'npm audit --production --audit-level=high || true', bash -c 'cd backend && npm audit --production --audit-level=high || true', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true', bash -c 'hadolint $0 || true', bash -c 'sqlfluff lint $0 || true'

feat(channels): remove a channel from the selected frames
  backend/src/api/controllers/imageController.ts
  src/components/project/ProjectToolbar.tsx
  src/components/project/RemoveChannelDialog.tsx
  src/components/project/__tests__/RemoveChannelDialog.test.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

feat(channels): remove a channel from the selected frames (#539)
  backend/src/api/controllers/imageController.ts
  backend/src/api/controllers/videoController.ts
  backend/src/api/routes/imageRoutes.ts
  backend/src/services/__tests__/removeChannelService.test.ts
  backend/src/services/__tests__/removeChannelService.wiring.test.ts
  backend/src/services/removeChannelService.ts
  src/components/project/ProjectToolbar.tsx
  src/components/project/RemoveChannelDialog.tsx
  src/components/project/__tests__/RemoveChannelDialog.test.tsx
  src/hooks/useProjectData.tsx
  src/lib/api.ts
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(channels): four defects CodeRabbit found after #539 merged
  backend/src/services/__tests__/removeChannelService.test.ts
  backend/src/services/__tests__/removeChannelService.wiring.test.ts
  backend/src/services/removeChannelService.ts
  src/hooks/__tests__/useProjectData.test.tsx
  src/hooks/useProjectData.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(channels): four defects CodeRabbit found after #539 merged (#540)
  backend/src/services/__tests__/removeChannelService.test.ts
  backend/src/services/__tests__/removeChannelService.wiring.test.ts
  backend/src/services/removeChannelService.ts
  src/hooks/__tests__/useProjectData.test.tsx
  src/hooks/useProjectData.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

fix(export): neurite projects exported SPHEROID metrics
  backend/src/services/export/__tests__/exportFileOperations.test.ts
  backend/src/services/export/__tests__/neuriteMetricsOwnership.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/exportService.ts
  backend/src/types/validation.ts
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/NeuriteMetricsSection.tsx
  src/pages/export/components/__tests__/NeuriteMetricsSection.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

refactor(export): one predicate decides whether the neurite report runs
  backend/src/services/export/__tests__/neuriteMetricsOwnership.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

test(export): stop the validation mock re-implementing project-type rules
  backend/src/services/__tests__/exportService.generation.test.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): the neurite report threw on an ordinary request
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(project): the pixel scale belongs to the export, not the header
  src/components/project/ProjectHeader.tsx
  src/components/project/__tests__/ProjectHeader.test.tsx
  src/hooks/useProjectData.tsx
  src/pages/ProjectDetail.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

perf(neurite): add_bridges 167x faster at 44 Mpx, bit-identical
  backend/segmentation/models/neurite_metrics/assign.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(neurite): fixtures that actually reach the branches they defend
  backend/segmentation_cpu_tests/test_neurite_metrics.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

test(neurite): the pass-over fixture needs TWO somas to defend the area
  backend/segmentation_cpu_tests/test_neurite_metrics.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

docs(neurite): record that the leaf-count guard's threshold is equivalent
  backend/segmentation/models/neurite_metrics/assign.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(export): a failed neurite report now says so on the job
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/exportService.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'cd backend && npm run type-check'

fix(export): neurite projects exported spheroid metrics (#541)
  backend/segmentation/models/neurite_metrics/assign.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
  backend/src/services/__tests__/exportService.generation.test.ts
  backend/src/services/export/__tests__/exportFileOperations.test.ts
  backend/src/services/export/__tests__/neuriteMetricsOwnership.test.ts
  backend/src/services/export/exportFileOperations.ts
  backend/src/services/exportService.ts
  backend/src/types/validation.ts
  src/components/project/ProjectHeader.tsx
  src/components/project/__tests__/ProjectHeader.test.tsx
  src/hooks/useProjectData.tsx
  src/pages/ProjectDetail.tsx
  src/pages/export/AdvancedExportDialog.tsx
  src/pages/export/components/NeuriteMetricsSection.tsx
  src/pages/export/components/__tests__/NeuriteMetricsSection.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check', bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

feat(editor): ImageJ's histogram and Auto in the Display panel
  scripts/imagej-histogram-oracle/HistogramOracle.java
  scripts/imagej-histogram-oracle/run.mjs
  src/lib/__tests__/fixtures/imagejHistogram/cases.d.mts
  src/lib/__tests__/fixtures/imagejHistogram/cases.mjs
  src/lib/__tests__/fixtures/imagejHistogram/expected.json
  src/lib/__tests__/histogram.test.ts
  src/lib/hexColor.ts
  src/lib/histogram.ts
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasImage.test.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/components/sidebar/WindowHistogram.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.histogram.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.displayedSamples.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

docs(histogram): prove the last-bin clamp unreachable, as mutation M2 showed
  src/lib/histogram.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): never go back to the proxy for a frame decoded at full depth
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(editor): ImageJ's histogram and Auto in the Display panel (#542)
  scripts/imagej-histogram-oracle/HistogramOracle.java
  scripts/imagej-histogram-oracle/run.mjs
  src/lib/__tests__/fixtures/imagejHistogram/cases.d.mts
  src/lib/__tests__/fixtures/imagejHistogram/cases.mjs
  src/lib/__tests__/fixtures/imagejHistogram/expected.json
  src/lib/__tests__/histogram.test.ts
  src/lib/hexColor.ts
  src/lib/histogram.ts
  src/pages/segmentation/components/canvas/CanvasImage.tsx
  src/pages/segmentation/components/canvas/MultiChannelCanvas.tsx
  src/pages/segmentation/components/canvas/__tests__/CanvasImage.test.tsx
  src/pages/segmentation/components/canvas/__tests__/MultiChannelCanvas.test.tsx
  src/pages/segmentation/components/sidebar/DisplaySection.tsx
  src/pages/segmentation/components/sidebar/WindowHistogram.tsx
  src/pages/segmentation/components/sidebar/__tests__/DisplaySection.histogram.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.displayedSamples.test.tsx
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  typecheck-baseline.json
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(types): give the test project a valid file list instead of 350 baselined TS6307
  tsconfig.test.json
  typecheck-baseline.json
Due: prettier --write

docs(types): the include surfaces 6 errors, not 7; main.tsx is excluded
  tsconfig.test.json
Due: prettier --write

fix(types): give the test project a valid file list instead of 350 baselined TS6307 (#543)
  tsconfig.test.json
  typecheck-baseline.json
Due: prettier --write

fix(tests): stop module stubs leaking out of their test files
  backend/segmentation_cpu_tests/test_inference_serialisation.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(tests): stop module stubs leaking out of their test files (#544)
  backend/segmentation_cpu_tests/test_inference_serialisation.py
  backend/segmentation_cpu_tests/test_neurite_metrics.py
  backend/src/services/video/pythonHelpers/tests/test_extract_tiff_stack_metadata.py
Due: bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

fix(editor): open a video frame without downloading what nobody draws
  src/lib/__tests__/staticFrameChannels.test.ts
  src/lib/staticFrameChannels.ts
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameWindowPrefetcher.test.tsx
  src/pages/segmentation/components/canvas/__tests__/VideoFrameImage.test.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.channelsSeeded.test.tsx
  src/pages/segmentation/hooks/__tests__/useFrameWindowPrefetch.test.tsx
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

test(prefetch): windowImageUrls must not list images that are held back
  src/pages/segmentation/hooks/__tests__/useFrameWindowPrefetch.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): drop one video's channel state when the route moves to another
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.containerSwitch.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): report a loading container while the previous video is the placeholder
  src/pages/segmentation/hooks/__tests__/useVideoFrames.test.ts
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): open a video frame without downloading what nobody draws (#549)
  src/lib/__tests__/staticFrameChannels.test.ts
  src/lib/staticFrameChannels.ts
  src/pages/segmentation/__tests__/SegmentationEditor.orchestration.test.tsx
  src/pages/segmentation/components/ChannelOverlayList.tsx
  src/pages/segmentation/components/SegmentationEditorLayout.tsx
  src/pages/segmentation/components/__tests__/ChannelOverlayList.test.tsx
  src/pages/segmentation/components/canvas/FrameWindowPrefetcher.tsx
  src/pages/segmentation/components/canvas/VideoFrameImage.tsx
  src/pages/segmentation/components/canvas/__tests__/FrameWindowPrefetcher.test.tsx
  src/pages/segmentation/components/canvas/__tests__/VideoFrameImage.test.tsx
  src/pages/segmentation/components/sidebar/ChannelsSection.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.channelsSeeded.test.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.containerSwitch.test.tsx
  src/pages/segmentation/hooks/__tests__/useFrameWindowPrefetch.test.tsx
  src/pages/segmentation/hooks/__tests__/useVideoFrames.test.ts
  src/pages/segmentation/hooks/useFrameWindowPrefetch.ts
  src/pages/segmentation/hooks/useVideoFrames.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): a video with every channel hidden painted fully white
  src/pages/segmentation/components/canvas/__tests__/CanvasImage.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(editor): a video with every channel hidden painted fully white (#550)
  src/pages/segmentation/components/canvas/__tests__/CanvasImage.test.tsx
  src/pages/segmentation/contexts/ImageDisplayContext.tsx
  src/pages/segmentation/contexts/__tests__/ImageDisplayContext.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

feat(mt): name the deployed model SPARSE35 in the UI and report its cut and timing
  src/components/landing/specimens.ts
  src/lib/models/__tests__/modelRegistry.test.ts
  src/lib/models/modelRegistry.ts
  src/translations/cs.ts
  src/translations/de.ts
  src/translations/en.ts
  src/translations/es.ts
  src/translations/fr.ts
  src/translations/zh.ts
  src/types/index.ts
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true'

fix(mt): address the adversarial review of the SPARSE35 swap
  CLAUDE.md
  backend/essays/module/MODEL.md
  backend/essays/module/README.md
  backend/segmentation/api/frap_targets.py
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/ml/model_loader.py
  backend/segmentation/models/microtubule/MODEL_CARD.md
  backend/segmentation/models/microtubule/wrapper.py
  backend/segmentation/tests/fixtures/mt_sparse35/README.md
  backend/segmentation/tests/fixtures/mt_sparse35/make_mt_fixture.py
  backend/segmentation/tests/test_microtubule_model.py
  backend/segmentation/tests/test_microtubule_reference.py
  backend/segmentation/tests/unit/test_mt_package.py
  docs/README.md
  docs/api/ml-service.md
  docs/architecture/ml-service.md
  docs/guides/automated-essays.md
  docs/guides/project-types/microtubules.md
  docs/reference/ml-models.md
Due: prettier --write, bash -c 'ruff check --fix || flake8 || true', bash -c 'black --check || true'

chore(docs): reformat the five Markdown files 86c6df97 left failing Prettier
  CLAUDE.md
  docs/README.md
  docs/architecture/ml-service.md
  docs/guides/project-types/microtubules.md
  docs/reference/ml-models.md
Due: prettier --write

docs(mt): record the SPARSE35 deployment and correct the VRAM claim it shipped with
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/models/microtubule/MODEL_CARD.md
Due: prettier --write

docs(mt): record the SPARSE35 deployment, correct its VRAM claim, unblock commits (#552)
  CLAUDE.md
  backend/segmentation/config/batch_sizes.json
  backend/segmentation/models/microtubule/MODEL_CARD.md
  docs/README.md
  docs/architecture/ml-service.md
  docs/guides/project-types/microtubules.md
  docs/reference/ml-models.md
Due: prettier --write

test(models): cover the per-project model seams that mutation found open
  backend/src/api/controllers/__tests__/projectController.gaps.test.ts
  backend/src/types/__tests__/updateProjectSchema.segmentationModel.test.ts
  src/components/feedback/__tests__/FeedbackButton.test.tsx
  src/components/project/__tests__/ProjectHeader.test.tsx
  src/lib/__tests__/api.test.ts
  src/pages/__tests__/ProjectDetail.test.tsx
Due: eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored, prettier --write, bash -c 'node scripts/code-quality-check.js || true', bash -c 'npm run type-check', bash -c 'npx madge --circular src/ || true', bash -c 'cd backend && npm run type-check'

Path conditions:
  eslint --fix --cache --max-warnings=0 --format=stylish --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md,html,yml,yaml})) or (any of: package.json)) or (any of: backend/package.json)
  bash -c 'node scripts/code-quality-check.js || true': any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: src/**/*.{ts,tsx}
  bash -c 'npx madge --circular src/ || true': any of: src/**/*.{ts,tsx}
  bash -c 'cd backend && npm run type-check': any of: backend/src/**/*.{ts,tsx}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  bash -c 'npm audit --production --audit-level=high || true': any of: package.json
  bash -c 'cd backend && npm audit --production --audit-level=high || true': any of: backend/package.json
  bash -c 'ruff check --fix || flake8 || true': any of: *.py
  bash -c 'black --check || true': any of: *.py
  bash -c 'hadolint $0 || true': any of: Dockerfile*
  bash -c 'sqlfluff lint $0 || true': any of: *.sql
